{% extends '@CoreApp/base.html.twig' %}

{% block body %}
    {% include '@CoreApp/header.html.twig' %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {% include '@CoreApp/sidebar.html.twig' %}
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                {% include '@CoreApp/page-header.html.twig' %}
                {% block content %}{% endblock %}
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        {% include '@CoreApp/quick-sidebar.html.twig' %}
    </div>
    <!-- END CONTAINER -->
{% endblock %}