{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
        <i class="uk-icon-angle-right"></i>
        Preislisten
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_pricelist_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_pricelist_edit') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Preisliste A', 'list-alt', buttons, breadcrumb) }}

    <table class="uk-table">
        <tr>
            <th>Kategorie A</th>
            <th></th>
        </tr>
        <tr>
            <td>Leistung</td>
            <td>25,00 €</td>
        </tr>
        <tr>
            <td>Leistung</td>
            <td>89,90 €</td>
        </tr>
        <tr>
            <td>Leistung</td>
            <td>7,99 €</td>
        </tr>
        <tr>
            <th>Kategorie B</th>
            <th></th>
        </tr>
        <tr>
            <td>Leistung</td>
            <td>15,00 €</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
    </table>
{% endblock %}