{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_business_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neuen Geschäftsbereich erstellen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Geschäftsbereiche', 'building-o', buttons, breadcrumb, 1) }}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>
                    <a href="#">
                        Name
                        <i class="uk-icon-sort-asc"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Angebote
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Aufträge
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Rechnungen
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Mahnungen
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Gutschriften
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..1 %}
                <tr>
                    <td>
                        {% if i == 0 %}
                            KM Haustechnik<br>
                            <small class="uk-text-muted">KM</small>
                        {% else %}
                            Bahama Sports<br>
                            <small class="uk-text-muted">BS</small>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('kmui_offer_index') }}" class="uk-button uk-button-primary uk-button-small">
                            {{ random(500) }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('kmui_order_index') }}" class="uk-button uk-button-primary uk-button-small">
                            {{ random(400) }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('kmui_invoice_index') }}" class="uk-button uk-button-primary uk-button-small">
                            {{ random(400) }}
                        </a>
                    </td>
                    <td>
                        <a href="#" class="uk-button uk-button-primary uk-button-small">
                            {{ random(100) }}
                        </a>
                    </td>
                    <td>
                        <a href="#" class="uk-button uk-button-primary uk-button-small">
                            {{ random(100) }}
                        </a>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_business_edit') }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#modal-delete" class="uk-button uk-button-danger uk-button-small"
                               data-uk-modal data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# Modals #}

    <div id="modal-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diesen Geschäftsbereich wirklich löschen?</b><br>
            <span class="uk-text-muted uk-text-large">KM Haustechnik</span><br>
            <br>
            <b class="uk-text-danger">Alle Dokumente in diesem Geschäftsbereich werden gelöscht:</b><br>
            <br>
            <div class="uk-grid">
                <div class="uk-width-1-2">Angebote</div>
                <div class="uk-width-1-2"><b>{{ random(500) }}</b></div>
                <div class="uk-width-1-2">Aufträge</div>
                <div class="uk-width-1-2"><b>{{ random(500) }}</b></div>
                <div class="uk-width-1-2">Rechnungen</div>
                <div class="uk-width-1-2"><b>{{ random(500) }}</b></div>
                <div class="uk-width-1-2">Mahnungen</div>
                <div class="uk-width-1-2"><b>{{ random(500) }}</b></div>
                <div class="uk-width-1-2">Gutschriften</div>
                <div class="uk-width-1-2"><b>{{ random(500) }}</b></div>
                <div class="uk-width-1-2">Dateien</div>
                <div class="uk-width-1-2"><b>{{ random(500) }}</b></div>
            </div>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_business_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}