{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i> Geschäftsbereiche
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_business_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Geschäftsbereich', 'building-o', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <label class="uk-form-label" for="form-title">Titel</label>

        <div class="uk-form-controls">
            <input type="text" placeholder="Titel" class="uk-form-large uk-width-1-1"/>
        </div>

        <label class="uk-form-label uk-margin-top" for="form-prefix">Präfix</label>

        <div class="uk-form-controls">
            <input type="text" placeholder="Präfix" class="uk-form-large"/><br>
            <small class="uk-text-muted">Für Nummern von Angeboten, Aufträgen, Rechnungen, Mahnungen und Gutschriften
            </small>
        </div>

        <div class="uk-grid uk-margin-top">
            <div class="uk-width-1-1">
                <a href="{{ path('kmui_business_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_business_new', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}