<div class="uk-panel uk-panel-box uk-margin-bottom address-form">
    <div class="uk-position-absolute uk-position-top-right uk-button-group form-collection-actions">
        <a href="#" class="uk-button uk-button-small item-collection-remove uk-button-danger" title="Löschen">
            <i class="uk-icon-trash"></i>
        </a>
    </div>
    {% set rand=random() %}
    {% if item.service %}

        {% set service=mod_om_helper.getService(item.service) %}
        <div class="om_service_select_container om_select_position uk-width-medium-1-1">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="{{ className }}_artikel{{ loop.index }}">Position</label>
                    <div class="uk-form-controls">
                        <input class="uk-form-large uk-width-1-1" id="{{ className }}_artikel{{ loop.index }}"
                               type="text" readonly name="{{ rand }}"
                               value="{{ service.title }} / {{ service.price }} € - {{ service.tax }} %"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-medium-1-3">
                            <label class="uk-form-label" for="{{ className }}_services_{{ rand }}_amount">Anzahl</label>
                            <div class="uk-form-controls">
                                <input type="number" id="{{ className }}_services_{{ rand }}_amount"
                                       name="{{ className }}[services][{{ rand }}][amount]"
                                       step="0.01"
                                       class="om_service_amount uk-form-large uk-width-1-1" value="{{ item.amount }}"
                                       required="">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-form-label"
                                   for="{{ className }}_services_{{ rand }}_price">Nettopreis</label>
                            <input type="text" id="{{ className }}_services_{{ rand }}_price"
                                   name="{{ className }}[services][{{ rand }}][price]"
                                   class="om_service_price om_position_price uk-form-large uk-width-1-1"
                                   readonly="readonly"
                                   required=""
                                   data-price="{{ item.price|replace({ '.': '' })|replace({ ',': '.' })/item.amount }}"
                                   data-price-tax="19" value="{{ item.price }}"
                                   data-brutto="{{ (item.price*1.19)|replace({ '.': '' })|replace(',','.') }}">
                            <span style="position: relative;right: -92%;top: -30px;">€</span>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-form-label"
                                   for="{{ className }}_services_{{ rand }}_specialPrice">Sonderpreis</label>
                            <input type="text" id="{{ className }}_services_{{ rand }}_specialPrice"
                                   name="{{ className }}[services][{{ rand }}][specialPrice]"
                                   class="om_product_special_price om_position_special_price uk-form-large uk-width-1-1"
                                   value="{% if item.specialPrice %}{{ item.specialPrice|number_format(2, ',', '.') }}{% endif %}"/>
                            <span style="position: relative;right: -92%;top: -30px;">€</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="{{ className }}[services][{{ rand }}][service]" value="{{ item.service }}">

                <input type="hidden" name="{{ className }}[services][{{ rand }}][textFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][amountFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][priceSingleFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][priceFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][product]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][amountProduct]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][priceProduct]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][specialPriceProduct]" value="">
            </div>
        </div>
    {% endif %}

    {% if item.product %}

        {% set product=mod_om_helper.getProduct(item.product) %}
        <div class="om_product_select_container om_select_position uk-width-medium-1-1">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="{{ className }}_artikel{{ loop.index }}">Position</label>
                    <div class="uk-form-controls">
                        <input class="uk-form-large uk-width-1-1" id="{{ className }}_artikel{{ loop.index }}"
                               type="text" readonly name="{{ rand }}"
                               value="{{ product.title }} / {{ product.price }} € - {{ product.tax }} %"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-medium-1-3">
                            <label class="uk-form-label"
                                   for="{{ className }}_services_{{ rand }}_amountProduct">Anzahl</label>
                            <div class="uk-form-controls">
                                <input type="number" id="{{ className }}_services_{{ rand }}_amountProduct"
                                       name="{{ className }}[services][{{ rand }}][amountProduct]"
                                       step="0.01"
                                       class="om_service_amount uk-form-large uk-width-1-1"
                                       value="{{ item.amountProduct }}"
                                       required="">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-form-label"
                                   for="{{ className }}_services_{{ rand }}_priceProduct">Nettopreis</label>
                            <input type="text" id="{{ className }}_services_{{ rand }}_priceProduct"
                                   name="{{ className }}[services][{{ rand }}][priceProduct]"
                                   class="om_service_price om_position_price uk-form-large uk-width-1-1"
                                   readonly="readonly"
                                   required=""
                                   data-price="{{ item.priceProduct|replace({ '.': '' })|replace({ ',': '.' })/item.amountProduct }}"
                                   data-price-tax="19" value="{{ item.priceProduct }}"
                                   data-brutto="{{ (item.priceProduct*1.19)|replace({ '.': '' })|replace(',','.') }}">
                            <span style="position: relative;right: -92%;top: -30px;">€</span>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-form-label"
                                   for="{{ className }}_services_{{ rand }}_specialPriceProduct">Sonderpreis</label>
                            <input type="text" id="{{ className }}_services_{{ rand }}_specialPriceProduct"
                                   name="{{ className }}[services][{{ rand }}][specialPriceProduct]"
                                   class="om_product_special_price om_position_special_price uk-form-large uk-width-1-1"
                                   value="{% if item.specialPriceProduct %}{{ item.specialPriceProduct|number_format(2, ',', '.') }}{% endif %}"/>
                            <span style="position: relative;right: -92%;top: -30px;">€</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="{{ className }}[services][{{ rand }}][product]" value="{{ item.product }}">

                <input type="hidden" name="{{ className }}[services][{{ rand }}][textFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][amountFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][priceSingleFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][priceFree]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][service]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][amount]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][price]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][specialPrice]" value="">
            </div>
        </div>
    {% endif %}

    {% if item.textFree %}
        <div class="om_free_select_container om_select_position uk-width-medium-1-1">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="{{ className }}_artikel{{ rand }}">Bezeichnung</label>
                    <div class="uk-form-controls">
                        <input type="text" id="{{ className }}_services_{{ rand }}_textFree"
                               name="{{ className }}[services][{{ rand }}][textFree]" value="{{ item.textFree }}"
                               class="om_free_text_amount uk-form-large uk-width-1-1" required="">
                    </div>
                </div>

                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label"
                           for="{{ className }}_services_{{ rand }}_saveFree">Preiseinheit</label>
                    <div class="uk-form-controls">
                        <select id="{{ className }}_services_{{ rand }}_saveFree"
                                name="{{ className }}[services][{{ rand }}][saveFree]"
                                class="om_free_save_radio select2 uk-form-large uk-width-1-1 select2-hidden-accessible"
                                tabindex="-1" aria-hidden="true" required="" style="width: 100%;">
                            <option value="0">Nein</option>
                            <option {% if item.saveFree=='1' %}selected="selected"{% endif %} value="1">als Leistung</option>
                            <option {% if item.saveFree=='2' %}selected="selected"{% endif %} value="2">als Produkt</option>
                        </select>
                    </div>
                </div>

                <div class="uk-width-medium-1-6">
                    <label class="uk-form-label" for="{{ className }}_services_{{ rand }}_amountProduct">Anzahl</label>
                    <div class="uk-form-controls">
                        <input type="number" id="{{ className }}_services_{{ rand }}_amountFree"
                               name="{{ className }}[services][{{ rand }}][amountFree]" value="{{ item.amountFree }}"
                               step="0.01" class="om_free_amount uk-form-large uk-width-1-1" required="">
                    </div>
                </div>
                <div class="uk-width-medium-1-6">
                    <label class="uk-form-label"
                           for="{{ className }}_services_{{ rand }}_priceFreeType">Preiseinheit</label>
                    <div class="uk-form-controls">
                        <select id="{{ className }}_services_{{ rand }}_priceFreeType"
                                name="{{ className }}[services][{{ rand }}][priceFreeType]"
                                class="om_free_price_type select2 uk-form-large uk-width-1-1 select2-hidden-accessible"
                                tabindex="-1" aria-hidden="true" required="" style="width: 100%;">
                            <option {% if item.priceFreeType=='psch.' %}selected="selected"{% endif %} value="psch.">psch.</option>
                            <option {% if item.priceFreeType=='Stk.' %}selected="selected"{% endif %} value="Stk.">Stk.</option>
                            <option {% if item.priceFreeType=='Std.' %}selected="selected"{% endif %} value="Std.">Std.</option>
                            <option {% if item.priceFreeType=='Lfm' %}selected="selected"{% endif %} value="Lfm">Lfm</option>
                            <option {% if item.priceFreeType=='m²' %}selected="selected"{% endif %} value="m²">m²</option>
                            <option {% if item.priceFreeType=='m³' %}selected="selected"{% endif %} value="m³">m³</option>
                            <option {% if item.priceFreeType=='kg' %}selected="selected"{% endif %} value="kg">kg</option>
                            <option {% if item.priceFreeType=='t' %}selected="selected"{% endif %} value="t">t</option>
                            <option {% if item.priceFreeType=='ltr' %}selected="selected"{% endif %} value="ltr">ltr</option>
                            <option {% if item.priceFreeType=='m' %}selected="selected"{% endif %} value="m">m</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-1-6">
                    <label class="uk-form-label"
                           for="{{ className }}_services_{{ rand }}_priceProduct">Einzelpreis</label>
                    <input type="number" id="{{ className }}_services_{{ rand }}_priceSingleFree"
                           name="{{ className }}[services][{{ rand }}][priceSingleFree]" step="0.01"
                           value="{{ item.priceSingleFree }}"
                           class="om_free_price_single uk-form-large uk-width-1-1" required="">
                    <span style="position: relative;right: -92%;top: -30px;">€</span>
                </div>
                <div class="uk-width-medium-1-6">
                    <label class="uk-form-label"
                           for="{{ className }}_services_{{ rand }}_priceProduct">Nettopreis</label>
                    <input type="text" id="{{ className }}_services_{{ rand }}_priceFree"
                           name="{{ className }}[services][{{ rand }}][priceFree]" value="{{ item.priceFree }}"
                          class="om_free_price om_position_price uk-form-large uk-width-1-1"
                           data-brutto="{{ ((item.priceFree|replace({ '.': '' })|replace(',','.'))*1.19) }}"
                           readonly="readonly" required="">
                    <span style="position: relative;right: -92%;top: -30px;">€</span>
                </div>
                <div class="uk-width-medium-1-6">
                    <label class="uk-form-label"
                           for="{{ className }}_services_{{ rand }}_specialPriceProduct">MwSt</label>
                    <input type="text" id="{{ className }}_services_{{ rand }}_taxFree"
                           name="{{ className }}[services][{{ rand }}][taxFree]" step="0.01"
                           class="om_free_tax uk-form-large uk-width-1-1" data="19" readonly="readonly" required=""
                           value="19">
                    <span style="position: relative;right: -92%;top: -30px;">€</span>
                </div>

                <input type="hidden" name="{{ className }}[services][{{ rand }}][product]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][amountProduct]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][priceProduct]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][specialPriceProduct]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][service]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][amount]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][price]" value="">
                <input type="hidden" name="{{ className }}[services][{{ rand }}][specialPrice]" value="">
            </div>
        </div>
    {% endif %}
</div>
<style>
    .om_select_position {
        margin-top: 20px;
    }
</style>
<script>
    //CALCULATE PRICE
    $(document).on('change', '.om_service_amount', function () {
        var amount = $(this).val();
        var price = $(this).parent().parent().parent().find('.om_service_price').attr('data-price');

        $(this).parent().parent().parent().find('.om_service_price').val((amount * price).format(2, 3, '.', ','));

        var tax = $(this).parent().parent().parent().find('.om_service_price').attr('data-price-tax');
        tax = tax / 100;
        var multi = 1 + tax;
        var brutto = multi * (amount * price);
        $(this).parent().parent().parent().find('.om_service_price').attr('data-brutto', brutto.format(2, 3, '.', ','));
        setprice();

    });

    $(document).on('change', '.om_position_special_price', function () {
        setprice();
    });

    $(document).on('change', '.om_free_price_single', function () {
        $(this).parent().parent().parent().parent().find('.om_free_amount').trigger('change');
    });

    $(document).on('change', '.om_free_amount', function () {
        var amount = $(this).val();
        var price = $(this).parent().parent().parent().parent().find('.om_free_price_single').val();
        $(this).parent().parent().parent().parent().find('.om_free_price').val((amount * price).format(2, 3, '.', ','));

        var tax = $(this).parent().parent().parent().parent().find('.om_free_tax').val();
        tax = tax / 100;
        var multi = 1 + tax;
        var brutto = multi * (amount * price);
        $(this).parent().parent().parent().parent().find('.om_free_price').attr('data-brutto', brutto.format(2, 3, '.', ','));

        setprice();
    });

    $(document).on('click', '.item-collection-remove', function () {
        $(this).parent().parent().remove();
        setprice();
    });

</script>