<div class="uk-panel uk-panel-box uk-margin-bottom address-form">
    <div class="uk-position-absolute uk-position-top-right uk-button-group form-collection-actions">
        <a href="#" class="uk-button uk-button-small collection-up" title="nach oben verschieben">
            <i class="uk-icon-arrow-up"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-down" title="nach unten verschieben">
            <i class="uk-icon-arrow-down"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-remove uk-button-danger" title="Löschen">
            <i class="uk-icon-trash"></i>
        </a>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            {{ form_row(form.positionType) }}
        </div>
    </div>

    <div class="om_free_select_container om_select_position uk-width-medium-1-1 uk-hidden">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.textFree) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.saveFree) }}
            </div>

            <div class="uk-width-medium-1-1">
                <br/>
            </div>
            <div class="uk-width-medium-1-6">
                {{ form_row(form.amountFree) }}
            </div>
            <div class="uk-width-medium-1-6">
                {{ form_row(form.priceFreeType) }}
            </div>
            <div class="uk-width-medium-1-6">
                {{ form_row(form.priceSingleFree) }}
                <span style="position: relative;right: -92%;top: -30px;">€</span>
            </div>
            <div class="uk-width-medium-1-6">
                {{ form_row(form.priceFree) }}
                <span style="position: relative;right: -92%;top: -30px;">€</span>
            </div>
            <div class="uk-width-medium-1-6">
                {{ form_row(form.taxFree) }}
                <span style="position: relative;right: -92%;top: -30px;">%</span>
            </div>

        </div>
    </div>

    <div class="om_service_select_container om_select_position uk-width-medium-1-1 uk-hidden">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.service) }}
            </div>
            <div class="uk-width-medium-1-2">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-medium-1-3">
                        {{ form_row(form.amount) }}
                    </div>
                    <div class="uk-width-medium-1-3">
                        {{ form_row(form.price) }}
                        <span style="position: relative;right: -92%;top: -30px;">€</span>
                    </div>
                    <div class="uk-width-medium-1-3">
                        {{ form_row(form.specialPrice) }}
                        <span style="position: relative;right: -92%;top: -30px;">€</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="om_product_select_container om_select_position uk-width-medium-1-1 uk-hidden">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.product) }}
            </div>

            <div class="uk-width-medium-1-2">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-medium-1-3">
                        {{ form_row(form.amountProduct) }}
                    </div>
                    <div class="uk-width-medium-1-3">
                        {{ form_row(form.priceProduct) }}
                        <span style="position: relative;right: -92%;top: -30px;">€</span>
                    </div>
                    <div class="uk-width-medium-1-3">
                        {{ form_row(form.specialPriceProduct) }}
                        <span style="position: relative;right: -92%;top: -30px;">€</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="uk-grid uk-grid-small uk-hidden om_extra_text_grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            {{ form_row(form.extraText) }}
        </div>
    </div>
    <div class="uk-margin-top">
        {{ form_rest(form) }}
    </div>
</div>
<a href="#" class="uk-button uk-button-small collection-add uk-button-success uk-float-right" title="Hinzufügen">
    <i class="uk-icon-plus"></i>
</a>
<style>
    .om_select_position {
        margin-top: 20px;
    }

    .om_free_save_radio div {
        float: left;
        margin-right: 10px;;
    }

    .om_free_save_radio label {
        float: left;
        margin-right: 15px;;
    }
</style>
<script>

    $(document).on('change', '.om_select_position_type', function () {
        $(this).parent().parent().parent().parent().parent().find('.om_select_position').addClass('uk-hidden');
        $(this).parent().parent().parent().parent().parent().find('.om_select_position').find('input').prop('required', false);
        $(this).parent().parent().parent().parent().parent().find('.om_select_position').find('input').val('');
        $(this).parent().parent().parent().parent().parent().find('.om_select_position').find('select').val('');
        $(this).parent().parent().parent().parent().parent().find('.om_select_position').find('select').prop('required', false);
        $(this).parent().parent().parent().parent().parent().find('.' + $(this).val()).removeClass('uk-hidden');
        $(this).parent().parent().parent().parent().parent().find('.om_extra_text_grid').removeClass('uk-hidden');

        $(this).parent().parent().parent().parent().parent().find('.' + $(this).val()).find('input').prop('required', true);
        $(this).parent().parent().parent().parent().parent().find('.' + $(this).val()).find('select').prop('required', true);
        $(this).parent().parent().parent().parent().parent().find('.' + $(this).val()).find('.om_position_special_price').prop('required', false);
        $(this).parent().parent().parent().parent().parent().find('.' + $(this).val()).find('.select2').css('width', '100%');
        $('.om_free_save_radio').prop('required', false);
        $('.om_position_price').prop('required', false);
        $('.om_free_tax').val(19);
    });

    //SELECT PRICE FROM ENTITY AND PARSE IN INPUT
    $(document).on('change', '.om_select_service', function () {
        var service = $(this).val();
        var select = $(this);
        $.ajax({
            url: "{{ path('modules_ordermanagement_service_data') }}",
            type: "POST",
            data: {service: service, contact: contact},
            success: function (data) {
                var obj = JSON.parse(data);
                select.parent().parent().parent().parent().find('.om_service_price').attr('data-price', obj.price);
                select.parent().parent().parent().parent().find('.om_service_price').attr('data-price-tax', obj.brutto);
                select.parent().parent().parent().parent().find('.om_service_amount').val(1);
                select.parent().parent().parent().parent().find('.om_service_price').val(obj.price.format(2, 3, '.', ','));

                var tax = obj.brutto;
                tax = tax / 100;
                var multi = 1 + tax;
                var brutto = multi * (1 * obj.price);
                select.parent().parent().parent().parent().find('.om_service_price').attr('data-brutto', brutto.format(2, 3, '.', ','));

                setprice();
            }
        });
    });

    //CALCULATE PRICE
    $(document).on('change', '.om_service_amount', function () {
        var amount = $(this).val();
        var price = $(this).parent().parent().parent().parent().find('.om_service_price').attr('data-price');
        $(this).parent().parent().parent().parent().find('.om_service_price').val((amount * price).format(2, 3, '.', ','));

        var tax = $(this).parent().parent().parent().parent().find('.om_service_price').attr('data-price-tax');
        tax = tax / 100;
        var multi = 1 + tax;
        var brutto = multi * (amount * price);
        $(this).parent().parent().parent().parent().find('.om_service_price').attr('data-brutto', brutto.format(2, 3, '.', ','));
        setprice();

    });

    //SELECT PRICE FROM ENTITY AND PARSE IN INPUT
    $(document).on('change', '.om_select_product', function () {
        var product = $(this).val();
        var select = $(this);
        $.ajax({
            url: "{{ path('modules_ordermanagement_product_data') }}",
            type: "POST",
            data: {product: product, contact: contact},
            success: function (data) {
                var obj = JSON.parse(data);
                select.parent().parent().parent().parent().find('.om_product_price').attr('data-price', obj.price);
                select.parent().parent().parent().parent().find('.om_product_price').val(obj.price.format(2, 3, '.', ','));
                select.parent().parent().parent().parent().find('.om_product_price').attr('data-price-tax', obj.brutto);
                select.parent().parent().parent().parent().find('.om_product_amount').val(1);

                var tax = obj.brutto;
                tax = tax / 100;
                var multi = 1 + tax;
                var brutto = multi * (1 * obj.price);
                console.log(multi);
                console.log(obj.price);
                select.parent().parent().parent().parent().find('.om_product_price').attr('data-brutto', brutto.format(2, 3, '.', ','));
                setprice();
            }
        });
    });
    $(document).on('click', '.collection-remove', function () {
        setTimeout(function () {
            setprice();
        }, 500);
    });
    //CALCULATE PRICE
    $(document).on('change', '.om_product_amount', function () {
        var amount = $(this).val();
        var price = $(this).parent().parent().parent().parent().find('.om_product_price').attr('data-price');
        $(this).parent().parent().parent().parent().find('.om_product_price').val((amount * price).format(2, 3, '.', ','));

        var tax = $(this).parent().parent().parent().parent().find('.om_product_price').attr('data-price-tax');
        tax = tax / 100;
        var multi = 1 + tax;
        var brutto = multi * (amount * price);
        $(this).parent().parent().parent().parent().find('.om_product_price').attr('data-brutto', brutto.format(2, 3, '.', ','));
        setprice();
    });
    $(document).on('change', '.om_position_special_price', function () {
        setprice();
    });

    $(document).on('change', '.om_free_price_single', function () {
        $(this).parent().parent().parent().parent().find('.om_free_amount').trigger('change');
    });

    $(document).on('change', '.om_free_amount', function () {
        var amount = $(this).val();
        var price = $(this).parent().parent().parent().parent().find('.om_free_price_single').val();
        $(this).parent().parent().parent().parent().find('.om_free_price').val((amount * price).format(2, 3, '.', ','));

        var tax = $(this).parent().parent().parent().parent().find('.om_free_tax').val();
        tax = tax / 100;
        var multi = 1 + tax;
        var brutto = multi * (amount * price);
        $(this).parent().parent().parent().parent().find('.om_free_price').attr('data-brutto', brutto.format(2, 3, '.', ','));

        setprice();
    });

</script>