<div class="uk-panel uk-panel-box uk-margin-bottom address-form">
    <div class="uk-position-absolute uk-position-top-right uk-button-group form-collection-actions">
        <a href="#" class="uk-button uk-button-small collection-up" title="nach oben verschieben">
            <i class="uk-icon-arrow-up"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-down" title="nach unten verschieben">
            <i class="uk-icon-arrow-down"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-remove uk-button-danger" title="Löschen">
            <i class="uk-icon-trash"></i>
        </a>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            {{ form_row(form.type) }}
        </div>
    </div>

    <div class="jobticket uk-width-medium-1-1 uk-hidden">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 uk-margin-top">
                {{ form_row(form.jobticket) }}
            </div>
        </div>
    </div>
    <div class="service uk-width-medium-1-1 uk-hidden">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 uk-margin-top">
                {{ form_row(form.service) }}
            </div>
        </div>
    </div>
    <div class="text uk-width-medium-1-1 uk-hidden">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 uk-margin-top">
                {{ form_row(form.text) }}
            </div>
        </div>
    </div>


    <div class="uk-margin-top">
        {{ form_rest(form) }}
    </div>
</div>
<a href="#" class="uk-button uk-button-small collection-add uk-button-success uk-float-right" title="Hinzufügen">
    <i class="uk-icon-plus"></i>
</a>
<style>
    .om_select_position {
        margin-top: 20px;
    }
</style>