<div class="uk-panel uk-panel-box uk-margin-bottom address-form">
    <div class="uk-position-absolute uk-position-top-right uk-button-group form-collection-actions">
        <a href="#" class="uk-button uk-button-small collection-up" title="nach oben verschieben">
            <i class="uk-icon-arrow-up"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-down" title="nach unten verschieben">
            <i class="uk-icon-arrow-down"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-remove uk-button-danger" title="Löschen">
            <i class="uk-icon-trash"></i>
        </a>
    </div>

    <div class="om_free_select_container om_select_position uk-width-medium-1-1">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.textFree) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.priceFreeType) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.amountFree) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.priceSingleFree) }}
                <span style="position: relative;right: -92%;top: -30px;">€</span>
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.priceFree) }}
                <span style="position: relative;right: -92%;top: -30px;">€</span>
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.taxFree) }}
                <span style="position: relative;right: -92%;top: -30px;">%</span>
            </div>

        </div>
    </div>
    <div class="uk-margin-top">
        {{ form_rest(form) }}
    </div>
</div>
<a href="#" class="uk-button uk-button-small collection-add uk-button-success uk-float-right" title="Hinzufügen">
    <i class="uk-icon-plus"></i>
</a>
<style>
    .om_select_position {
        margin-top: 20px;
    }
</style>
<script>


    $(document).on('click', '.collection-remove', function () {
        setTimeout(function () {
            setprice();
        }, 500);
    });

    $(document).on('change', '.om_free_price_single', function () {
        $(this).parent().parent().parent().parent().find('.om_free_amount').trigger('change');
    });

    $(document).on('change', '.om_free_amount', function () {
        var amount = $(this).val();
        var price = $(this).parent().parent().parent().parent().find('.om_free_price_single').val();
        $(this).parent().parent().parent().parent().find('.om_free_price').val((amount * price).format(2, 3, '.', ','));

        var tax = $(this).parent().parent().parent().parent().find('.om_free_tax').val();
        tax = tax / 100;
        var multi = 1 + tax;
        var brutto = multi * (amount * price);
        $(this).parent().parent().parent().parent().find('.om_free_price').attr('data-brutto', brutto.format(2, 3, '.', ','));

        setprice();
    });

</script>