{% block content %}
    {{ form_start(edit_form, {'attr': {'id': 'validate_form'}}) }}

    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.contact) }}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.contactAddress) }}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.contactPerson) }}
            </div>

        </div>
    </div>

    {{ form_end(edit_form) }}
{% endblock %}
