{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_worksheet_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_worksheet_edit') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="PDF herunterladen">
                <i class="uk-icon-file-pdf-o"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Arbeitszettel XY', 'file-text-o', buttons, breadcrumb) }}

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-3 uk-text-large">
            <i class="uk-icon-briefcase"></i> Kunde<br>
            <a href="{{ path('kmui_contact_detail') }}">Müller GmbH</a>
        </div>
        <div class="uk-width-medium-1-3 uk-text-large">
            <i class="uk-icon-university"></i> Projekt<br>
            <a href="{{ path('kmui_project_detail') }}">Johannisstr. 65 Aachener Grund</a>
        </div>
        <div class="uk-width-medium-1-3 uk-text-large">
            <i class="uk-icon-user"></i> Mitarbeiter<br>
            <a href="{{ path('kmui_profile') }}">Max Mustermann</a>
        </div>
        <div class="uk-width-medium-1-1 uk-text-large">
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
            est Lorem ipsum dolor sit amet.
        </div>
    </div>

    <h2 class="content-headline">Positionen</h2>

    <table class="uk-table" id="positions" style="max-width: 100%;">
        <tr>
            <td class="uk-text-nowrap">
                <i class="uk-icon-check-circle-o"></i> Ticket
            </td>
            <td>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut la
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt.
            </td>
        </tr>
        <tr>
            <td class="uk-text-nowrap">
                <i class="uk-icon-wrench"></i> Leistung
            </td>
            <td>
                Consetetur sadipscing elitr, Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor elitr, sed
                diamsadipscing elitr, Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor elitrsad ipscing elitr,
                Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor elitr
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <i class="uk-icon-i-cursor"></i>
                Sed diam voluptua Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            </td>
        </tr>
    </table>

    <div class="uk-margin-large-top uk-text-large uk-text-success">
        <i class="uk-icon-check-square-o"></i> Unterschrieben am 05.11.2016 14:00 Uhr<br>
        <img src="{{ asset('assets/uikit/img/signature-sample.png') }}" alt="Unterschrift"/>
    </div>
{% endblock %}