{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        $(function () {
            tinymce.init({
                selector: '.tinymce',
                height: '200',
                content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
            });

            $('.add-ticket').click(function () {
                $('#no-positions').addClass('uk-hidden');
                var ticket = $('#ticket-template').clone().removeClass('uk-hidden');
                $('#positions').append(ticket);
            });

            $('.add-service').click(function () {
                $('#no-positions').addClass('uk-hidden');
                var service = $('#service-template').clone().removeClass('uk-hidden');
                $('#positions').append(service);
            });

            $('.add-text').click(function () {
                $('#no-positions').addClass('uk-hidden');
                var text = $('#text-template').clone().removeClass('uk-hidden');
                $('#positions').append(text);
            });

            $(document).on('click', '.remove-position', function () {
                $(this).parent().parent().remove();
                if ($('#positions').find('tr').length == 4) {
                    $('#no-positions').removeClass('uk-hidden');
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}


{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_worksheet_index') }}" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
           title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Arbeitszettel XY', 'file-text-o', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" value="" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Mitarbeiter</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Mitarbeiter auswählen"
                            multiple="multiple">
                        <option>Marc Weinhold</option>
                        <option>Max Mustermann</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Kunde</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Kunde auswählen">
                        <option></option>
                        <option>Müller GmbH</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Projekt</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Projekt auswählen">
                        <option></option>
                        <option>In der Mark 1a</option>
                        <option>Johannisstr. 65 Aachener Grund</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Beschreibung</label>
                <textarea class="tinymce"></textarea>
            </div>
        </div>

        <h2 class="content-headline">
            Positionen
            <div class="uk-button-dropdown uk-float-right" data-uk-dropdown="{mode:'click'}" data-uk-tooltip
                 title="Neue Position hinzufügen">
                <button class="uk-button uk-button-small uk-button-success uk-float-right">
                    <i class="uk-icon-plus"></i>
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left"
                     style="width: 250px;">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="#new-ticket" data-uk-modal><i class="uk-icon-tags"></i> Angebot</a></li>
                        <li><a href="#new-ticket" data-uk-modal><i class="uk-icon-edit"></i> Auftrag</a></li>
                        <li><a href="#new-ticket" data-uk-modal><i class="uk-icon-university"></i> Projekt</a></li>
                        <li><a href="#new-ticket" data-uk-modal><i class="uk-icon-check-circle-o"></i> Ticket</a></li>
                        <li><a href="#new-service" data-uk-modal><i class="uk-icon-wrench"></i> Leistung</a></li>
                        <li><a href="#new-text" data-uk-modal><i class="uk-icon-i-cursor"></i> Text</a></li>
                    </ul>
                </div>
            </div>
        </h2>
        <table class="uk-table" id="positions" style="max-width: 100%;">
            <tr id="no-positions" class="uk-hidden">
                <td colspan="3">keine Positionen</td>
            </tr>
            <tr id="ticket-template" class="uk-hidden">
                <td class="uk-text-nowrap">
                    <i class="uk-icon-check-circle-o"></i> Ticket
                </td>
                <td>
                    <div class="uk-text-truncate">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut la...
                    </div>
                </td>
                <td class="uk-text-right">
                    <a href="#" class="uk-button uk-button-small uk-button-danger remove-position">
                        <i class="uk-icon-trash"></i>
                    </a>
                </td>
            </tr>
            <tr id="service-template" class="uk-hidden">
                <td class="uk-text-nowrap">
                    <i class="uk-icon-wrench"></i> Leistung
                </td>
                <td>
                    <div class="uk-text-truncate">
                        Consetetur sadipscing elitr, Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor elitr,
                        sed diam...
                    </div>
                </td>
                <td class="uk-text-right">
                    <a href="#" class="uk-button uk-button-small uk-button-danger remove-position">
                        <i class="uk-icon-trash"></i>
                    </a>
                </td>
            </tr>
            <tr id="text-template" class="uk-hidden">
                <td colspan="2">
                    <div class="uk-text-truncate">
                        <i class="uk-icon-i-cursor"></i>
                        Sed diam voluptua Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor...
                    </div>
                </td>
                <td class="uk-text-right">
                    <a href="#" class="uk-button uk-button-small uk-button-danger remove-position">
                        <i class="uk-icon-trash"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="uk-text-nowrap">
                    <i class="uk-icon-check-circle-o"></i> Ticket
                </td>
                <td>
                    <div class="uk-text-truncate">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut la...
                    </div>
                </td>
                <td class="uk-text-right">
                    <a href="#" class="uk-button uk-button-small uk-button-danger remove-position">
                        <i class="uk-icon-trash"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="uk-text-nowrap">
                    <i class="uk-icon-wrench"></i> Leistung
                </td>
                <td>
                    <div class="uk-text-truncate">
                        Consetetur sadipscing elitr, Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor elitr,
                        sed diam...
                    </div>
                </td>
                <td class="uk-text-right">
                    <a href="#" class="uk-button uk-button-small uk-button-danger remove-position">
                        <i class="uk-icon-trash"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="uk-text-truncate">
                        <i class="uk-icon-i-cursor"></i>
                        Sed diam voluptua Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor...
                    </div>
                </td>
                <td class="uk-text-right">
                    <a href="#" class="uk-button uk-button-small uk-button-danger remove-position">
                        <i class="uk-icon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_worksheet_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_worksheet_edit', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>

    <div id="new-ticket" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-check-circle-o"></i>
                    Ticket auswählen
                </h3>
            </div>
            <form class="uk-search uk-overflow-hidden" data-uk-search>
                <input class="uk-search-field" type="search" placeholder="">
            </form>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..5 %}
                    <tr>
                        <td>Ticket {{ i }}</td>
                        <td class="uk-text-right">
                            <a href="#" class="uk-button uk-button-small uk-button-success add-ticket uk-modal-close"
                               data-uk-tooltip title="hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
            </div>
        </div>
    </div>

    <div id="new-service" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-wrench"></i>
                    Leistung auswählen
                </h3>
            </div>
            <form class="uk-search uk-overflow-hidden" data-uk-search>
                <input class="uk-search-field" type="search" placeholder="">
            </form>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..5 %}
                    <tr>
                        <td>Leistung {{ i }}</td>
                        <td class="uk-text-right">
                            <a href="#" class="uk-button uk-button-small uk-button-success add-service uk-modal-close"
                               data-uk-tooltip title="hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
            </div>
        </div>
    </div>

    <div id="new-text" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-check-circle-o"></i>
                    Text hinzufügen
                </h3>
            </div>
            <form action="" class="uk-form">
                <textarea class="tinymce"></textarea>
            </form>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="#" class="uk-button uk-button-success uk-modal-close add-text">
                    <i class="uk-icon-plus"></i>
                    Hinzufügen
                </a>
            </div>
        </div>
    </div>
{% endblock %}