{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_worksheet_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neuen Arbeitszettel anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Arbeitszettel', 'file-text-o', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Status
                </th>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th>
                    Kunde
                </th>
                <th>
                    Projekt
                </th>
                <th class="uk-text-nowrap">
                    Mitarbeiter
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td class="uk-text-nowrap uk-text-large">
                        {% if i is odd %}
                            <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-square-o');"
                               data-uk-tooltip title="Unterschrieben am 05.11.2016"
                               class="uk-button uk-active uk-button-success uk-button-small">
                                <i class="uk-icon-check"></i>
                            </a>
                        {% else %}
                            <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-square-o');"
                               data-uk-tooltip title="offen"
                               class="uk-button uk-active uk-button-danger uk-button-small">
                                <i class="uk-icon-square-o"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        Arbeitszettel XY
                    </td>
                    <td>
                        <a href="{{ path('kmui_contact_detail') }}">
                            {{ random(['Müller GmbH', 'CREA Werbeagentur GmbH']) }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('kmui_project_detail') }}">
                            {{ random(['In der Mark 1a', 'Johannisstr. 65 Aachener Grund']) }}
                        </a>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="#">{{ random(['Marc Weinhold', 'Max Musterman']) }}</a>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_worksheet_detail') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_worksheet_edit') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}