{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_ticket_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_ticket_edit') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Ticket XYZ', 'check-circle-o', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 uk-text-large">
                <i class="uk-icon-university"></i> Johannisstr. 65 Aachener Grund
            </div>
            <div class="uk-width-medium-1-2 uk-text-large">
                <a href="{{ path('kmui_profile') }}">
                    Marc Weinhold
                </a>,
                <a href="{{ path('kmui_profile') }}">
                    Max Mustermann
                </a>
            </div>
            <div class="uk-width-1-2 uk-text-large uk-text-success">
                <i class="uk-icon-check-square-o"></i> erledigt
            </div>
            <div class="uk-width-1-2 uk-text-large">
                <i class="uk-icon-clock-o"></i>
                05.11.2016 14:00 Uhr
            </div>
            <div class="uk-width-medium-1-1 uk-text-large">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>

        <h2 class="content-headline uk-margin-bottom-remove">
            <i class="uk-icon-edit"></i>
            Notizen
        </h2>

        <table class="uk-table uk-margin-remove">
            <tr>
                <th>Ersteller</th>
                <th>Inhalt</th>
                <th>Datum</th>
            </tr>
            {% for i in 0..3 %}
                <tr>
                    <td>
                        <a href="{{ path('kmui_profile') }}">
                            Max Mustermann
                        </a>
                    </td>
                    <td>
                        {{ random(['At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.', 'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.']) }}
                    </td>
                    <td class="uk-text-nowrap">
                        02.11.2016 11:00 Uhr
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2 class="content-headline">
            <i class="uk-icon-copy"></i>
            Dokumente
        </h2>

        <table class="uk-table uk-margin-remove">
            {% for i in 0..1 %}
                <tr>
                    <td>
                        <i class="uk-icon-file-pdf-o"></i>
                        Anlage {{ i + 1 }}
                        <span class="uk-text-muted uk-text-right">({{ (i + 1) * 321 }} KB)</span>
                    </td>
                    <td class="uk-text-right">
                        <a href="#" class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="Datei herunterladen">
                            <i class="uk-icon-download"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2 class="content-headline">
            <i class="uk-icon-history"></i>
            Historie
        </h2>

        <table class="uk-table uk-margin-remove">
            <tr>
                <td>
                    <i class="uk-icon-pencil"></i>
                    <a href="{{ path('kmui_profile') }}">
                        Max Mustermann
                    </a>
                    hat dieses Ticket am <b>01.12.2016 um 14:35 Uhr</b> <b>bearbeitet</b>.
                </td>
            </tr>
            <tr>
                <td>
                    <i class="uk-icon-eye"></i>
                    <a href="{{ path('kmui_profile') }}">
                        Max Mustermann
                    </a>
                    hat dieses Ticket am <b>01.12.2016 um 14:35 Uhr</b> <b>angesehen</b>.
                </td>
            </tr>
            <tr>
                <td>
                    <i class="uk-icon-copy"></i>
                    <a href="{{ path('kmui_profile') }}">
                        Max Mustermann
                    </a>
                    hat diesem Ticket am <b>01.12.2016 um 14:35 Uhr</b> eine <b>Datei hinzugefügt</b>.
                </td>
            </tr>
            <tr>
                <td>
                    <i class="uk-icon-edit"></i>
                    <a href="{{ path('kmui_profile') }}">
                        Max Mustermann
                    </a>
                    hat diesem Ticket am <b>01.12.2016 um 14:35 Uhr</b> eine <b>Notiz hinzugefügt</b>.
                </td>
            </tr>
        </table>
    </form>
{% endblock %}