{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        $(function () {
            tinymce.init({
                selector: '.tinymce',
                height: '200',
                content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}


{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_ticket_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_ticket_detail') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Details">
                <i class="uk-icon-eye"></i>
            </a>
            <a href="#" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Ticket XYZ', 'check-circle-o', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" value="Ticket XYZ" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="form-">Status</label>

                <div class="uk-form-controls">
                    <select class="uk-form-large uk-width-1-1">
                        <option>offen</option>
                        <option>in Arbeit</option>
                        <option>dringend</option>
                        <option>erledigt</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="form-">Datum</label>

                <div class="uk-form-controls">
                    <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" value="05.11.2016"
                           class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Projekt</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Projekt auswählen">
                        <option></option>
                        <option>In der Mark 1a</option>
                        <option selected="selected">Johannisstr. 65 Aachener Grund</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Mitarbeiter</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple"
                            data-placeholder="Mitarbeiter auswählen">
                        <option selected="selected">Marc Weinhold</option>
                        <option selected="selected">Max Mustermann</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Beschreibung</label>

                <div class="uk-form-controls">
                    <textarea class="tinymce">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</textarea>
                </div>
            </div>
        </div>

        <h2 class="content-headline uk-margin-bottom-remove">
            Notizen
            <a href="#add-note" class="uk-button uk-button-success uk-button-small uk-float-right"
               data-uk-modal data-uk-tooltip title="neue Notiz anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        </h2>

        <table class="uk-table uk-margin-remove">
            <tr>
                <th>Ersteller</th>
                <th>Inhalt</th>
                <th>Datum</th>
                <th></th>
            </tr>
            {% for i in 0..3 %}
                <tr>
                    <td>
                        <a href="{{ path('kmui_profile') }}">
                            Max Mustermann
                        </a>
                    </td>
                    <td>
                        {{ random(['At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.', 'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.']) }}
                    </td>
                    <td class="uk-text-nowrap">
                        02.11.2016 11:00 Uhr
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="#edit-note" class="uk-button uk-button-small uk-button-primary"
                               data-uk-modal data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#delete-note" data-uk-modal class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2 class="content-headline">Dokumente</h2>

        <table class="uk-table uk-margin-remove">
            {% for i in 0..1 %}
                <tr>
                    <td style="width: 25px;"><i class="uk-icon-arrows uk-text-muted"></i></td>
                    <td>
                        <i class="uk-icon-file-pdf-o"></i>
                        Anlage {{ i + 1 }}
                        <span class="uk-text-muted uk-text-right">({{ (i + 1) * 321 }} KB)</span>
                    </td>
                    <td class="uk-text-right" style="width: 30px;">
                        <a href="#delete-file" data-uk-modal class="uk-button uk-button-small uk-button-danger"
                           data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="upload-drop" class="uk-placeholder">
            <div class="uk-text-center uk-text-large">
                <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
                Dateien hier hinziehen oder <a class="uk-form-file">Dateien aussuchen<input id="upload-select"
                                                                                            type="file"></a>.
            </div>
        </div>

        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">...</div>
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_ticket_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_ticket_edit', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>

    <div id="add-note" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    Notiz anlegen
                </h3>
            </div>
            <form action="" class="uk-form uk-form-stacked">
                <label class="uk-form-label" for="form-">Inhalt</label>

                <div class="uk-form-controls">
                    <textarea class="tinymce"></textarea>
                </div>

                <label class="uk-form-label uk-margin-top" for="form-">Datum</label>

                <div class="uk-form-controls">
                    <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}"
                           class="uk-form-large uk-width-1-1 uk-margin-bottom" value="{{ 'now'|date('d.m.Y H:i') }}"/>
                </div>
            </form>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_ticket_edit', {'deleted': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </div>

    <div id="edit-note" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    Notiz bearbeiten
                </h3>
            </div>
            <form action="" class="uk-form uk-form-stacked">
                <label class="uk-form-label" for="form-">Inhalt</label>

                <div class="uk-form-controls">
                    <textarea class="tinymce">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</textarea>
                </div>

                <label class="uk-form-label uk-margin-top" for="form-">Datum</label>

                <div class="uk-form-controls">
                    <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}"
                           class="uk-form-large uk-width-1-1 uk-margin-bottom" value="02.11.2016 11:00"/>
                </div>
            </form>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_ticket_edit', {'deleted': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </div>

    <div id="delete-note" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diese Notiz wirklich löschen?</b><br>
            <br>
            <div class="uk-text-muted uk-text-large uk-text-truncate">
                <small>02.11.2016 11:00 Uhr</small>
                <br>
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr.
            </div>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_ticket_edit', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>

    <div id="delete-file" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie dieses Dokument wirklich löschen?</b><br>
            <br>
            <div class="uk-text-muted uk-text-large">
                Anlage 1 (321 KB)
                <a href="#" class="uk-button" data-uk-tooltip title="herunterladen">
                    <i class="uk-icon-download"></i>
                </a>
            </div>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_ticket_edit', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}