{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_ticket_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neues Ticket anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Tickets', 'check-circle-o', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Status
                </th>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th>
                    Projekt
                </th>
                <th class="uk-text-nowrap">
                    Mitarbeiter
                </th>
                <th class="uk-text-nowrap">
                    Notizen
                </th>
                <th class="uk-text-nowrap">
                    Dokumente
                </th>
                <th class="uk-text-nowrap">
                    Datum
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set statusOpen %}
                <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-square-o');"
                   data-uk-tooltip title="offen"
                   class="uk-button uk-active uk-button-danger uk-button-small">
                    <i class="uk-icon-square-o"></i>
                </a>
            {% endset %}
            {% set statusDone %}
                <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-square-o');"
                   data-uk-tooltip title="erledigt"
                   class="uk-button uk-active uk-button-success uk-button-small">
                    <i class="uk-icon-check"></i>
                </a>
            {% endset %}
            {% set statusInProgress %}
                <a onclick="$(this).toggleClass('uk-button-success uk-button-warning').find('i').toggleClass('uk-icon-check uk-icon-clock-o');"
                   data-uk-tooltip title="in Arbeit"
                   class="uk-button uk-active uk-button-warning uk-button-small">
                    <i class="uk-icon-clock-o"></i>
                </a>
            {% endset %}
            {% set status = [statusOpen, statusDone, statusInProgress] %}
            {% for i in 1..10 %}
                <tr>
                    <td class="uk-text-nowrap uk-text-large">
                        {{ cycle(status, i) }}
                    </td>
                    <td class="uk-text-nowrap">
                        aktuelles Ticket
                    </td>
                    <td>
                        <a href="{{ path('kmui_project_detail') }}">
                            {{ random(['In der Mark 1a', 'Johannisstr. 65 Aachener Grund']) }}
                        </a>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="#">{{ random(['Marc Weinhold', 'Ralf Klute', 'Max Musterman']) }}</a>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="{{ path('kmui_ticket_detail') }}"
                           class="uk-button uk-button-small uk-button-primary">{{ random(20) }}</a>
                    </td>
                    <td class="uk-text-nowrap">
                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                            <button class="uk-button uk-button-small uk-float-right">
                                <i class="uk-icon-download"></i>
                                <i class="uk-icon-angle-down"></i>
                            </button>
                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a href="#"><i class="uk-icon-image"></i> Bild vor Ort</a></li>
                                    <li><a href="#"><i class="uk-icon-file-pdf-o"></i> Arbeitszettel</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="uk-text-nowrap">
                        05.11.2016 14:00 Uhr
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_ticket_detail') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_ticket_edit') }}" class="uk-button uk-button-small uk-button-primary"
                               data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}