{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        $(function () {
            tinymce.init({
                selector: '.tinymce',
                height: '200',
                content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}


{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_ticket_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Ticket', 'check-circle-o', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" value="" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="form-">Status</label>

                <div class="uk-form-controls">
                    <select class="uk-form-large uk-width-1-1">
                        <option>offen</option>
                        <option>in Arbeit</option>
                        <option>dringend</option>
                        <option>erledigt</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="form-">Datum</label>

                <div class="uk-form-controls">
                    <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Projekt</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Projekt auswählen">
                        <option></option>
                        <option>In der Mark 1a</option>
                        <option>Johannisstr. 65 Aachener Grund</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Mitarbeiter</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple"
                            data-placeholder="Mitarbeiter auswählen">
                        <option>Marc Weinhold</option>
                        <option>Max Mustermann</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Beschreibung</label>

                <div class="uk-form-controls">
                    <textarea class="tinymce"></textarea>
                </div>
            </div>
        </div>

        <div class="uk-alert">
            <i class="uk-icon-info-circle"></i>
            Um Dokumente hochzuladen und Notizen zu erstellen muss das Ticket erst gespeichert werden.
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_ticket_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_ticket_edit', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}