{% if is_granted('DELETE', timetrack) %}
    <div class="uk-modal uk-text-left" id="delete-timetrack-{{ timetrack.id }}">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie den Eintrag wirklich löschen?</b><br>

            {{ form_start(deleteForm) }}
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <button class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </button>
            </div>
            {{ form_end(deleteForm) }}
        </div>
    </div>
{% endif %}