{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    <h1 class="content-headline">
        <i class="uk-icon-clock-o"></i>
        Zeiterfassung bearbeiten<br>
        <small class="uk-text-muted">#{{ timetrack.id }}</small>
        <a href="{% if user %}{{ path('timetrack_user') }}{% else %}{{ path('timetrack_index') }}{% endif %}" class="uk-button uk-button-primary uk-float-right">
            <i class="uk-icon-clock-o"></i> zur Historie
        </a>
    </h1>

    {{ form_start(edit_form) }}

    <div class="uk-panel uk-panel-box">

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-3-10">
                <label class="uk-form-label" for="form-">Von</label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.start.date) }}
                    {{ form_errors(edit_form.start) }}
                </div>
            </div>
            <div class="uk-width-medium-1-10 hide-if-all-day-selected">
                <label class="uk-form-label" for="form-">
                    <small class="uk-text-muted">Stunde</small>
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.start.time.hour) }}
                </div>
            </div>
            <div class="uk-width-medium-1-10 hide-if-all-day-selected">
                <label class="uk-form-label" for="form-">
                    <small class="uk-text-muted">Minute</small>
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.start.time.minute) }}
                </div>
            </div>
            <div class="uk-width-medium-3-10">
                <label class="uk-form-label" for="form-">Bis</label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.stop.date) }}
                    {{ form_errors(edit_form.stop) }}
                </div>
            </div>
            <div class="uk-width-medium-1-10 hide-if-all-day-selected">
                <label class="uk-form-label" for="form-">
                    <small class="uk-text-muted">Stunde</small>
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.stop.time.hour) }}
                </div>
            </div>
            <div class="uk-width-medium-1-10 hide-if-all-day-selected">
                <label class="uk-form-label" for="form-">
                    <small class="uk-text-muted">Minute</small>
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.stop.time.minute) }}
                </div>
            </div>
            <div class="uk-width-medium-1-1 {% if user %}uk-hidden{% endif %}">
                {{ form_row(edit_form.user) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.intern) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.jobticket) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.comment) }}
            </div>

        </div>
    </div>

    <button type="submit" class="uk-button uk-button-success uk-margin-top">
        <i class="uk-icon-check"></i>
        Speichern
    </button>
    {{ form_end(edit_form) }}
    <style>
        #timetrack_intern div {
            margin-left: 20px;
            float: left;
            margin-right: 10px;
        }
    </style>
{% endblock %}
