{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-clock-o"></i> Zeiterfassung
    {% endset %}
    {% set buttons %}
        <a href="{{ path('timetrack_new') }}" class="uk-button uk-button-success">
            <i class="uk-icon-plus"></i> Eintrag hinzufügen
        </a>
    {% endset %}

    {% set filter %}
        <button data-uk-toggle="{target:'#filter', animation:'uk-animation-slide-top'}"
                class="uk-button uk-button-primary uk-margin-right">
            <i class="uk-icon-filter"></i> Filter
        </button>
    {% endset %}

    {{ macros.pageHeader('Historie', null, buttons, breadcrumb, 1,0,filter) }}

    <div class="uk-overflow-hidden">
        <div class="uk-panel uk-panel-box uk-hidden" id="filter">
            <form action="{{ path('timetrack_index') }}" method="get" class="uk-form uk-panel-body filterOverview">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Von:</label><br>
                                <input type="text" name="start"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.start is defined %}{{ filterSettings.start }}{% endif %}">
                            </div>
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Bis: </label><br>
                                <input type="text" name="stop"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.stop is defined %}{{ filterSettings.stop }}{% endif %}">
                            </div>
                        </div>
                        <br>
                        <label class="uk-text-bold">
                            Kommentar:</label><br>
                        <input type="text" name="comment"
                               value="{% if filterSettings.comment is defined %}{{ filterSettings.comment }}{% endif %}">

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Benutzer: </label><br>
                        <select size="1" name="user" class="select2 uk-width-1-1">
                            <option></option>
                            {% for user in app_helper.getEntityManager.getRepository('CoreAppBundle:User').findAll() %}
                                <option {% if filterSettings.user is defined %} {% if filterSettings.user==user.id %}selected="selected"{% endif %}{% endif %}
                                        value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Jobticket:</label><br>
                        <select size="1" name="jobticket" class="select2 uk-width-1-1">
                            <option></option>
                            {% for jobs in app_helper.getEntityManager.getRepository('ModulesOrderManagementBundle:JobTicket').findAll() %}
                                <option {% if filterSettings.jobticket is defined %} {% if filterSettings.jobticket==jobs.id %}selected="selected"{% endif %}{% endif %}
                                        value="{{ jobs.id }}">{{ jobs.title }}</option>
                            {% endfor %}
                        </select>
                        <br>
                    </div>
                </div>
                <div class="uk-text-right uk-margin-top">
                     <span class="uk-button uk-button-danger resetFilter">
                            <i class="uk-icon-filter"></i>
                            Filter zurücksetzten
                        </span>
                    <button class="uk-button uk-button-primary">
                        <i class="uk-icon-filter"></i>
                        Filter anwenden
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover" id="timetrackTable">
            <thead>
            <tr>
                <th>Benutzer</th>
                <th>Jobticket</th>
                <th>Start</th>
                <th>Stop</th>
                <th>Dauer</th>
                <th>Kommentar</th>
                <th>Typ</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set hoursTotal=0 %}
            {% set miniutesTotal=0 %}
            {% for timetrack in timetracks %}
                <tr>
                    <td>
                        {{ timetrack.user.username }}
                    </td>
                    <td>
                        {% if timetrack.jobticket %}
                            <a href="{{ path('modules_ordermanagement_jobticket_details',{jobTicket:timetrack.jobticket.id}) }}">{{ timetrack.jobticket.title }}</a>
                        {% endif %}
                    </td>

                    <td>{% if timetrack.start %}{{ timetrack.start|date('d.m.Y H:i') }}{% endif %}</td>
                    <td>{% if timetrack.stop %}{{ timetrack.stop|date('d.m.Y H:i') }}{% endif %}</td>

                    {% set difference = date(timetrack.start|date('Y/m/d H:i:s')).diff(date(timetrack.stop|date('Y/m/d H:i:s'))) %}

                    {% set minut=difference.i %}
                    {% if minut<10 %}{% set minut='0'~minut %}{% endif %}

                    {% set time = difference.h ~':'~ minut %}

                    {% if timetrack.break %}
                    {% else %}
                        {% set hoursTotal=hoursTotal+difference.h %}
                        {% set miniutesTotal=miniutesTotal+difference.i %}
                    {% endif %}


                    <td>{{ time }}</td>
                    <td>{{ timetrack.comment }}</td>
                    <td>{{ mod_timetrack_helper.getType(timetrack) }}</td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('timetrack_edit', { 'id': timetrack.id }) }}"
                               class="uk-button uk-button-primary uk-button-small">
                                <i class="uk-icon-edit"></i>
                            </a>
                            {% if is_granted('DELETE', timetrack) %}
                                <a href="#delete-timetrack-{{ timetrack.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                                <input type="checkbox" class="markTimetrack" name="delete[]" value="{{ timetrack.id }}">
                            {% endif %}
                        </div>
                        {% include 'ModulesTimetrackBundle:Timetrack:delete-modal.html.twig' with {'deleteForm': deleteForms[timetrack.id]} %}
                    </td>
                </tr>
            {% endfor %}


            {% set totalMinutes=(hoursTotal*60)+ miniutesTotal %}

            {% set hours=(totalMinutes/60)|round(0,'floor') %}

            {% set totalMinutes=totalMinutes - (hours*60)|round(0) %}


            {% if totalMinutes<10 and totalMinutes|length==1 %}{% set totalMinutes='0'~totalMinutes %}{% endif %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="uk-text-bold">Gesamt:</td>
                <td class="uk-text-bold">{{ hours }}:{{ totalMinutes }}</td>
                <td></td>
                <td></td>
                <td>
                    {% if is_granted('DELETE', 'Modules\\TimetrackBundle\\Entity\\Timetrack') %}
                        <a href="#delete-all-timetrack"
                           id="buttonDeleteMarkedTimetrack"
                           class="uk-button uk-button-danger uk-button-small uk-float-right"
                           data-uk-tooltip title="Löschen"
                           data-uk-modal>
                            <i class="uk-icon-trash"></i> Alle markierten löschen
                        </a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        {% include 'ModulesTimetrackBundle:Timetrack:delete-all-modal.html.twig' %}
    </div>
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
{% endblock %}
