<form action="{{ path('timetrack_new_ajax') }}" id="timetrackform" method="post"
      class="uk-form uk-form-stacked uk-form">

    <div class="uk-form-row">
        <label class="uk-form-label required uk-text-bold" for="form_jobticket">Jobticket</label>
        <div class="uk-form-controls">
            <select name="jobticket" id="form_jobticket">
                <option value="0">Wählen Sie ein Jobticket</option>
                {% for job in jobtickets %}
                    <option value="{{ job.id }}">{{ job.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div class="uk-form-row">
        <label class="uk-form-label required uk-text-bold" for="form_internal">Intern/Baustelle</label>
        <div class="uk-form-controls">
            <input type="radio" class="form_internal" name="internal" value="0"> Pause
            <br/>
            <input type="radio" class="form_internal" name="internal" value="3"> Büro
            <br/>
            <input type="radio" class="form_internal" name="internal" value="5"> Baustelle
            <br/>
            <input type="radio" class="form_internal" name="internal" value="4"> Fahrt
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label required uk-text-bold" for="form_comment">Zusatzinfo</label>
        <div class="uk-form-controls">
            <input type="text" id="form_comment" name="comment" maxlength="255"
                   class="uk-form-large uk-width-1-1">
        </div>
    </div>

    <div id="time_last" class="uk-margin-top  uk-hidden">
        <p class="uk-margin-bottom uk-text-bold">Bis wann haben Sie die letzte
            Tätigkeit ausgeführt?</p>
        <div class="uk-grid">
            <div class="uk-width-medium-1-3">
                <div class="uk-form-row">
                    <label class="uk-form-label required uk-text-bold" for="form_ende">Datum</label>
                    <div class="uk-form-controls">
                        <input type="text" id="form_ende"
                               name="time_ende_date" class="uk-form-large uk-width-1-1"
                               value="{{ 'now'|date('d.m.Y') }}"
                               data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}">
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-form-row">
                    <label class="uk-form-label required uk-text-bold" for="form_ende_hour">Stunde</label>
                    <select id="form_ende_hour"
                            name="form_ende_hour"
                            class="select2 uk-form-large uk-width-1-1 select2-hidden-accessible" tabindex="-1"
                            aria-hidden="true">
                        <option value=""></option>
                        {% for i in 0..23 %}
                            <option {% if 'now'|date('H')==i %}selected="selected"{% endif %}
                                    value="{{ i }}">{% if i<9 %}0{% endif %}{{ i }}</option>
                        {% endfor %}
                    </select></div>
            </div>

            <div class="uk-width-medium-1-3">
                <div class="uk-form-row">
                    <label class="uk-form-label required uk-text-bold" for="form_ende_minuten">Minuten</label>
                    <select id="form_ende_minuten"
                            name="form_ende_minuten"
                            class="select2 uk-form-large uk-width-1-1 select2-hidden-accessible" tabindex="-1"
                            aria-hidden="true">
                        <option value="0">00</option>
                        {% for i in 0..59 %}
                            <option {% if 'now'|date('i')==i %}selected="selected"{% endif %}
                                    value="{{ i }}">{% if i<9 %}0{% endif %}{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

    </div>

    <input type="hidden" name="route" value="{{ path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) }}">

    <input type="hidden" id="form_current" name="current" value="">
    <input type="hidden" id="form_last" name="last" value="">
    <input type="hidden" id="close_old_job" name="close_old_job" value="">


    <div class="uk-modal-footer">
        <a href="#" class="uk-button uk-margin-bottom uk-modal-close uk-width-small-1-1 uk-width-medium-1-2">
            <i class="uk-icon-close"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-primary uk-float-right  uk-width-small-1-1  uk-width-medium-1-2">
            <i class="uk-icon-clock-o"></i>
            Einstempeln
        </button>
    </div>
</form>
<style>
    #timetrackform .select2 {
        width: 100% !important;
    }

</style>