{% set currentJob=mod_timetrack_helper.getCurrentJob(app.user) %}
{% set lastjob=mod_timetrack_helper.getLastRealJob(app.user) %}
<ul class="uk-navbar-nav uk-navbar-flip {% if currentJob %}uk-button-success{% else %}uk-button-danger{% endif %}">
    <li>
        <a href="#" data-uk-modal="" data-url="{{ path('timetrack_jobs') }}"
           data-break="{{ path('timetrack_new_break') }}"
           data-continue="{{ path('timetrack_continue') }}"
           class="uk-navbar-nav-subtitle uk-text-center timetrack-toggle"
           data-jobstatus="{% if currentJob %}{{ currentJob.status }}{% else %}0{% endif %}"
           data-currentjob="{% if currentJob %}{{ currentJob.id }}{% endif %}"
           data-lastjob="{% if lastjob %}{{ lastjob.id }}{% endif %}">
            {% if currentJob %}<i class="uk-icon-pause"></i>{% else %}<i
                    class="uk-icon-play"></i>{% endif %}

            {% if currentJob %}
                <div>{{ mod_timetrack_helper.getCurrentDuration(currentJob) }}
                    <small>({{ mod_timetrack_helper.getCurrentJobTitle(app.user) }})</small>
                </div>
            {% else %}
                <div>Nicht gebucht
                </div>
            {% endif %}
        </a>
    </li>
    {% if app_helper.getParameter('modules_timetrack_modus')!='1' %}
        <li class="uk-parent" data-uk-dropdown="{mode:'click', pos:'bottom-right'}"
            data-uk-tooltip="{pos: 'left'}"
            title="aktuelles Ticket">
            <a href="#" class="uk-navbar-nav-subtitle uk-hidden-small">
                {{ mod_timetrack_helper.getCurrentJobTitle(app.user) }}
                <i class="uk-icon-angle-down"></i>
                <div>{{ currentJob.comment }}</div>
            </a>
            <a href="#" class="uk-visible-small">
                <i class="uk-icon-angle-down"></i>
            </a>

            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="width: 250px;">
                <ul class="uk-nav uk-nav-navbar">
                    <li>
                        <a href="#" data-uk-modal="" data-url="{{ path('timetrack_jobs') }}"
                           data-break=""
                           data-continue=""
                           class="timetrack-toggle"
                           data-jobstatus="new"
                           data-currentjob="{{ currentJob.id }}"
                           data-isbreak="{{ currentJob.break }}"
                           data-lastjob="{% if lastjob %}{{ lastjob.id }}{% endif %}"><i
                                    class="uk-icon-plus uk-text-success"></i> Auf andere Tätigkeit
                            buchen</a>
                    </li>
                    <li>
                        <hr/>
                    </li>
                    {% for jobs in mod_timetrack_helper.getLastJobs(app.user) %}
                        <li><a href="#" class="continue_timetrack_old"
                               data-url="{{ path('timetrack_continue_old',{timetrack:jobs.id}) }}">
                                {{ jobs.title }}<br>
                                <small>{{ jobs.comment }}</small>
                            </a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endif %}
</ul>