<div class="uk-modal uk-text-left" id="set-job-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header uk-modal-header-primary">
            <h3>
                <i class="uk-icon-clock-o"></i>
                Auf Job buchen
            </h3>
        </div>
        <h3>Wählen Sie Ihre aktuelle Tätigkeit</h3>
        <div class="uk-margin-bottom uk-alert">Sie können sich entweder auf ein Jobticket oder eine Interen Tätigkeit
            buchen.
        </div>
        <div id="jobContent" class="uk-margin-bottom">

        </div>
    </div>
</div>