<div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header uk-modal-header-success">
        <h3>
            <i class="uk-icon-map-marker"></i>
            Ansprechpartner anlegen
        </h3>
    </div>

    {% if form.contact is not defined or form.contact.vars.choices|length %}
        {{ form_start(form) }}
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            {% if form.contact is defined %}
                <div class="uk-width-1-1">
                    {{ form_row(form.contact) }}
                </div>
            {% endif %}
            <div class="uk-width-medium-1-5">
                {{ form_row(form.salutation) }}
            </div>
            <div class="uk-width-medium-2-5">
                {{ form_row(form.firstname) }}
            </div>
            <div class="uk-width-medium-2-5">
                {{ form_row(form.lastname) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.position) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.phone) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.mobile) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.email) }}
            </div>
        </div>
        {{ form_widget(form.order) }}
        <div class="uk-margin-top">
            {{ form_rest(form) }}
        </div>
        <div class="uk-modal-footer">
            <a href="#" class="uk-button uk-modal-close">
                <i class="uk-icon-close"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern!
            </button>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="uk-alert">
            <i class="uk-icon-info"></i> Legen Sie zunächst einen Kontakt an.
        </div>
        <a href="{{ path('modules_contact_default_new') }}"
           class="uk-button uk-button-large uk-button-success uk-width-1-1">
            <i class="uk-icon-plus"></i>
            Kontakt anlegen
        </a>
    {% endif %}
</div>
<script>
    $(function () {
        $('#ajax-modal').find('form').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.post(form.attr('action'), form.serialize(), function (response) {
                if ($.isPlainObject(response)) {
                    window.location.href = response.redirect;
                } else {
                    $('#ajax-modal').html(response);
                    $('.select2').select2();
                }
            });
        });
    });
</script>