<b class="uk-text-large">Möchten Sie das Projekt <i
            class="uk-text-muted">{{ project.name }}</i> wirklich löschen?</b>
<div class="uk-modal-footer">
    <button class="uk-button uk-modal-close">
        <i class="uk-icon-close"></i>
        Abbrechen
    </button>
    <a href="{{ path("modules_project_project_delete", {"id":project.id}) }}"
       class="uk-button uk-button-danger uk-float-right">
        <i class="uk-icon-trash"></i>
        Löschen!
    </a>
</div>