{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-tasks"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_project_project_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader(project.name, null, buttons, breadcrumb) }}

    {{ form_start(edit_form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_project_project_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                {{ form_row(edit_form.name) }}
            </div>
            <div class="uk-width-1-3">
                {{ form_row(edit_form.categories) }}
            </div>

            <div class="uk-width-1-1">
                {{ form_row(edit_form.description) }}
            </div>

            <div class="uk-width-5-10">
                <label class="uk-form-label" for="form-">
                    <span class="show-if-all-day-selected">Von</span>
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.start) }}
                </div>
            </div>
            <div class="uk-width-5-10">
                <label class="uk-form-label" for="form-">Bis</label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.end) }}
                </div>
            </div>

            <div class="uk-width-medium-1-2">
                {{ form_row(edit_form.contact) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(edit_form.users) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.address) }}
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_project_project_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}