{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-tasks"></i> Projekte
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_project_project_new') }}" class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neues Projekt anlegen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="#"><i class="uk-icon-check-circle-o"></i> neues Ticket</a></li>
                    </ul>
                </div>

            </div>
        </div>
    {% endset %}
    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    {{ knp_pagination_sortable(pagination, columns['title'].label, 'title') }}
                </th>
                {% if columns['address'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['address'].label, 'address') }}
                    </th>
                {% endif %}
                {% if columns['time'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['time'].label, 'start') }}
                    </th>
                {% endif %}
                {% if columns['persons'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['persons'].label, 'persons') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['status'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['status'].label, 'status') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for project in pagination %}
                <tr>
                    <td class="uk-text-nowrap">
                        <a href="{{ path('modules_project_project_show', {'id': project.id}) }}">
                            {{ project.name }}
                        </a>
                    </td>
                    {% if columns['address'].active %}
                        <td class="uk-text-nowrap">
                            {% if project.address %}
                                <a href="http://maps.google.com/?q={{ project.address }}"
                                   target="_blank">{{ project.address }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['time'].active %}
                        <td class="uk-text-nowrap">
                            {{ project.start|date('d.m.Y') }}
                            {% if project.end %}
                                - {{ project.end|date('d.m.Y') }}<br>
                                {% set difference = date(project.end).diff(date(project.start)) %}
                                {% set leftDays = difference.days %}
                                <b>{{ leftDays }} Tag{% if leftDays > 1 %}e{% endif %}</b>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['persons'].active %}
                        <td class="uk-text-nowrap">
                            {% if project.users|length %}
                                <a href="{{ path('core_app_user_show', {'id': project.users|first.id}) }}">{{ project.users|first.username }}</a>
                                <br>
                                {% if project.users|length > 1 %}
                                    <span class="uk-text-success uk-text-small">
                                    {{ project.users|length -1 }}
                                        weitere{% if project.users|length -1 == 1 %}r{% endif %}
                                </span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td class="uk-text-nowrap">
                            {% if project.contact %}
                                <a href="{{ path('modules_contact_default_details', {'contact': project.contact.id}) }}">{{ project.contact }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['status'].active %}
                        <td class="uk-text-nowrap">
                            {{ mod_project_helper.getProjectStatus(project) }}
                        </td>
                    {% endif %}
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('modules_project_project_show', {'id': project.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Details">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('modules_project_project_edit', {'id': project.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a data-delete-id="{{ project.id }}"
                               class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
    <div class="uk-modal uk-text-left" id="delete-contact">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>

            <div id="delete-content"></div>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("[data-delete-id]").click(function () {
                if (Yono.session.user.hasRole('ROLE_PERM_DELETE_MODULES_PROJECTBUNDLE_ENTITY_PROJECT')) {
                    $.ajax({
                        url: Routing.generate("modules_project_project_renderdeletemodal", {"project": $(this).data('delete-id')}),
                        success: function (data) {
                            $('#delete-content').html(data)
                            var modal = UIkit.modal("#delete-contact");
                            modal.show();
                        }
                    })
                }
            })
        })
    </script>

{% endblock %}