{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-tasks"></i> Projekte
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_project_project_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('modules_project_project_edit', {'id': project.id}) }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a data-delete-id="{{ project.id }}"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>

        <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
        id="order-status-toggle">
        <button class="uk-button uk-button-small">
            <i class="uk-icon-check"></i>
            <i class="uk-icon-angle-down"></i>
        </button>
        <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
            <ul class="uk-nav uk-nav-dropdown uk-text-left">
                {% if project.status<2 %}
                    <li>
                        <a href="{{ path('modules_project_project_changestatus',{status:1,project:project.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status offen
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('modules_project_project_changestatus',{status:2,project:project.id}) }}"
                       id="open-toggle" class="uk-dropdown-close">
                        Status abgeschlossen
                    </a>
                </li>
            </ul>
        </div>
    {% endset %}
    {{ macros.pageHeader(project.name ~ ' - ' ~ mod_project_helper.getProjectStatus(project), null, buttons, breadcrumb) }}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid" data-uk-grid-margin>
            {% if project.contact %}
                <div class="uk-width-1-2 uk-text-large">
                    <i class="uk-icon-star"></i> Kontakt<br>
                    <a href="{{ path('modules_contact_default_details', {'contact': project.contact.id}) }}">{{ project.contact.name }}</a>
                </div>
            {% endif %}
            {% if project.users|length %}
                <div class="uk-width-1-2 uk-text-large">
                    <i class="uk-icon-star"></i> Benutzer<br>
                    {% for user in project.users %}
                        <a
                        href="{{ path('core_app_user_show', {'id': user.id}) }}">{{ user.username }}</a>{% if loop.index != project.users|length %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if project.start %}
                <div class="uk-width-1-2 uk-text-large">
                    <i class="uk-icon-clock-o"></i> Zeitraum<br>
                    <b>
                        {{ project.start|date('d.m.Y') }}
                        {% if project.end %}
                            - {{ project.end|date('d.m.Y') }}
                        {% endif %}
                    </b>
                </div>
            {% endif %}
            {% if project.address %}
                <div class="uk-width-1-2 uk-text-large">
                    <i class="uk-icon-map-marker"></i> Adresse<br>
                    <a href="https://maps.google.com/?q={{ project.address }}" target="_blank"
                       data-uk-tooltip title="Auf Google Maps öffnen">
                        {{ project.address }}
                    </a>
                </div>
            {% endif %}
            {% if project.description %}
                <div class="uk-width-1-1">
                    {{ project.description|raw }}
                </div>
            {% endif %}
        </div>
    </div>

    <h2 class="content-headline">
        Angebote
    </h2>

    <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Kunde
            </th>
            <th>
                Gesamtsumme
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if offers|length == 0 %}
            <tr>
                <td colspan="5" class="uk-text-center">
                    Diesem Projekt wurden bisher keine Aufträge zugeordnet.
                </td>
            </tr>
        {% else %}
            {% for offer in offers %}

                <tr>
                    <td>
                        {{ offer.title }}
                    </td>
                    <td>
                        {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                            <b><a href="{{ path('modules_contact_default_details', {'contact': offer.contact.id}) }}">{{ offer.contact.name }}</a></b>
                            <br>
                        {% else %}
                            {{ offer.contact.name }}
                            <br>
                        {% endif %}
                    </td>
                    <td>
                        {% if offer.calculation.specialPrice %}
                            {{ offer.calculation.specialPrice|number_format(2, ',', '.') }} €
                        {% elseif offer.calculation.finalPrice %}
                            {{ offer.calculation.finalPrice|number_format(2, ',', '.') }} €
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ mod_om_helper.getOfferStatus(offer) }}
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            {% if is_granted('VIEW', offer) %}
                                <a href="{{ path('modules_ordermanagement_offer_details', {'offer': offer.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', 'CREATE\\OrderManagementBundle\\Entity\\Orders') and  mod_om_helper.getOrderByOffer(offer) is empty %}
                                <a href="#modal-export-order-{{ offer.id }}" data-uk-modal
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Auftrag erstellen">
                                    <i class="uk-icon-bank"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', offer) %}
                                <a href="#modal-export-{{ offer.id }}" data-uk-modal
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Export">
                                    <i class="uk-icon-file-pdf-o"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', offer) and offer.status<2 %}
                                <a href="{{ path('modules_ordermanagement_offer_edit', {'offer': offer.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% include 'ModulesOrderManagementBundle:Offer:export-modal.html.twig' %}
                        {% include 'ModulesOrderManagementBundle:Offer:export-order-modal.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <h2 class="content-headline">
        Aufträge
    </h2>

    <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Kunde
            </th>
            <th>
                Gesamtsumme
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if orders|length == 0 %}
            <tr>
                <td colspan="5" class="uk-text-center">
                    Diesem Projekt wurden bisher keine Angebote zugeordnet.
                </td>
            </tr>
        {% else %}
            {% for order in orders %}

                <tr>
                    <td>
                        {{ order.title }}
                    </td>
                    <td>
                        {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                            <b><a href="{{ path('modules_contact_default_details', {'contact': order.contact.id}) }}">{{ order.contact.name }}</a></b>
                            <br>
                        {% else %}
                            {{ order.contact.name }}
                            <br>
                        {% endif %}
                    </td>

                    <td>
                        {% if order.calculation.specialPrice %}
                            {{ order.calculation.specialPrice|number_format(2, ',', '.') }} €
                        {% elseif order.calculation.finalPrice %}
                            {{ order.calculation.finalPrice|number_format(2, ',', '.') }} €
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ mod_om_helper.getOrdersStatus(order) }}
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            {% if is_granted('VIEW', order) %}
                                <a href="{{ path('modules_ordermanagement_order_details', {'order': order.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', 'CREATE\\OrderManagementBundle\\Entity\\JobTicket') %}
                                <a href="{{ path('modules_ordermanagement_jobticket_new',{order:order.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Jobticket anlegen">
                                    <i class="uk-icon-check-circle-o"></i>
                                </a>
                            {% endif %}
                            {#{% if is_granted('EDIT', order) %}#}
                            {#<a href="#modal-export-{{ order.id }}" data-uk-modal#}
                            {#class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">#}
                            {#<i class="uk-icon-file-pdf-o"></i>#}
                            {#</a>#}
                            {#{% endif %}#}
                            {% if is_granted('EDIT', order) and order.status<2 %}
                                <a href="{{ path('modules_ordermanagement_order_edit', {'order': order.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                        </div>
                        {#{% include 'ModulesOrderManagementBundle:Order:export-modal.html.twig' %}#}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <h2 class="content-headline">
        Jobtickets
    </h2>

    <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
        <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Mitarbeiter
            </th>
            <th>
                Status
            </th>
            <th>
                Zeit
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if jobTickets|length == 0 %}
            <tr>
                <td colspan="5" class="uk-text-center">
                    Diesem Projekt wurden bisher keine Jobtickets zugeordnet.
                </td>
            </tr>
        {% else %}
            {% for jobTicket in jobTickets %}

                <tr>
                    <td>
                        {{ jobTicket.title }}
                    </td>
                    <td>
                        {% if is_granted('VIEW', 'Modules\\TeamBundle\\Entity\\Member') %}
                            {% for member in jobTicket.members %}
                                <a href="{{ path('modules_team_member_details',{member:member.id}) }}">
                                    <p>{{ member.firstname }}  {{ member.lastname }}</p></a>
                            {% endfor %}
                        {% else %}
                            {% for member in jobTicket.members %}
                                    <p>{{ member.firstname }}  {{ member.lastname }}</p>
                            {% endfor %}
                        {% endif %}
                    </td>

                    <td>
                        {{ mod_om_helper.getJobTicketStatus(jobTicket) }}
                    </td>
                     <td>
                        {{ mod_timetrack_helper.getHoursForJobTicket(jobTicket) }}
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            {% if is_granted('VIEW', jobTicket) %}
                                <a href="{{ path('modules_ordermanagement_jobticket_details', {'jobTicket': jobTicket.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', jobTicket) and jobTicket.status<2 %}
                                <a href="{{ path('modules_ordermanagement_jobticket_edit', {'jobTicket': jobTicket.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>

                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div class="uk-modal uk-text-left" id="delete-contact">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>

            <div id="delete-content"></div>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("[data-delete-id]").click(function () {
                if (Yono.session.user.hasRole('ROLE_PERM_DELETE_MODULES_PROJECTBUNDLE_ENTITY_PROJECT')) {
                    $.ajax({
                        url: Routing.generate("modules_project_project_renderdeletemodal", {"project": $(this).data('delete-id')}),
                        success: function (data) {
                            $('#delete-content').html(data)
                            var modal = UIkit.modal("#delete-contact");
                            modal.show();
                        }
                    })
                }
            })
        })
    </script>

{% endblock %}