<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <small class="uk-text-muted">
            <i class="uk-icon-book"></i>
            Rechnung
        </small>
        <br>
        <a href="{{ path('modules_ordermanagement_invoice_details', {'invoice': invoice.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Ansehen">
            <i class="uk-icon-eye"></i>
        </a>
        <a href="{{ path('modules_ordermanagement_invoice_details', {'invoice': invoice.id}) }}">
            {{ invoice.title }} ({{ invoice.number }})
        </a>
    </h2>
    <div class="uk-grid uk-text-large uk-margin-small-top">
        <div class="uk-width-medium-1-3">
            <i class="uk-icon-user"></i>
            {{ invoice.contact }}
            {% if invoice.contactPerson %}
                <br/> {{ invoice.contactPerson }}
            {% endif %}
            {% if invoice.contactAddress %}
                <br/>{{ invoice.contactAddress }}
            {% endif %}
        </div>
        <div class="uk-width-medium-1-3">
            Status: {{ mod_om_helper.getInvoiceStatus(invoice) }}
        </div>
        <div class="uk-width-medium-1-3 uk-text-right">
            Gesamtsumme: {{ mod_om_helper.getInvoicePrice(invoice)|number_format(2, ',', '.') }} €
        </div>

    </div>
    {% if invoice.description %}
        {{ invoice.description|raw }}
    {% endif %}
</div>