<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <a href="{{ path('modules_ordermanagement_jobticket_details', {'jobTicket': jobticket.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted">
            <i class="uk-icon-ticket"></i>
            Jobticket
        </small>
        <br>

        <a href="{{ path('modules_ordermanagement_jobticket_details', {'jobTicket': jobticket.id}) }}">
            {{ jobticket.title }}
            <!-- Kategorien -->
        </a>
    </h2>
    {% if jobticket.description %}
        {{ jobticket.description|raw }}
    {% endif %}
</div>