<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <small class="uk-text-muted">
            <i class="uk-icon-tags"></i>
            Angebot
        </small>
        <br>
        <a href="{{ path('modules_ordermanagement_offer_details', {'offer': offer.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Ansehen">
            <i class="uk-icon-eye"></i>
        </a>
        <a href="{{ path('modules_ordermanagement_offer_details', {'offer': offer.id}) }}">
            {{ offer.title }} ({{ offer.number }})
        </a>
    </h2>
    <div class="uk-grid uk-text-large uk-margin-small-top">
        <div class="uk-width-medium-1-3">
            <i class="uk-icon-user"></i>
            {{ offer.contact }}
            {% if offer.contactPerson %}
                <br/>{{ offer.contactPerson }}
            {% endif %}
            {% if offer.contactAddress %}
                <br/>{{ offer.contactAddress }}
            {% endif %}
        </div>
        <div class="uk-width-medium-1-3">
            Status: {{ mod_om_helper.getOfferStatus(offer) }}
        </div>
        <div class="uk-width-medium-1-3 uk-text-right">
            Gesamtsumme: {{ offer.calculation.finalPrice|number_format(2, ',', '.') }} €
        </div>

    </div>
    {% if offer.description %}
        {{ offer.description|raw }}
    {% endif %}
</div>