<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <small class="uk-text-muted">
            <i class="uk-icon-book"></i>
            Auftrag
        </small>
        <br>
        <a href="{{ path('modules_ordermanagement_order_details', {'order': order.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Ansehen">
            <i class="uk-icon-eye"></i>
        </a>
        <a href="{{ path('modules_ordermanagement_order_details', {'order': order.id}) }}">
            {{ order.title }} ({{ order.number }})
        </a>
    </h2>
    <div class="uk-grid uk-text-large uk-margin-small-top">
        <div class="uk-width-medium-1-3">
            <i class="uk-icon-user"></i>
            {{ order.contact }}
            {% if order.contactPerson %}
                <br/> {{ order.contactPerson }}
            {% endif %}
            {% if order.contactAddress %}
                <br/>{{ order.contactAddress }}
            {% endif %}
        </div>
        <div class="uk-width-medium-1-3">
            Status: {{ mod_om_helper.getOrdersStatus(order) }}
        </div>
        <div class="uk-width-medium-1-3 uk-text-right">
            Gesamtsumme: {{ order.calculation.finalPrice|number_format(2, ',', '.') }} €
        </div>

    </div>
    {% if order.description %}
        {{ order.description|raw }}
    {% endif %}
</div>