<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <a href="{{ path('modules_ordermanagement_product_edit', {'product': product.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted">
            <i class="uk-icon-cubes"></i>
            Produkte
        </small>
        <br>

        <a href="{{ path('modules_ordermanagement_product_details', {'product': product.id}) }}">
            {{ product.title }}
            <!-- Kategorien -->
        </a>

        <span class="uk-float-right">
            {{ product.price(true) }}€ / {{ product.PriceTypeName }}
        </span>
    </h2>
    {% if product.description %}
        {{ product.description|raw }}
    {% endif %}
</div>