<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <small class="uk-text-muted">
            <i class="uk-icon-exclamation-triangle"></i>
            Mahnung
        </small>
        <br>

        <a href="{{ path('modules_ordermanagement_reminder_details', {'reminder': reminder}) }}">
            {{ reminder.number }}
        </a>
    </h2>
    {% if reminder.title %}
        {{ reminder.title|raw }}
    {% endif %}
</div>