<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <a href="{{ path('modules_ordermanagement_service_edit', {'service': service.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted">
            <i class="uk-icon-file-text-o"></i>
            Leistungen
        </small>
        <br>

        <a href="{{ path('modules_ordermanagement_service_details', {'service': service.id}) }}">
            {{ service.title }}
            <!-- Kategorien -->
        </a>

        <span class="uk-float-right">
            {{ service.price(true) }}€ / {{ service.PriceTypeName }}
        </span>
    </h2>
    {% if service.description %}
        {{ service.description|raw }}
    {% endif %}
</div>