{% extends '@CoreApp/base-login.html.twig' %}

{% block body %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle">

            <h1>
                <i class="uk-icon-warning"></i><br>
                Ein Fehler ist aufgetreten!
            </h1>
            <h2>{{ status_code }}: {{ status_text }}</h2>
            <a href="javascript:history.back();" class="uk-button uk-button-primary">
                <i class="uk-icon-angle-left"></i> zurück
            </a>
        </div>
    </div>
{% endblock %}