{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-check-circle-o"></i> Jobticket
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_ordermanagement_jobticket_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            {% if is_granted('EDIT', jobTicket) %}
                {% if jobTicket.status<2 %}
                    <a href="{{ path('modules_ordermanagement_jobticket_edit', {'jobTicket': jobTicket.id}) }}"
                       class="uk-button uk-button-small uk-button-primary"
                       data-uk-tooltip title="Bearbeiten">
                        <i class="uk-icon-pencil"></i>
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
             id="jobTicket-status-toggle">
            <button class="uk-button uk-button-small uk-button-primary">
                {{ mod_om_helper.getJobTicketStatus(jobTicket) }}
                <i class="uk-icon-angle-down"></i>
            </button>
            <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                <ul class="uk-nav uk-nav-dropdown uk-text-left">
                    <li>
                        <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:0,jobTicket:jobTicket.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status geplant
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:1,jobTicket:jobTicket.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status offen
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:2,jobTicket:jobTicket.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status in Arbeit
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:3,jobTicket:jobTicket.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status dringend
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:4,jobTicket:jobTicket.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status erledigt
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:5,jobTicket:jobTicket.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status archiviert
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endset %}
    {{ macros.pageHeader(jobTicket.title, null, buttons, breadcrumb, false) }}

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-grid-divider uk-text-large" data-uk-grid-margin>
            <div class="uk-width-2-3">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    {% if jobTicket.title %}
                        <div class="uk-width-1-3">Titel:</div>
                        <div class="uk-width-2-3">
                            {{ jobTicket.title }}
                        </div>
                    {% endif %}
                    {% if jobTicket.order %}
                        <div class="uk-width-1-3">Auftrag:</div>
                        <div class="uk-width-2-3">
                            {% if is_granted('VIEW',  'Modules\\OrderManagementBundle\\Entity\\Orders') %}
                                <a href="{{ path('modules_ordermanagement_order_details',{order:jobTicket.order.id}) }}">
                                    {{ jobTicket.order }}</a>
                            {% else %}
                                {{ jobTicket.order }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if jobTicket.project %}
                        <div class="uk-width-1-3">Projekt:</div>
                        <div class="uk-width-2-3">
                            {% if is_granted('VIEW',  'Modules\\ProjectBundle\\Entity\\Project') %}
                                <a href="{{ path('modules_project_project_show',{id:jobTicket.project.id}) }}">
                                    {{ jobTicket.project }}</a>
                            {% else %}
                                {{ jobTicket.project }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if jobTicket.contactPerson %}
                        <div class="uk-width-1-3">Ansprechpartner:</div>
                        <div class="uk-width-2-3">
                            {{ jobTicket.contactPerson }}
                        </div>
                    {% endif %}
                    {% if jobTicket.fixDate %}
                        <div class="uk-width-1-3">Fixes Datum:</div>
                        <div class="uk-width-2-3">
                            {{ jobTicket.fixDate|date('d.m.Y') }}
                        </div>
                    {% endif %}
                    {% if jobTicket.description %}
                        <div class="uk-width-1-3">Job Info:</div>
                        <div class="uk-width-2-3 uk-text-small">
                            {{ jobTicket.description|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-1-3">Status:</div>
                    <div class="uk-width-2-3">
                        {{ mod_om_helper.getJobTicketStatus(jobTicket) }}
                    </div>
                    <div class="uk-width-1-3">Mitarbeiter:</div>
                    <div class="uk-width-2-3">
                        {% if jobTicket.members %}
                            {% for member in jobTicket.members %}
                                <a href="{{ path('modules_team_member_details',{member:member.id}) }}">
                                    <p>{{ member.firstname }}  {{ member.lastname }}</p></a>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% if is_granted('EDIT', jobTicket) %}
        <h2 class="content-headline uk-margin-bottom-remove">
            <i class="uk-icon-clock-o"></i>
            Gebuchte Stunden
        </h2>
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>Start</th>
                <th>Stop</th>
                <th>Dauer</th>
                <th>User</th>
                <th>Kommentar</th>
            </tr>
            </thead>
            <tbody>
            {% set hoursTotal=0 %}
            {% set miniutesTotal=0 %}
            {% for timetrack in mod_timetrack_helper.getBookingsByJobTicket(jobTicket) %}
                <tr>


                    <td>{% if timetrack.start %}{{ timetrack.start|date('d.m.Y H:i') }}{% endif %}</td>
                    <td>{% if timetrack.stop %}{{ timetrack.stop|date('d.m.Y H:i') }}{% endif %}</td>

                    {% set difference = date(timetrack.start|date('Y/m/d H:i:s')).diff(date(timetrack.stop|date('Y/m/d H:i:s'))) %}

                    {% set minut=difference.i %}
                    {% if minut<10 %}{% set minut='0'~minut %}{% endif %}
                    {% set time = difference.h ~':'~ minut ~'' %}

                    {% set hoursTotal=hoursTotal+difference.h %}
                    {% set miniutesTotal=miniutesTotal+difference.i %}

                    <td>{{ time }}</td>
                    <td>{{ timetrack.user }}</td>
                    <td>{% if timetrack.break %}<b>Pause</b><br/>{% endif %}{{ timetrack.comment }}</td>
                </tr>
            {% endfor %}
            {% set plusHours=(miniutesTotal/60)|round(0,'floor') %}
            {% set hoursTotal=plusHours+hoursTotal %}
            {% set miniutesTotal=miniutesTotal-(plusHours*60) %}

            {% if miniutesTotal<10 %}{% set miniutesTotal='0'~miniutesTotal %}{% endif %}
            <tr>
                <td></td>
                <td class="uk-text-bold">Gesamt:</td>
                <td class="uk-text-bold">{{ hoursTotal }}:{{ miniutesTotal }}</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-edit"></i>
        Notizen
        <a href="#note-jobticket-{{ jobTicket.id }}"
           class="uk-button uk-button-success uk-button-small uk-float-right"
           data-uk-tooltip title="Notiz eintragen" data-uk-modal>
            <i class="uk-icon-plus"></i>
        </a></h2>
    {{ knp_pagination_render(pagination) }}
    <div class="bordered-container uk-margin-top">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                {% if columns['createdBy'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['createdBy'].label }}
                    </th>
                {% endif %}
                {% if columns['text'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['text'].label }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['createdAt'].label }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    {% if columns['createdBy'].active %}
                        <td class="uk-text-nowrap">
                            {% if item.createdBy.member %}
                                {{ item.createdBy.member.firstname }}  {{ item.createdBy.member.lastname }}
                            {% else %}
                                {{ item.createdBy }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['text'].active %}
                        <td>
                            {{ item.text }}
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ item.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('modules_ordermanagement_jobticket_notedelete',{jobTicketNote:item.id}) }}"
                           class="uk-button uk-button-danger uk-button-small"
                           data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Keine Einträge vorhanden.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
    {% include 'ModulesOrderManagementBundle:JobTicket:note-modal.html.twig' %}

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-file"></i>
        Dokumente
    </h2>
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% if app_helper.getDocumentsForEntity(jobTicket,jobTicket.id) %}
                {% for document in app_helper.getDocumentsForEntity(jobTicket,jobTicket.id) %}
                    <tr>
                        <td>
                            <a target="_blank"
                               href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="uk-text-center">
                        Keine Dokumente hinzugefügt
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}