{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Jobticket
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_ordermanagement_jobticket_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader(jobTicket.title, null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.title) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.contactPerson) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.order) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.members) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.description) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.fixDate) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.status) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.visible) }}
            </div>
        </div>
    </div>



    <h2 class="content-headline">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% for document in app_helper.getDocumentsForEntity(jobTicket,jobTicket.id) %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                    </td>
                    <td>
                        <span data-delete="{{ path('core_app_upload_deletedocument',{'document': document.id}) }}"
                              class="uk-button uk-button-small uk-button-danger deleteDocument"><i
                                    class="uk-icon-trash"></i></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="upload-drop" class="uk-placeholder">
        <div class="uk-text-center uk-text-large">
            <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
            Dateien hier hinziehen oder
            <a class="uk-form-file">Dateien aussuchen<input id="upload-select" type="file" multiple></a>.
        </div>
    </div>

    <div id="progressbar" class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width: 0%;">...</div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}

    <script>
        var $order = $('#job_ticket_order');

        $order.change(function () {

            var $form = $(this).closest('form');
            var data = {};
            var modal = UIkit.modal.blockUI("Bitte warten...");
            data[$order.attr('name')] = $order.val();

            $.ajax({
                url: '{{ path('modules_ordermanagement_jobticket_newajax') }}',
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    // Replace current position field ...

                    $('#job_ticket_contactPerson').next('.select2-container').remove();
                    $('#job_ticket_contactPerson').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#job_ticket_contactPerson')
                    );

                    $('#job_ticket_contactPerson').select2();
                    modal.hide()
                }
            });
        });
    </script>


    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script>
        $(function () {
            // upload documents
            var progressbar = $("#progressbar"),
                bar = progressbar.find('.uk-progress-bar'),
                settings = {
                    type: 'json',
                    action: '{{ path('core_app_upload_documentupload',{id: jobTicket.id,table: app_helper.getTableName(jobTicket)}) }}', // upload url
//                    allow : '*.(jpg|jpeg|gif|png)', // allow only images
                    loadstart: function () {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("uk-hidden");
                    },
                    progress: function (percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent + "%").text(percent + "%");
                    },
                    complete: function (response) {
                        $(response).each(function (i, file) {
                            console.log(file);
                            var row = '<tr><td>' +
                                    '<a href="' + file.download + '" target="_blank">' + file.name + '</a>' +
                                    '</td>' +
                                    '<td><span data-delete="' + file.pathDelete + '" class="uk-button uk-button-small uk-button-danger deleteDocument"><i class="uk-icon-trash"></i></span></td>' +
                                    '<tr/>'
                            $('#documents').prepend(row);
                        });
                    },
                    allcomplete: function (response) {
                        bar.css("width", "100%").text("100%");
                        setTimeout(function () {
                            progressbar.addClass("uk-hidden");
                        }, 250);
                    }
                };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                drop = UIkit.uploadDrop($("#upload-drop"), settings);

        });
    </script>
{% endblock %}