{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-check-circle-o"></i> Jobticktes
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\JobTicket') %}
            <a href="{{ path('modules_ordermanagement_jobticket_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neues Jobticket anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}

    {% set filter %}
        <button data-uk-toggle="{target:'#filter', animation:'uk-animation-slide-top'}"
                class="uk-button uk-button-primary uk-margin-right">
            <i class="uk-icon-filter"></i> Filter
        </button>
    {% endset %}

    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1,0,filter) }}

    <div class="uk-overflow-hidden uk-margin-bottom">
        <div class="uk-panel uk-panel-box uk-hidden" id="filter">
            <form action="{{ path('modules_ordermanagement_jobticket_index') }}" method="get"
                  class="uk-form uk-panel-body filterOverview">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Auftrag: </label><br>
                        <select size="1" name="order" class="select2 uk-width-1-1">
                            <option></option>
                            {% for order in mod_om_helper.getAllOrdersWithJobtickets() %}
                                <option {% if filterSettings.order is defined %} {% if filterSettings.order==order.id %}selected="selected"{% endif %}{% endif %}
                                        value="{{ order.id }}">{{ order.title }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Mitarbeiter: </label><br>
                        <select size="1" name="member" class="select2 uk-width-1-1">
                            <option></option>
                            {% for member in app_helper.getEntityManager.getRepository('ModulesTeamBundle:Member').findAll() %}
                                <option {% if filterSettings.member is defined %} {% if filterSettings.member==member.id %}selected="selected"{% endif %}{% endif %}
                                        value="{{ member.id }}">{{ member }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Status:</label><br>
                        <select size="1" name="status" class="select2 uk-width-1-1">
                            <option></option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==0 %}selected="selected"{% endif %}{% endif %}
                                    value="0">geplant
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==1 %}selected="selected"{% endif %}{% endif %}
                                    value="1">offen
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==2 %}selected="selected"{% endif %}{% endif %}
                                    value="2">in Arbeit
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==3 %}selected="selected"{% endif %}{% endif %}
                                    value="3">dringend
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==4 %}selected="selected"{% endif %}{% endif %}
                                    value="4">erledigt
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==5 %}selected="selected"{% endif %}{% endif %}
                                    value="5">archiviert
                            </option>
                        </select>

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">Geschäftsbereich: </label><br>
                        <select size="1" name="division" class="select2 uk-width-1-1">
                            <option></option>
                            {% for division in divisions %}
                                <option {% if filterSettings.division is defined %}{% if filterSettings.division==division.id %}selected="selected"{% endif %}{% endif %}
                                        value="{{ division.id }}">{{ division.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="uk-text-right uk-margin-top">
                         <span class="uk-button uk-button-danger resetFilter">
                            <i class="uk-icon-filter"></i>
                            Filter zurücksetzten
                        </span>
                    <button class="uk-button uk-button-primary">
                        <i class="uk-icon-filter"></i>
                        Filter anwenden
                    </button>
                </div>
            </form>
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Titel
                </th>
                {% if columns['order'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['order'].label, 'order') }}
                    </th>
                {% endif %}
                {% if columns['members'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['members'].label, 'members') }}
                    </th>
                {% endif %}
                {% if columns['createdBy'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['createdBy'].label, 'createdBy') }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['createdAt'].label, 'createdAt') }}
                    </th>
                {% endif %}
                {% if columns['updatedAt'].active %}
                    <th>{{ knp_pagination_sortable(pagination, columns['updatedAt'].label, 'updatedAt') }}</th>
                {% endif %}
                {% if columns['status'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['status'].label, 'status') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for jobTicket in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('modules_ordermanagement_jobticket_details', {'jobTicket': jobTicket.id}) }}">
                            {{ jobTicket.title|truncate }}
                        </a>
                    </td>
                    {% if columns['order'].active %}
                        <td>
                            {% if jobTicket.order %}
                                <a href="{{ path("modules_ordermanagement_order_details", {'order': jobTicket.order.id}) }}">
                                    {{ jobTicket.order }}
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['members'].active %}
                        <td>
                            {% for member in jobTicket.members|slice(0, 3) %}
                                {% if is_granted('CREATE', 'Modules\\TeamBundle\\Entity\\Member') %}
                                    <a href="{{ path('modules_team_member_details',{member:member.id}) }}">
                                        <p>{{ member.firstname }}  {{ member.lastname }}</p></a>
                                {% else %}
                                    <p>{{ member.firstname }}  {{ member.lastname }}</p>
                                {% endif %}
                            {% endfor %}
                            {% if jobTicket.members|length > 3 %}
                                <a href="{{ path('modules_ordermanagement_jobticket_details', {'jobTicket': jobTicket.id}) }}"
                                   class="uk-text-success uk-text-small">{{ jobTicket.members|length - 3 }}
                                    weitere</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['status'].active %}
                        <td>
                            <div class="uk-button-dropdown uk-button-small uk-width-1-1"
                                 data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                                 id="jobTicket-status-toggle" style="box-sizing: content-box;">
                                <button class="uk-button uk-button-small {% if jobTicket.status==3 %}uk-button-warning{% elseif jobTicket.status==4 %}uk-button-success{% else %}uk-button-primary{% endif %}">
                                    {{ mod_om_helper.getJobTicketStatus(jobTicket) }}
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                        <li>
                                            <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:0,jobTicket:jobTicket.id,index:1}) }}"
                                               id="open-toggle" class="uk-dropdown-close">
                                                Status geplant
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:1,jobTicket:jobTicket.id,index:1}) }}"
                                               id="open-toggle" class="uk-dropdown-close">
                                                Status offen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:2,jobTicket:jobTicket.id,index:1}) }}"
                                               id="open-toggle" class="uk-dropdown-close">
                                                Status in Arbeit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:3,jobTicket:jobTicket.id,index:1}) }}"
                                               id="open-toggle" class="uk-dropdown-close">
                                                Status dringend
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:4,jobTicket:jobTicket.id,index:1}) }}"
                                               id="open-toggle" class="uk-dropdown-close">
                                                Status erledigt
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_ordermanagement_jobticket_changestatus',{status:5,jobTicket:jobTicket.id,index:1}) }}"
                                               id="open-toggle" class="uk-dropdown-close">
                                                Status archiviert
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    {% endif %}

                    {% if columns['createdBy'].active %}
                        <td>
                            <a href="{{ path('core_app_user_show', {'id': jobTicket.createdBy.id}) }}">
                                {{ jobTicket.createdBy.username }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ jobTicket.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    {% if columns['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ jobTicket.updatedAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': jobTicket.updatedBy.id}) }}">{{ jobTicket.updatedBy.username }}</a></span>
                        </td>
                    {% endif %}
                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', jobTicket) %}
                                <a href="{{ path('modules_ordermanagement_jobticket_details', {'jobTicket': jobTicket.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', jobTicket) %}
                                <a href="{{ path('modules_ordermanagement_jobticket_edit', {'jobTicket': jobTicket.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', jobTicket) %}
                                <a href="#delete-jobTicket-{{ jobTicket.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% include 'ModulesOrderManagementBundle:JobTicket:delete-modal.html.twig' with {'deleteForm': deleteForms[jobTicket.id]} %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Jobticktes angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\JobTicket') %}
                            <a href="{{ path('modules_ordermanagement_jobticket_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neues Jobticket anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}

    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
{% endblock %}