{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Jobticket
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_ordermanagement_jobticket_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Jobticket', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.title) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.contactPerson) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.order) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.project) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.members) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.description) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.fixDate) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.status) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.visible) }}
            </div>
        </div>
    </div>

    {% if todo %}
        <input type="hidden" name="todo" value="{{ todo.id }}" />
    {% endif %}
    {% if event %}
        <input type="hidden" name="event" value="{{ event.id }}" />
    {% endif %}

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}

    <script>
        var $order = $('#job_ticket_order');

        $order.change(function () {

            var $form = $(this).closest('form');
            var data = {};
            var modal = UIkit.modal.blockUI("Bitte warten...");
            data[$order.attr('name')] = $order.val();

            $.ajax({
                url: '{{ path('modules_ordermanagement_jobticket_newajax') }}',
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    // Replace current position field ...

                    $('#job_ticket_contactPerson').next('.select2-container').remove();
                    $('#job_ticket_contactPerson').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#job_ticket_contactPerson')
                    );

                    $('#job_ticket_contactPerson').select2();
                    modal.hide()
                }
            });
        });
    </script>
{% endblock %}