{% if is_granted('EDIT', jobTicket) %}
    <div class="uk-modal uk-text-left" id="note-jobticket-{{ jobTicket.id }}">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-edit"></i>
                    Neue Notiz
                </h3>
            </div>
            <form action="{{ path('modules_ordermanagement_jobticket_note',{jobTicket:jobTicket.id}) }}" method="post">
                <label class="uk-form-label uk-text-large uk-text-bold" for="noteText">Text</label>
                <div class="uk-form-controls">
                    <textarea id="noteText" name="text" class="uk-width-1-1" rows="10"></textarea>
                </div>
                <div class="uk-modal-footer">
                    <a href="#" class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i>
                        Abbrechen
                    </a>
                    <button class="uk-button uk-button-success uk-float-right">
                        <i class="uk-icon-check"></i>
                        Speichern
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}