{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Team
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_team_category_new') }}"
           class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neue Abteilung anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Abteilungen', null, buttons, breadcrumb) }}

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>Abteilung</th>
                <th>Elternabteilung</th>
                <th>Menü</th>
                <th>Mitarbeiter</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>
                        {% if category.parent %}
                            {{ category.parent.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if category.showInMenu %}
                            <i class="uk-icon-check uk-text-success"></i>
                        {% else %}
                            <i class="uk-icon-ban uk-text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('modules_team_member_categoryindex', {'category': category.id}) }}"
                           class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="öffnen">
                            {{ mod_team_helper.memberCountForCategory(category) }}
                        </a>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('modules_team_category_edit', {'id': category.id}) }}"
                               class="uk-button uk-button-small uk-button-primary"
                               data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#delete-category-{{ category.id }}"
                               class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen"
                               data-uk-modal>
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>

                        <div id="delete-category-{{ category.id }}" class="uk-modal uk-text-left">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                <div class="uk-modal-header uk-modal-header-danger">
                                    <h3>
                                        <i class="uk-icon-warning"></i>
                                        Löschen bestätigen
                                    </h3>
                                </div>
                                <b class="uk-text-large">Möchten Sie diese Abteilung wirklich löschen?</b><br>
                                <br>
                                <span class="uk-text-large">
                                    {% if category.icon %}
                                        <i class="uk-icon-{{ category.icon }}"></i>
                                    {% endif %}
                                    {{ category.name }} <span
                                            class="uk-text-muted">(enhält {{ category.members|length }}
                                        Mitarbeiter)</span>
                                </span><br>
                                <br>
                                Was möchten Sie mit den Mitarbeitern in dieser Abteilung machen?<br>
                                <br>
                                {{ form_start(deleteForms[category.id]) }}
                                {{ form_widget(deleteForms[category.id].members_action) }}
                                <div class="uk-modal-footer">
                                    <a href="#" class="uk-button uk-modal-close">
                                        <i class="uk-icon-close"></i>
                                        Abbrechen
                                    </a>
                                    <button class="uk-button uk-button-danger uk-float-right">
                                        <i class="uk-icon-trash"></i>
                                        Löschen!
                                    </button>
                                </div>
                                {{ form_end(deleteForms[category.id]) }}
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Abteilungen angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\TeamBundle\\Entity\\Category') %}
                            <a href="{{ path('modules_team_category_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Abteilung anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}