{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include 'ModulesContactBundle:Default:detail_header.html.twig' %}

    <h2 class="content-headline">
        <i class="uk-icon-bank"></i> Rechnungen
    </h2>
    {{ knp_pagination_render(pagination) }}
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Nummer
                </th>
                <th class="uk-text-nowrap">
                    Titel
                </th>
                <th class="uk-text-nowrap">
                    Gesamtsumme
                </th>
                <th class="uk-text-nowrap">
                    Status
                </th>
                {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\Invoice') %}
                    <th class="uk-text-nowrap"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for invoice in pagination %}
                <tr>
                    <td class="uk-text-nowrap">
                        {{ invoice.number }}
                    </td>
                    <td class="uk-text-nowrap">
                        {{ invoice.title }}
                    </td>
                    <td class="uk-text-nowrap uk-text-right">
                        {{ invoice.calculation.finalPrice|number_format(2, ',', '.') }} €
                    </td>
                    <td class="{% if invoice.status==2 %}uk-text-danger{% endif %}{% if invoice.status==3 %}uk-text-success{% endif %}">
                        {{ mod_om_helper.getInvoiceStatus(invoice) }}
                    </td>
                    {% if is_granted('VIEW', invoice) %}
                        <td>
                            <a href="{{ path('modules_ordermanagement_invoice_details', {'invoice': invoice.id}) }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Rechnungen angelegt.<br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}