{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_inventory_index') }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_inventory_edit') }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="{{ path('kmui_inventory_new_plan') }}" class="uk-button uk-button-success uk-button-small"
               data-uk-tooltip title="Verwendung eintragen">
                <i class="uk-icon-plus"></i>
            </a>
            <a href="#" class="uk-button uk-button-danger uk-button-small"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Baustrahler', null, buttons, breadcrumb) }}

    <table class="uk-table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Mitarbeiter</th>
            <th>Projekt</th>
            <th>Anmerkung</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..10 %}
            <tr{% if i == 0 %} class="uk-text-large"{% endif %}>
                <td>
                    von 03.12.2016 11:00<br>
                    bis 04.12.2016 18:00
                </td>
                <td>
                    <a href="">Max Mustermann</a>
                </td>
                <td>
                    <a href="">In der Mark 1a</a>
                </td>
                <td>

                </td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                           title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}