{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_inventory_index') }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_inventory_detail') }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="Verwendung">
                <i class="uk-icon-calendar"></i>
            </a>
            <a href="#" class="uk-button uk-button-danger uk-button-small"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Hammer', 'wrench', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                <label class="uk-form-label" for="form-">Name</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="Name" value="Hammer" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-4">
                <label class="uk-form-label" for="form-">Kategorie</label>
                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Kategorie auswählen">
                        <option>Lieferanten</option>
                        <option selected="selected">Werkzeug</option>
                        <option>Material</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Bild</label>
                <div class="uk-form-controls uk-margin-bottom">
                    <div class="uk-form-file">
                        <button class="uk-button uk-button-large">
                            <i class="uk-icon-picture-o"></i>
                            Bild auswählen
                        </button>
                        <input type="file">
                    </div>
                </div>
                <a href="http://lorempixel.com/output/technics-q-c-640-480-4.jpg" data-uk-lightbox>
                    <img src="http://lorempixel.com/output/technics-q-c-320-240-4.jpg"/>
                </a>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_inventory_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_inventory_new', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}