{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {% set buttons %}

        <div class="uk-button-group">
            <a href="{{ path('kmui_inventory_new') }}" class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neues Arbeitsmittel anlegen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li>
                            <a href="{{ path('kmui_inventory_new_plan') }}" data-uk-modal class="uk-dropdown-close">
                                <i class="uk-icon-calendar"></i>
                                Neue Verwendung
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% endset %}
    {{ macros.pageHeader('Übersicht', 'dropbox', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Verfügbarkeit</th>
                <th>Mitarbeiter</th>
                <th>Projekt</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="http://lorempixel.com/output/technics-q-c-640-480-4.jpg" data-uk-lightbox>
                        <img src="http://lorempixel.com/40/40/technics/{{ random(10) }}"
                             class="uk-border-circle uk-float-left"/>
                    </a>
                    <div class="uk-float-left uk-margin-small-left">
                        Gerüst<br>
                        <span class="uk-text-muted">
                            <i class="uk-icon-wrench"></i>
                            Werkzeuge
                        </span>
                    </div>
                </td>
                <td><span class="uk-badge uk-badge-success">verfügbar</span></td>
                <td></td>
                <td></td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="{{ path('kmui_inventory_edit') }}" class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="{{ path('kmui_inventory_detail') }}"
                           class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Verwendung">
                            <i class="uk-icon-calendar"></i>
                        </a>
                        <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://lorempixel.com/output/technics-q-c-640-480-4.jpg" data-uk-lightbox>
                        <img src="http://lorempixel.com/40/40/technics/{{ random(10) }}"
                             class="uk-border-circle uk-float-left"/>
                    </a>
                    <div class="uk-float-left uk-margin-small-left">
                        Vorschlaghammer<br>
                        <span class="uk-text-muted">
                            <i class="uk-icon-wrench"></i>
                            Werkzeuge
                        </span>
                    </div>
                </td>
                <td>
                    <span class="uk-badge uk-badge-warning">in Verwendung</span><br>
                    <span class="uk-text-muted">bis morgen 15:00 Uhr</span>
                </td>
                <td><a href="#">Max Mustermann</a></td>
                <td><a href="">In der Mark 1a</a></td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="{{ path('kmui_inventory_edit') }}" class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="{{ path('kmui_inventory_detail') }}"
                           class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Verwendung">
                            <i class="uk-icon-calendar"></i>
                        </a>
                        <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://lorempixel.com/output/technics-q-c-640-480-4.jpg" data-uk-lightbox>
                        <img src="http://lorempixel.com/40/40/technics/{{ random(10) }}"
                             class="uk-border-circle uk-float-left"/>
                    </a>
                    <div class="uk-float-left uk-margin-small-left">
                        Wasserwaage<br>
                        <span class="uk-text-muted">
                            <i class="uk-icon-wrench"></i>
                            Werkzeuge
                        </span>
                    </div>
                </td>
                <td><span class="uk-badge uk-badge-danger">in Reparatur</span></td>
                <td></td>
                <td></td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="{{ path('kmui_inventory_edit') }}" class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="{{ path('kmui_inventory_detail') }}"
                           class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Verwendung">
                            <i class="uk-icon-calendar"></i>
                        </a>
                        <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% for i in 0..6 %}
                <tr>
                    <td>
                        <a href="http://lorempixel.com/output/technics-q-c-640-480-4.jpg" data-uk-lightbox>
                            <img src="http://lorempixel.com/40/40/technics/{{ random(10) }}"
                                 class="uk-border-circle uk-float-left"/>
                        </a>
                        <div class="uk-float-left uk-margin-small-left">
                            {{ random(['Leiter', 'Hammer', 'Schubkarre', 'Baustrahler', 'Säge']) }}<br>
                            <span class="uk-text-muted">
                                <i class="uk-icon-wrench"></i>
                                Werkzeuge
                            </span>
                        </div>
                    </td>
                    <td><span class="uk-badge uk-badge-success">verfügbar</span></td>
                    <td></td>
                    <td></td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_inventory_edit') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="{{ path('kmui_inventory_detail') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Verwendung">
                                <i class="uk-icon-calendar"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}