{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(document).on('change', '#from-date', function () {
                if ($('#to-date').val() == '') {
                    $('#to-date').val($('#from-date').val());
                }
            });

            $(document).on('change', '#from-time', function () {
                if ($('#to-time').val() == '') {
                    $('#to-time').val($('#from-time').val());
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar <i class="uk-icon-angle-right"></i> Baustrahler
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_inventory_index') }}" class="uk-button uk-button-primary uk-button-small"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neue Verwendung', 'calendar', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-3-10">
                <label class="uk-form-label" for="form-">Von</label>
                <div class="uk-form-controls">
                    <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" placeholder="Datum wählen"
                           class="uk-form-large uk-width-1-1" id="from-date"/>
                </div>
            </div>
            <div class="uk-width-2-10">
                <label class="uk-form-label" for="form-">&nbsp;</label>
                <div class="uk-form-controls">
                    <input type="text" data-uk-timepicker class="uk-form-large uk-width-1-1"
                           placeholder="Uhrzeit wählen" id="from-time"/>
                </div>
            </div>
            <div class="uk-width-3-10">
                <label class="uk-form-label" for="form-">Bis</label>
                <div class="uk-form-controls">
                    <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" placeholder="Datum wählen"
                           class="uk-form-large uk-width-1-1" id="to-date"/>
                </div>
            </div>
            <div class="uk-width-2-10">
                <label class="uk-form-label" for="form-">&nbsp;</label>
                <div class="uk-form-controls">
                    <input type="text" data-uk-timepicker class="uk-form-large uk-width-1-1"
                           placeholder="Uhrzeit wählen" id="to-time"/>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Mitarbeiter</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Mitarbeiter auswählen">
                        <option>Marc Weinhold</option>
                        <option>Max Mustermann</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Projekt</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Projekt auswählen">
                        <option></option>
                        <option>In der Mark 1a</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Verfügbarkeit</label>
                <div class="uk-form-controls">
                    <select class="uk-form-large uk-width-1-1">
                        <option>in Verwendung</option>
                        <option>in Reparatur</option>
                    </select>
                </div>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_inventory_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_inventory_new', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}