{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function formatState(state) {
            if (!state.id) {
                return state.text;
            }
            return $('<span><img src="http://lorempixel.com/50/50/technics/8" class="img-flag" /> ' + state.text + '</span>');
        }

        $(function () {
            $('#search-inventory').find('select').select2({
                templateResult: formatState,
                templateSelection: formatState
            });

            $(document).on('change', '#search-inventory select', function () {
                if ($(this).val()) {
                    $('#inventory-plan-form').removeClass('uk-hidden');
                    $(window).resize();
                    $('.search-select').select2();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {{ macros.pageHeader('Arbeitsmittel Suche', 'search', null, breadcrumb) }}

    <form class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1" id="search-inventory">
                <select class="uk-form-large uk-width-1-1" data-placeholder="Arbeitsmittel suchen">
                    <option></option>
                    <option>Hammer (verfügbar)</option>
                    <option>Schubkarre (in Verwendung)</option>
                    <option>Baustrahler (verfügbar)</option>
                    <option>Leiter (in Reparatur)</option>
                    <option>Säge (verfügbar)</option>
                    <option>...</option>
                </select>
            </div>
            <div class="uk-width-1-1 uk-hidden" id="inventory-plan-form">
                <div class="uk-grid uk-grid-small uk-animation-fade" data-uk-grid-margin>
                    <div class="uk-width-3-10">
                        <label class="uk-form-label" for="form-">Von</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" placeholder="Datum wählen"
                                   class="uk-form-large uk-width-1-1" id="from-date"/>
                        </div>
                    </div>
                    <div class="uk-width-2-10">
                        <label class="uk-form-label" for="form-">&nbsp;</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-timepicker class="uk-form-large uk-width-1-1"
                                   placeholder="Uhrzeit wählen" id="from-time"/>
                        </div>
                    </div>
                    <div class="uk-width-3-10">
                        <label class="uk-form-label" for="form-">Bis</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" placeholder="Datum wählen"
                                   class="uk-form-large uk-width-1-1" id="to-date"/>
                        </div>
                    </div>
                    <div class="uk-width-2-10">
                        <label class="uk-form-label" for="form-">&nbsp;</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-timepicker class="uk-form-large uk-width-1-1"
                                   placeholder="Uhrzeit wählen" id="to-time"/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-form-label" for="form-">Mitarbeiter</label>

                        <div class="uk-form-controls">
                            <select class="search-select uk-form-large uk-width-1-1"
                                    data-placeholder="Mitarbeiter auswählen">
                                <option>Marc Weinhold</option>
                                <option>Max Mustermann</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-form-label" for="form-">Projekt</label>

                        <div class="uk-form-controls">
                            <select class="search-select uk-form-large uk-width-1-1"
                                    data-placeholder="Projekt auswählen">
                                <option></option>
                                <option>In der Mark 1a</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-form-label" for="form-">Verfügbarkeit</label>
                        <div class="uk-form-controls">
                            <select class="uk-form-large uk-width-1-1">
                                <option>in Verwendung</option>
                                <option>in Reparatur</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <a href="{{ path('kmui_inventory_detail') }}" class="uk-button">
                            <i class="uk-icon-times"></i>
                            Abbrechen
                        </a>
                        <a href="{{ path('kmui_inventory_new_plan', {'saved': 1}) }}"
                           class="uk-button uk-button-success uk-float-right">
                            <i class="uk-icon-check"></i>
                            Speichern
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}