<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">{# TODO: Category Bridge #}
        <a href="{{ path('modules_calendar_event_edit', {'id': event.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted">
            <i class="uk-icon-{{ calendar_helper.eventIcon(event) }}"></i>
            Termin
        </small>
        <br>
        <span class="uk-border-rounded"
              style="display: inline-block; width: 15px; height: 15px; background: {{ calendar_helper.eventColor(event) }};"></span>
        <a href="{{ path('modules_calendar_default_index_redirect', {'redirectDate': event.start|date('Y-m-d')}) }}">
            {{ event.name }}
            <span class="uk-text-muted">({{ event.start|date('d.m.Y H:i') }} Uhr)</span>
        </a>
    </h2>
    {% if event.text %}
        {{ event.text|raw }}
    {% endif %}
    {% if event.contact %}
        <a href="{{ path('modules_contact_default_details', {'contact': event.contact.id}) }}"
           class="uk-button uk-button-small uk-button-primary">
            <i class="uk-icon-briefcase"></i>
            {{ event.contact.name }}
        </a>
    {% endif %}
    {% if event.project %}
        <a href="#" class="uk-button uk-button-small uk-button-primary">
            <i class="uk-icon-university"></i>
            {{ event.project.name }}
        </a>
    {% endif %}
    {% if event.address %}
        <a href="http://maps.google.com/?q={{ event.address }}"
           class="uk-button uk-button-small uk-button-primary" target="_blank">
            <i class="uk-icon-map-marker"></i>
            {{ event.address }}
        </a>
    {% endif %}
</div>