{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\InventoryBundle\\Entity\\Category') %}
            <a href="{{ path('modules_inventory_category_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue Kategorie anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader('Kategorien', null, buttons, breadcrumb) }}

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Elternkategorie</th>
                <th>Menü</th>
                <th>Arbeitsmittel</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>
                        {% if category.parent %}
                            {{ category.parent.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if category.showInMenu %}
                            <i class="uk-icon-check uk-text-success"></i>
                        {% else %}
                            <i class="uk-icon-ban uk-text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('modules_inventory_item_categoryindex', {'category': category.id}) }}"
                           class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="öffnen">
                            {{ mod_inventory_helper.itemCountForCategory(category) }}
                        </a>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            {% if is_granted('EDIT',category) %}
                                <a href="{{ path('modules_inventory_category_edit', {'id': category.id}) }}"
                                   class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE',category) %}
                                <a href="#delete-category-{{ category.id }}"
                                   class="uk-button uk-button-small uk-button-danger"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>

                        <div id="delete-category-{{ category.id }}" class="uk-modal uk-text-left">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                <div class="uk-modal-header uk-modal-header-danger">
                                    <h3>
                                        <i class="uk-icon-warning"></i>
                                        Löschen bestätigen
                                    </h3>
                                </div>
                                <b class="uk-text-large">Möchten Sie diese Kategorie wirklich löschen?</b><br>
                                <br>
                                <span class="uk-text-large">
                                    {% if category.icon %}
                                        <i class="uk-icon-{{ category.icon }}"></i>
                                    {% endif %}
                                    {{ category.name }}
                                    <span class="uk-text-muted">
                                        (enhält {{ category.items|length }} Arbeitsmittel)
                                    </span>
                                </span><br>
                                <br>
                                Was möchten Sie mit den Arbeitsmitteln in dieser Kategorie machen?<br>
                                <br>
                                {{ form_start(deleteForms[category.id]) }}
                                {{ form_widget(deleteForms[category.id].items_action) }}
                                <div class="uk-modal-footer">
                                    <a href="#" class="uk-button uk-modal-close">
                                        <i class="uk-icon-close"></i>
                                        Abbrechen
                                    </a>
                                    <button class="uk-button uk-button-danger uk-float-right">
                                        <i class="uk-icon-trash"></i>
                                        Löschen!
                                    </button>
                                </div>
                                {{ form_end(deleteForms[category.id]) }}
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Kategorien angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\InventoryBundle\\Entity\\Category') %}
                            <a href="{{ path('modules_inventory_category_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Kategorie anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}