{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_inventory_category_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neue Kategorie', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.parent) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.showInMenu) }}
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-1 uk-margin-top">
        <a href="{{ path('modules_inventory_category_index') }}" class="uk-button">
            <i class="uk-icon-times"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-check"></i>
            Speichern
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}