{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% include 'ModulesOrderManagementBundle:Credit:export-modal.html.twig' %}

    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Gutschrift
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_ordermanagement_credit_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            {% if is_granted('EDIT', invoice) and (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
                <a href="#modal-export-invoice-{{ invoice.id }}" data-uk-modal
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                    <i class="uk-icon-file-pdf-o"></i>
                </a>
                {% if invoice.status<1 %}
                    <a href="{{ path('modules_ordermanagement_credit_edit', {'credit': invoice.id}) }}"
                       class="uk-button uk-button-small uk-button-primary"
                       data-uk-tooltip title="Bearbeiten">
                        <i class="uk-icon-pencil"></i>
                    </a>
                {% endif %}
            {% endif %}

            {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Invoice') and  (app.user.contact!=null) %}
                <a href="{{ path('modules_ordermanagement_credit_export',{direct:invoice.id}) }}"
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                    <i class="uk-icon-file-pdf-o"></i>
                </a>
            {% endif %}

        </div>

        {% if ((app.user.contact==null or is_granted('ROLE_ADMIN'))) %}
            <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                 id="invoice-status-toggle">
                <button class="uk-button uk-button-small  {% if invoice.status==7 %}uk-button-danger{% elseif invoice.status==3 %}uk-button-success{% else %}uk-button-primary{% endif %}">
                    {{ mod_om_helper.getInvoiceStatus(invoice) }}
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        {% if invoice.status<3 %}
                            <li>
                                <a href="{{ path('modules_ordermanagement_credit_changestatus',{status:1,credit:invoice.id}) }}"
                                   id="open-toggle" class="uk-dropdown-close">
                                    Status offen
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('modules_ordermanagement_credit_changestatus',{status:8,credit:invoice.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status storniert
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('modules_ordermanagement_credit_changestatus',{status:3,credit:invoice.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status bezahlt
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        {% endif %}
    {% endset %}
    {% set stateColor='' %}
    {% if invoice.status==2 %} {% set stateColor='uk-text-danger' %}{% endif %}{% if invoice.status==3 %}{% set stateColor='uk-text-success' %} {% endif %}

    {{ macros.pageHeader(invoice.title, null, buttons, breadcrumb, false) }}

    {% set totalPrice=mod_om_helper.getInvoicePrice(invoice) %}

    {% set invoicePositions=mod_om_helper.getInvoicePositions(invoice) %}

    {% set specialPrice=0 %}

    {% for position in invoicePositions %}
        {% if position.calculation.specialPrice %}
            {% set specialPrice=specialPrice+position.calculation.specialPrice %}
        {% endif %}
    {% endfor %}

    {% set totalTax=0 %}

    {% set priceSum=0 %}

    {% for item in calaculationItems %}
        {% if item.service %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.service.tax)/100) %}
        {% endif %}
        {% if item.product %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.product.tax)/100) %}

        {% endif %}
        {% if item.freeText %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.freeTax)/100) %}
        {% endif %}
        {% if item.specialprice %}
            {% set priceSum=priceSum+item.specialprice %}
        {% else %}
            {% set priceSum=priceSum+price %}
        {% endif %}
    {% endfor %}

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-grid-divider uk-text-large" data-uk-grid-margin>
            <div class="uk-width-medium-6-10">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    {% if invoice.title %}
                        <div class="uk-width-1-3">Titel:</div>
                        <div class="uk-width-2-3">
                            {{ invoice.title }}
                        </div>
                    {% endif %}
                    {% if invoice.printDate %}
                        <div class="uk-width-1-3">Datum:</div>
                        <div class="uk-width-2-3">
                            {{ invoice.printDate|date('d.m.Y') }}
                        </div>
                    {% endif %}
                    <div class="uk-width-1-3">Status:</div>
                    <div class="uk-width-2-3">
                        {{ mod_om_helper.getInvoiceStatus(invoice) }}
                    </div>
                    <div class="uk-width-1-3">Nummer:</div>
                    <div class="uk-width-2-3">
                        {{ invoice.number }}
                    </div>
                    {% if invoice.project %}
                        <div class="uk-width-1-3">Projekt:</div>
                        <div class="uk-width-2-3">
                            {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                                <a href="{{ path('modules_project_project_show',{id:invoice.project.id}) }}">{{ invoice.project }}</a>
                            {% else %}
                                {{ invoice.project }}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if invoice.description %}
                        <div class="uk-width-1-3">Beschreibung:</div>
                        <div class="uk-width-2-3 uk-text-small">
                            {{ invoice.description|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-medium-4-10">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-2-3 uk-text-bold">Zwischensumme:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if specialPrice %}
                            {{ (specialPrice-((totalPrice*19)/100))|number_format(2, ',', '.') }} €
                        {% else %}
                            {{ (priceSum)|number_format(2, ',', '.') }} €
                        {% endif %}

                    </div>

                    <div class="uk-width-2-3 uk-text-bold">Nettosumme:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {{ (priceSum)|number_format(2, ',', '.') }} €
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">+ MwSt.:</div>
                    <div class="uk-width-1-3 uk-text-right">

                        {% for position in invoicePositions %}
                            {% if position.calculation.netto %}
                                0 € <br/>
                                <small>(Netto Gutschrift)</small>
                            {% else %}
                                {{ (((priceSum)*19)/100)|number_format(2, ',', '.') }} €
                            {% endif %}
                        {% endfor %}

                    </div>

                    <div class="uk-width-1-1">
                        <hr/>
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">Bruttobetrag:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if specialPrice %}
                            {{ specialPrice|number_format(2, ',', '.') }} €
                            <small>(Sonderpreis)</small>
                        {% else %}
                            {{ totalPrice|number_format(2, ',', '.') }} €
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

    </div>
    <h2 class="content-headline">
        <i class="uk-icon-user"></i> Kunde
    </h2>
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
            {% if invoice.contact %}
                <div class="uk-width-1-3">Kunde:</div>
                <div class="uk-width-2-3">
                    {{ invoice.contact }} {% if invoice.contact.discount and  mod_om_helper.invoiceDiscountCheck(invoice) %}
                        <small>(Kundenrabatt: {{ invoice.contact.discount }} %)</small>{% endif %}
                </div>
            {% endif %}
            {% if invoice.contactAddress %}
                <div class="uk-width-1-3">Adresse:</div>
                <div class="uk-width-2-3">
                    <a href="http://maps.google.com/?q={{ invoice.contactAddress }}"
                       target="_blank">
                        {{ invoice.contactAddress }}
                    </a>

                </div>
            {% endif %}
            {% if invoice.contactPerson %}
                <div class="uk-width-1-3">Ansprechpartner:</div>
                <div class="uk-width-2-3">
                    <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            {% if invoice.contactPerson.salutation %}
                                {{ invoice.contactPerson.salutation }}
                            {% endif %}
                            {% if invoice.contactPerson.firstname %}
                                {{ invoice.contactPerson.firstname }}
                            {% endif %}
                            {% if invoice.contactPerson.lastname %}
                                {{ invoice.contactPerson.lastname }}
                            {% endif %}
                            {% if invoice.contactPerson.position %}
                                ({{ invoice.contactPerson.position }})
                            {% endif %}
                        </div>
                        {% if invoice.contactPerson.phone %}
                            <div class="uk-width-1-1">
                                {{ invoice.contactPerson.phone }}
                            </div>
                        {% endif %}
                        {% if invoice.contactPerson.mobile %}
                            <div class="uk-width-1-1">
                                {{ invoice.contactPerson.mobile }}
                            </div>
                        {% endif %}
                        {% if invoice.contactPerson.email %}
                            <div class="uk-width-1-1">
                                <a href="mailto:{{ invoice.contactPerson.email }}">{{ invoice.contactPerson.email }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <h2 class="content-headline">
        <i class="uk-icon-shopping-basket"></i> Gutschriftpositionen
    </h2>
    <div class="bordered-container uk-margin-top uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Position
                </th>
                <th class="uk-text-nowrap">
                    Artikel
                </th>

                <th class="uk-text-nowrap">
                    Menge
                </th>

                <th class="uk-text-nowrap">
                    Einzelpreis
                </th>

                <th class="uk-text-nowrap">
                    MwSt.
                </th>
                <th class="uk-text-nowrap">
                    Gesamtpreis
                </th>
                <th class="uk-text-nowrap">
                    Sonderpreis
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in calaculationItems %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="uk-text-nowrap">
                        {% if item.service %}
                            {{ item.service.title }}
                        {% endif %}
                        {% if item.product %}
                            {{ item.product.title }}
                        {% endif %}
                        {% if item.freeText %}
                            {{ item.freeText }}
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        {{ item.amount }}
                        {% if item.service %}
                            {{ mod_om_helper.getServicePriceType(item.service.id) }}
                        {% endif %}
                        {% if item.product %}
                            {{ mod_om_helper.getProductPriceType(item.product.id) }}
                        {% endif %}
                        {% if item.freePriceType %}
                            {{ item.freePriceType }}
                        {% endif %}
                    </td>

                    <td class="uk-text-nowrap uk-text-right">
                        {{ (item.singlePrice)|replace(',','.')|number_format(2, ',', '.') }} €
                    </td>

                    <td class="uk-text-nowrap uk-text-right">
                        {% if item.service %}
                            {{ item.service.tax }} %
                        {% endif %}
                        {% if item.product %}
                            {{ item.product.tax }} %
                        {% endif %}
                        {% if item.freeText %}
                            {{ item.freeTax }} %
                        {% endif %}
                    </td>

                    <td class="uk-text-nowrap uk-text-right">
                        {{ (item.singlePrice *  item.amount)|replace(',','.')|number_format(2, ',', '.') }} €
                    </td>

                    <td class="uk-text-nowrap  uk-text-right">
                        {% if item.specialPrice %}
                            {{ item.specialPrice|number_format(2, ',', '.') }} €
                        {% else %}
                            -
                        {% endif %}
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Keine Einträge vorhanden.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="content-headline">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% if app_helper.getDocumentsForEntity(invoice,invoice.id) %}
                {% for document in app_helper.getDocumentsForEntity(invoice,invoice.id) %}
                    <tr>
                        <td>
                            <a target="_blank"
                               href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="uk-text-center">
                        Keine Dokumente hinzugefügt
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}