{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Gutschrift
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Invoice') and (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('modules_ordermanagement_credit_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue Gutschrift anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}

    {% set filter %}
        <button data-uk-toggle="{target:'#filter', animation:'uk-animation-slide-top'}"
                class="uk-button uk-button-primary uk-margin-right">
            <i class="uk-icon-filter"></i> Filter
        </button>
    {% endset %}


    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1,0,filter) }}


    <div class="uk-overflow-hidden uk-margin-bottom">
        <div class="uk-panel uk-panel-box uk-hidden" id="filter">
            <form action="{{ path('modules_ordermanagement_credit_index') }}" method="get"
                  class="uk-form uk-panel-body filterOverview">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Von:</label><br>
                                <input type="text" name="start"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.start is defined %}{{ filterSettings.start }}{% endif %}">

                            </div>
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Bis: </label><br>
                                <input type="text" name="stop"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.stop is defined %}{{ filterSettings.stop }}{% endif %}">

                            </div>
                        </div>
                    </div>
                    {% if (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">
                                Kunde: </label><br>
                            <select size="1" name="contact" class="select2 uk-width-1-1">
                                <option></option>
                                {% for contact in app_helper.getEntityManager.getRepository('ModulesContactBundle:Contact').findAll() %}
                                    <option {% if filterSettings.contact is defined %} {% if filterSettings.contact==contact.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ contact.id }}">{{ contact.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">
                                Status:</label><br>
                            <select size="1" name="status" class="select2 uk-width-1-1">
                                <option value="">Alle</option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status=='0' %}selected="selected"{% endif %}{% endif %}
                                        value="0">vorbereitet
                                </option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status==1 %}selected="selected"{% endif %}{% endif %}
                                        value="1">offen
                                </option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status==3 %}selected="selected"{% endif %}{% endif %}
                                        value="3">bezahlt
                                </option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status==8 %}selected="selected"{% endif %}{% endif %}
                                        value="8">stoniert
                                </option>
                            </select>

                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">Geschäftsbereich: </label><br>
                            <select size="1" name="division" class="select2 uk-width-1-1">
                                <option value="">Alle</option>
                                {% for division in divisions %}
                                    <option {% if filterSettings.division is defined %} {% if filterSettings.division==division.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ division.id }}">{{ division.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
                <div class="uk-text-right uk-margin-top">
                     <span class="uk-button uk-button-danger resetFilter">
                            <i class="uk-icon-filter"></i>
                            Filter zurücksetzten
                        </span>
                    <button class="uk-button uk-button-primary">
                        <i class="uk-icon-filter"></i>
                        Filter anwenden
                    </button>
                </div>
            </form>
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                {% if columns['number'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['number'].label, 'id') }}
                    </th>
                {% endif %}
                {% if columns['title'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Titel', 'title') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['project'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['project'].label, 'project') }}
                    </th>
                {% endif %}
                {% if columns['totalPrice'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['totalPrice'].label, 'totalPrice') }}
                    </th>
                {% endif %}
                {% if columns['status'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['status'].label, 'status') }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdAt'].label, 'createdAt') }}
                    </th>
                {% endif %}
                {% if columns['updatedAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['updatedAt'].label, 'updatedAt') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in pagination %}
                <tr>
                    {% if columns['number'].active %}
                        <td>
                            {{ invoice.number }}
                        </td>
                    {% endif %}
                    {% if columns['title'].active %}
                        <td>
                            <a href="{{ path('modules_ordermanagement_credit_details', {'credit': invoice.id}) }}">
                                {{ invoice.title }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td>
                            {% if invoice.contact %}
                                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                    <b><a href="{{ path('modules_contact_default_details', {'contact': invoice.contact.id}) }}">{{ invoice.contact.name }}</a></b>
                                    <br>
                                {% else %}
                                    {{ invoice.contact.name }}
                                    <br>
                                {% endif %}
                                {% if  invoice.contactAddress.id is defined %}
                                    <small>
                                        <i class="uk-icon-map-marker"></i> <a
                                                href="http://maps.google.com/?q={{ invoice.contactAddress }}"
                                                data-uk-tooltip
                                                title="{{ invoice.contactAddress }}"
                                                target="_blank">
                                            {{ invoice.contactAddress|truncate }}
                                        </a>
                                    </small>
                                    <br/>
                                {% endif %}
                                {% if  invoice.contactPerson.id is defined %}
                                    <div id="modal-person-{{ invoice.contactPerson.id }}" class="uk-modal">
                                        <div class="uk-modal-dialog">
                                            <a class="uk-modal-close uk-close"></a>
                                            <div class="uk-modal-header">
                                                <h3>
                                                    <i class="uk-icon-user"></i> {{ [invoice.contactPerson.salutation, invoice.contactPerson.firstname, invoice.contactPerson.lastname]|join(' ') }}
                                                </h3>
                                            </div>
                                            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                                {% if invoice.contactPerson.position %}
                                                    <div class="uk-width-1-2"><b>Position:</b></div>
                                                    <div class="uk-width-1-2">{{ invoice.contactPerson.position }}</div>
                                                {% endif %}
                                                {% if invoice.contactPerson.phone %}
                                                    <div class="uk-width-1-2"><b>Telefonnummer:</b></div>
                                                    <div class="uk-width-1-2">{{ invoice.contactPerson.phone }}</div>
                                                {% endif %}
                                                {% if invoice.contactPerson.mobile %}
                                                    <div class="uk-width-1-2"><b>Handynummer:</b></div>
                                                    <div class="uk-width-1-2">{{ invoice.contactPerson.mobile }}</div>
                                                {% endif %}
                                                {% if invoice.contactPerson.email %}
                                                    <div class="uk-width-1-2"><b>E-Mail:</b></div>
                                                    <div class="uk-width-1-2"><a
                                                                href="mailto:{{ invoice.contactPerson.email }}">{{ invoice.contactPerson.email }}</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <small>
                                        <i class="uk-icon-user"></i>
                                        <a href="#modal-person-{{ invoice.contactPerson.id }}"
                                           data-uk-tooltip title="{{ invoice.contactPerson }}"
                                           data-uk-modal>
                                            {{ invoice.contactPerson|truncate }}
                                        </a>
                                    </small>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['project'].active %}
                        <td>
                            {% if invoice.project %}
                                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                                    <a href="{{ path('modules_project_project_show', {'id': invoice.project.id}) }}">{{ invoice.project.name }}</a>
                                    <br>
                                {% else %}
                                    {{ invoice.project.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if columns['totalPrice'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {% if invoice.credit==1 %}-{% endif %}{{ mod_om_helper.getInvoicePrice(invoice)|number_format(2, ',', '.') }}
                        </td>
                    {% endif %}

                    {% if columns['status'].active %}
                        <td>
                            {% if ((app.user.contact==null or is_granted('ROLE_ADMIN')) or is_granted('ROLE_ADMIN')) %}
                                <div class="uk-button-dropdown uk-button-small uk-width-1-1"
                                     data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                                     id="invoice-status-toggle" style="box-sizing: content-box;">
                                    <button class="uk-button uk-button-small {% if invoice.status==7 %}uk-button-danger{% elseif invoice.status==3 %}uk-button-success{% else %}uk-button-primary{% endif %}">
                                        {{ mod_om_helper.getInvoiceStatus(invoice) }}
                                        <i class="uk-icon-angle-down"></i>
                                    </button>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                                        <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                            {% if invoice.status<3 %}
                                                <li>
                                                    <a href="{{ path('modules_ordermanagement_credit_changestatus',{status:1,credit:invoice.id,index:1}) }}"
                                                       id="open-toggle" class="uk-dropdown-close">
                                                        Status offen
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{{ path('modules_ordermanagement_credit_changestatus',{status:8,credit:invoice.id,index:1}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status storniert
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('modules_ordermanagement_credit_changestatus',{status:3,credit:invoice.id,index:1}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status bezahlt
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <button class="uk-button uk-button-small {% if invoice.status==7 %}uk-button-danger{% elseif invoice.status==3 %}uk-button-success{% else %}uk-button-primary{% endif %}">
                                    {{ mod_om_helper.getInvoiceStatus(invoice) }}
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ invoice.createdAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': invoice.createdBy.id}) }}">{{ invoice.createdBy.username }}</a></span>
                        </td>
                    {% endif %}
                    {% if columns['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ invoice.updatedAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': invoice.updatedBy.id}) }}">{{ invoice.updatedBy.username }}</a></span>
                        </td>
                    {% endif %}
                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', invoice) %}
                                <a href="{{ path('modules_ordermanagement_credit_details', {'credit': invoice.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', invoice) and (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
                                <a href="#modal-export-invoice-{{ invoice.id }}" data-uk-modal
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                                    <i class="uk-icon-file-pdf-o"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', invoice) and invoice.status<2 and (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
                                <a href="{{ path('modules_ordermanagement_credit_edit', {'credit': invoice.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', invoice) and invoice.status<2 and (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
                                <a href="#delete-invoice-{{ invoice.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% include 'ModulesOrderManagementBundle:Credit:export-modal.html.twig' %}
                        {% include 'ModulesOrderManagementBundle:Invoice:delete-modal.html.twig' with {'deleteForm': deleteForms[invoice.id]} %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Gutschriften angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Invoice') and (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('modules_ordermanagement_credit_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Gutschriften anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% set summe=0 %}
    {% for invoice in credits %}
        {% set invoiceSum=mod_om_helper.getInvoicePrice(invoice) %}
        {% if invoice.credit==1 %}
            {% set summe=summe-invoiceSum %}
        {% else %}
            {% set summe=invoiceSum+summe %}
        {% endif %}
    {% endfor %}

    <div class="uk-panel uk-panel-box">
        <div class="uk-panel-body">
            <div class="uk-grid">
                <div class="uk-width-medium-1-3">
                    <b>Zeitraum: </b>
                    {% if credits %}
                        {% if filterSettings.start is defined %}{% if filterSettings.start %}{{ filterSettings.start }}{% else %}{{ credits[0].createdAt|date('d.m.Y') }}{% endif %}{% else %}{{ credits[0].createdAt|date('d.m.Y') }}{% endif %}
                        -
                        {% if filterSettings.stop is defined %}{% if filterSettings.stop %}{{ filterSettings.stop }}{% else %}{{ 'now'|date('d.m.Y') }}{% endif %}{% else %}{{ 'now'|date('d.m.Y') }}{% endif %}
                    {% endif %}
                </div>
                <div class="uk-width-medium-1-3">
                    <b>Ergebnisse: </b> {{ credits|length }}
                </div>
                <div class="uk-width-medium-1-3">
                    <b>Gesamtsumme: </b> {{ summe|number_format(2, ',', '.') }} €
                </div>
            </div>

        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
{% endblock %}