{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set buttons %}
        <div class="uk-button-group">
            <button class="uk-button uk-button-small uk-button-primary"
                    data-uk-toggle="{target:'#filter', animation:'uk-animation-slide-top'}"
                    data-uk-tooltip title="Filter">
                <i class="uk-icon-filter"></i>
            </button>
            <a href="{{ path('kmui_timetrack_new') }}" class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neuer Eintrag">
                <i class="uk-icon-plus"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Zeiterfassung', 'clock-o', buttons, null, 1) }}

    <div class="uk-overflow-hidden uk-margin-bottom">
        <div class="uk-panel uk-panel-box uk-hidden" id="filter">
            <form class="uk-form uk-panel-body">
                <form action="" method="post" class="uk-form">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-3">
                            <div class="uk-button-group uk-margin-bottom" data-uk-button-radio>
                                <a href="#" class="uk-button">komplett</a>
                                <a href="#" class="uk-button">heute</a>
                                <a href="#" class="uk-button">Woche</a>
                                <a href="#" class="uk-button">Monat</a>
                            </div>
                            <br>
                            <label>
                                Von:<br>
                                <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" class="uk-width-1-1">
                            </label><br>
                            <label>
                                Bis:<br>
                                <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" class="uk-width-1-1">
                            </label><br>
                            <label>
                                Kommentar:<br>
                                <input type="text" class="uk-width-1-1">
                            </label>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label>
                                Benutzer:<br>
                                <select size="3" multiple class="uk-width-1-1">
                                    <option></option>
                                    {% for user in app_helper.getEntityManager.getRepository('CoreAppBundle:User').findAll() %}
                                        <option>{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </label><br>
                            <label>
                                Rolle:<br>
                                <select size="3" multiple class="uk-width-1-1">
                                    <option></option>
                                    <option>Administrator</option>
                                    <option>Mitarbeiter</option>
                                    <option>Kunden</option>
                                </select>
                            </label>
                        </div>
                        {% if app_helper.isActiveModule('projects') %}
                            <div class="uk-width-medium-1-3">
                                <label>
                                    Projekt:<br>
                                    <select size="3" multiple class="uk-width-1-1">
                                        <option></option>
                                        {% for user in app_helper.getEntityManager.getRepository('CoreAppBundle:User').findAll() %}
                                            <option>{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </label><br>
                                <label>
                                    Ticket:<br>
                                    <select size="3" multiple class="uk-width-1-1">
                                        <option></option>
                                        <option>#1438 Reparatur</option>
                                        <option>#1489 Lorem</option>
                                        <option>#1568 Ipsum</option>
                                    </select>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    <div class="uk-text-right uk-margin-top">
                        <button class="uk-button uk-button-primary">
                            <i class="uk-icon-filter"></i>
                            Filter anwenden
                        </button>
                    </div>
                </form>
            </form>
        </div>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Benutzer</th>
                {% if app_helper.isActiveModule('projects') %}
                    <th>Projekt</th>
                {% endif %}
                {% if app_helper.isActiveModule('tickets') %}
                    <th>Ticket</th>
                {% endif %}
                <th>Zeitraum</th>
                <th>Kommentar</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..9 %}
                <tr>
                    <td>
                        <a href="{{ path('kmui_profile') }}">Max Mustermann</a>
                    </td>
                    <td>
                        <a href="{{ path('kmui_project_detail') }}">In der Mark 1a</a>
                    </td>
                    <td>
                        <a href="{{ path('kmui_ticket_index') }}">Tapezieren</a>
                    </td>
                    <td>
                        12.09.2016 9:35 - 12:45 Uhr<br>
                        <b>3 Std. 10 Min.</b>
                    </td>
                    <td>
                        ...
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                               title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="uk-text-large">
                    <b>Gesamt:<br>
                        31 Std. 40 Min.</b>
                </th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}
