{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-clock-o"></i> Zeiterfassung
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_timetrack_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Eintrag', null, buttons, breadcrumb) }}
{% endblock %}
