{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: '350',
            content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
        });

        $(function () {
            $(document).on('click', '.offer-add-template-row', function () {
                var template = $('#offer-grid-row-template').clone();
                template.removeClass('uk-hidden').removeClass('uk-row-first').addClass('uk-grid-margin');
                $('#offer-grid').append(template);
            });

            $(document).on('click', '.offer-add-template-column', function () {
                var template = $('#offer-grid-row-template').find('#panel-template').clone();
                $('#offer-grid').find('.offer-grid-row:last-child').find('.uk-grid > .uk-width-9-10 > .uk-grid > .uk-width-1-1').removeClass('uk-width-1-1').addClass('uk-width-1-2');
                template.removeClass('uk-width-1-1').addClass('uk-width-1-2');
                $('#offer-grid').find('.offer-grid-row:last-child').find('.uk-grid > .uk-width-9-10 > .uk-grid').append(template);

            });

            $(document).on('click', '.offer-add-editor', function () {
                var template = $('#offer-grid-row-template').clone();
                template.removeClass('uk-hidden').removeClass('uk-row-first').addClass('uk-grid-margin');
                template.find('.uk-panel > .uk-grid').html('<div class="uk-width-1-1"><textarea class="tinymce"></textarea></div>');
                template.find('.uk-button-group.uk-position-top-right').find('.uk-button:nth-child(2)').addClass('uk-button-success');
                template.find('.uk-button-group.uk-position-top-right').find('.uk-button:nth-child(2)').find('i').removeClass('uk-icon-pencil').addClass('uk-icon-check');
                $('#offer-grid').append(template);
                tinymce.init({
                    selector: '.tinymce',
                    height: '200',
                    content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
                });
            });

            var progressbar = $("#progressbar"),
                bar = progressbar.find('.uk-progress-bar'),
                settings = {

                    action: '/', // upload url

                    allow: '*.(jpg|jpeg|gif|png)', // allow only images

                    loadstart: function () {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("uk-hidden");
                    },

                    progress: function (percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent + "%").text(percent + "%");
                    },

                    allcomplete: function (response) {

                        bar.css("width", "100%").text("100%");

                        setTimeout(function () {
                            progressbar.addClass("uk-hidden");
                        }, 250);

                        alert("Upload Completed")
                    }
                };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                drop = UIkit.uploadDrop($("#upload-drop"), settings);

            $(document).on('click', '#add-new-section', function () {

            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
    <style>
        .uk-panel .uk-button-group.uk-position-top-right {
            opacity: 0.3;
            transition: opacity 0.3s;
        }

        .uk-panel:hover .uk-button-group.uk-position-top-right {
            opacity: 1;
        }

        .uk-panel .uk-button-group.uk-position-top-right :first-child {
            border-top-left-radius: 0;
        }

        .uk-panel .uk-button-group.uk-position-top-right :last-child {
            border-bottom-right-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
        <i class="uk-icon-angle-right"></i>
        Aufträge
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_order_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Auftrag', 'edit', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <label class="uk-form-label" for="form-">Titel</label>

        <div class="uk-form-controls">
            <input type="text" placeholder="Titel" class="uk-form-large uk-width-1-1"/>
        </div>

        <div class="uk-grid uk-margin-small-top">
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="form-">Kunde</label>

                <div class="uk-form-controls">
                    <select class="uk-form-large uk-width-1-1 select2">
                        <option>Müller GmbH</option>
                        <option>Beispiel KG</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="form-">Projekt</label>

                <div class="uk-form-controls">
                    <select class="uk-form-large uk-width-1-1 select2">
                        <option>In der Mark 1a</option>
                        <option>Aachener Grund Große Str. 56</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="uk-grid uk-grid-small uk-margin-top" id="offer-grid" data-uk-grid-margin>
            <div class="uk-width-1-1 offer-grid-row uk-hidden" id="offer-grid-row-template">
                <div class="uk-grid">
                    <div class="uk-width-9-10">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-1" id="panel-template">
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-button-group uk-position-top-right" style="z-index: 1;">
                                        <a href="#" class="uk-button uk-button-small uk-button-primary">
                                            <i class="uk-icon-arrows"></i>
                                        </a>
                                        <a href="#" class="uk-button uk-button-small uk-button-primary">
                                            <i class="uk-icon-pencil"></i>
                                        </a>
                                        <a href="#" class="uk-button uk-button-small uk-button-danger">
                                            <i class="uk-icon-trash"></i>
                                        </a>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-1-2">
                                            <b>Müller GmbH</b><br>
                                            Straße 123<br>
                                            49074 Osnabrück
                                        </div>
                                        <div class="uk-width-1-2 uk-text-right">
                                            <br><br>
                                            <b>Datum:</b> {% verbatim %}{{ Datum }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-10 uk-flex uk-flex-center uk-flex-middle">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-success"
                               data-uk-tooltip title="Element hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                            <div data-uk-dropdown="{mode:'click'}">
                                <a href="#" class="uk-button uk-button-small uk-button-success"
                                   data-uk-tooltip title="Element aus Vorlage">
                                    <i class="uk-icon-angle-down"></i>
                                </a>

                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li>
                                            <a href="#add-element-column" data-uk-modal class="uk-dropdown-close">
                                                <i class="uk-icon-paint-brush"></i>
                                                Vorlage auswählen
                                            </a>
                                        </li>
                                        <li class="uk-nav-header">zuletzt verwendet</li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 1</a></li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 2</a></li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 3</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 offer-grid-row">
                <div class="uk-grid">
                    <div class="uk-width-9-10">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-1">
                                <div class="uk-panel uk-panel-box" id="panel-template">
                                    <div class="uk-button-group uk-position-top-right">
                                        <a href="#" class="uk-button uk-button-small uk-button-primary">
                                            <i class="uk-icon-arrows"></i>
                                        </a>
                                        <a href="#" class="uk-button uk-button-small uk-button-primary">
                                            <i class="uk-icon-pencil"></i>
                                        </a>
                                        <a href="#" class="uk-button uk-button-small uk-button-danger">
                                            <i class="uk-icon-trash"></i>
                                        </a>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-1-2">
                                            <b>Müller GmbH</b><br>
                                            Straße 123<br>
                                            49074 Osnabrück
                                        </div>
                                        <div class="uk-width-1-2 uk-text-right">
                                            <br><br>
                                            <b>Datum:</b> {% verbatim %}{{ Datum }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-10 uk-flex uk-flex-center uk-flex-middle">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-success"
                               data-uk-tooltip title="Element in dieser<br>Zeile hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                            <div data-uk-dropdown="{mode:'click'}">
                                <a href="#" class="uk-button uk-button-small uk-button-success"
                                   data-uk-tooltip title="Element aus Vorlage">
                                    <i class="uk-icon-angle-down"></i>
                                </a>

                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li>
                                            <a href="#add-element-column" data-uk-modal class="uk-dropdown-close">
                                                <i class="uk-icon-paint-brush"></i>
                                                Vorlage auswählen
                                            </a>
                                        </li>
                                        <li class="uk-nav-header">zuletzt verwendet</li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 1</a></li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 2</a></li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 3</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 offer-grid-row">
                <div class="uk-grid">
                    <div class="uk-width-9-10">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-1">
                                <div class="uk-panel uk-panel-box uk-panel-box-primary">
                                    <div class="uk-button-group uk-position-top-right">
                                        <a href="#" class="uk-button uk-button-small uk-button-primary">
                                            <i class="uk-icon-arrows"></i>
                                        </a>
                                        <a href="#" class="uk-button uk-button-small uk-button-danger">
                                            <i class="uk-icon-trash"></i>
                                        </a>
                                    </div>
                                    <div class="uk-text-center">
                                        {% verbatim %}{{ Leistungen }}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-10 uk-flex uk-flex-center uk-flex-middle">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-success"
                               data-uk-tooltip title="Element in dieser<br>Zeile hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                            <div data-uk-dropdown="{mode:'click'}">
                                <a href="#" class="uk-button uk-button-small uk-button-success"
                                   data-uk-tooltip title="Element aus Vorlage">
                                    <i class="uk-icon-angle-down"></i>
                                </a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li>
                                            <a href="#add-element" data-uk-modal class="uk-dropdown-close">
                                                <i class="uk-icon-paint-brush"></i>
                                                Vorlage auswählen
                                            </a>
                                        </li>
                                        <li class="uk-nav-header">zuletzt verwendet</li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 1</a></li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 2</a></li>
                                        <li><a href="{{ path('kmui_offer_new') }}">Vorlage 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid uk-grid-small">
            <div class="uk-width-9-10 uk-flex uk-flex-center">
                <div class="uk-button-group">
                    <a href="#" class="uk-button uk-button-small uk-button-success offer-add-editor"
                       data-uk-tooltip title="Element in neuer<br>Zeile hinzufügen">
                        <i class="uk-icon-plus"></i>
                    </a>
                    <div data-uk-dropdown="{mode:'click'}">
                        <a href="#" class="uk-button uk-button-small uk-button-success"
                           data-uk-tooltip title="Element aus Vorlage">
                            <i class="uk-icon-angle-down"></i>
                        </a>

                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a href="#add-element" data-uk-modal class="uk-dropdown-close">
                                        <i class="uk-icon-paint-brush"></i>
                                        Vorlage auswählen
                                    </a>
                                </li>
                                <li class="uk-nav-header">zuletzt verwendet</li>
                                <li><a href="{{ path('kmui_offer_new') }}">Vorlage 1</a></li>
                                <li><a href="{{ path('kmui_offer_new') }}">Vorlage 2</a></li>
                                <li><a href="{{ path('kmui_offer_new') }}">Vorlage 3</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="uk-width-1-10"></div>
        </div>

        <h2 class="content-headline uk-margin-large-top">
            Leistungen
            <a href="#add-item" data-uk-modal class="uk-button uk-button-small uk-button-success uk-float-right"
               data-uk-tooltip title="Leistung hinzufügen">
                <i class="uk-icon-plus"></i>
            </a>
        </h2>

        <form class="uk-form">
            <table class="uk-table uk-margin-remove">
                <tr>
                    <td></td>
                    <td>Anzahl</td>
                    <td>Einheit</td>
                    <td>Leistung</td>
                    <td>MwSt.</td>
                    <td>Einzelpreis</td>
                    <td>Gesamtpreis</td>
                    <td></td>
                </tr>
                {% for i in 0..4 %}
                    <tr>
                        <td><i class="uk-icon-arrows uk-text-muted"></i></td>
                        <td><input type="number" value="130" class="uk-form-width-small"/></td>
                        <td>
                            <select>
                                <option>qm</option>
                                <option>Std.</option>
                                <option>Stk.</option>
                            </select>
                        </td>
                        <td class="uk-text-large">
                            Sonstige Arbeiten<br>
                            <small>Wände 2 x streichen</small>
                        </td>
                        <td>
                            <select>
                                <option>19 %</option>
                                <option>16 %</option>
                            </select>
                        </td>
                        <td><input type="text" value="5,50" class="uk-form-width-small"/> €</td>
                        <td><input type="text" value="786,50" class="uk-form-width-small"/> €</td>
                        <td class="uk-text-right">
                            <div class="uk-button-group">
                                <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                                <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                                   title="Löschen">
                                    <i class="uk-icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="8" class="uk-text-right">
                        Gesamt: 3932,50 €
                    </th>
                </tr>
            </table>
        </form>

        <h2 class="content-headline">Dokumente</h2>

        <table class="uk-table uk-margin-remove">
            {% for i in 0..1 %}
                <tr>
                    <td style="width: 25px;"><i class="uk-icon-arrows uk-text-muted"></i></td>
                    <td>
                        <i class="uk-icon-file-pdf-o"></i>
                        Anlage {{ i + 1 }}
                        <span class="uk-text-muted uk-text-right">({{ (i + 1) * 321 }} KB)</span>
                    </td>
                    <td class="uk-text-right" style="width: 30px;">
                        <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="upload-drop" class="uk-placeholder">
            <div class="uk-text-center uk-text-large">
                <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
                Dateien hier hinziehen oder <a class="uk-form-file">Dateien aussuchen<input id="upload-select"
                                                                                            type="file"></a>.
            </div>
        </div>

        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">...</div>
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-1-1">
                <a href="{{ path('kmui_order_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_order_new', {'saved': 1}) }}" class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>


    {# Modals #}

    <div id="add-element" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-paint-brush"></i>
                    Vorlage auswählen
                </h3>
            </div>
            <form class="uk-search uk-overflow-hidden" data-uk-search>
                <input class="uk-search-field" type="search" placeholder="">
            </form>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..5 %}
                    <tr>
                        <td>Vorlage 1</td>
                        <td class="uk-text-right">
                            <a href="#"
                               class="uk-button uk-button-small uk-button-success offer-add-template-row uk-modal-close"
                               data-uk-tooltip title="hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
            </div>
        </div>
    </div>

    <div id="add-element-column" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-paint-brush"></i>
                    Vorlage auswählen
                </h3>
            </div>
            <form class="uk-search uk-overflow-hidden" data-uk-search>
                <input class="uk-search-field" type="search" placeholder="">
            </form>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..5 %}
                    <tr>
                        <td>Vorlage 1</td>
                        <td class="uk-text-right">
                            <a href="#"
                               class="uk-button uk-button-small uk-button-success offer-add-template-column uk-modal-close"
                               data-uk-tooltip title="hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
            </div>
        </div>
    </div>

    <div id="add-item" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-paint-brush"></i>
                    Leistung hinzufügen
                </h3>
            </div>
            <form class="uk-search uk-overflow-hidden" data-uk-search>
                <input class="uk-search-field" type="search" placeholder="">
            </form>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..5 %}
                    <tr>
                        <td>Leistung 1</td>
                        <td class="uk-text-right">
                            <a href="#" class="uk-button uk-button-small uk-button-success"
                               data-uk-tooltip title="hinizufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
            </div>
        </div>
    </div>
{% endblock %}