{% set currentUse = mod_inventory_helper.currentUse(item) %}

<div class="uk-modal uk-text-left" id="delete-item-{{ item.id }}">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header uk-modal-header-danger">
            <h3>
                <i class="uk-icon-warning"></i>
                Löschen bestätigen
            </h3>
        </div>
        <b class="uk-text-large">Möchten Sie das Arbeitsmittel <i class="uk-text-muted">{{ item.name }}</i> wirklich
            löschen?</b><br>

        {% if currentUse %}
            <div class="uk-alert uk-alert-danger uk-margin-top">Das Arbeitsmittel ist aktuell
                <b>in {% if currentUse.status == constant('STATUS_IN_USE', currentUse) %}Verwendung{% elseif currentUse.status == constant('STATUS_IN_REPAIR', currentUse) %}Reparatur{% endif %}</b>!
            </div>
        {% endif %}

        <div class="uk-alert uk-alert-danger uk-margin-top">Alle Verwendungen werden ebenfalls gelöscht!</div>

        {{ form_start(deleteForm) }}
        <div class="uk-modal-footer">
            <a href="#" class="uk-button uk-modal-close">
                <i class="uk-icon-close"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-danger uk-float-right">
                <i class="uk-icon-trash"></i>
                Löschen!
            </button>
        </div>
        {{ form_end(deleteForm) }}
    </div>
</div>