{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% if category %}
    {% set listPath = path('modules_inventory_item_categoryindex', {'category': category.id}) %}
    {% set showPath = path('modules_inventory_item_show_1', {'item': item.id, 'category': category.id}) %}
{% else %}
    {% set listPath = path('modules_inventory_item_index') %}
    {% set showPath = path('modules_inventory_item_show', {'item': item.id}) %}
{% endif %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
        {% if category %}
            <i class="uk-icon-angle-right"></i> {{ category.name }}
        {% endif %}
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ listPath }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ showPath }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="Details">
                <i class="uk-icon-eye"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader(item.name, null, buttons, breadcrumb) }}

    {{ form_start(edit_form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-4">
                {{ form_row(edit_form.name) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.itemNumber) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.categories) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.text) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(edit_form.image) }}
                <img src="/{{ item.imagePath }}" style="max-width: 100%;" alt="" class="uk-margin-small-top"/>
            </div>
            <div class="uk-width-medium-1-2 uk-text-right">
                {{ form_row(edit_form.defect) }}
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}