{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_inventory_item_new_1', {'category': category.id}) }}"
           class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neues Arbeitsmittel anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader(category.name, category.icon ?: null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th></th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                {% if columns['status'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['status'].label, 'status') }}
                    </th>
                {% endif %}
                {% if columns['text'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['text'].label, 'text') }}
                    </th>
                {% endif %}
                {% if columns['member'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['member'].label, 'member') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['project'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['project'].label, 'project') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                {% set currentUse = mod_inventory_helper.currentUse(item) %}
                <tr>
                    <td>
                        {% if item.imagePath %}
                            <a href="/{{ item.imagePath }}" data-uk-lightbox>
                                <div class="uk-border-circle uk-float-left"
                                     style="width: 50px; height: 50px; background: url('/{{ item.thumbPath }}') center center; background-size: cover;">
                                </div>
                            </a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        <div class="uk-float-left uk-margin-small-left">
                            <a href="{{ path('modules_inventory_item_show_1', {'item': item.id, 'category': category.id}) }}">
                                {{ item.name }}
                            </a>
                            {% if item.itemNumber %}
                                <br>
                                <small class="uk-text-muted">{{ item.itemNumber|truncate(25) }}</small>
                            {% endif %}
                        </div>
                    </td>
                    {% if columns['status'].active %}
                        <td class="uk-text-nowrap">
                            {% if item.defect %}
                                <span class="uk-badge uk-badge-danger">defekt</span>
                            {% else %}
                                {% if currentUse %}
                                    {% if currentUse.status == constant('STATUS_IN_USE', currentUse) %}
                                        <span class="uk-badge uk-badge-warning">in Verwendung</span>
                                    {% elseif currentUse.status == constant('STATUS_IN_REPAIR', currentUse) %}
                                        <span class="uk-badge uk-badge-danger">in Reparatur</span>
                                    {% endif %}
                                    <div class="uk-text-muted uk-text-small" style="line-height: 14px;">
                                        von {{ currentUse.start|date('d.m.Y H:i') }}<br>
                                        bis {{ currentUse.end|date('d.m.Y H:i') }}
                                    </div>
                                {% else %}
                                    <span class="uk-badge uk-badge-success">verfügbar</span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['text'].active %}
                        <td>
                            <div class="uk-text-small"><i>{{ item.text|striptags|truncate(250, 1)|raw }}</i></div>
                        </td>
                    {% endif %}
                    {% if columns['member'].active %}
                        <td>
                            {% if currentUse and currentUse.member %}
                                <a href="{{ path('modules_team_member_details', {'member': currentUse.member.id}) }}">{{ currentUse.member }}</a>
                                <br>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td>
                            {% if currentUse and currentUse.contact %}
                                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                    <a href="{{ path('modules_contact_default_details', {'contact': currentUse.contact.id}) }}">{{ currentUse.contact.name }}</a>
                                {% else %}
                                    {{ currentUse.contact.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['project'].active %}
                        <td>
                            {% if currentUse and currentUse.project %}
                                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                                    <a href="{{ path('modules_project_project_show', {'id': currentUse.project.id}) }}">{{ currentUse.project.name }}</a>
                                {% else %}
                                    {{ currentUse.project.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('modules_inventory_item_edit_1', {'item': item.id, 'category': category.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="{{ path('modules_inventory_item_show_1', {'item': item.id, 'category': category.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Details">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="#delete-item-{{ item.id }}" class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen"
                               data-uk-modal>
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>

                        <div class="uk-modal uk-text-left" id="delete-item-{{ item.id }}">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                <div class="uk-modal-header uk-modal-header-danger">
                                    <h3>
                                        <i class="uk-icon-warning"></i>
                                        Löschen bestätigen
                                    </h3>
                                </div>
                                <b class="uk-text-large">Möchten Sie dieses Arbeitsmittel wirklich löschen?</b><br>
                                <div class="uk-text-muted uk-text-large uk-margin-top">{{ item.name }}</div>
                                <div class="uk-text-danger uk-margin-top">Alle Verwendungen werden ebenfalls gelöscht!
                                </div>
                                {{ form_start(deleteForms[item.id]) }}
                                <div class="uk-modal-footer">
                                    <a href="#" class="uk-button uk-modal-close">
                                        <i class="uk-icon-close"></i>
                                        Abbrechen
                                    </a>
                                    <button class="uk-button uk-button-danger uk-float-right">
                                        <i class="uk-icon-trash"></i>
                                        Löschen!
                                    </button>
                                </div>
                                {{ form_end(deleteForms[item.id]) }}
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Arbeitsmittel in dieser Kategorie angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\InventoryBundle\\Entity\\Item') %}
                            <a href="{{ path('modules_inventory_item_new_1', {'category': category.id}) }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neues Arbeitsmittel anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}