{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
        {% if category %}
            <i class="uk-icon-angle-right"></i>
            {% if category.icon %}
                <i class="uk-icon-{{ category.icon }}"></i> {{ category.name }}
            {% endif %}
        {% endif %}
    {% endset %}
    {% set buttons %}
        {% if category %}
            {% set listPath = path('modules_inventory_item_categoryindex', {'category': category.id}) %}
        {% else %}
            {% set listPath = path('modules_inventory_item_index') %}
        {% endif %}
        <a href="{{ listPath }}" class="uk-button uk-button-primary uk-button-small"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Arbeitsmittel', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-4">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.itemNumber) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.categories) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.text) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.image) }}
            </div>
            <div class="uk-width-medium-1-2 uk-text-right">
                {{ form_row(form.defect) }}
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}