{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% if category %}
    {% set listPath = path('modules_inventory_item_categoryindex', {'category': category.id}) %}
    {% set editPath = path('modules_inventory_item_edit_1', {'item': item.id, 'category': category.id}) %}
    {% set newUsePath = path('modules_inventory_itemuse_new_1', {'item': item.id, 'category': category.id}) %}
{% else %}
    {% set listPath = path('modules_inventory_item_index') %}
    {% set editPath = path('modules_inventory_item_edit', {'item': item.id}) %}
    {% set newUsePath = path('modules_inventory_itemuse_new', {'item': item.id}) %}
{% endif %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
        {% if category %}
            <i class="uk-icon-angle-right"></i>
            {% if category.icon %}
                <i class="uk-icon-{{ category.icon }}"></i> {{ category.name }}
            {% endif %}
        {% endif %}
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ listPath }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ editPath }}" class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#delete-item-{{ item.id }}" class="uk-button uk-button-danger uk-button-small"
               data-uk-tooltip title="Löschen"
               data-uk-modal>
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {% set headline %}
        {{ item.name }}
        {% if item.defect %}
            <span class="uk-badge uk-badge-danger uk-text-large">defekt</span>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(headline, null, buttons, breadcrumb, 1) }}

    {% if item.itemNumber %}
        <div class="uk-text-muted uk-margin-bottom" style="margin-top: -10px;">
            Artikelnummer: {{ item.itemNumber }}</div>
    {% endif %}

    <div class="uk-panel uk-panel-box">
        {% if item.imagePath %}
            <div class="uk-grid">
                <div class="uk-width-1-5">
                    <a href="/{{ item.imagePath }}" data-uk-lightbox>
                        <img src="/{{ item.imagePath }}" alt="{{ item.name }}" class="uk-width-1-1"/>
                    </a>
                </div>
                <div class="uk-width-4-5">
                    {{ item.text|raw }}
                </div>
            </div>
        {% else %}
            {{ item.text|raw }}
        {% endif %}
    </div>

    <h2 class="content-headline">
        <i class="uk-icon-calendar"></i>
        Verwendungen
        <a href="{{ newUsePath }}"
           class="uk-button uk-button-success uk-button-small uk-float-right"
           data-uk-tooltip title="Verwendung eintragen">
            <i class="uk-icon-plus"></i>
        </a>
    </h2>

    {{ knp_pagination_render(pagination) }}
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Status', 'status') }}</th>
                {% if columns['start'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['start'].label, 'start') }}
                    </th>
                {% endif %}
                {% if columns['end'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['end'].label, 'end') }}
                    </th>
                {% endif %}
                {% if columns['returnedAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['returnedAt'].label, 'returnedAt') }}
                    </th>
                {% endif %}
                {% if columns['member'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['member'].label, 'member') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['project'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['project'].label, 'project') }}
                    </th>
                {% endif %}
                {% if columns['note'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['note'].label, 'note') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for itemUse in pagination %}
                <tr>
                    <td class="uk-text-nowrap">
                        {% if itemUse.status == constant('STATUS_IN_USE', itemUse) %}
                            <span class="uk-badge uk-badge-warning">in Verwendung</span>
                        {% elseif itemUse.status == constant('STATUS_IN_REPAIR', itemUse) %}
                            <span class="uk-badge uk-badge-danger">in Reparatur</span>
                        {% endif %}
                    </td>
                    {% if columns['start'].active %}
                        <td>
                            {{ itemUse.start|date('d.m.Y') }}<br>
                            {{ itemUse.start|date('H:i') }}
                        </td>
                    {% endif %}
                    {% if columns['end'].active %}
                        <td>
                            {{ itemUse.end|date('d.m.Y') }}<br>
                            {{ itemUse.end|date('H:i') }}
                        </td>
                    {% endif %}
                    {% if columns['returnedAt'].active %}
                        <td>
                            {% if itemUse.returnedAt %}
                                {{ itemUse.returnedAt|date('d.m.Y') }}<br>
                                {{ itemUse.returnedAt|date('H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['member'].active %}
                        <td>
                            {% if itemUse.member %}
                                <a href="{{ path('modules_team_member_details', {'member': itemUse.member.id}) }}">{{ itemUse.member }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td>
                            {% if itemUse.contact %}
                                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                    <a href="{{ path('modules_contact_default_details', {'contact': itemUse.contact.id}) }}">{{ itemUse.contact.name }}</a>
                                {% else %}
                                    {{ itemUse.contact.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['project'].active %}
                        <td>
                            {% if itemUse.project %}
                                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                                    <a href="{{ path('modules_project_project_show', {'id': itemUse.project.id}) }}">{{ itemUse.project.name }}</a>
                                {% else %}
                                    {{ itemUse.project.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['note'].active %}
                        <td>
                            {{ itemUse.note }}
                        </td>
                    {% endif %}
                    <td class="uk-text-right">
                        {% if category %}
                            {% set editItemUsePath = path('modules_inventory_itemuse_edit_1', {'item': item.id, 'itemUse': itemUse.id, 'category': category.id}) %}
                        {% else %}
                            {% set editItemUsePath = path('modules_inventory_itemuse_edit', {'item': item.id, 'itemUse': itemUse.id}) %}
                        {% endif %}
                        <div class="uk-button-group">
                            {% if is_granted('EDIT', itemUse) %}
                                <a href="{{ editItemUsePath }}" class="uk-button uk-button-small uk-button-primary"
                                   data-uk-tooltip title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', itemUse) %}
                                <a href="#delete-itemuse-{{ itemUse.id }}"
                                   class="uk-button uk-button-small uk-button-danger"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>

                        {% if is_granted('DELETE', itemUse) %}
                            <div class="uk-modal uk-text-left" id="delete-itemuse-{{ itemUse.id }}">
                                <div class="uk-modal-dialog">
                                    <a class="uk-modal-close uk-close"></a>
                                    <div class="uk-modal-header uk-modal-header-danger">
                                        <h3>
                                            <i class="uk-icon-warning"></i>
                                            Löschen bestätigen
                                        </h3>
                                    </div>
                                    <b class="uk-text-large">Möchten Sie diese Verwendung für <i
                                                class="uk-text-muted">{{ item.name }}</i> wirklich löschen?</b><br>
                                    <br>
                                    {% if itemUse.status == constant('STATUS_IN_USE', itemUse) %}
                                        <div class="uk-badge uk-badge-warning uk-text-large">in Verwendung</div>
                                    {% elseif itemUse.status == constant('STATUS_IN_REPAIR', itemUse) %}
                                        <div class="uk-badge uk-badge-danger uk-text-large">in Reparatur</div>
                                    {% endif %}
                                    <br>
                                    <div class="uk-text-muted uk-text-large uk-margin-top">
                                        von {{ itemUse.start|date('d.m.Y H:i') }}
                                        bis {{ itemUse.end|date('d.m.Y H:i') }}
                                    </div>
                                    <br>
                                    {{ form_start(deleteForms[itemUse.id]) }}
                                    <div class="uk-modal-footer">
                                        <a href="#" class="uk-button uk-modal-close">
                                            <i class="uk-icon-close"></i>
                                            Abbrechen
                                        </a>
                                        <button class="uk-button uk-button-danger uk-float-right">
                                            <i class="uk-icon-trash"></i>
                                            Löschen!
                                        </button>
                                    </div>
                                    {{ form_end(deleteForms[itemUse.id]) }}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Verwendungen eingetragen.<br>
                        {% if is_granted('CREATE', 'Modules\\InventoryBundle\\Entity\\ItemUse') %}
                            <a href="{{ newUsePath }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Verwendung eintragen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}

    {% include 'ModulesInventoryBundle:Item:delete-modal.html.twig' %}
{% endblock %}