{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte <i class="uk-icon-angle-right"></i> Kategorie A
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_project_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_project_edit') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Johannisstr. 65 Aachener Grund', 'university', buttons, breadcrumb) }}

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-2 uk-text-large">
            <i class="uk-icon-star"></i> Kunde:<br>
            <a href="{{ path('kmui_contact_index') }}">Müller GmbH</a>
        </div>
        <div class="uk-width-1-2 uk-text-large">
            <i class="uk-icon-user"></i> Mitarbeiter:<br>
            <a href="{{ path('kmui_profile') }}">Marc Weinhold</a>,
            <a href="{{ path('kmui_profile') }}">Ralf Klute</a>,
            <a href="{{ path('kmui_profile') }}">Max Mustermann</a>
        </div>
        <div class="uk-width-1-2 uk-text-large">
            <i class="uk-icon-clock-o"></i> Zeitraum:<br>
            <b>01.11.2016 - 01.12.2016</b>
        </div>
        <div class="uk-width-1-2 uk-text-large">
            <i class="uk-icon-map-marker"></i> Adresse<br>
            <a href="http://maps.google.com" target="_blank"
               data-uk-tooltip title="Auf Google Maps öffnen">
                In der Mark 1a, 49074 Osnabrück
            </a>
        </div>
    </div>

    <h2 class="content-headline">
        Tickets
        <a href="{{ path('kmui_project_index') }}" class="uk-button uk-button-small uk-button-success uk-float-right"
           data-uk-tooltip title="Neues Ticket anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    </h2>

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Status
                </th>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th class="uk-text-nowrap">
                    Dokumente
                </th>
                <th class="uk-text-nowrap">
                    Mitarbeiter
                </th>
                <th class="uk-text-nowrap">
                    Datum
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..8 %}
                <tr>
                    <td class="uk-text-nowrap uk-text-large">
                        {% if i is odd %}
                            <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-square-o');"
                               data-uk-tooltip title="erledigt"
                               class="uk-button uk-active uk-button-success uk-button-small">
                                <i class="uk-icon-check"></i>
                            </a>
                        {% else %}
                            <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-square-o');"
                               data-uk-tooltip title="offen"
                               class="uk-button uk-active uk-button-danger uk-button-small">
                                <i class="uk-icon-square-o"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        aktuelles Ticket
                    </td>
                    <td class="uk-text-nowrap">
                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                            <button class="uk-button uk-button-small uk-float-right">
                                <i class="uk-icon-download"></i>
                                Downloads
                                <i class="uk-icon-angle-down"></i>
                            </button>
                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a href="#"><i class="uk-icon-image"></i> Bild vor Ort</a></li>
                                    <li><a href="#"><i class="uk-icon-file-pdf-o"></i> Arbeitszettel</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="#">{{ random(['Marc Weinhold', 'Ralf Klute', 'Max Musterman']) }}</a>
                    </td>
                    <td class="uk-text-nowrap">
                        05.11.2016 14:00 Uhr
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                               title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}