{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte <i class="uk-icon-angle-right"></i> Kategorie A
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_project_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_project_detail') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Ansehen">
                <i class="uk-icon-eye"></i>
            </a>
            <a href="#" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Johannisstr. 65 Aachener Grund', 'university', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" value="Johannisstr. 65 Aachener Grund"
                           class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-1-3">
                <label class="uk-form-label" for="form-">Kategorie</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1">
                        <option selected="selected">Bahama Sports</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Kunde</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1">
                        <option selected="selected">Müller GmbH</option>
                        <option>Beispiel KG</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Mitarbeiter</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple">
                        <option selected="selected">Marc Weinhold</option>
                        <option selected="selected">Max Mustermann</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Adresse</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Adresse auswählen">
                        <option>In der Mark 1a, 49074 Osnabrück</option>
                        <option selected="selected">Große Straße 10, 49074 Osnabrück</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_project_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_project_edit', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}