{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_project_new') }}" class="uk-button uk-button-small uk-button-success" data-uk-tooltip
               title="Neues Projekt anlegen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="#"><i class="uk-icon-check-circle-o"></i> neues Ticket</a></li>
                    </ul>
                </div>

            </div>
        </div>
    {% endset %}
    {{ macros.pageHeader('Übersicht', 'university', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Titel
                </th>
                <th class="uk-text-nowrap">
                    Adresse
                </th>
                <th class="uk-text-nowrap">
                    Zeitraum
                </th>
                <th class="uk-text-nowrap">
                    Tickets
                </th>
                <th class="uk-text-nowrap">
                    Mitarbeiter
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td class="uk-text-nowrap">
                        {{ random(['Aachener Grund Große Str. 56', 'In der Mark 1a', 'Johannisstr. 65 Aachener Grund']) }}
                        <br>
                        <a href="#"><i class="uk-icon-list"></i> Kategorie {{ random(['X', 'Y']) }}</a>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="http://maps.google.com" target="_blank">In der Mark 1a<br>49074 Osnabrück</a>
                    </td>
                    <td class="uk-text-nowrap">
                        01.11.2016{% if i is odd %} - 01.12.2016<br>
                        <b>30 Tage</b>{% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="offen">
                                <i class="uk-icon-square-o"></i>
                                2
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-success" data-uk-tooltip
                               title="erledigt">
                                <i class="uk-icon-check-square-o"></i>
                                6
                            </a>
                        </div>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="#">Marc Weinhold</a><br>
                        <a href="#">Ralf Klute</a><br>
                        <a href="#">Max Mustermann</a><br>
                        <a href="#"
                           class="uk-text-success uk-text-small">{{ random(['1 weiterer', '2 weitere', '4 weitere']) }}</a>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_project_detail') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_project_edit') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="contact-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diesen Kontakt wirklich löschen?</b><br>
            <span class="uk-text-muted uk-text-large">CREA Werbeagentur GmbH</span><br>
            <br>
            Was möchten Sie mit den zugehörigen Datensätzen machen?<br>
            <br>
            <form class="uk-form">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-1-3">
                        Adressen:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Ansprechpartner:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Kontoverbindungen:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Projekte:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Tickets:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Rechnungen:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        ...
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_contact_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}