{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_project_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Projekt', 'university', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" value="" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-1-3">
                <label class="uk-form-label" for="form-">Kategorie</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Kategorie auswählen">
                        <option></option>
                        <option>Bahama Sports</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Kunde</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Kunde auswählen">
                        <option></option>
                        <option>Müller GmbH</option>
                        <option>Beispiel KG</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-">Mitarbeiter</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple"
                            data-placeholder="Mitarbeiter auswählen">
                        <option>Marc Weinhold</option>
                        <option>Max Mustermann</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Adresse</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" data-placeholder="Adresse auswählen">
                        <option>In der Mark 1a, 49074 Osnabrück</option>
                        <option>Große Straße 10, 49074 Osnabrück</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_project_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_project_edit', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}