{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Leistung
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ordermanagement_service_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>

        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Service') %}
            <a href="{{ path('modules_ordermanagement_service_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue Leistung anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
        {% if is_granted('EDIT', 'Modules\\OrderManagementBundle\\Entity\\Service') %}
            <a href="{{ path('modules_ordermanagement_service_edit', {'service': service.id}) }}"
               class="uk-button uk-button-small"
               data-uk-tooltip title="Leistung bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(service.title, null, buttons, breadcrumb, 0) }}

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <div class="uk-grid uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-4-6">
                        <div style="font-size: small !important;">
                            {{ service.description|raw }}
                        </div>
                    </div>
                    <div class="uk-width-2-6">
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                            <div class="uk-width-1-2">Nettopreis:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ service.price|number_format(2,',','.') }}&euro;
                            </div>
                            <div class="uk-width-1-2">MwSt.:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ service.tax }} &percnt;</div>
                            <div class="uk-width-1-2">Bruttopreis:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ service.brutto|number_format(2,',','.') }}€
                            </div>
                            <div class="uk-width-1-2">Kategorien</div>
                            <div class="uk-width-1-2 uk-text-right uk-overflow-container">{{ service.categories|join(', ') }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}