{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Leistungen
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Service') %}
            <a href="{{ path('modules_ordermanagement_service_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue Leistung anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Titel', 'title') }}
                </th>
                {% if columns['price'].active %}
                    <th class="uk-text-nowrap">
                        Nettopreis
                    </th>
                    <th class="uk-text-nowrap">
                        Preiseinheit
                    </th>
                    <th class="uk-text-nowrap">
                        MwSt.
                    </th>
                    <th class="uk-text-nowrap">
                        Bruttopreis
                    </th>
                {% endif %}
                {% if columns['categories'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['categories'].label, 'categories') }}
                    </th>
                {% endif %}
                {% if columns['createdBy'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdBy'].label, 'createdBy') }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdAt'].label, 'createdAt') }}
                    </th>
                {% endif %}
                {% if columns['updatedAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['updatedAt'].label, 'updatedAt') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for service in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('modules_ordermanagement_service_details', {'service': service.id}) }}">
                            {{ service.title }}
                        </a>
                        <small>{{ service.description|truncate(70)|raw }}</small>
                    </td>
                    {% if columns['price'].active %}
                        <td class="uk-text-right">
                            {{ service.price|number_format(2,',','.') }} €
                        </td>
                        <td>
                            {{ mod_om_helper.getServicePriceType(service) }}
                        </td>
                        <td>
                            {{ service.tax }} %
                        </td>
                        <td class="uk-text-right">
                            {{ service.brutto|number_format(2,',','.') }} €
                        </td>

                    {% endif %}
                    {% if columns['categories'].active %}
                        <td class="uk-text-nowrap">
                            {% if service.categories|length > 0 %}
                                {{ service.categories|join(', ') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['createdBy'].active %}
                        <td>
                            <a href="{{ path('core_app_user_show', {'id': service.createdBy.id}) }}">
                                {{ service.createdBy.username }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ service.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    {% if columns['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ service.updatedAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': service.updatedBy.id}) }}">{{ service.updatedBy.username }}</a></span>
                        </td>
                    {% endif %}
                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', service) %}
                                <a href="{{ path('modules_ordermanagement_service_details', {'service': service.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', service) %}
                                <a href="{{ path('modules_ordermanagement_service_edit', {'service': service.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', service) %}
                                <a href="#delete-service-{{ service.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% include 'ModulesOrderManagementBundle:Service:delete-modal.html.twig' with {'deleteForm': deleteForms[service.id]} %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Leistungen angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Service') %}
                            <a href="{{ path('modules_ordermanagement_service_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Leistung anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}