{% extends '@CoreApp/layout.html.twig' %}

{% if currentCategory %}
    {% set addBankAccountPath = path('modules_contact_bankaccount_new_1', {'contact': contact.id, 'category': currentCategory.id}) %}
{% else %}
    {% set addBankAccountPath = path('modules_contact_bankaccount_new', {'contact': contact.id}) %}
{% endif %}

{% block content %}
    {% include 'ModulesContactBundle:Default:detail_header.html.twig' %}

    <h2 class="content-headline">
        <i class="uk-icon-credit-card"></i> Kontoverbindungen
    </h2>
    {{ knp_pagination_render(pagination) }}
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                {% if columns['owner'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['owner'].label, 'owner') }}
                    </th>
                {% endif %}
                {% if columns['bank'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['bank'].label, 'bank') }}
                    </th>
                {% endif %}
                {% if columns['iban'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['iban'].label, 'iban') }}
                    </th>
                {% endif %}
                {% if columns['bic'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['bic'].label, 'bic') }}
                    </th>
                {% endif %}
                {% include '@ModulesContact/Default/fields-headers.html.twig' %}
            </tr>
            </thead>
            <tbody>
            {% for bankAccount in pagination %}
                <tr>
                    {% if columns['owner'].active %}
                        <td class="uk-text-nowrap">
                            {{ bankAccount.owner }}
                        </td>
                    {% endif %}
                    {% if columns['bank'].active %}
                        <td class="uk-text-nowrap">
                            {{ bankAccount.bank }}
                        </td>
                    {% endif %}
                    {% if columns['iban'].active %}
                        <td class="uk-text-nowrap">
                            {{ bankAccount.iban }}
                        </td>
                    {% endif %}
                    {% if columns['bic'].active %}
                        <td class="uk-text-nowrap">
                            {{ bankAccount.bic }}
                        </td>
                    {% endif %}
                    {% include '@ModulesContact/Default/fields-values.html.twig' with {'entity': bankAccount} %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Kontoverbindungen angelegt.<br>
                        {% if is_granted('EDIT', 'Modules\\ContactBundle\\Entity\\Contact') %}
                            <a class="ajax-modal uk-button uk-button-small uk-button-success uk-margin-top" href="#"
                               data-url="{{ addBankAccountPath }}">
                                <i class="uk-icon-plus"></i>
                                neue Kontoverbindung anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}