{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Einen Tag zurück">
                <i class="uk-icon-arrow-left"></i>
            </a>
            <a href="#" class="uk-button uk-button-small">
                {{ "now"|localizeddate('none', 'none', null, null, 'E dd. MMM') }}
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Ansicht wechseln">
                    <i class="uk-icon-angle-down"></i>
                </a>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="{{ path('kmui_calandar_month') }}">Monat</a></li>
                        <li><a href="{{ path('kmui_calandar_index') }}">Woche</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Einen Tag vor">
                <i class="uk-icon-arrow-right"></i>
            </a>
        </div>
        <div class="uk-button-group">
            <a href="#" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Filter"
               data-uk-toggle="{target: '#calendar-filter'}">
                <i class="uk-icon-filter"></i>
            </a>
            <a href="{{ path('kmui_calandar_new') }}" class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neuen Termin anlegen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="{{ path('kmui_calandar_new') }}"><i class="uk-icon-truck"></i> Außendienst</a></li>
                        <li><a href="{{ path('kmui_calandar_new') }}"><i class="uk-icon-plane"></i> Urlaub</a></li>
                        <li><a href="{{ path('kmui_calandar_new') }}"><i class="uk-icon-medkit"></i> Krankheit</a></li>
                    </ul>
                </div>

            </div>
        </div>
    {% endset %}
    {{ macros.pageHeader('Kalender', 'calendar', buttons) }}

    {% include '@ModulesKmUi/Calendar/filter.html.twig' %}

    <div class="fullcalendar uk-margin-top"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            var todayDate = moment().startOf('day');
            var YM = todayDate.format('YYYY-MM');
            var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
            var TODAY = todayDate.format('YYYY-MM-DD');
            var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

            $('.fullcalendar').fullCalendar({
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                header: false,
                defaultView: 'agendaDay',
                eventClick: function (calEvent, jsEvent, view) {
                    var modal = UIkit.modal("#event-modal");

                    $('#event-modal').find('.uk-modal-header').find('h3').find('span').text(calEvent.title);

                    if (modal.isActive()) {
                        modal.hide();
                    } else {
                        modal.show();
                    }

                },
                height: function () {
                    var content = $('.content');
                    var contentPadding = parseInt(content.css('padding-top')) + parseInt(content.css('padding-bottom'));
                    var contentHeadline = $('.content-headline');
                    var contentHeadlineHeight = contentHeadline.outerHeight() + parseInt(contentHeadline.css('margin-bottom'));
                    return $(window).height() - ($('#navbar').outerHeight() + $('#tabs').outerHeight() + contentPadding + contentHeadlineHeight);
                },
                events: [
                    {
                        title: 'ganztägiger Termin',
                        start: YM + '-01',
                        color: '#990000'
                    },
                    {
                        title: 'Langer Termin',
                        start: YM + '-07',
                        end: YM + '-10'
                    },
                    {
                        id: 999,
                        title: 'wiederkehrender Termin',
                        start: YM + '-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'wiederkehrender Termin',
                        start: YM + '-16T16:00:00'
                    },
                    {
                        title: 'Konferenz',
                        start: YESTERDAY,
                        end: TOMORROW
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        title: 'Essen mit Kunden',
                        start: TODAY + 'T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T14:30:00'
                    },
                    {
                        title: 'Geburtstag (privat)',
                        start: TOMORROW + 'T07:00:00',
                        color: '#009900'
                    }
                ]
            });
        });
    </script>

    {% include '@ModulesKmUi/Calendar/details-modal.html.twig' %}
    {% include '@ModulesKmUi/Calendar/delete-modal.html.twig' %}
{% endblock %}