<div id="delete-modal" class="uk-modal uk-text-left">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header uk-modal-header-danger">
            <h3>
                <i class="uk-icon-warning"></i>
                <span>Löschen bestätigen</span>
            </h3>
        </div>

        <b class="uk-text-large">Möchten Sie diesen Termin wirklich löschen?</b><br>
        <span class="uk-text-muted uk-text-large">Bautra</span>
        <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
            <div class="uk-width-2-3 uk-text-large">
                {{ "now"|date('d.m.Y H:i') }} Uhr bis {{ "now +2 hours"|date(' H:i') }} Uhr<br>
            </div>
            <div class="uk-width-1-3 uk-text-large uk-text-right">
                <i class="uk-icon-user"></i> <a href="{{ path('kmui_profile') }}">Max Mustermann</a>
            </div>
            <div class="uk-width-1-1">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua.
            </div>
        </div>

        <div class="uk-modal-footer uk-clearfix">
            <a href="#" class="uk-button uk-modal-close">
                <i class="uk-icon-times"></i> Abbrechen
            </a>
            <a href="?deleted=1" class="uk-button uk-button-danger uk-float-right">
                <i class="uk-icon-trash"></i> Löschen
            </a>
        </div>
    </div>
</div>