<div id="event-modal" class="uk-modal uk-text-left">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header uk-modal-header-success">
            <h3>
                <i class="uk-icon-calendar"></i>
                <span>Bautra</span>
            </h3>
        </div>
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-2-3 uk-text-large">
                {{ "now"|date('d.m.Y H:i') }} Uhr bis {{ "now +2 hours"|date(' H:i') }} Uhr<br>
            </div>
            <div class="uk-width-1-3 uk-text-large uk-text-right">
                <i class="uk-icon-user"></i> <a href="{{ path('kmui_profile') }}">Max Mustermann</a>
            </div>
            <div class="uk-width-1-1">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua.
            </div>
        </div>
        <div class="uk-modal-footer uk-clearfix">
            <div class="uk-button-group uk-float-right">
                <a href="http://maps.google.com" target="_blank" class="uk-button uk-button-primary" data-uk-tooltip
                   title="Google Maps">
                    <i class="uk-icon-map-marker"></i>
                </a>
                <a href="{{ path('kmui_calandar_edit') }}" class="uk-button uk-button-primary" data-uk-tooltip
                   title="Bearbeiten">
                    <i class="uk-icon-pencil"></i>
                </a>
                <a href="#delete-modal" class="uk-button uk-button-danger"
                   data-uk-tooltip title="Löschen"
                   data-uk-modal>
                    <i class="uk-icon-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>