{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: '200',
            content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
        });

        $(function () {
            $(document).on('change', '#from-date', function () {
                if ($('#to-date').val() == '') {
                    $('#to-date').val($('#from-date').val());
                }
            });

            $(document).on('change', '#from-time', function () {
                if ($('#to-time').val() == '') {
                    $('#to-time').val($('#from-time').val());
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-calendar"></i> Kalender
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_calandar_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zum Kalender">
                <i class="uk-icon-calendar"></i>
            </a>
            <a href="#delete-modal" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen"
               data-uk-modal>
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Mitte West, Mülltonnen', 'calendar', buttons, breadcrumb) }}

    <form class="uk-form uk-form-stacked" action="">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-3-5">
                <label class="uk-form-label" for="form-title">Bezeichnung</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="Bezeichnung" value="Mitte West, Mülltonnen"
                           class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-1-5">
                <label class="uk-form-label" for="form-art">Art</label>
                <div class="uk-form-controls">
                    <select class="uk-form-large uk-width-1-1">
                        <option>Termin</option>
                        <option>Außendienst</option>
                        <option>Urlaub</option>
                        <option>Krankheit</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-5">
                <label class="uk-form-label" for="form-">Ganztägig</label>
                <div class="uk-form-controls">
                    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}
                           style="display: none;"/>
                    <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-ban'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked'))"
                       class="uk-button uk-button-danger"
                       data-uk-toggle="{target: '#from-to', animation: 'uk-animation-slide-top'}">
                        <i class="uk-icon-ban"></i>
                    </a>
                </div>
            </div>

            <div class="uk-width-1-1 uk-overflow-hidden">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin id="from-to">
                    <div class="uk-width-3-10">
                        <label class="uk-form-label" for="form-">Von</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" value="01.01.2017"
                                   class="uk-form-large uk-width-1-1"
                                   id="from-date"/>
                        </div>
                    </div>
                    <div class="uk-width-2-10">
                        <label class="uk-form-label" for="form-">&nbsp;</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-timepicker class="uk-form-large uk-width-1-1" value="08:00"
                                   id="from-time"/>
                        </div>
                    </div>
                    <div class="uk-width-3-10">
                        <label class="uk-form-label" for="form-">Bis</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}" value="15.01.2017"
                                   class="uk-form-large uk-width-1-1"
                                   id="to-date"/>
                        </div>
                    </div>
                    <div class="uk-width-2-10">
                        <label class="uk-form-label" for="form-">&nbsp;</label>
                        <div class="uk-form-controls">
                            <input type="text" data-uk-timepicker class="uk-form-large uk-width-1-1" value="18:00"
                                   id="to-time"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Mitarbeiter</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple"
                            data-placeholder="Mitarbeiter auswählen">
                        <option>Marc Weinhold</option>
                        <option selected="selected">Max Mustermann</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Kunde</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple"
                            data-placeholder="Kunde auswählen">
                        <option>Müller GmbH</option>
                        <option selected="selected">Beispiel AG</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Projekt</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple"
                            data-placeholder="Projekt auswählen">
                        <option selected="selected">In der Mark 1A</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="form-">Beschreibung</label>
                <textarea class="tinymce">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua...</textarea>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_calandar_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_calandar_edit', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>

    {% include '@ModulesKmUi/Calendar/delete-modal.html.twig' %}
{% endblock %}