<div id="calendar-filter" class="uk-hidden uk-panel uk-panel-box uk-margin-top uk-animation-slide-top">
    <b>Mitarbeiter:</b>
    <div class="uk-grid uk-grid-small uk-margin-small-top" data-uk-grid-margin>
        {% for i in 0..20 %}
            <div class="uk-width-large-1-6 uk-width-medium-1-4 uk-width-small-1-2">
                <a onclick="$(this).toggleClass('uk-active uk-button-success').find('i').toggleClass('uk-icon-check uk-icon-ban');"
                   class="uk-button uk-active uk-button-success uk-button-small uk-width-1-1">
                    <i class="uk-icon-check"></i>
                    Mitarbeiter {{ cycle(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P'], i) }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>