{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Eine Woche zurück">
                <i class="uk-icon-arrow-left"></i>
            </a>
            <a href="#" class="uk-button uk-button-small">
                Woche {{ "now"|localizeddate('none', 'none', null, null, 'w') }}
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Ansicht wechseln">
                    <i class="uk-icon-angle-down"></i>
                </a>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="{{ path('kmui_calandar_month') }}">Monat</a></li>
                        <li><a href="{{ path('kmui_calandar_day') }}">Tag</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Eine Woche vor">
                <i class="uk-icon-arrow-right"></i>
            </a>
        </div>
        <div class="uk-button-group">
            <a href="#" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Filter"
               data-uk-toggle="{target: '#calendar-filter'}">
                <i class="uk-icon-filter"></i>
            </a>
            <a href="{{ path('kmui_calandar_new') }}" class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neuen Termin anlegen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="{{ path('kmui_calandar_new') }}"><i class="uk-icon-truck"></i> Außendienst</a></li>
                        <li><a href="{{ path('kmui_calandar_new') }}"><i class="uk-icon-plane"></i> Urlaub</a></li>
                        <li><a href="{{ path('kmui_calandar_new') }}"><i class="uk-icon-medkit"></i> Krankheit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endset %}
    {{ macros.pageHeader('Kalender', 'calendar', buttons) }}

    {% include '@ModulesKmUi/Calendar/filter.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table uk-table-condensed">
            <tr>
                <td></td>
                <th class="uk-text-center">
                    {{ start|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+1 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+1 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+2 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+2 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+3 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+3 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+4 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+4 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center uk-padding-remove">
                    {{ start|date_modify('+5 day')|localizeddate('none', 'none', null, null, 'E')|slice(0, 2) }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+5 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center uk-padding-remove">
                    {{ start|date_modify('+6 day')|localizeddate('none', 'none', null, null, 'E')|slice(0, 2) }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+6 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
            </tr>
            {% for i in 1..30 %}
                {% macro event(i) %}
                    {% if random(2) %}
                        <a href="#event-modal" class="uk-display-block" data-uk-modal>
                            <div class="uk-badge uk-width-1-1 {{ random(['uk-badge-success', 'uk-badge-danger', 'uk-badge-waring', '']) }}">
                                10:00 - 12:00
                                Uhr<br>{{ random(['Mitte West, Mülltonnen', 'Bautra', 'Konrad-Adenauer-Ring 34']) }}
                            </div>
                        </a>
                        {% if random(3) %}
                            <a href="#event-modal" class="uk-display-block uk-margin-small-top" data-uk-modal>
                                <div class="uk-badge uk-width-1-1 {{ random(['uk-badge-success', 'uk-badge-danger', 'uk-badge-waring', '']) }}">
                                    10:00 - 12:00
                                    Uhr<br>{{ random(['Mitte West, Mülltonnen', 'Bautra', 'Konrad-Adenauer-Ring 34']) }}
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endmacro %}
                {% import _self as events %}
                <tr>
                    <td>
                        <a href="{{ path('kmui_profile') }}">
                            Mitarbeiter {{ cycle(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L'], i) }}
                        </a>
                    </td>
                    <td style="border-left: dotted 1px #ccc;">
                        {{ events.event(i) }}
                    </td>
                    <td style="border-left: dotted 1px #ccc;">
                        {{ events.event(i) }}
                    </td>
                    <td style="border-left: dotted 1px #ccc;">
                        {{ events.event(i) }}
                    </td>
                    <td style="border-left: dotted 1px #ccc;">
                        {{ events.event(i) }}
                    </td>
                    <td style="border-left: dotted 1px #ccc;">
                        {{ events.event(i) }}
                    </td>
                    <td class="uk-padding-remove" style="border-left: dotted 1px #ccc;"></td>
                    <td class="uk-padding-remove" style="background: #f5f5f5;"></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% include '@ModulesKmUi/Calendar/details-modal.html.twig' %}
    {% include '@ModulesKmUi/Calendar/delete-modal.html.twig' %}
{% endblock %}