{# ####################################################################################### #}
{# Page: Search                                                                            #}
{#                                                                                         #}
{# Shows the main search page after find button was pressed                                #}
{#                                                                                         #}
{# Author: joerg.sommer@crea.de                                                            #}
{#                                                                                         #}
{# ####################################################################################### #}

{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {{ macros.pageHeader('Suche', 'search', null, null, true) }}

    {# Search mask below header #}
    <form class="uk-search uk-overflow-hidden" style="position: relative;">
        {# Search field #}
        <input autofocus type="search" placeholder="Suchbegriff" class="uk-search-field uk-width-1-1" id="search-input"
               name="q" value="{{ query }}">
        {# Button to toggle the filter dialog #}
        <a href="#" class="uk-button u uk-margin-small-top uk-float-right"
           data-uk-toggle="{target:'#content-search-filter', animation:'uk-animation-slide-top'}"
           data-uk-tooltip title="Filter"
           style="position: absolute; right: 0; top: 0;">
            <i class="uk-icon-filter"></i>
        </a>
    </form>

    {# Filter dialog #}
    <div class="uk-overflow-hidden uk-margin-small-top uk-margin-bottom">
        <div class="uk-panel uk-panel-box uk-hidden searchfilter" id="content-search-filter">

            {# Toggles all/nothing selected #}
            <div class="uk-clearfix uk-margin-bottom">
                <div class="uk-button-group">
                    <a href="#" class="search-filter-set-all uk-text-center uk-button uk-width-1-1">
                        <i class="uk-icon-check-square-o"></i>
                        Alle
                    </a>
                    <a href="#" class="search-filter-set-none uk-text-center uk-button uk-width-1-1">
                        <i class="uk-icon-square-o"></i>
                        Keine
                    </a>
                </div>
                <a href="{{ path('core_app_search_lock') }}" data-uk-tooltip title="Auswahl beibehalten"
                   class="uk-button uk-button-small uk-float-right toggle-search-lock{% if app_helper.setting('core_app_search_lock') %} uk-button-success{% endif %}">
                    <i class="uk-icon-{% if app_helper.setting('core_app_search_lock') %}lock{% else %}unlock{% endif %}"></i>
                </a>
            </div>

            {# List of all active bundles and their entities #}
            <form action="{{ path('core_app_search_filter') }}" class="searchfilter-form" method="post">
                <div class="uk-grid">

                    {# Run through all bundles #}
                    {% for bundle in app_helper.searchItems %}
                        {% if bundle.items|length %}
                            <div class="uk-width-1-4">

                                {# Bundle title #}
                                <div class="uk-text-muted uk-margin-small-bottom">
                                    {% if bundle.icon %}
                                        <i class="uk-icon-{{ bundle.icon }}"></i>
                                    {% endif %}
                                    {{ bundle.label }}
                                </div>

                                {# List of entities of the current bundle #}
                                {% for name, item in bundle.items %}
                                    <div class="uk-margin-small-bottom searchfilter-item">
                                        <input type="checkbox" value="1"
                                               name="core_app_search_filter[{{ name }}]" style="display: none;"
                                               {% if item.active %}checked="checked"{% endif %}/>
                                        <a class="uk-button uk-button-small uk-width-1-1{% if item.active %} uk-button-success{% endif %}">
                                            {% if item.icon %}<i
                                                class="uk-icon-{{ item.icon }} uk-float-left uk-margin-small-top"></i>{% endif %}
                                            {{ item.name }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    {# Pagination for search results or error/nothing messages to the user #}
    <div id="search-results">
        {% if pagination.items|length %}
            {{ knp_pagination_render(pagination) }}
            {% for result in pagination %}
                {{ result|raw }}
            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        {% else %}
            {% if query %}
                <div class="uk-alert">
                    <i class="uk-icon-info"></i> Keine Ergebnisse gefunden.
                </div>
            {% else %}
                <div class="uk-alert">
                    <i class="uk-icon-info"></i> Geben Sie einen Suchebegriff ein.
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}