{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% set breadcrumb %}
    <i class="uk-icon-users"></i> Planung
{% endset %}

{% set isAdmin = is_granted('ROLE_ADMIN') %}


{% block content %}
    {{ macros.pageHeader(plan.day|localizeddate('none', 'none', app_helper.parameter('locale'), null, 'E dd.MM.yy') ~ ' - ' ~ plan.member, null, null, breadcrumb, 1) }}

    {{ form_start(edit_form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_team_plan_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            {% if isAdmin %}
                <div class="uk-width-medium-1-4">
                    {{ form_row(edit_form.member) }}
                </div>
            {% endif %}
            <div class="uk-width-medium-1-{{ isAdmin ? '4' : '3' }}">
                {{ form_row(edit_form.type) }}
            </div>
            <div class="uk-width-medium-1-{{ isAdmin ? '4' : '3' }}">
                {{ form_row(edit_form.day) }}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.note) }}
            </div>
        </div>
    </div>
    <hr>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_team_plan_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}