<input type="hidden" name="mod_team_plan_member_filter[]" value="0"/> {# fixes issue when no checkboxes are checked #}
<h3><i class="uk-icon-users"></i> Team</h3>
<b>
    Abteilungen:
</b>
{% if memberCategories|length %}
    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-bottom" data-uk-grid-margin>
        {% for category in memberCategories %}
            <div class="uk-width-medium-1-4 uk-width-small-1-2 team-plan-member-filter-category-toggle"
                 data-categoryid="{{ category.id }}">
                <a class="uk-button uk-button-small uk-width-1-1">
                    {{ category.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="uk-margin-bottom">
        keine Abteilungen vorhanden
    </div>
{% endif %}
<b>
    Mitarbeiter
</b>
<div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-bottom" data-uk-grid-margin>
    {% for key, member in memberFilter %}
        {% if key == 'all' %}
            <div class="uk-width-medium-1-4 uk-width-small-1-2">
                <input type="checkbox" name="mod_team_plan_member_filter[]" value="all"
                       {% if memberFilter['all']['active'] %}checked="checked"{% endif %} style="display: none;"/>
                <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                   class="uk-button uk-button-small uk-width-1-1 {% if memberFilter['all']['active'] %}uk-active uk-button-success{% endif %}">
                    Alle
                </a>
            </div>
        {% else %}
            <div class="uk-width-medium-1-4 uk-width-small-1-2">
                <input type="checkbox" name="mod_team_plan_member_filter[]" value="{{ member['member'].id }}"
                       {% if member['active'] %}checked="checked"{% endif %} style="display: none;"/>
                <a data-team-member-categories=",{% for category in member['member'].categories %}{{ category.id }},{% endfor %}"
                   onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                   class="uk-button uk-button-small uk-width-1-1 {% if member['active'] %}uk-active uk-button-success{% endif %}">
                    {{ member['member'] }}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<script>
    $(function () {
        $('.team-plan-member-filter-category-toggle').click(function (e) {
            e.preventDefault();
            var categoryId = parseInt($(this).data('categoryid'));
            $("[data-team-member-categories*='," + categoryId + ",']").click();
        });
    });
</script>