{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // set end date to start date if start > end
        $(document).on('hide.uk.datepicker', '#modules_teambundle_plan_start', function (e) {
            var start = $(this).val().split('.');
            start = new Date(start[2], start[1], start[0], 0, 0, 0, 0);
            var end = $('#modules_teambundle_plan_end').val().split('.');
            end = new Date(end[2], end[1], end[0], 0, 0, 0, 0);

            if (start > end) {
                $('#modules_teambundle_plan_end').val($(this).val());
            }
        });


        $(function () {
            var multi_delete = $('#multi-delete-count');
            var row = $('#multi-delete-row');
            row.hide();

            function getMultiDeleteModal(ids) {

                $.ajax({
                    'url': Routing.generate("modules_team_plan_multideleterender"),
                    'type': 'post',
                    'data': {'ids': ids},
                    'success': function (response) {
                        $('#multi-delete-detail').html(response.content)

                    }
                })
            }

            $('[data-plan-id]').click(function () {
                $(this).toggleClass('plan-delete').find('span').toggleClass('uk-icon-square-o').toggleClass('uk-icon-check-square-o');
                multi = $('.plan-delete').length;

                selected = [];

                $('.plan-delete').each(function () {

                    selected.push($(this).data('planId'));

                });

                selected = JSON.stringify(selected);

                $('#hidden_delete').val(selected);

                getMultiDeleteModal(selected)

                if (multi > 0) {
                    multi_delete.text(multi);
                    row.show();
                } else {
                    multi_delete.text('0');
                    row.hide();
                }

            });

        })
    </script>
{% endblock %}

{% set breadcrumb %}
    <i class="uk-icon-users"></i> Team
{% endset %}

{% set isAdmin = is_granted('ROLE_ADMIN') %}

{% block tableSettings %}
    {% if isAdmin %}
        {% include '@ModulesTeam/Plan/filter.html.twig' %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ macros.pageHeader('Planung', null, null, breadcrumb, 1) }}

    {% if isAdmin or app.user.member %}
        {{ form_start(planForm) }}
        <div class="uk-panel uk-panel-box">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                {% if isAdmin %}
                    <div class="uk-width-medium-1-4">
                        {{ form_row(planForm.member) }}
                    </div>
                {% endif %}
                <div class="uk-width-medium-1-{{ isAdmin ? '4' : '3' }}">
                    {{ form_row(planForm.type) }}
                </div>
                <div class="uk-width-medium-1-{{ isAdmin ? '4' : '3' }}">
                    {{ form_row(planForm.start) }}
                </div>
                <div class="uk-width-medium-1-{{ isAdmin ? '4' : '3' }}">
                    {{ form_row(planForm.end) }}
                </div>
                <div class="uk-width-1-1">
                    {{ form_row(planForm.note) }}
                </div>
                <div class="uk-width-medium-1-1">
                    <button class="uk-button uk-button-success uk-float-right">
                        <i class="uk-icon-check"></i>
                        Eintragen
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(planForm) }}
    {% endif %}

    {{ knp_pagination_render(pagination) }}
    <div class="bordered-container uk-margin-top">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                {% if columns['member'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['member'].label, 'member') }}
                    </th>
                {% endif %}
                {% if columns['day'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['day'].label, 'day') }}
                    </th>
                {% endif %}
                {% if columns['type'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['type'].label, 'type') }}
                    </th>
                {% endif %}
                {% if columns['note'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['note'].label }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plan in pagination %}
                <tr>
                    {% if columns['member'].active %}
                        <td class="uk-text-nowrap">
                            {% if plan.member %}
                                <a href="{{ path('modules_team_member_details', {'member': plan.member.id}) }}">
                                    {{ plan.member }}
                                </a>
                            {% else %}
                                Alle
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['day'].active %}
                        <td class="uk-text-nowrap">
                            {% if mod_team_helper.isHoliday(plan.day) %}
                            <span class="uk-text-muted">
                            {% endif %}
                                {{ plan.day|localizeddate('none', 'none', app_helper.parameter('locale'), null, 'E dd.MM.yy') }}
                                {% if mod_team_helper.isHoliday(plan.day) %}
                                </span>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['type'].active %}
                        <td class="uk-text-nowrap">
                            {% if plan.type == constant('TYPE_HOLIDAY', plan) %}
                                <i class="uk-icon-plane uk-icon-justify"></i>&nbsp;
                                Urlaub
                            {% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
                                <i class="uk-icon-ambulance uk-icon-justify"></i>&nbsp;
                                Krankheit
                            {% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
                                <i class="uk-icon-graduation-cap uk-icon-justify"></i>&nbsp;
                                Berufsschule
                            {% elseif plan.type == constant('TYPE_SPECIAL', plan) %}
                                <i class="uk-icon-flag uk-icon-justify"></i>&nbsp;
                                Sonderurlaub

                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['note'].active %}
                        <td class="uk-text-nowrap">
                            {{ plan.note }}
                        </td>
                    {% endif %}
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            {% if is_granted('EDIT', plan) %}
                                <a href="{{ path('modules_team_plan_edit', {'id': plan.id}) }}"
                                   class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', plan) %}

                                <a href="#delete-plan-{{ plan.id }}" class="uk-button uk-button-small uk-button-danger"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                                <button data-plan-id="{{ plan.id }}" class="uk-button uk-button-small">
                                    <span class="uk-icon-square-o"></span>
                                </button>
                            {% endif %}

                        </div>
                        {% if is_granted('DELETE', plan) %}
                            <div class="uk-modal uk-text-left" id="delete-plan-{{ plan.id }}">
                                <div class="uk-modal-dialog">
                                    <a class="uk-modal-close uk-close"></a>
                                    <div class="uk-modal-header uk-modal-header-danger">
                                        <h3>
                                            <i class="uk-icon-warning"></i>
                                            Löschen bestätigen
                                        </h3>
                                    </div>
                                    <b class="uk-text-large">
                                        Möchten Sie die Planung
                                        <i class="uk-text-muted">
                                            {% if plan.type == constant('TYPE_HOLIDAY', plan) %}
                                                Urlaub
                                            {% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
                                                Krankheit
                                            {% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
                                                Schule
                                            {% endif %}
                                        </i>
                                        am <i class="uk-text-muted">{{ plan.day|date('d.m.Y') }}</i>
                                        für
                                        <i class="uk-text-muted">{{ plan.member ? plan.member.fullName : 'Alle' }}</i>
                                        wirklich löschen?
                                    </b>
                                    {{ form_start(deleteForms[plan.id]) }}
                                    <div class="uk-modal-footer">
                                        <a href="#" class="uk-button uk-modal-close">
                                            <i class="uk-icon-close"></i>
                                            Abbrechen
                                        </a>
                                        <button class="uk-button uk-button-danger uk-float-right">
                                            <i class="uk-icon-trash"></i>
                                            Löschen!
                                        </button>
                                    </div>
                                    {{ form_end(deleteForms[plan.id]) }}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if pagination|length == 0 %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Keine Einträge vorhanden.
                    </td>
                </tr>
            {% else %}
                <tr id="multi-delete-row">
                    <td colspan="99" class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="#delete-multi-plan" class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen"
                               data-uk-modal>
                                (<span id="multi-delete-count">0</span>) Löschen
                            </a>
                        </div>
                    </td>
                </tr>

            {% endif %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
    {% include 'ModulesTeamBundle:Plan:multi_modal.html.twig' %}
{% endblock %}