{% if plan.type == constant('TYPE_HOLIDAY', plan) %}
    {% set color = '#00cc00' %}
{% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
    {% set color = '#cccc00' %}
{% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
    {% set color = '#0000cc' %}
{% endif %}

<div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header uk-contrast" style="background: {{ color }};">
        <h3>
            {% if plan.type == constant('TYPE_HOLIDAY', plan) %}
                <i class="uk-icon-plane"></i>
                Urlaub
            {% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
                <i class="uk-icon-ambulance"></i>
                Krankheit
            {% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
                <i class="uk-icon-graduation-cap"></i>
                Schule
            {% endif %}
        </h3>
    </div>

    <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
        <div class="uk-width-2-3">
            {{ plan.day|date('d.m.Y') }}
        </div>
        <div class="uk-width-1-3 uk-text-right">
            <i class="uk-icon-user"></i>
            {% if plan.member %}
                <a href="{{ path('modules_team_member_details', {'member': plan.member.id}) }}">
                    {{ plan.member }}
                </a>
            {% else %}
                Alle
            {% endif %}
        </div>
    </div>

    {% if plan.note %}
        <hr>
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {{ plan.note }}
            </div>
        </div>
    {% endif %}
</div>