<li>
    <i class="uk-text-muted">
        {% if plan.type == constant('TYPE_HOLIDAY', plan) %}
            Urlaub
        {% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
            Krankheit
        {% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
            Schule
        {% endif %}
    </i>
    am <i class="uk-text-muted">{{ plan.day|date('d.m.Y') }}</i>
    für <i class="uk-text-muted">{{ plan.member ? plan.member.fullName : 'Alle' }}</i>
</li>