<div class="uk-modal uk-text-left" id="delete-multi-plan">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header uk-modal-header-danger">
            <h3>
                <i class="uk-icon-warning"></i>
                Löschen bestätigen
            </h3>
        </div>
        <b class="uk-text-large">
            Möchten Sie die ausgewählten Planungen löschen?
        </b>

        <ul id="multi-delete-detail"></ul>

        <div class="uk-modal-footer">
            <a href="#" class="uk-button uk-modal-close">
                <i class="uk-icon-close"></i>
                Abbrechen
            </a>
            <form method="post" action="{{ path("modules_team_plan_multidelete") }}">

                <input type="hidden" name="ids" id="hidden_delete">
                <button class="uk-button uk-button-danger uk-float-right" style="margin-top: -25px;">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </button>
            </form>
        </div>

    </div>
</div>