{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
        <i class="uk-icon-angle-right"></i>
        Leistungen
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_service_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_service_edit') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Leistung A', 'wrench', buttons, breadcrumb) }}

    <div class="uk-margin-top uk-margin-bottom">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolore <b>magna aliquyam erat</b>, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. <i>Stet clita kasd gubergren, dolor sit amet.</i> Lorem
        ipsum dolor sit amet, consetetur sadipscing elitr Stet <a href="#">clita</a> kasd gubergren, no sea takimata.
    </div>

    <b>Preisliste A:</b> 86,50 €<br>
    <b>Preisliste B:</b> 123,00 €<br>
    <b>Preisliste C:</b> 15,00 €
{% endblock %}