{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: '200',
            content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
        });

        $(function () {
            $(document).on('click', '.offer-add-template-row', function () {
                var template = $('#offer-grid-row-template').clone();
                template.removeClass('uk-hidden').removeClass('uk-row-first').addClass('uk-grid-margin');
                $('#offer-grid').append(template);
            });

            $(document).on('click', '.offer-add-template-column', function () {
                var template = $('#offer-grid-row-template').find('#panel-template').clone();
                $('#offer-grid').find('.offer-grid-row:last-child').find('.uk-grid > .uk-width-9-10 > .uk-grid > .uk-width-1-1').removeClass('uk-width-1-1').addClass('uk-width-1-2');
                template.removeClass('uk-width-1-1').addClass('uk-width-1-2');
                $('#offer-grid').find('.offer-grid-row:last-child').find('.uk-grid > .uk-width-9-10 > .uk-grid').append(template);

            });

            $(document).on('click', '.offer-add-editor', function () {
                var template = $('#offer-grid-row-template').clone();
                template.removeClass('uk-hidden').removeClass('uk-row-first').addClass('uk-grid-margin');
                template.find('.uk-panel > .uk-grid').html('<div class="uk-width-1-1"><textarea class="tinymce"></textarea></div>');
                template.find('.uk-button-group.uk-position-top-right').find('.uk-button:nth-child(2)').addClass('uk-button-success');
                template.find('.uk-button-group.uk-position-top-right').find('.uk-button:nth-child(2)').find('i').removeClass('uk-icon-pencil').addClass('uk-icon-check');
                $('#offer-grid').append(template);
                tinymce.init({
                    selector: '.tinymce',
                    height: '200',
                    content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
                });
            });

            var progressbar = $("#progressbar"),
                bar = progressbar.find('.uk-progress-bar'),
                settings = {

                    action: '/', // upload url

                    allow: '*.(jpg|jpeg|gif|png)', // allow only images

                    loadstart: function () {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("uk-hidden");
                    },

                    progress: function (percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent + "%").text(percent + "%");
                    },

                    allcomplete: function (response) {

                        bar.css("width", "100%").text("100%");

                        setTimeout(function () {
                            progressbar.addClass("uk-hidden");
                        }, 250);

                        alert("Upload Completed")
                    }
                };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                drop = UIkit.uploadDrop($("#upload-drop"), settings);

            $(document).on('click', '#add-new-section', function () {

            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
    <style>
        .uk-panel .uk-button-group.uk-position-top-right {
            opacity: 0.3;
            transition: opacity 0.3s;
        }

        .uk-panel:hover .uk-button-group.uk-position-top-right {
            opacity: 1;
        }

        .uk-panel .uk-button-group.uk-position-top-right :first-child {
            border-top-left-radius: 0;
        }

        .uk-panel .uk-button-group.uk-position-top-right :last-child {
            border-bottom-right-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
        <i class="uk-icon-angle-right"></i>
        Leistungen
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_service_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_service_detail') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Ansehen">
                <i class="uk-icon-eye"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Leistung A', 'wrench', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid">
            <div class="uk-width-medium-3-4">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" class="uk-form-large uk-width-1-1" value="Leistung 123"/>
                </div>
            </div>
            <div class="uk-width-medium-1-4">
                <label class="uk-form-label" for="form-">Mwst.</label>

                <div class="uk-form-controls">
                    <select class="uk-form-large uk-width-1-1">
                        <option>19 %</option>
                        <option>16 %</option>
                    </select>
                </div>
            </div>
        </div>

        <label class="uk-form-label uk-margin-top" for="form-">Beschreibung</label>

        <div class="uk-form-controls">
            <textarea class="uk-form-large uk-width-1-1 tinymce">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</textarea>
        </div>

        <div class="uk-grid uk-margin-top">
            <div class="uk-width-1-4">
                <label class="uk-form-label" for="form-">Preisliste A</label>

                <div class="uk-form-controls">
                    <div class="uk-form-icon">
                        <i class="uk-icon-euro"></i>
                        <input type="number" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4">
                <label class="uk-form-label" for="form-">Preisliste B</label>

                <div class="uk-form-controls">
                    <div class="uk-form-icon">
                        <i class="uk-icon-euro"></i>
                        <input type="number" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4">
                <label class="uk-form-label" for="form-">Preisliste C</label>

                <div class="uk-form-controls">
                    <div class="uk-form-icon">
                        <i class="uk-icon-euro"></i>
                        <input type="number" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid uk-margin-top">
            <div class="uk-width-1-1">
                <a href="{{ path('kmui_service_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_service_new', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}