{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_service_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neue Leistung erstellen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Leistungen', 'wrench', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>
                    <a href="#">
                        Titel
                        <i class="uk-icon-sort-asc"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Beschreibung
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th style="width: 100px;">
                    <a href="#">
                        Preiseliste A
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th style="width: 100px;">
                    <a href="#">
                        Preisliste B
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th style="width: 100px;">
                    <a href="#">
                        Preisliste C
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th style="width: 60px;">
                    <a href="#">
                        Mwst.
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..10 %}
                <tr>
                    <td>Leistung 123</td>
                    <td>
                        <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua...</i>
                    </td>
                    <td>
                        86,50 €
                    </td>
                    <td>
                        123,00 €
                    </td>
                    <td>
                        15,00 €
                    </td>
                    <td>
                        19 %
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_service_detail') }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_service_edit') }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#modal-delete" class="uk-button uk-button-danger uk-button-small"
                               data-uk-modal data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}

    {# Modals #}

    <div id="new-from-template" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-paint-brush"></i>
                    Vorlage auswählen
                </h3>
            </div>
            <form class="uk-search uk-overflow-hidden" data-uk-search>
                <input class="uk-search-field" type="search" placeholder="">
            </form>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..5 %}
                    <tr>
                        <td>Vorlage 1</td>
                        <td class="uk-text-right">
                            <a href="#"
                               class="uk-button uk-button-small uk-button-success offer-add-template-row uk-modal-close"
                               data-uk-tooltip title="hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
            </div>
        </div>
    </div>

    <div id="modal-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diese Leistung wirklich löschen?</b><br>
            <span class="uk-text-muted uk-text-large">Leistung 123</span>

            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_service_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}