{# ####################################################################################### #}
{# Page: Dashboard                                                                         #}
{#                                                                                         #}
{# Shows the dashboard that is a list of all modules installed in this instance.           #}
{#                                                                                         #}
{# Author: joerg.sommer@crea.de                                                            #}
{#                                                                                         #}
{# ####################################################################################### #}

{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {{ macros.pageHeader('Übersicht', 'dashboard') }}

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        {% if is_granted('VIEW', 'Modules\\CalendarBundle\\Entity\\Event') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_calendar_default_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-calendar uk-icon-large uk-margin-top"></i><br>
                    Kalender
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\TeamBundle\\Entity\\Member') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_team_member_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-users uk-icon-large uk-margin-top"></i><br>
                    Team
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_contact_default_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-briefcase uk-icon-large uk-margin-top"></i><br>
                    Kontakte
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_project_project_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-tasks uk-icon-large uk-margin-top"></i><br>
                    Projekte
                </a>
            </div>
        {% endif %}
        {#{% if is_granted('VIEW', 'Modules\\AccountingBundle\\Entity\\EntityNotYetExits') %}#}
        {#<div class="uk-width-1-3">#}
        {#<a href="#" class="uk-button uk-button-primary uk-button-large uk-width-1-1">#}
        {#<i class="uk-icon-book uk-icon-large uk-margin-top"></i><br>#}
        {#Buchhaltung#}
        {#</a>#}
        {#</div>#}
        {#{% endif %}#}
        {#{% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}#}
        {#<div class="uk-width-1-3">#}
        {#<a href="{{ path('modules_project_project_index') }}" class="uk-button uk-button-primary uk-button-large uk-width-1-1">#}
        {#<i class="uk-icon-university uk-icon-large uk-margin-top"></i><br>#}
        {#Projekte#}
        {#</a>#}
        {#</div>#}
        {#{% endif %}#}
        {% if is_granted('VIEW', 'Modules\\InventoryBundle\\Entity\\Item') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_inventory_item_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-dropbox uk-icon-large uk-margin-top"></i><br>
                    Inventar
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\WikiBundle\\Entity\\Article') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_wiki_article_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-wikipedia-w uk-icon-large uk-margin-top"></i><br>
                    Wiki
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\ToDoBundle\\Entity\\ToDo') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_todo_default_delegate') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-check uk-icon-large uk-margin-top"></i><br>
                    Delegierte To Do's
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\ToDoBundle\\Entity\\ToDo') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_todo_default_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-check uk-icon-large uk-margin-top"></i><br>
                    Meine To Do's
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\Offer') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_ordermanagement_offer_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-bank uk-icon-large uk-margin-top"></i><br>
                    Angebote
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\Invoice') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_ordermanagement_invoice_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-bank uk-icon-large uk-margin-top"></i><br>
                    Rechnungen
                </a>
            </div>
        {% endif %}
        {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\Orders') %}
            <div class="uk-width-1-3">
                <a href="{{ path('modules_ordermanagement_order_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-bank uk-icon-large uk-margin-top"></i><br>
                    Aufträge
                </a>
            </div>
        {% endif %}
        {#{% if is_granted('VIEW', 'Modules\\TimetrackBundle\\Entity\\Timetrack') %}#}
        {#<div class="uk-width-1-3">#}
        {#<a href="#" class="uk-button uk-button-primary uk-button-large uk-width-1-1">#}
        {#<i class="uk-icon-clock-o uk-icon-large uk-margin-top"></i><br>#}
        {#Zeiterfassung#}
        {#</a>#}
        {#</div>#}
        {#{% endif %}#}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="uk-width-1-3">
                <a href="{{ path('core_app_user_index') }}"
                   class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    <i class="uk-icon-users uk-icon-large uk-margin-top"></i><br>
                    Benutzer
                </a>
            </div>
        {% endif %}
        <div class="uk-width-1-3">
            <a href="{{ path('core_app_user_show_1') }}"
               class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                <i class="uk-icon-user uk-icon-large uk-margin-top"></i><br>
                Mein Profil
            </a>
        </div>
    </div>
{% endblock %}