{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .select2-results__option--highlighted .text,
        .select2-results__option--highlighted .uk-text-muted {
            color: #fff !important;
        }

        .select2-container--default .select2-results > .select2-results__options {
            max-height: 350px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#search-inventory').find('select').select2({
                language: 'de',
                ajax: {
                    url: "{{ path('modules_inventory_search_jsonitems') }}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 10) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 3,
                templateResult: formatItem,
                templateSelection: formatItemSelection
            });

            function formatItem(item) {
                if (item.loading) return item.name;

                var markup = "";

                var status = '<span class="uk-badge uk-badge-success">Verfügbar</span>';
                if (item.usage == 'in_use') {
                    status = '<span class="uk-badge uk-badge-warning">in Verwendung</span>';
                }
                if (item.usage == 'in_repair') {
                    status = '<span class="uk-badge uk-badge-danger">in Reparatur</span>';
                }

                var itemNumber = '';
                if (item.itemNumber) {
                    itemNumber = '<small class="uk-text-muted">(' + item.itemNumber + ')</small>';
                }

                markup += "<div class='uk-clearfix'>";
                markup += "    <div class='uk-border-circle uk-float-left uk-margin-right' style='width: 100px; height: 100px; background: url(/" + item.imagePath + ") center center; background-size: cover;'></div>";
                markup += "    <div class='uk-text-bold'>" + item.name + " " + status + " " + itemNumber + "</div>";
                if (item.text) {
                    markup += "    <div class='uk-text-muted text'>" + item.text + "</div>";
                }
                markup += "</div>";

                markup += "</div>";

                return markup;
            }

            function formatItemSelection(item) {
                if (item.name) {
                    return item.name + ' verwenden...';
                }

                return item.text;
            }

            $(document).on('change', '#search-inventory select', function () {
                if ($(this).val()) {
                    window.location = Routing.generate('modules_inventory_itemuse_new', {'item': $(this).val()});
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
    {% endset %}
    {{ macros.pageHeader('Arbeitsmittel Suche', 'search', null, breadcrumb) }}

    <form class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1" id="search-inventory">
                <select class="uk-form-large uk-width-1-1" data-placeholder="Arbeitsmittel suchen"></select>
            </div>
        </div>
    </form>
{% endblock %}