{% import '@CoreApp/macros.html.twig' as macros %}

<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <div class="uk-grid">
        <div class="uk-width-3-4">
            <h2 class="uk-margin-bottom-remove">
                <small class="uk-text-muted"><i class="uk-icon-dropbox"></i> Arbeitsmittel</small>
                <br>
                <a href="{{ path('modules_inventory_item_show', {'item': item.id}) }}">
                    {{ item.name }}
                </a>
                {% set currentUse = mod_inventory_helper.currentUse(item) %}
                {% if currentUse %}
                    {% if currentUse.status == constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_REPAIR') %}
                        <span class="uk-badge uk-badge-danger uk-text-large">in Reparatur</span>
                    {% elseif currentUse.status == constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_USE') %}
                        <span class="uk-badge uk-badge-warning uk-text-large">in Verwendung</span>
                    {% endif %}
                {% else %}
                    <span class="uk-badge uk-badge-success">Verfügbar</span>
                {% endif %}
                {% if item.itemNumber %}
                    <small class="uk-text-muted">({{ item.itemNumber }})</small>
                {% endif %}
            </h2>
        </div>
        <div class="uk-width-1-4 uk-text-right">
            <div class="uk-button-group">
                <a href="{{ path('modules_inventory_item_edit', {'item': item.id}) }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Bearbeiten">
                    <i class="uk-icon-pencil"></i>
                </a>
                <a href="{{ path('modules_inventory_item_show', {'item': item.id}) }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Details">
                    <i class="uk-icon-eye"></i>
                </a>
            </div>
        </div>
    </div>
    {{ item.text|raw }}
</div>