{% extends '@CoreApp/layout.html.twig' %}

{% if currentCategory %}
    {% set addAddressPath = path('modules_contact_address_new_1', {'contact': contact.id, 'category': currentCategory.id}) %}
{% else %}
    {% set addAddressPath = path('modules_contact_address_new', {'contact': contact.id}) %}
{% endif %}

{% block content %}
    {% include 'ModulesContactBundle:Default:detail_header.html.twig' %}

    <h2 class="content-headline">
        <i class="uk-icon-map-marker"></i> Adressen
    </h2>
    {{ knp_pagination_render(pagination) }}
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    {{ knp_pagination_sortable(pagination, 'Bezeichnung', 'name') }}
                </th>
                {% if columns['street'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['street'].label, 'street') }}
                    </th>
                {% endif %}
                {% if columns['zip'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['zip'].label, 'zip') }}
                    </th>
                {% endif %}
                {% if columns['city'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['city'].label, 'city') }}
                    </th>
                {% endif %}
                {% if columns['state'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['state'].label, 'state') }}
                    </th>
                {% endif %}
                {% if columns['country'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['country'].label, 'country') }}
                    </th>
                {% endif %}
                {% include '@ModulesContact/Default/fields-headers.html.twig' %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for address in pagination %}
                <tr>
                    <td class="uk-text-nowrap">
                        {{ address.name }}
                    </td>
                    {% if columns['street'].active %}
                        <td class="uk-text-nowrap">
                            {{ address.street }}
                        </td>
                    {% endif %}
                    {% if columns['zip'].active %}
                        <td class="uk-text-nowrap">
                            {{ address.zip }}
                        </td>
                    {% endif %}
                    {% if columns['city'].active %}
                        <td class="uk-text-nowrap">
                            {{ address.city }}
                        </td>
                    {% endif %}
                    {% if columns['state'].active %}
                        <td class="uk-text-nowrap">
                            {{ address.state }}
                        </td>
                    {% endif %}
                    {% if columns['country'].active %}
                        <td class="uk-text-nowrap">
                            {{ address.country }}
                        </td>
                    {% endif %}
                    {% include '@ModulesContact/Default/fields-values.html.twig' with {'entity': address} %}
                    <td class="uk-text-right">
                        <a href="http://maps.google.com/?q={{ address.street }} {{ address.zip }} {{ address.city }} {{ address.state }} {{ address.country }}"
                           target="_blank" class="uk-button uk-button-small uk-button-primary">
                            <i class="uk-icon-map-marker"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Adressen angelegt.<br>
                        {% if is_granted('EDIT', 'Modules\\ContactBundle\\Entity\\Contact') %}
                            <a class="ajax-modal uk-button uk-button-small uk-button-success uk-margin-top" href="#"
                               data-url="{{ addAddressPath }}">
                                <i class="uk-icon-plus"></i>
                                neue Adresse anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}