{% import '@CoreApp/macros.html.twig' as macros %}

<tr id="document-{{ document.id }}">
    <td>
        <i class="uk-icon-{{ macros.fileIcon(document.mime) }}"></i>
        {{ document.name }}
        <span class="uk-text-muted uk-text-right">({{ macros.readableFileSize(document.size) }})</span>
    </td>
    <td class="uk-text-right" style="width: 30px;">
        <div class="uk-button-group">
            <a href="/{{ document.path }}" target="_blank" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Datei öffnen">
                <i class="uk-icon-eye"></i>
            </a>
            <a href="/{{ document.path }}" target="_blank" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Datei herunterladen" download>
                <i class="uk-icon-download"></i>
            </a>
            <a href="#delete-file-{{ document.id }}" data-uk-modal class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
        <div id="delete-file-{{ document.id }}" class="uk-modal uk-text-left">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header uk-modal-header-danger">
                    <h3>
                        <i class="uk-icon-warning"></i>
                        Löschen bestätigen
                    </h3>
                </div>
                <b class="uk-text-large">Möchten Sie diese Datei wirklich löschen?</b>
                <div class="uk-modal-footer">
                    <a href="#" class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i>
                        Abbrechen
                    </a>
                    <a href="#" class="uk-button uk-button-danger uk-float-right uk-modal-close delete-document"
                       data-url="{{ path('modules_wiki_article_documentdelete', {'document': document.id}) }}">
                        <i class="uk-icon-trash"></i>
                        Löschen!
                    </a>
                </div>
            </div>
        </div>
    </td>
</tr>