{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-calendar"></i> Kalender
    {% endset %}
    {{ macros.pageHeader('Google Calendar', 'google', null, breadcrumb) }}

    {% if googleEmail and googleRefreshToken %}
        {% if currentCalendar %}
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                <span class="uk-text-large">Herzlichen Glückwunsch!</span><br>
                <br>
                Termine werden automatisch in den Google Kalender <i
                        class="uk-text-muted">{{ currentCalendar.summary ~ (currentCalendar.description ? ' (' ~ currentCalendar.description ~ ')' : '') }}</i>
                übertragen.<br>
                Mitarbeiter werden automatisch als Teilnehmer hinzugefügt, sofern diese sich ebenfalls mit Ihrem Google
                Konto verbinden.
            </div>
            <a href="{{ path('modules_calendar_google_reset') }}" class="uk-button uk-button-small uk-float-right">
                <i class="uk-icon-refresh"></i>
                Einstellungen zurücksetzen
            </a>
        {% else %}
            {% if availableCalendars|length %}
                <form class="uk-form" method="post">
                    <div class="uk-panel uk-panel-box uk-margin-bottom">
                        <span class="uk-text-large">Wählen Sie nun Ihren Team-Kalender aus:</span><br>
                        <br>
                        <select class="uk-form-large uk-width-1-1" name="mod_calendar_google_calendar_id">
                            {% for id, label in availableCalendars %}
                                <option value="{{ id }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="uk-button uk-button-success uk-button-large uk-width-1-1">
                        <i class="uk-icon-check"></i>
                        Kalender wählen!
                    </button>
                </form>
            {% else %}
                <div class="uk-panel uk-panel-box uk-margin-bottom">
                    <span class="uk-text-large">Keine Kalender vorhanden!</span>
                    <div class="uk-alert uk-alert-danger">
                        Es Konten keine Kalender gefunden werden. Legen Sie zunächst einen Kalender in dem Google Konto
                        <i>{{ googleEmail }}</i> an und aktualisieren Sie diese Seite.
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="uk-panel uk-panel-box uk-margin-bottom">
            <span class="uk-text-large">Richten Sie hier einen zentralen Google Calendar für Ihr Team ein.</span>
            <ol class="uk-margin-top">
                <li class="uk-margin-bottom">
                    Stellen Sie zunächst sicher, dass Sie auf <a href="http://google.de" target="_blank">Google</a> mit
                    einem Google Konto angemeldet sind, über das Sie Ihren zentralen Team-Kalender verwalten
                    möchten.<br>
                    Sie können dafür ein vorhandes Google Konto nutzen oder ein <a
                            href="https://accounts.google.com/SignUp?hl={{ app_helper.parameter('locale') }}"
                            target="_blank">neues Google Konto erstellen</a>.
                </li>
                <li>
                    Klicken Sie unten auf den Button "Mit Google verbinden!".
                </li>
            </ol>
        </div>
        <a href="{{ app_google.authUrl("modules_calendar_google_connect") }}"
           class="uk-button uk-button-success uk-button-large uk-width-1-1">
            <i class="uk-icon-google"></i>
            Mit Google verbinden!
        </a>
    {% endif %}
{% endblock %}