{% if is_granted('DELETE', invoice) %}
    <div id="modal-export-invoice-{{ invoice.id }}" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-text-left">
                <h3>
                    <i class="uk-icon-user"></i> {{ invoice.title }}
                </h3>
            </div>

            <form action="{{ path('modules_ordermanagement_invoice_export') }}" target="_blank" method="post"
                  class="uk-form">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-2 uk-text-left">
                        <label class="uk-form-label uk-text-left uk-text-bold"
                               for="fileformat-{{ invoice.id }}">Dateiformat</label>

                        <div class="uk-form-controls">
                            <select name="fileformat" class="uk-width-1-1"
                                    id="fileformat-{{ invoice.id }}">
                                <option value="pdf">PDF</option>
                                <option value="odt">Word</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-2 uk-text-left">
                        <label class="uk-form-label uk-text-left uk-text-bold"
                               for="printDate-{{ invoice.id }}">Datum</label>
                        <div class="uk-form-controls">
                            <input type="text" class="uk-width-1-1"
                                   id="printDate-{{ invoice.id }}"
                                   name="printDate"
                                   value="{% if invoice.printDate %}{{ invoice.printDate|date('d.m.Y') }}{% else %}{{ 'now'|date('d.m.Y') }}{% endif %}"
                                   data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"/>
                        </div>
                    </div>
                    {% set place='' %}
                    {% if invoice.project %}
                        {% if invoice.project.address %}
                            {% set place=invoice.project.address %}
                        {% else %}
                            {% set place=invoice.project.name ~ ' in Osnabrück' %}
                        {% endif %}
                    {% elseif invoice.contactAddress %}
                        {% set place=invoice.contactAddress.street ~' in ' ~ invoice.contactAddress.city %}
                    {% endif %}
                    {% set fee='' %}
                    {% set feeFromInvoice = mod_om_helper.getMonthlyFee(invoice) %}
                    {% if feeFromInvoice %}
                        {% set fee='im '~  mod_om_helper.getMonth(feeFromInvoice) ~ ' ' ~ "now"|date('Y') %}
                    {% else %}
                        {% set fee='im '~  mod_om_helper.getMonth("now"|date('m')) ~ ' ' ~ "now"|date('Y') %}
                    {% endif %}

                    {% set exportPlaceholder=mod_om_helper.getExportPlaceholder() %}
                    {% if exportPlaceholder %}
                        <div class="uk-width-1-1 uk-text-left">
                            <label class="uk-form-label uk-text-left uk-text-bold"
                                   for="placeholder-{{ invoice.id }}">Platzhalterwählen</label>
                            <div class="uk-form-controls">
                                <select name="oldPlaceholder" id="placeholder-{{ invoice.id }}"
                                        class="changePlaceholder"
                                        onchange="$('#place-{{ invoice.id }}').val($('#placeholder-{{ invoice.id }}').val())">
                                    <option>neuen Platzhalter</option>
                                    {% for placeholder in exportPlaceholder %}
                                        <option value="{{ placeholder.text }}">{{ placeholder.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    {% if invoice.placeholder %}
                        {% set placeholder=invoice.placeholder %}
                    {% else %}
                        {% set placeholder="Sehr geehrte Damen und Herren,

vereinbarungsgemäß stellen wir Ihnen für die " ~ fee ~ " geleisteten Arbeiten für Ihre Immobilie " ~ place~ " , die folgenden Positionen in Rechnung." %}
                    {% endif %}
                    <div class="uk-width-1-1 uk-text-left">
                        <label class="uk-form-label uk-text-left uk-text-bold"
                               for="place-{{ invoice.id }}">Platzhalter</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-width-1-1" rows="5"
                                      id="place-{{ invoice.id }}"
                                      name="place">{{ placeholder }}</textarea>
                            <br/>
                            <input type="checkbox" value="1" name="placeholderSave"/> Platzhalter speichern
                        </div>
                    </div>
                    <input type="hidden" name="invoice" value="{{ invoice.id }}"/>

                    <div class="uk-width-1-1">
                        <button type="submit" class="uk-button uk-button-success uk-button-large uk-width-1-1">Rechnung
                            erstellen
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endif %}