{% if is_granted('EDIT', invoice) %}
    <div class="uk-modal uk-text-left" id="modal-export-month-invoice-{{ invoice.id }}">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-bank"></i>
                    {{ invoice.title }}
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie eine neue Monatsrechnung anlegen?</b><br>
            <div class="uk-text-muted uk-text-large uk-margin-top">Die alte Rechnung geht dabei nicht verloren.</div>
            <form action="{{ path('modules_ordermanagement_invoice_newmonth') }}" method="post"
                  class="uk-form">
                <input type="hidden" name="invoice" value="{{ invoice.id }}"/>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <label class="uk-form-label uk-text-left"
                               for="month-{{ invoice.id }}">Monat wählen</label>
                        <div class="uk-form-controls">
                            <select class="uk-width-1-1" id="month-{{ invoice.id }}" name="month">
                                <option value="1">Januar</option>
                                <option value="2">Februar</option>
                                <option value="3">März</option>
                                <option value="4">April</option>
                                <option value="5">Mai</option>
                                <option value="6">Juni</option>
                                <option value="7">Juli</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">Oktober</option>
                                <option value="11">November</option>
                                <option value="12">Dezember</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer">
                    <a href="#" class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i>
                        Abbrechen
                    </a>
                    <button class="uk-button uk-button-danger uk-float-right">
                        <i class="uk-icon-bank"></i>
                        Neue Rechnung erstellen
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}