{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Preisliste
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ordermanagement_pricelist_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>

        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\PriceList') %}
            <a href="{{ path('modules_ordermanagement_pricelist_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue Preisliste anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
        {% if is_granted('EDIT', 'Modules\\OrderManagementBundle\\Entity\\PriceList') %}
            <a href="{{ path('modules_ordermanagement_pricelist_edit', {'pricelist':pricelist.id}) }}"
               class="uk-button uk-button-small"
               data-uk-tooltip title="Preisliste bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(pricelist.title, null, buttons, breadcrumb, 1) }}

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1 uk-text-large">
            <div class="uk-panel uk-panel-box">
                Kunde: <a href="{{ path('modules_contact_default_details', {'contact':pricelist.contact.id}) }}">
                    {{ pricelist.contact }}
                </a>
                {{ pricelist.description|raw }}
            </div>
        </div>

        <div class="uk-width-1-1">
            <h2 class="content-headline">
                Produkte
                <a href="{{ path("modules_ordermanagement_pricelistproduct_new", {'priceList': pricelist.id}) }}"
                   class="uk-button uk-button-success uk-button-small uk-float-right"
                   data-uk-tooltip title="Produkt eintragen">
                    <i class="uk-icon-plus"></i>
                </a>
            </h2>

        </div>

        <div class="uk-width-1-1">
            <div class="bordered-container">
                <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Preis
                        </th>
                        <th>
                            Interne Notiz
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in pricelist.products %}

                        <tr>
                            <td>
                                {{ product.product.title }}
                            </td>
                            <td class="uk-text-right">
                                {{ product.price|number_format(2,',','.') }} &euro;
                            </td>
                            <td>
                                {{ product.info|truncate(200) }}
                            </td>
                            <td class="uk-text-right">
                                <div class="uk-button-group">
                                    {% if is_granted('EDIT', pricelist) %}
                                        <a href="{{ path("modules_ordermanagement_pricelistproduct_edit", {'priceListProduct': product.id}) }}"
                                           class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                           title="Bearbeiten">
                                            <i class="uk-icon-pencil"></i>
                                        </a>
                                        <a href="{{ path("modules_ordermanagement_pricelistproduct_delete", {'priceListProduct':product.id}) }}"
                                           class="uk-button uk-button-danger uk-button-small"
                                           data-uk-tooltip title="Löschen">
                                            <i class="uk-icon-trash"></i>
                                        </a>

                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if pricelist.products|length == 0 %}
                        <tr>
                            <td colspan="99" class="uk-text-center">
                                Keine Einträge vorhanden.
                            </td>
                        </tr>
                    {% endif %}


                    </tbody>
                </table>
            </div>
        </div>

        <div class="uk-width-1-1">
            <h2 class="content-headline">
                Leistungen
                <a href="{{ path("modules_ordermanagement_pricelistservice_new", {'priceList':pricelist.id}) }}"
                   class="uk-button uk-button-success uk-button-small uk-float-right"
                   data-uk-tooltip title="Leistung eintragen">
                    <i class="uk-icon-plus"></i>
                </a>
            </h2>

        </div>

        <div class="uk-width-1-1">
            <div class="bordered-container">
                <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Preis
                        </th>
                        <th>
                            Interne Notiz
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in pricelist.services %}

                        <tr>
                            <td>
                                {{ service.service.title }}
                            </td>
                            <td class="uk-text-right">
                                {{ service.price|number_format(2,',','.') }} &euro;
                            </td>
                            <td>
                                {{ service.info|truncate(200) }}
                            </td>
                            <td class="uk-text-right">
                                <div class="uk-button-group">
                                    {% if is_granted('EDIT', pricelist) %}
                                        <a href="{{ path("modules_ordermanagement_pricelistservice_edit", {'priceListService': service.id}) }}"
                                           class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                           title="Bearbeiten">
                                            <i class="uk-icon-pencil"></i>
                                        </a>
                                        <a href="{{ path("modules_ordermanagement_pricelistservice_delete", {'priceListService':service.id}) }}"
                                           class="uk-button uk-button-danger uk-button-small"
                                           data-uk-tooltip title="Löschen">
                                            <i class="uk-icon-trash"></i>
                                        </a>

                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if pricelist.services|length == 0 %}
                        <tr>
                            <td colspan="99" class="uk-text-center">
                                Keine Einträge vorhanden.
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}