{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Preislisten
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\PriceListProduct') %}
            <a href="{{ path('modules_ordermanagement_pricelist_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue Preisliste anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Titel
                </th>
                {% if columns['contact'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['description'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['description'].label, 'description') }}
                    </th>
                {% endif %}
                {% if columns['createdBy'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['createdBy'].label, 'createdBy') }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['createdAt'].label, 'createdAt') }}
                    </th>
                {% endif %}
                {% if columns['updatedAt'].active %}
                    <th>{{ knp_pagination_sortable(pagination, columns['updatedAt'].label, 'updatedAt') }}</th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for pricelist in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('modules_ordermanagement_pricelist_details', {'pricelist': pricelist.id}) }}">
                            {{ pricelist.title|truncate }}
                        </a>
                    </td>
                    {% if columns['contact'].active %}
                        <td>
                            <a href="{{ path("modules_contact_default_details", {'contact': pricelist.contact.id}) }}">
                                {{ pricelist.contact }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['description'].active %}
                        <td>
                            {{ pricelist.description|truncate(150)|raw }}
                        </td>
                    {% endif %}

                    {% if columns['createdBy'].active %}
                        <td>
                            <a href="{{ path('core_app_user_show', {'id': pricelist.createdBy.id}) }}">
                                {{ pricelist.createdBy.username }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ pricelist.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    {% if columns['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ pricelist.updatedAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': pricelist.updatedBy.id}) }}">{{ pricelist.updatedBy.username }}</a></span>
                        </td>
                    {% endif %}
                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', pricelist) %}
                                <a href="{{ path('modules_ordermanagement_pricelist_details', {'pricelist': pricelist.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', pricelist) %}
                                <a href="{{ path('modules_ordermanagement_service_new', {'service': pricelist.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', pricelist) %}
                                <a href="#delete-pricelist-{{ pricelist.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% include 'ModulesOrderManagementBundle:PriceList:delete-modal.html.twig' with {'deleteForm': deleteForms[pricelist.id]} %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Preislisten angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\PriceListProduct') %}
                            <a href="{{ path('modules_ordermanagement_pricelist_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Preisliste anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}