{% extends '@CoreApp/layout.html.twig' %}

{% import _self as macro %}

{% block content %}
    <h3 class="page-title"> Menü
        <small>Verwalten Sie Ihr Menü!</small>
    </h3>
    Verfügbare Menüpunkte
    {% for bundle, bundleItems in items %}
        <h1>{{ bundle }}</h1>
        {% for item in bundleItems %}
            <a href="{{ path(item.route, item.routeParameters) }}" {{ macro.menu_item_attributes(item.attributes) }}>
                {{ item.label }}
            </a><br>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% macro menu_item_attributes(attributes) %}
    {% for name, value in attributes %}
        {{ name }}="{{ value }}"
    {% endfor %}
{% endmacro %}