{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
        <i class="uk-icon-angle-right"></i>
        Angebote
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_offer_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_offer_edit') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="{{ path('kmui_order_detail') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zum Auftrag">
                <i class="uk-icon-edit"></i>
            </a>
            <a href="{{ path('kmui_invoice_detail') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Rechnung">
                <i class="uk-icon-euro"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Drucken">
                <i class="uk-icon-print"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="per E-Mail verschicken">
                <i class="uk-icon-envelope"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Treppenhaus Greven', 'tags', buttons, breadcrumb) }}

    <div class="uk-grid uk-text-large">
        <div class="uk-width-medium-1-2">
            <i class="uk-icon-briefcase"></i> Kunde: <a href="#">Müller GmbH</a><br>
            <small><i class="uk-icon-university"></i> Projekt: <a href="#">Johannisstr. 65 Aachener Grund</a></small>
        </div>
        <div class="uk-width-medium-1-2">
            <i class="uk-icon-user"></i> Ersteller: <a href="{{ path('kmui_profile') }}">Max Mustermann</a><br>
            <small><i class="uk-icon-pencil"></i> bearbeitet am 27.10.2016 (von <a href="#">Admin</a>)</small>
        </div>
    </div>

    <div class="uk-grid">
        <div class="uk-width-1-2">
            <b>Müller GmbH</b><br>
            Straße 123<br>
            49074 Osnabrück
        </div>
        <div class="uk-width-1-2 uk-text-right">
            <br><br>
            <b>Datum:</b> {% verbatim %}{{ Datum }}{% endverbatim %}
        </div>
    </div>

    <h2>Angebot</h2>

    <div class="uk-margin-top">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolore <b>magna aliquyam erat</b>, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. <i>Stet clita kasd gubergren, dolor sit amet.</i> Lorem
        ipsum dolor sit amet, consetetur sadipscing elitr Stet <a href="#">clita</a> kasd gubergren, no sea takimata.
    </div>

    <h2 class="content-headline uk-margin-bottom-remove"><i class="uk-icon-wrench"></i> Leistungen</h2>
    <table class="uk-table uk-margin-remove">
        <tr>
            <th>Anzahl</th>
            <th>Einheit</th>
            <th>Leistung</th>
            <th>MwSt.</th>
            <th>Einzelpreis</th>
            <th>Gesamtpreis</th>
        </tr>
        {% for i in 0..4 %}
            <tr>
                <td>130</td>
                <td>{{ random(['m<sup>2</sup>', 'Std.', 'Stk.'])|raw }}</td>
                <td class="uk-text-large">
                    Sonstige Arbeiten<br>
                    <small>Wände 2 x streichen</small>
                </td>
                <td>19.00 %</td>
                <td>5,50 €</td>
                <td>786,50 €</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="8" class="uk-text-right">
                Gesamt: 3932,50 €
            </th>
        </tr>
    </table>

    <h2 class="content-headline uk-margin-bottom-remove"><i class="uk-icon-file-o"></i> Dokumente</h2>
    <table class="uk-table uk-margin-remove">
        <tr>
            <td class="uk-text-large">
                <i class="uk-icon-file-pdf-o"></i>
                Angebot als PDF
            </td>
            <td class="uk-text-right">
                860 KB
                <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Download">
                    <i class="uk-icon-download"></i>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}