{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#export-modal').on({
                'show.uk.modal': function () {
                    $('.select2').select2();
                }
            });
        })
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_offer_new') }}" class="uk-button uk-button-small uk-button-success" data-uk-tooltip
               title="Neues Angebot erstellen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success"
                   data-uk-tooltip title="Neu aus Vorlage">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li>
                            <a href="#new-from-template" data-uk-modal class="uk-dropdown-close">
                                <i class="uk-icon-paint-brush"></i>
                                Vorlage auswählen
                            </a>
                        </li>
                        <li class="uk-nav-header">zuletzt verwendet</li>
                        <li><a href="{{ path('kmui_offer_new') }}" class="uk-dropdown-close">Vorlage 1</a></li>
                        <li><a href="{{ path('kmui_offer_new') }}" class="uk-dropdown-close">Vorlage 2</a></li>
                        <li><a href="{{ path('kmui_offer_new') }}" class="uk-dropdown-close">Vorlage 3</a></li>
                    </ul>
                </div>
            </div>
            <a href="#export-modal" data-uk-modal class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
               title="Export">
                <i class="uk-icon-download"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Angebote', 'tags', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>
                    <a href="#">
                        Titel
                        <i class="uk-icon-sort-asc"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Kunde
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Projekt
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Auftrag
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Rechnung
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Leistungen
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th>
                    <a href="#">
                        Betrag
                        <i class="uk-icon-sort"></i>
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..10 %}
                <tr>
                    <td>{{ i == 0 ? 'Treppenhaus Greven' : 'Angebot 123' }}</td>
                    <td>
                        <a href="{{ path('kmui_contact_detail') }}">Müller GmbH</a><br>
                    </td>
                    <td>
                        <a href="{{ path('kmui_project_detail') }}">In der Mark 1a</a>
                    </td>
                    {% if i in [1,3,5,7] %}
                        <td>
                            <a href="{{ path('kmui_order_detail') }}">Auftrag 123</a>
                        </td>
                        <td>
                            <a href="{{ path('kmui_invoice_detail') }}">Rechnung 123</a>
                        </td>
                    {% endif %}
                    {% if i in [2,4,8] %}
                        <td>
                            <a href="{{ path('kmui_order_detail') }}">Auftrag 123</a>
                        </td>
                        <td>
                            <a href="{{ path('kmui_invoice_new') }}" class="uk-button uk-button-success uk-button-small"
                               data-uk-tooltip title="Rechnung aus Angebot erstellen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    {% endif %}
                    {% if i in [0,6,9,10] %}
                        <td>
                            <a href="{{ path('kmui_order_new') }}" class="uk-button uk-button-success uk-button-small"
                               data-uk-tooltip title="Auftrag aus Angebot erstellen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('kmui_invoice_new') }}" class="uk-button uk-button-success uk-button-small"
                               data-uk-tooltip title="Rechnung aus Angebot erstellen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('kmui_offer_index') }}">Leistung 123</a><br>
                        <a href="{{ path('kmui_offer_index') }}">Leistung 124</a><br>
                        <a href="{{ path('kmui_offer_index') }}">Leistung 125</a>
                    </td>
                    <td>3932,50 €</td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" data-uk-tooltip
                                 title="mehr">
                                <button class="uk-button uk-button-small uk-button-primary uk-float-right">
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                                <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom-left">
                                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                        <li>
                                            <a href="#">
                                                <i class="uk-icon-print"></i> Drucken
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="uk-icon-envelope"></i> per E-Mail verschicken
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="uk-icon-key"></i> Berechtigungen
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" data-uk-tooltip
                                 title="Downloads">
                                <button class="uk-button uk-button-small uk-button-primary uk-float-right">
                                    <i class="uk-icon-download"></i>
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                                <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom-left"
                                     style="width: 250px;">
                                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                        <li>
                                            <a href="#">
                                                <i class="uk-icon-file-pdf-o"></i> Angebot als PDF
                                                <span class="uk-text-muted">1,3 MB</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="{{ path('kmui_offer_detail') }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_offer_edit') }}" class="uk-button uk-button-primary uk-button-small"
                               data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#modal-delete" class="uk-button uk-button-danger uk-button-small"
                               data-uk-modal data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}

    {# Modals #}

    <div id="new-from-template" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-success">
                <h3>
                    <i class="uk-icon-paint-brush"></i>
                    Vorlage auswählen
                </h3>
            </div>
            <form class="uk-search uk-overflow-hidden" data-uk-search>
                <input class="uk-search-field" type="search" placeholder="">
            </form>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..5 %}
                    <tr>
                        <td>Vorlage 1</td>
                        <td class="uk-text-right">
                            <a href="#"
                               class="uk-button uk-button-small uk-button-success offer-add-template-row uk-modal-close"
                               data-uk-tooltip title="hinzufügen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
            </div>
        </div>
    </div>

    <div id="modal-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie dieses Angebot wirklich löschen?</b><br>
            <span class="uk-text-muted uk-text-large">Treppenhaus Greven</span><br>
            <br>
            Was möchten Sie mit den zugehörigen Datensätzen machen?<br>
            <br>
            <form class="uk-form">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-1-3">
                        Auftrag:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>behalten</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Rechnung:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>behalten</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Mahnungen:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>behalten</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Gutschriften:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>behalten</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_contact_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}