{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-wikipedia-w"></i> Wiki <i class="uk-icon-angle-right"></i> Bahama Sports
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_wiki_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_wiki_edit') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Bedienungsanleitung Gigaset c380', 'file-text-o', buttons, breadcrumb) }}

    <div class="uk-grid uk-text-large">
        <div class="uk-width-medium-1-2">
            <i class="uk-icon-user"></i> Autor: <a href="{{ path('kmui_profile') }}">Max Mustermann</a><br>
            <small><i class="uk-icon-pencil"></i> bearbeitet am 27.10.2016 (von <a href="#">Admin</a>)</small>
        </div>
        <div class="uk-width-medium-1-2">
            <i class="uk-icon-briefcase"></i> Kunde: <a href="#">Müller GmbH</a><br>
            <small><i class="uk-icon-university"></i> Projekt: <a href="#">Johannisstr. 65 Aachener Grund</a></small>
        </div>
    </div>

    <div class="uk-margin-top">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore <b>magna aliquyam erat</b>, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        <i>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</i> Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet <a href="#">clita</a>
        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>

    <h2 class="content-headline uk-margin-bottom-remove">Dokumente</h2>
    <table class="uk-table uk-margin-remove">
        <tr>
            <td class="uk-text-large">
                <i class="uk-icon-file-pdf-o"></i>
                Gebrauchsanweisung
            </td>
            <td class="uk-text-right">
                860 KB
                <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Download">
                    <i class="uk-icon-download"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="uk-text-large">
                <i class="uk-icon-file-picture-o"></i>
                Foto
            </td>
            <td class="uk-text-right">
                1,4 MB
                <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Download">
                    <i class="uk-icon-download"></i>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}