{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: '350',
            content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
        });

        $(function () {

            var progressbar = $("#progressbar"),
                bar = progressbar.find('.uk-progress-bar'),
                settings = {

                    action: '/', // upload url

                    allow: '*.(jpg|jpeg|gif|png)', // allow only images

                    loadstart: function () {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("uk-hidden");
                    },

                    progress: function (percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent + "%").text(percent + "%");
                    },

                    allcomplete: function (response) {

                        bar.css("width", "100%").text("100%");

                        setTimeout(function () {
                            progressbar.addClass("uk-hidden");
                        }, 250);

                        alert("Upload Completed")
                    }
                };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                drop = UIkit.uploadDrop($("#upload-drop"), settings);

            $('#tags').tagsInput({
                'defaultText': 'Schlagwort hinzufügen',
                'maxChars': 50,
                'height': '37px',
                'width': '100%',
                'placeholderColor': '#666666'
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/jquery.tagsinput/src/jquery.tagsinput.css') }}"/>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-wikipedia-w"></i> Wiki <i class="uk-icon-angle-right"></i> Bahama Sports
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_wiki_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_wiki_detail') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Details">
                <i class="uk-icon-eye"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Bedienungsanleitung Gigaset c380', 'file-text-o', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" value="Bedienungsanleitung Gigaset c380"
                           class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Inhalt</label>

                <div class="uk-form-controls">
                    <textarea class="tinymce" data-uk-htmleditor>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore <b>magna aliquyam erat</b>, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <i>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</i> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet <a
                                href="#">clita</a> kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</textarea>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Kategorie</label>

                <div class="uk-form-controls">
                    <div class="uk-button-group">
                        <a href="#" class="uk-button"><i class="uk-icon-ban"></i> keine Kategorie</a>
                        <div data-uk-dropdown="{mode:'click'}">
                            <a href="#" class="uk-button"><i class="uk-icon-caret-down"></i></a>
                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a href="#"><i class="uk-icon-ban"></i> keine Kategorie</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#"><i class="uk-icon-futbol-o"></i> Bahama-Sports</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-2-3">
                <label class="uk-form-label" for="form-">Schlagworte</label>

                <div class="uk-form-controls">
                    <input type="text" id="tags" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Dokumente</label>
                <table class="uk-table">
                    <tr>
                        <td>Gebrauchsanweisung</td>
                        <td><i class="uk-icon-file-pdf-o"></i> PDF</td>
                        <td>860 KB</td>
                        <td class="uk-text-right">
                            <div class="uk-button-group">
                                <a href="#" class="uk-button uk-button-small uk-button-primary">
                                    <i class="uk-icon-download"></i>
                                </a>
                                <a href="#" class="uk-button uk-button-small uk-button-danger">
                                    <i class="uk-icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Foto</td>
                        <td><i class="uk-icon-file-picture-o"></i> JPG</td>
                        <td>1,5 MB</td>
                        <td class="uk-text-right">
                            <div class="uk-button-group">
                                <a href="#" class="uk-button uk-button-small uk-button-primary">
                                    <i class="uk-icon-download"></i>
                                </a>
                                <a href="#" class="uk-button uk-button-small uk-button-danger">
                                    <i class="uk-icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div id="upload-drop" class="uk-placeholder">
                    <div class="uk-text-center uk-text-large">
                        <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
                        Dateien hier hinziehen oder <a class="uk-form-file">Dateien aussuchen<input id="upload-select"
                                                                                                    type="file"></a>.
                    </div>
                </div>

                <div id="progressbar" class="uk-progress uk-hidden">
                    <div class="uk-progress-bar" style="width: 0%;">...</div>
                </div>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_wiki_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_wiki_edit', {'saved': 1}) }}" class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}