{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_wiki_new') }}" class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neuen Artikel anlegen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a href="#"><i class="uk-icon-folder"></i> neue Kategorie</a></li>
                    </ul>
                </div>

            </div>
        </div>
    {% endset %}
    {{ macros.pageHeader('Wiki', 'wikipedia-w', buttons, null, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Schlagwörter</th>
                <th>Verfasser</th>
                <th>Kunde</th>
                <th>letzte Änderung</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..10 %}
                <tr>
                    <td>
                        Bedienungsanleitung Gigaset c380<br>
                        <a href="#">Bahama-Sports</a>
                    </td>
                    <td>
                        <a href="#">Schlagwort</a>, <a href="#">anderes Schlagwort</a>
                    </td>
                    <td>
                        <a href="{{ path('kmui_profile') }}">
                            Max Mustermann
                        </a>
                    </td>
                    <td>
                        <a href="#">Müller GmbH</a><br>
                        <small><a href="#">{{ random(['Johannisstr. 65 Aachener Grund', '']) }}</a></small>
                    </td>
                    <td>
                        05.11.2016<br>
                        14:00
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" data-uk-tooltip
                                 title="Downloads">
                                <button class="uk-button uk-button-small uk-button-primary uk-float-right">
                                    <i class="uk-icon-download"></i>
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                                <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom-left">
                                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                        <li>
                                            <a href="#">
                                                <i class="uk-icon-file-pdf-o"></i> Gebrauchsanweisung
                                                <span class="uk-text-muted">1,3 MB</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="{{ path('kmui_wiki_detail') }}" class="uk-button uk-button-primary uk-button-small"
                               data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_wiki_edit') }}" class="uk-button uk-button-primary uk-button-small"
                               data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-danger uk-button-small" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}