{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: '350',
            content_css: '{{ asset('assets/uikit/css/tinymce.css') }}'
        });

        $(function () {

            var progressbar = $("#progressbar"),
                bar = progressbar.find('.uk-progress-bar'),
                settings = {

                    action: '/', // upload url

                    allow: '*.(jpg|jpeg|gif|png)', // allow only images

                    loadstart: function () {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("uk-hidden");
                    },

                    progress: function (percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent + "%").text(percent + "%");
                    },

                    allcomplete: function (response) {

                        bar.css("width", "100%").text("100%");

                        setTimeout(function () {
                            progressbar.addClass("uk-hidden");
                        }, 250);

                        alert("Upload Completed")
                    }
                };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                drop = UIkit.uploadDrop($("#upload-drop"), settings);

            $('#tags').tagsInput({
                'defaultText': 'Schlagwort hinzufügen',
                'maxChars': 50,
                'height': '37px',
                'width': '100%',
                'placeholderColor': '#666666'
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/jquery.tagsinput/src/jquery.tagsinput.css') }}"/>
    <style>
        #tags_tag {
            width: 100%;
        }

        #tags_tagsinput .tag {
            color: #fff;
            background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5);
            background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
            border-color: rgba(0, 0, 0, 0.2);
            border-bottom-color: rgba(0, 0, 0, 0.4);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
            padding: 2px 5px;
        }

        #tags_tagsinput .tag:hover,
        #tags_tagsinput .tag:focus {
            background-color: #00aff2;
            color: #fff;
            background-image: none;
        }

        div.tagsinput span.tag a {
            color: #fff;
            padding: 0 3px;
        }

        div.tagsinput span.tag a:hover {
            background: #fff;
            color: #333;
        }
    </style>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-wikipedia-w"></i> Wiki
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_wiki_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Artikel', 'file-text-o', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Titel</label>

                <div class="uk-form-controls">
                    <input type="text" placeholder="Titel" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Inhalt</label>

                <div class="uk-form-controls">
                    <textarea class="tinymce" data-uk-htmleditor></textarea>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <label class="uk-form-label" for="form-">Kategorie</label>

                <div class="uk-form-controls">
                    <div class="uk-button-group">
                        <button class="uk-button"><i class="uk-icon-ban"></i> keine Kategorie</button>
                        <div class="" aria-expanded="false" aria-haspopup="true" data-uk-dropdown="{mode:'click'}">
                            <button class="uk-button"><i class="uk-icon-caret-down"></i></button>
                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a href="#"><i class="uk-icon-ban"></i> keine Kategorie</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#"><i class="uk-icon-futbol-o"></i> Bahama-Sports</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-2-3">
                <label class="uk-form-label" for="form-">Schlagworte</label>

                <div class="uk-form-controls">
                    <input type="text" id="tags" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <label class="uk-form-label" for="form-">Dokumente</label>

                <div id="upload-drop" class="uk-placeholder">
                    <div class="uk-text-center uk-text-large">
                        <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
                        Dateien hier hinziehen oder <a class="uk-form-file">Dateien aussuchen<input id="upload-select"
                                                                                                    type="file"></a>.
                    </div>
                </div>

                <div id="progressbar" class="uk-progress uk-hidden">
                    <div class="uk-progress-bar" style="width: 0%;">...</div>
                </div>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_wiki_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_wiki_new', {'saved': 1}) }}" class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}