{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    <h1>Client list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('oauth_v2_client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('oauth_v2_client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('oauth_v2_client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oauth_v2_client_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
