{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    <h1>Client creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('oauth_v2_client_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
