{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    <h1>Client</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ client.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ client.name }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oauth_v2_client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('oauth_v2_client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
