<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <a href="{{ path('modules_todo_default_details', {'todo': todo}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted">
            <i class="uk-icon-cubes"></i>
            ToDo
        </small>
        <br>

        <a href="{{ path('modules_todo_default_details', {'todo': todo}) }}">
            {{ todo.title }}
            <!-- Kategorien -->
        </a>
    </h2>
    {% if todo.text %}
        {{ todo.text|raw }}
    {% endif %}
</div>