{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-user"></i> Profil
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('user_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('user_edit', {id: app.user.id}) }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="mailto:mustermann@km-haustechnik.de" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip
               title="Nachricht schreiben">
                <i class="uk-icon-envelope"></i>
            </a>
            <a href="#" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Max Mustermann', null, buttons, breadcrumb) }}

    <div class="uk-margin-bottom uk-text-small uk-text-muted">zuletzt angemeldet: {{ "now"|date('d.m.Y H:i') }}Uhr
    </div>

    <div class="uk-grid uk-grid-match" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #008dd0;">
                    <h1 class="uk-text-center uk-margin uk-margin uk-margin-top"><i class="uk-icon-user"></i></h1>
                </div>
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-1-2">
                        <i class="uk-icon-mobile"></i> 0176 456 789 123<br>
                    </div>
                    <div class="uk-width-1-2">
                        <i class="uk-icon-phone"></i> 0541 987 65<br>
                    </div>
                    <div class="uk-width-1-1">
                        <a href="mailto:mustermann@km-haustechnik.de"><i class="uk-icon-envelope"></i>
                            mustermann@km-haustechnik.de</a>
                    </div>
                    <div class="uk-width-1-1">
                        <i class="uk-icon-home"></i>
                        Große Straße 1, 49074 Osnabrück
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #008dd0;">
                    <a href="https://www.google.de/maps" target="_blank">
                        <h1 class="uk-text-center uk-margin uk-margin uk-margin-top"><i class="uk-icon-map-marker"></i>
                        </h1>
                    </a>
                </div>
                <div class="uk-text-large uk-text-muted uk-text-center">
                    <i class="uk-icon-quote-left"></i> <i>bin auf Außentermin</i>
                </div>
                <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <i class="uk-icon-university"></i> In der Mark 1a
                    </div>
                    <div class="uk-width-medium-1-2">
                        <i class="uk-icon-check-circle-o"></i> Allgemeine Arbeiten
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #009ee1;">
                    <a href="{{ path('kmui_ticket_index') }}">
                        <h1 class="uk-text-center uk-margin uk-margin uk-margin-top"><i
                                    class="uk-icon-check-circle-o"></i></h1>
                    </a>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            Tickets
                            <h1 class="uk-margin-remove">108</h1>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            <h2 class="uk-margin-remove uk-text-success">91 %</h2>
                            abgeschlossen
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #009ee1;">
                    <a href="{{ path('kmui_project_index') }}">
                        <h1 class="uk-text-center uk-margin uk-margin uk-margin-top"><i class="uk-icon-university"></i>
                        </h1>
                    </a>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            Projekte
                            <h1 class="uk-margin-remove">68</h1>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            <h2 class="uk-margin-remove">54</h2>
                            abgeschlossene
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #00aff2;">
                    <a href="{{ path('kmui_timetrack_index') }}">
                        <h1 class="uk-text-center uk-margin uk-margin-top"><i class="uk-icon-clock-o"></i></h1>
                    </a>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            <h1 class="uk-margin-remove uk-text-success">+6</h1>
                            Stunden
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            Ticketquote
                            <h1 class="uk-margin-remove uk-text-success">86 %</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #00aff2;">
                    <a href="{{ path('kmui_wiki_index') }}">
                        <h1 class="uk-text-center uk-margin uk-margin-top"><i class="uk-icon-wikipedia-w"></i></h1>
                    </a>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            Artikel
                            <h1 class="uk-margin-remove">18</h1>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            <h2 class="uk-margin-remove">28</h2>
                            bearbeitet
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #00aff2;">
                    <h1 class="uk-text-center uk-margin uk-margin-top"><i class="uk-icon-users"></i></h1>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            <h1 class="uk-margin-remove">10</h1>
                            Jahre im Team
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            seit
                            <h2 class="uk-margin-remove">2006</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}