{% import '@CoreApp/macros.html.twig' as macros %}

<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <div class="uk-grid">
        <div class="uk-width-3-4">
            <h2 class="uk-margin-bottom-remove">
                <small class="uk-text-muted"><i class="uk-icon-wikipedia-w"></i> Artikel</small>
                <br>
                <a href="{{ path('modules_wiki_article_show', {'id': article.id}) }}">
                    {{ article.name }}
                </a><br>
                {% if article.tags|length %}
                    <div class="uk-text-muted uk-text-small">
                        <i>
                            {% for tag in article.tags %}
                                {{ tag.name }}{% if loop.index < article.tags|length %}, {% endif %}
                            {% endfor %}
                        </i>
                    </div>
                {% endif %}
            </h2>
        </div>
        <div class="uk-width-1-4 uk-text-right">
            <div class="uk-button-group">
                <a href="{{ path('modules_wiki_article_edit', {'id': article.id}) }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Bearbeiten">
                    <i class="uk-icon-pencil"></i>
                </a>
                <a href="{{ path('modules_wiki_article_show', {'id': article.id}) }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Details">
                    <i class="uk-icon-eye"></i>
                </a>
                {% if article.documents|length %}
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos: 'bottom-right'}"
                         data-uk-tooltip title="Downloads">
                        <button class="uk-button uk-button-small uk-button-primary uk-float-right">
                            <i class="uk-icon-download"></i>
                            <i class="uk-icon-angle-down"></i>
                        </button>
                        <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom-left">
                            <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                {% for document in article.documents %}
                                    <li>
                                        <a href="/{{ document.path }}" download>
                                            <i class="uk-icon-{{ macros.fileIcon(document.mime) }}"></i>
                                            {{ document.name }}
                                            <span class="uk-text-muted uk-text-small">({{ macros.readableFileSize(document.size) }}
                                                )</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {{ article.text|raw }}
</div>