{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    <h1 class="content-headline">
        Kontakte
        <a href="" class="favorite-toggle uk-float-right">
            <i class="uk-icon-star uk-text-warning"></i>
            {#<i class="uk-icon-star-o uk-text-muted"></i>#}
        </a>
    </h1>

    <table class="uk-table uk-table-hover uk-table-striped data-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Land</th>
            <th>Stadt</th>
            <th>PLZ</th>
            <th></th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.data-table').DataTable({
                "ajax": {
                    "url": "{{ path('api_get_addresses', {'access_token': app_helper.accessToken()}) }}",
                    "dataSrc": ""
                },
                "columns": [
                    {"data": "name"},
                    {"data": "country"},
                    {"data": "city"},
                    {"data": "zip"},
                    {
                        "data": null,
                        "defaultContent": "<button class=\"uk-button uk-button-primary\"><i class=\"uk-icon-edit\"></i></button> <button class=\"uk-button uk-button-danger\"><i class=\"uk-icon-trash\"></i></button>",
                        "orderable": false
                    }
                ]
            });
        });
    </script>
{% endblock %}