{% if is_granted('ROLE_ADMIN') %}
    <div class="uk-modal uk-text-left" id="delete-group-{{ group.id }}">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>

            <b class="uk-text-large">Möchten Sie die Gruppe <i class="uk-text-muted">{{ group.name }}</i> wirklich löschen?</b>
            <div class="uk-alert uk-alert-info">
                Die Benutzer dieser Gruppe bleiben erhalten, sie verlieren jedoch die Berechtigungen, die sie von dieser Gruppe erben.
            </div>

            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('fos_user_group_delete', {'groupName': group.name}) }}" class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endif %}