{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Benutzer
    {% endset %}
    {% set buttons %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('fos_user_group_new') }}" class="uk-button uk-button-success uk-button-small"
               data-uk-tooltip title="Gruppe anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader('Gruppen', null, buttons, breadcrumb) }}

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Mitglieder</th>
                <th></th>
            </tr>
            </thead>
            {% for group in groups %}
                <tr>
                    <td>
                        {{ group.getName() }}
                    </td>
                    <td>
                        {{ app_helper.userCountByGroup(group) }}
                    </td>
                    <td class="uk-text-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="uk-button-group">
                                <a href="{{ path('fos_user_group_edit', {'groupName': group.name} ) }}" class="uk-button uk-button-primary uk-button-small"
                                   data-uk-tooltip title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                                <a href="#delete-group-{{ group.id }}" data-uk-tooltip title="Löschen"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            </div>
                            {% include 'FOSUserBundle:Group:delete-modal.html.twig' %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Gruppen angelegt.<br>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('fos_user_group_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Gruppe anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
