{% extends '@CoreApp/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Benutzer
    {% endset %}
    {% set buttons %}
        <a href="{{ path('fos_user_group_list') }}" class="uk-button uk-button-primary uk-button-small"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Gruppe anlegen', null, buttons, breadcrumb) }}

    {{ form_start(form, {'action': path('fos_user_group_new')}) }}
    <div class="uk-panel uk-panel-box uk-margin-bottom">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {{ form_row(form.name) }}
            </div>
        </div>
    </div>

    {% include '@FOSUser/Group/permissions.html.twig' with {'group': null} %}

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('fos_user_group_list') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button type="submit" class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
