{% if is_granted('ROLE_ADMIN') %}
    {% macro checkbox(group, attribute, entity) %}
        <td class="uk-text-center">
            <input type="checkbox" name="core_app_group_permissions[{{ entity.class }}][{{ attribute }}]"
                    {% if app_helper.can(group, attribute, entity.class) %}checked="checked"{% endif %}
                    style="display: none;" />
            <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-ban'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked'))"
               class="uk-button {% if app_helper.can(group, attribute, entity.class) %} uk-active uk-button-success{% else %} uk-button-danger{% endif %}">
                <i class="uk-icon-{% if app_helper.can(group, attribute, entity.class) %}check{% else %}ban{% endif %}"></i>
            </a>
        </td>
    {% endmacro %}

    {% import _self as self %}

    <div class="uk-width-1-1">
        <a href="#" class="uk-button uk-button-primary uk-button-small"
           data-uk-toggle="{target:'#permissions', animation:'uk-animation-slide-top'}"
           data-uk-tooltip title="Berechtigungen">
            <i class="uk-icon-key"></i>
            <i class="uk-icon-angle-down"></i>
        </a>

        <div class="uk-overflow-hidden">
            <div id="permissions" class="uk-panel uk-hidden uk-panel-box uk-margin-small-top uk-padding-remove">
                <table class="uk-table uk-table-condensed uk-table-hover uk-table-striped uk-margin-remove">
                    <tr>
                        <td></td>
                        <td class="uk-text-center">
                            <a href="#" class="uk-button" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                        </td>
                        <td class="uk-text-center">
                            <a href="#" class="uk-button" data-uk-tooltip title="Erstellen">
                                <i class="uk-icon-plus"></i>
                            </a>
                        </td>
                        <td class="uk-text-center">
                            <a href="#" class="uk-button" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                        </td>
                        <td class="uk-text-center">
                            <a href="#" class="uk-button" data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% for bundleName, aclEntities in app_helper.aclEntities %}
                        <tr><th colspan="5">{{ bundleName }}</th></tr>
                        {% for aclEntity in aclEntities %}
                            <tr>
                                <td class="uk-width-1-3">{{ aclEntity.label }}</td>
                                {{ self.checkbox(group, 'VIEW', aclEntity) }}
                                {{ self.checkbox(group, 'CREATE', aclEntity) }}
                                {{ self.checkbox(group, 'EDIT', aclEntity) }}
                                {{ self.checkbox(group, 'DELETE', aclEntity) }}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endif %}