{% extends '@CoreApp/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Benutzer
    {% endset %}
    {% set buttons %}
        <a href="{{ path('fos_user_group_list') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader(group.name, 'folder', buttons, breadcrumb) }}

    <table class="uk-table">
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{ group.name }}</td>
        </tr>
        <tr>
            <th>Mitglieder:</th>
            <td>{{ app_helper.userCountByGroup(group) }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
