<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <a href="{{ path('modules_team_member_edit', {'member': member.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted"><i class="uk-icon-users"></i> Team</small>
        <br>
        <a href="{{ path('modules_team_member_details', {'member': member.id}) }}">
            {{ member.fullName }}
        </a>
    </h2>
</div>