{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Kontakte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_contact_field_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neues Formularfeld<br>anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Formularfelder', null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>Formular</th>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th class="uk-text-nowrap">
                    Typ
                </th>
                <th class="uk-text-nowrap">
                    Kategorie
                </th>
                <th class="uk-text-nowrap">
                    Auswahloptionen
                </th>
                <th class="uk-text-nowrap">
                    Pflichtfeld
                </th>
                {#<th class="uk-text-nowrap">#}
                {#Standardwert#}
                {#</th>#}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set formNames = {'contact': 'Kontakt', 'address': 'Adresse', 'person': 'Ansprechpartner', 'bank_account': 'Kontoverbindung'} %}
            {% set typeNames = {'text': 'Text (einzeilig)', 'textarea': 'Text (mehrzeilig)', 'select_single': 'Auswahl (einfach)', 'select_multiple': 'Auswahl (mehrfach)', 'checkbox': 'Kontrollkästchen'} %}
            {% for field in pagination %}
                <tr>
                    <td>{{ formNames[field.form] }}</td>
                    <td>{{ field.name }}</td>
                    <td>{{ typeNames[field.type] }}</td>
                    <td>
                        {% for category in field.categories %}
                            <a href="{{ path('modules_contact_default_categoryindex', {'category': category.id}) }}">
                                {% if category.icon %}
                                    <i class="uk-icon-{{ category.icon }}"></i>
                                {% endif %}
                                {{ category.name }}
                            </a>
                            {% if loop.index != field.categories|length %}<br>{% endif %}
                        {% else %}
                            <a href="{{ path('modules_contact_default_index') }}">
                                Alle Kontakte
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for fieldOption in field.fieldOptions %}
                            {{ fieldOption.name }}
                            {% if loop.index != field.fieldOptions|length %}<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if field.required %}
                            <i class="uk-icon-check uk-text-success"></i>
                        {% else %}
                            <i class="uk-icon-ban uk-text-danger"></i>
                        {% endif %}
                    </td>
                    {#<td></td>#}
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('modules_contact_field_edit', {'id': field.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#delete-field-{{ field.id }}" class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen"
                               data-uk-modal>
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>

                        <div id="delete-field-{{ field.id }}" class="uk-modal uk-text-left">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                <div class="uk-modal-header uk-modal-header-danger">
                                    <h3>
                                        <i class="uk-icon-warning"></i>
                                        Löschen bestätigen
                                    </h3>
                                </div>
                                <b class="uk-text-large">Möchten Sie dieses Formularfeld wirklich löschen?</b><br>
                                <br>
                                <span class="uk-text-muted uk-text-large">{{ field.name }}</span><br>
                                <br>
                                <span class="uk-text-danger">Bisher eingetragene Werte werden ebenfalls gelöscht!</span><br>
                                <br>
                                {{ form_start(deleteForms[field.id]) }}
                                <div class="uk-modal-footer">
                                    <a href="#" class="uk-button uk-modal-close">
                                        <i class="uk-icon-close"></i>
                                        Abbrechen
                                    </a>
                                    <button class="uk-button uk-button-danger uk-float-right">
                                        <i class="uk-icon-trash"></i>
                                        Löschen!
                                    </button>
                                </div>
                                {{ form_end(deleteForms[field.id]) }}
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Formularfelder angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Field') %}
                            <a href="{{ path('modules_contact_field_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neues Formularfeld anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}