{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Kontakte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_contact_field_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Formularfeld', null, buttons, breadcrumb) }}

    {{ form_start(form) }}

    {# Main Form #}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-8-10">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-2-10">
                {{ form_row(form.required) }}
            </div>
            <div class="uk-width-1-3">
                {{ form_row(form.form) }}
            </div>
            <div class="uk-width-1-3">
                {{ form_row(form.type) }}
            </div>
            <div class="uk-width-1-3">
                {{ form_row(form.categories) }}
            </div>
        </div>
    </div>

    {# Opitons #}
    <div id="field-options-container" class="uk-margin-top uk-hidden">
        <h2 class="content-headline">
            <i class="uk-icon-list"></i>
            Auswahloptionen
        </h2>

        {{ form_row(form.fieldOptions) }}
    </div>


    {# Form Buttons Bottom #}
    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_contact_field_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}

    <script type="text/javascript">
        $('#field_fieldOptions').collection({
            allow_duplicate: true,
            up: '<a href="#" class="uk-button uk-button-small" title="nach oben verschieben"><i class="uk-icon-arrow-up"></i></a>',
            down: '<a href="#" class="uk-button uk-button-small" title="nach unten verschieben"><i class="uk-icon-arrow-down"></i></a>',
            add: '<a href="#" class="uk-button uk-button-small uk-button-success uk-float-right" title="Hinzufügen"><i class="uk-icon-plus"></i></a>',
            remove: '<a href="#" class="uk-button uk-button-small uk-button-danger" title="Löschen"><i class="uk-icon-trash"></i></a>',
            duplicate: '<a href="#" class="uk-button uk-button-small uk-button-success" title="Kopieren"><i class="uk-icon-copy"></i></a>',
            order_field_selector: '.order',
            after_add: function (collection, element) {
                element.find('.select2').select2();
            },
            after_duplicate: function (collection, element) {
                element.find('.select2-hidden-accessible').removeClass('select2-hidden-accessible');
                element.find('.select2-container').remove();
                element.find('.select2').select2();
            }
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#field_type').change(function () {
                var type = $(this).val();

                if (type == 'text' || type == 'textarea') {
                    $('#field-options-container').addClass('uk-hidden');
                }

                if (type == 'select_single' || type == 'select_multiple') {
                    $('#field-options-container').removeClass('uk-hidden');
                }

                if (type == 'checkbox') {
                    $('#field-options-container').addClass('uk-hidden');
                }
            });
        });
    </script>
{% endblock %}

{% form_theme form _self %}

{% block _field_fieldOptions_entry_widget %}
    {% include '@ModulesContact/Field/add-field-option-form.html.twig' %}
{% endblock %}