{# ####################################################################################### #}
{# Page: Base template                                                                     #}
{#                                                                                         #}
{# Base template (most outer frame) for all pages except login                             #}
{#                                                                                         #}
{# Author: joerg.sommer@crea.de                                                            #}
{#                                                                                         #}
{# ####################################################################################### #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{% block title %}{% endblock %} K&amp;M Haustechnik</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/uikit/img/favicon.png') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('assets/uikit/img/app-icon.png') }}">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {# ??? FIXME for what?#}
    {% if app_helper.getParameter('hotjar') %}
        <!-- Hotjar Tracking Code for dev.yono.eu -->
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () {
                        (h.hj.q = h.hj.q || []).push(arguments)
                    };
                h._hjSettings = {hjid:{{ app_helper.getParameter('hotjar_id') }}, hjsv: 5};
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
    {% endif %}
</head>
<body>
{% block overlay %}{% endblock %}
{% block body %}{% endblock %}

{# ??? FIXME for what? #}
{# Generates an ID with 30 random letters in the range of [A-Za-z0-9] #}
{% set requestID = [] %}
{% for i in 1..30 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set requestID = requestID|merge([randomCharacter]) %}
{% endfor %}
{% set requestID = requestID|join %}

{# ??? FIXME for what?#}
<!-- REQUEST::{{ requestID }} -->
<script>
    Yono = {
        instance: {
            environment: "{{ app.environment }}",
            request: {
                id: "{{ requestID }}",
                type: "{{ app.request.method }}"
            }
        },
        session: {
            user: {% if app.user %}{
                name: "{{ app.user.username }}",
                roles: {{ app.user.roles|json_encode|raw }},
                hasRole: function (roleName) {
                    for (i = 0; i < Yono.session.user.roles.length; i++) {
                        if (Yono.session.user.roles[i] === roleName) {
                            return true;
                        }
                    }

                    return !!(Yono.session.user.hasRole("ROLE_SUPER_ADMIN") || Yono.session.user.hasRole("ROLE_ADMIN"));
                }
            }{% else %}
            null,
            {% endif %}
        }
    }
</script>
</body>
</html>