{# ####################################################################################### #}
{# Page: Base template login                                                               #}
{#                                                                                         #}
{# Base template (most outer frame) for login only                                         #}
{#                                                                                         #}
{# Author: joerg.sommer@crea.de                                                            #}
{#                                                                                         #}
{# ####################################################################################### #}

<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{% block title %}K&amp;M Haustechnik{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/uikit/img/favicon.png') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('assets/uikit/img/app-icon.png') }}">
    {% block stylesheets %}
        {% stylesheets
        'assets/uikit/vendor/uikit/css/uikit.almost-flat.min.css'
        'assets/uikit/vendor/uikit/css/components/form-password.almost-flat.min.css'
        'assets/uikit/vendor/offline/themes/offline-theme-chrome.css'
        'assets/uikit/vendor/offline/themes/offline-language-german.css'
        'assets/uikit/css/uikit-theme.css'
        'assets/uikit/css/index.css'
        filter='?uglifycss'
        filter='cssrewrite'
        output='css/login.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts
        'assets/uikit/vendor/jquery/dist/jquery.min.js'
        'assets/uikit/vendor/uikit/js/uikit.min.js'
        'assets/uikit/vendor/uikit/js/components/form-password.min.js'
        'assets/uikit/vendor/offline/offline.min.js'
        filter='?uglifyjs'
        output='js/login.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {# ??? FIXME for what?#}
    {% if app_helper.getParameter('hotjar') %}
        <!-- Hotjar Tracking Code for dev.yono.eu -->
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () {
                        (h.hj.q = h.hj.q || []).push(arguments)
                    };
                h._hjSettings = {hjid: 402485, hjsv: 5};
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
    {% endif %}
</head>
<body class="uk-height-1-1">
{% block body %}{% endblock %}
</body>
</html>