{% use '@CraueFormFlow/FormFlow/stepList_blocks.html.twig' %}


{%- if flow.getStepLabels() is not empty -%}
    <ol class="craue_formflow_steplist" style="list-style: inherit;">
        {% for stepLabel in flow.getStepLabels() %}
            <li{{ block('craue_flow_stepList_class') }}>
                <div class="form-step-count">{{ loop.index }}</div>
                <div class="form-step-text uk-text-center">
                    {%- if craue_isStepLinkable(flow, loop.index) -%}
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all
                        | merge(app.request.attributes.get('_route_params'))
                        | craue_addDynamicStepNavigationParameters(flow, loop.index)) }}">
                            {{- block('craue_flow_stepLabel') -}}
                        </a>
                    {%- else -%}
                        {{ block('craue_flow_stepLabel') }}
                    {%- endif -%}
                </div>
            </li>
        {% endfor %}
    </ol>
{%- endif -%}
