{% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
<div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
    {#
        Default button (the one trigged by pressing the enter/return key) must be defined first.
        Thus, all buttons are defined in reverse order and will be reversed again via CSS.
        See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
    #}
    {%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}
    {%- set craue_formflow_button_class_last = craue_formflow_button_class_last | default('craue_formflow_button_last') -%}
    {%- set craue_formflow_button_class_last = isLastStep
    ? craue_formflow_button_class_finish | default(craue_formflow_button_class_last)
    : craue_formflow_button_class_next | default(craue_formflow_button_class_last) -%}

    {% if isLastStep %}
        {% set lastdefault=craue_formflow_button_label_finish | default('button.finish') %}
    {% else %}
        {% set lastdefault=craue_formflow_button_label_next | default('button.next') %}
    {% endif %}
    {%- set craue_buttons = [
    {
    label: lastdefault,
    render: true,
    attr: {
    class: craue_formflow_button_class_last,
    },
    },
    {
    label: craue_formflow_button_label_reset | default('button.reset'),
    render: true,
    attr: {
    class: craue_formflow_button_class_reset | default('craue_formflow_button_first'),
    name: flow.getFormTransitionKey(),
    value: 'reset',
    formnovalidate: 'formnovalidate',
    },
    },
    ] -%}

    {% for button in craue_buttons if button.render %}
        <button type="submit"{% for key, value in button.attr %} {{ key }}="{{ value }}"{% endfor %}>
        {{- button.label| trans({}, 'CraueFormFlowBundle')|raw -}}
        </button>
    {% endfor %}
</div>
