{% extends 'RavenbergUiKitBundle::uikit-form.html.twig' %}

{%- block form_start -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form uk-form-stacked')|trim}) -%}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block button_widget -%}
    {% if label == 'delete' -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button uk-button-danger')|trim}) -%}
    {%- elseif type is defined and 'submit' == type -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button uk-button-primary')|trim}) -%}
    {%- else -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button')|trim}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="uk-alert uk-alert-danger">
                <i class="uk-icon-warning"></i>
                {{ error.message }}
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block form_widget_simple -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-danger')|trim}) -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-large uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        {%- set type = type|default('text') -%}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock form_widget_simple -%}

{%- block password_widget -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-danger')|trim}) -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-large uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        <div class="uk-form-password uk-width-1-1">
            {%- set type = type|default('password') -%}
            <input type="{{- type -}}" {{- block('widget_attributes') -}} {%- if value is not empty -%}value="{{- value -}}" {%- endif -%}/>
            <a href="" class="uk-form-password-toggle"
               data-uk-form-password="{lblShow: '<i class=uk-icon-eye></i>', lblHide: '<i class=uk-icon-eye-slash></i>'}">
                <i class="uk-icon-eye"></i>
            </a>
        </div>
    </div>
{%- endblock password_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' select2 uk-form-large uk-width-1-1')|trim}) -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block date_widget -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-danger')|trim}) -%}
    {%- endif -%}
    {%- if widget != 'single_text' -%}
        {%- set value = date_pattern|replace({'{{- year -}}': value.year, '{{- month -}}': value.month, '{{- day -}}': value.day})|raw -%}
        {{ date_pattern }}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-large uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        <input type="text" {{- block('widget_attributes') -}}
                {%- if value is not empty -%}value="{{- value|localizeddate('short', 'none', app.request.locale, null, 'dd.MM.yyyy') -}}" {%- endif -%}
               data-uk-datepicker="{format:'{{ localizeddateformat('short', 'none', app.request.locale, null, 'dd.MM.yyyy') }}', i18n:{months:[{% for j in range(1, 12) %}
           '{{ date('2012-' ~ j ~ '-01') | localizeddate('full', 'none', app.request.locale, null, 'MMMM' ) }}'
           {% if not loop.last %},{% endif %}
           {% endfor %}], weekdays:[{% for j in range(1, 7) %}
                   '{{ date('2012-01-' ~ j) | localizeddate('full', 'none', app.request.locale, null, 'EE' ) }}'
                   {% if not loop.last %},{% endif %}
               {% endfor %}]}}"/>
    </div>
{%- endblock date_widget -%}

{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{%- block search_widget -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-danger')|trim}) -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-large uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        <div class="uk-form-icon">
            <i class="uk-icon-search"></i>
            {%- set type = type|default('search') -%}
            <input type="{{- type -}}" {{- block('widget_attributes') -}} {%- if value is not empty -%}value="{{- value -}}" {%- endif -%}/>
        </div>
    </div>
{%- endblock search_widget -%}

{%- block number_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-large uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        {%- set type = type|default('number') -%}
        <input type="{{- type -}}" {{- block('widget_attributes') -}} {%- if value is not empty -%}value="{{- value|replace(',','.') -}}" {%- endif -%}/>
    </div>
{%- endblock number_widget -%}

{%- block money_widget -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-danger')|trim}) -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-large uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        <div class="uk-form-icon">
            <i class="uk-icon-money"></i>
            {%- set prepend = '{{' == money_pattern[0:2] -%}
            {%- set type = type|default('number') -%}
            <input type="{{- type -}}" {{- block('widget_attributes') -}} {%- if value is not empty -%}value="{{- value|replace(',','.') -}}" {%- endif -%}/>
        </div>
    </div>
{%- endblock money_widget -%}

{%- block percent_widget -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-danger')|trim}) -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-large uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        {%- set type = type|default('number') -%}
        <input type="{{- type -}}" {{- block('widget_attributes') -}} {%- if value is not empty -%}value="{{- value -}}" {%- endif -%}/>
        <span class="uk-form-help-inline">%</span>
    </div>
{%- endblock percent_widget -%}

{%- block checkbox_widget -%}
    <div class="uk-form-controls">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}
               style="display: none;"/>
        <a id="{{ id }}_toggler"
           onclick="$(this).toggleClass('uk-text-success uk-text-muted').find('i').toggleClass('uk-icon-toggle-on uk-icon-toggle-off'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked'))"
           class="{% if checked %}uk-text-success{% else %}uk-text-muted{% endif %}">
            <i class="uk-icon-large uk-icon-{% if checked %}toggle-on{% else %}toggle-off{% endif %}"></i>
        </a>
    </div>
{%- endblock checkbox_widget -%}

{%- block textarea_widget -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-danger')|trim}) -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-width-1-1')|trim}) -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock textarea_widget -%}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{%- block file_widget -%}
    <a class="uk-form-file uk-button uk-padding-remove">
        <i class="uk-icon-cloud-upload uk-text-muted uk-margin-small-left uk-margin-small-right"></i>
        {{- label|trans -}}
        <span class="filename uk-margin-small-left uk-margin-small-right"></span>
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-upload-select')|trim}) -%}
        <input type="file" {{- block('widget_attributes') -}}>
        <script>
            $(function () {
                $(document).on('change', '#{{ id }}', function () {
                    $(this).prev().text('(' + baseName($(this).val()) + ')');
                });
                function baseName(str)
                {
                    var base;
                    base = String(str).substring(str.lastIndexOf('\\') + 1);
                    if(base.lastIndexOf(".") !== -1)
                        base = base.substring(0, base.lastIndexOf("."));
                    return base;
                }
            })
        </script>
    </a>
{%- endblock file_widget -%}

{% block icon_widget %}
    {% set value = 'uk-icon-' ~ value %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#{{ id }}').fontIconPicker({
                source: [
                    "uk-icon-glass", "uk-icon-music", "uk-icon-search", "uk-icon-envelope-o", "uk-icon-heart", "uk-icon-star", "uk-icon-star-o", "uk-icon-user", "uk-icon-film", "uk-icon-th-large", "uk-icon-th",
                    "uk-icon-th-list", "uk-icon-check", "uk-icon-times", "uk-icon-search-plus", "uk-icon-search-minus", "uk-icon-power-off", "uk-icon-signal", "uk-icon-cog", "uk-icon-trash-o", "uk-icon-home",
                    "uk-icon-file-o", "uk-icon-clock-o", "uk-icon-road", "uk-icon-download", "uk-icon-arrow-circle-o-down", "uk-icon-arrow-circle-o-up", "uk-icon-inbox", "uk-icon-play-circle-o", "uk-icon-repeat", "uk-icon-refresh",
                    "uk-icon-list-alt", "uk-icon-lock", "uk-icon-flag", "uk-icon-headphones", "uk-icon-volume-off", "uk-icon-volume-down", "uk-icon-volume-up", "uk-icon-qrcode", "uk-icon-barcode", "uk-icon-tag",
                    "uk-icon-tags", "uk-icon-book", "uk-icon-bookmark", "uk-icon-print", "uk-icon-camera", "uk-icon-font", "uk-icon-bold", "uk-icon-italic", "uk-icon-text-height", "uk-icon-text-width",
                    "uk-icon-align-left", "uk-icon-align-center", "uk-icon-align-right", "uk-icon-align-justify", "uk-icon-list", "uk-icon-outdent", "uk-icon-indent", "uk-icon-video-camera", "uk-icon-picture-o", "uk-icon-pencil",
                    "uk-icon-map-marker", "uk-icon-adjust", "uk-icon-tint", "uk-icon-pencil-square-o", "uk-icon-share-square-o", "uk-icon-check-square-o", "uk-icon-arrows", "uk-icon-step-backward", "uk-icon-fast-backward", "uk-icon-backward",
                    "uk-icon-play", "uk-icon-pause", "uk-icon-stop", "uk-icon-forward", "uk-icon-fast-forward", "uk-icon-step-forward", "uk-icon-eject", "uk-icon-chevron-left", "uk-icon-chevron-right", "uk-icon-plus-circle",
                    "uk-icon-minus-circle", "uk-icon-times-circle", "uk-icon-check-circle", "uk-icon-question-circle", "uk-icon-info-circle", "uk-icon-crosshairs", "uk-icon-times-circle-o", "uk-icon-check-circle-o", "uk-icon-ban", "uk-icon-arrow-left",
                    "uk-icon-arrow-right", "uk-icon-arrow-up", "uk-icon-arrow-down", "uk-icon-share", "uk-icon-expand", "uk-icon-compress", "uk-icon-plus", "uk-icon-minus", "uk-icon-asterisk", "uk-icon-exclamation-circle",
                    "uk-icon-gift", "uk-icon-leaf", "uk-icon-fire", "uk-icon-eye", "uk-icon-eye-slash", "uk-icon-exclamation-triangle", "uk-icon-plane", "uk-icon-calendar", "uk-icon-random", "uk-icon-comment",
                    "uk-icon-magnet", "uk-icon-chevron-up", "uk-icon-chevron-down", "uk-icon-retweet", "uk-icon-shopping-cart", "uk-icon-folder", "uk-icon-folder-open", "uk-icon-arrows-v", "uk-icon-arrows-h", "uk-icon-bar-chart",
                    "uk-icon-twitter-square", "uk-icon-facebook-square", "uk-icon-camera-retro", "uk-icon-key", "uk-icon-cogs", "uk-icon-comments", "uk-icon-thumbs-o-up", "uk-icon-thumbs-o-down", "uk-icon-star-half", "uk-icon-heart-o",
                    "uk-icon-sign-out", "uk-icon-linkedin-square", "uk-icon-thumb-tack", "uk-icon-external-link", "uk-icon-sign-in", "uk-icon-trophy", "uk-icon-github-square", "uk-icon-upload", "uk-icon-lemon-o", "uk-icon-phone",
                    "uk-icon-square-o", "uk-icon-bookmark-o", "uk-icon-phone-square", "uk-icon-twitter", "uk-icon-facebook", "uk-icon-github", "uk-icon-unlock", "uk-icon-credit-card", "uk-icon-rss", "uk-icon-hdd-o",
                    "uk-icon-bullhorn", "uk-icon-bell", "uk-icon-certificate", "uk-icon-hand-o-right", "uk-icon-hand-o-left", "uk-icon-hand-o-up", "uk-icon-hand-o-down", "uk-icon-arrow-circle-left", "uk-icon-arrow-circle-right", "uk-icon-arrow-circle-up",
                    "uk-icon-arrow-circle-down", "uk-icon-globe", "uk-icon-wrench", "uk-icon-tasks", "uk-icon-filter", "uk-icon-briefcase", "uk-icon-arrows-alt", "uk-icon-users", "uk-icon-link", "uk-icon-cloud",
                    "uk-icon-flask", "uk-icon-scissors", "uk-icon-files-o", "uk-icon-paperclip", "uk-icon-floppy-o", "uk-icon-square", "uk-icon-bars", "uk-icon-list-ul", "uk-icon-list-ol", "uk-icon-strikethrough",
                    "uk-icon-underline", "uk-icon-table", "uk-icon-magic", "uk-icon-truck", "uk-icon-pinterest", "uk-icon-pinterest-square", "uk-icon-google-plus-square", "uk-icon-google-plus", "uk-icon-money", "uk-icon-caret-down",
                    "uk-icon-caret-up", "uk-icon-caret-left", "uk-icon-caret-right", "uk-icon-columns", "uk-icon-sort", "uk-icon-sort-desc", "uk-icon-sort-asc", "uk-icon-envelope", "uk-icon-linkedin", "uk-icon-undo",
                    "uk-icon-gavel", "uk-icon-tachometer", "uk-icon-comment-o", "uk-icon-comments-o", "uk-icon-bolt", "uk-icon-sitemap", "uk-icon-umbrella", "uk-icon-clipboard", "uk-icon-lightbulb-o", "uk-icon-exchange",
                    "uk-icon-cloud-download", "uk-icon-cloud-upload", "uk-icon-user-md", "uk-icon-stethoscope", "uk-icon-suitcase", "uk-icon-bell-o", "uk-icon-coffee", "uk-icon-cutlery", "uk-icon-file-text-o", "uk-icon-building-o",
                    "uk-icon-hospital-o", "uk-icon-ambulance", "uk-icon-medkit", "uk-icon-fighter-jet", "uk-icon-beer", "uk-icon-h-square", "uk-icon-plus-square", "uk-icon-angle-double-left", "uk-icon-angle-double-right", "uk-icon-angle-double-up",
                    "uk-icon-angle-double-down", "uk-icon-angle-left", "uk-icon-angle-right", "uk-icon-angle-up", "uk-icon-angle-down", "uk-icon-desktop", "uk-icon-laptop", "uk-icon-tablet", "uk-icon-mobile", "uk-icon-circle-o",
                    "uk-icon-quote-left", "uk-icon-quote-right", "uk-icon-spinner", "uk-icon-circle", "uk-icon-reply", "uk-icon-github-alt", "uk-icon-folder-o", "uk-icon-folder-open-o", "uk-icon-smile-o", "uk-icon-frown-o",
                    "uk-icon-meh-o", "uk-icon-gamepad", "uk-icon-keyboard-o", "uk-icon-flag-o", "uk-icon-flag-checkered", "uk-icon-terminal", "uk-icon-code", "uk-icon-reply-all", "uk-icon-star-half-o", "uk-icon-location-arrow",
                    "uk-icon-crop", "uk-icon-code-fork", "uk-icon-chain-broken", "uk-icon-question", "uk-icon-info", "uk-icon-exclamation", "uk-icon-superscript", "uk-icon-subscript", "uk-icon-eraser", "uk-icon-puzzle-piece",
                    "uk-icon-microphone", "uk-icon-microphone-slash", "uk-icon-shield", "uk-icon-calendar-o", "uk-icon-fire-extinguisher", "uk-icon-rocket", "uk-icon-maxcdn", "uk-icon-chevron-circle-left", "uk-icon-chevron-circle-right", "uk-icon-chevron-circle-up",
                    "uk-icon-chevron-circle-down", "uk-icon-html5", "uk-icon-css3", "uk-icon-anchor", "uk-icon-unlock-alt", "uk-icon-bullseye", "uk-icon-ellipsis-h", "uk-icon-ellipsis-v", "uk-icon-rss-square", "uk-icon-play-circle",
                    "uk-icon-ticket", "uk-icon-minus-square", "uk-icon-minus-square-o", "uk-icon-level-up", "uk-icon-level-down", "uk-icon-check-square", "uk-icon-pencil-square", "uk-icon-external-link-square", "uk-icon-share-square", "uk-icon-compass",
                    "uk-icon-caret-square-o-down", "uk-icon-caret-square-o-up", "uk-icon-caret-square-o-right", "uk-icon-eur", "uk-icon-gbp", "uk-icon-usd", "uk-icon-inr", "uk-icon-jpy", "uk-icon-rub", "uk-icon-krw",
                    "uk-icon-btc", "uk-icon-file", "uk-icon-file-text", "uk-icon-sort-alpha-asc", "uk-icon-sort-alpha-desc", "uk-icon-sort-amount-asc", "uk-icon-sort-amount-desc", "uk-icon-sort-numeric-asc", "uk-icon-sort-numeric-desc", "uk-icon-thumbs-up",
                    "uk-icon-thumbs-down", "uk-icon-youtube-square", "uk-icon-youtube", "uk-icon-xing", "uk-icon-xing-square", "uk-icon-youtube-play", "uk-icon-dropbox", "uk-icon-stack-overflow", "uk-icon-instagram", "uk-icon-flickr",
                    "uk-icon-adn", "uk-icon-bitbucket", "uk-icon-bitbucket-square", "uk-icon-tumblr", "uk-icon-tumblr-square", "uk-icon-long-arrow-down", "uk-icon-long-arrow-up", "uk-icon-long-arrow-left", "uk-icon-long-arrow-right", "uk-icon-apple",
                    "uk-icon-windows", "uk-icon-android", "uk-icon-linux", "uk-icon-dribbble", "uk-icon-skype", "uk-icon-foursquare", "uk-icon-trello", "uk-icon-female", "uk-icon-male", "uk-icon-gratipay",
                    "uk-icon-sun-o", "uk-icon-moon-o", "uk-icon-archive", "uk-icon-bug", "uk-icon-vk", "uk-icon-weibo", "uk-icon-renren", "uk-icon-pagelines", "uk-icon-stack-exchange", "uk-icon-arrow-circle-o-right",
                    "uk-icon-arrow-circle-o-left", "uk-icon-caret-square-o-left", "uk-icon-dot-circle-o", "uk-icon-wheelchair", "uk-icon-vimeo-square", "uk-icon-try", "uk-icon-plus-square-o", "uk-icon-space-shuttle", "uk-icon-slack", "uk-icon-envelope-square",
                    "uk-icon-wordpress", "uk-icon-openid", "uk-icon-university", "uk-icon-graduation-cap", "uk-icon-yahoo", "uk-icon-google", "uk-icon-reddit", "uk-icon-reddit-square", "uk-icon-stumbleupon-circle", "uk-icon-stumbleupon",
                    "uk-icon-delicious", "uk-icon-digg", "uk-icon-pied-piper-pp", "uk-icon-pied-piper-alt", "uk-icon-drupal", "uk-icon-joomla", "uk-icon-language", "uk-icon-fax", "uk-icon-building", "uk-icon-child",
                    "uk-icon-paw", "uk-icon-spoon", "uk-icon-cube", "uk-icon-cubes", "uk-icon-behance", "uk-icon-behance-square", "uk-icon-steam", "uk-icon-steam-square", "uk-icon-recycle", "uk-icon-car",
                    "uk-icon-taxi", "uk-icon-tree", "uk-icon-spotify", "uk-icon-deviantart", "uk-icon-soundcloud", "uk-icon-database", "uk-icon-file-pdf-o", "uk-icon-file-word-o", "uk-icon-file-excel-o", "uk-icon-file-powerpoint-o",
                    "uk-icon-file-image-o", "uk-icon-file-archive-o", "uk-icon-file-audio-o", "uk-icon-file-video-o", "uk-icon-file-code-o", "uk-icon-vine", "uk-icon-codepen", "uk-icon-jsfiddle", "uk-icon-life-ring", "uk-icon-circle-o-notch",
                    "uk-icon-rebel", "uk-icon-empire", "uk-icon-git-square", "uk-icon-git", "uk-icon-hacker-news", "uk-icon-tencent-weibo", "uk-icon-qq", "uk-icon-weixin", "uk-icon-paper-plane", "uk-icon-paper-plane-o",
                    "uk-icon-history", "uk-icon-circle-thin", "uk-icon-header", "uk-icon-paragraph", "uk-icon-sliders", "uk-icon-share-alt", "uk-icon-share-alt-square", "uk-icon-bomb", "uk-icon-futbol-o", "uk-icon-tty",
                    "uk-icon-binoculars", "uk-icon-plug", "uk-icon-slideshare", "uk-icon-twitch", "uk-icon-yelp", "uk-icon-newspaper-o", "uk-icon-wifi", "uk-icon-calculator", "uk-icon-paypal", "uk-icon-google-wallet",
                    "uk-icon-cc-visa", "uk-icon-cc-mastercard", "uk-icon-cc-discover", "uk-icon-cc-amex", "uk-icon-cc-paypal", "uk-icon-cc-stripe", "uk-icon-bell-slash", "uk-icon-bell-slash-o", "uk-icon-trash", "uk-icon-copyright",
                    "uk-icon-at", "uk-icon-eyedropper", "uk-icon-paint-brush", "uk-icon-birthday-cake", "uk-icon-area-chart", "uk-icon-pie-chart", "uk-icon-line-chart", "uk-icon-lastfm", "uk-icon-lastfm-square", "uk-icon-toggle-off",
                    "uk-icon-toggle-on", "uk-icon-bicycle", "uk-icon-bus", "uk-icon-ioxhost", "uk-icon-angellist", "uk-icon-cc", "uk-icon-ils", "uk-icon-meanpath", "uk-icon-buysellads", "uk-icon-connectdevelop",
                    "uk-icon-dashcube", "uk-icon-forumbee", "uk-icon-leanpub", "uk-icon-sellsy", "uk-icon-shirtsinbulk", "uk-icon-simplybuilt", "uk-icon-skyatlas", "uk-icon-cart-plus", "uk-icon-cart-arrow-down", "uk-icon-diamond",
                    "uk-icon-ship", "uk-icon-user-secret", "uk-icon-motorcycle", "uk-icon-street-view", "uk-icon-heartbeat", "uk-icon-venus", "uk-icon-mars", "uk-icon-mercury", "uk-icon-transgender", "uk-icon-transgender-alt",
                    "uk-icon-venus-double", "uk-icon-mars-double", "uk-icon-venus-mars", "uk-icon-mars-stroke", "uk-icon-mars-stroke-v", "uk-icon-mars-stroke-h", "uk-icon-neuter", "uk-icon-genderless", "uk-icon-facebook-official", "uk-icon-pinterest-p",
                    "uk-icon-whatsapp", "uk-icon-server", "uk-icon-user-plus", "uk-icon-user-times", "uk-icon-bed", "uk-icon-viacoin", "uk-icon-train", "uk-icon-subway", "uk-icon-medium", "uk-icon-y-combinator",
                    "uk-icon-optin-monster", "uk-icon-opencart", "uk-icon-expeditedssl", "uk-icon-battery-full", "uk-icon-battery-three-quarters", "uk-icon-battery-half", "uk-icon-battery-quarter", "uk-icon-battery-empty", "uk-icon-mouse-pointer", "uk-icon-i-cursor",
                    "uk-icon-object-group", "uk-icon-object-ungroup", "uk-icon-sticky-note", "uk-icon-sticky-note-o", "uk-icon-cc-jcb", "uk-icon-cc-diners-club", "uk-icon-clone", "uk-icon-balance-scale", "uk-icon-hourglass-o", "uk-icon-hourglass-start",
                    "uk-icon-hourglass-half", "uk-icon-hourglass-end", "uk-icon-hourglass", "uk-icon-hand-rock-o", "uk-icon-hand-paper-o", "uk-icon-hand-scissors-o", "uk-icon-hand-lizard-o", "uk-icon-hand-spock-o", "uk-icon-hand-pointer-o", "uk-icon-hand-peace-o",
                    "uk-icon-trademark", "uk-icon-registered", "uk-icon-creative-commons", "uk-icon-gg", "uk-icon-gg-circle", "uk-icon-tripadvisor", "uk-icon-odnoklassniki", "uk-icon-odnoklassniki-square", "uk-icon-get-pocket", "uk-icon-wikipedia-w",
                    "uk-icon-safari", "uk-icon-chrome", "uk-icon-firefox", "uk-icon-opera", "uk-icon-internet-explorer", "uk-icon-television", "uk-icon-contao", "uk-icon-500px", "uk-icon-amazon", "uk-icon-calendar-plus-o",
                    "uk-icon-calendar-minus-o", "uk-icon-calendar-times-o", "uk-icon-calendar-check-o", "uk-icon-industry", "uk-icon-map-pin", "uk-icon-map-signs", "uk-icon-map-o", "uk-icon-map", "uk-icon-commenting", "uk-icon-commenting-o",
                    "uk-icon-houzz", "uk-icon-vimeo", "uk-icon-black-tie", "uk-icon-fonticons", "uk-icon-reddit-alien", "uk-icon-edge", "uk-icon-credit-card-alt", "uk-icon-codiepie", "uk-icon-modx", "uk-icon-fort-awesome",
                    "uk-icon-usb", "uk-icon-product-hunt", "uk-icon-mixcloud", "uk-icon-scribd", "uk-icon-pause-circle", "uk-icon-pause-circle-o", "uk-icon-stop-circle", "uk-icon-stop-circle-o", "uk-icon-shopping-bag", "uk-icon-shopping-basket",
                    "uk-icon-hashtag", "uk-icon-bluetooth", "uk-icon-bluetooth-b", "uk-icon-percent", "uk-icon-gitlab", "uk-icon-wpbeginner", "uk-icon-wpforms", "uk-icon-envira", "uk-icon-universal-access", "uk-icon-wheelchair-alt",
                    "uk-icon-question-circle-o", "uk-icon-blind", "uk-icon-audio-description", "uk-icon-volume-control-phone", "uk-icon-braille", "uk-icon-assistive-listening-systems", "uk-icon-american-sign-language-interpreting", "uk-icon-deaf", "uk-icon-glide", "uk-icon-glide-g",
                    "uk-icon-sign-language", "uk-icon-low-vision", "uk-icon-viadeo", "uk-icon-viadeo-square", "uk-icon-snapchat", "uk-icon-snapchat-ghost", "uk-icon-snapchat-square", "uk-icon-pied-piper", "uk-icon-first-order", "uk-icon-yoast",
                    "uk-icon-themeisle", "uk-icon-google-plus-official", "uk-icon-font-awesome", "uk-icon-handshake-o", "uk-icon-envelope-open", "uk-icon-envelope-open-o", "uk-icon-linode", "uk-icon-address-book", "uk-icon-address-book-o", "uk-icon-address-card",
                    "uk-icon-address-card-o", "uk-icon-user-circle", "uk-icon-user-circle-o", "uk-icon-user-o", "uk-icon-id-badge", "uk-icon-id-card", "uk-icon-id-card-o", "uk-icon-quora", "uk-icon-free-code-camp", "uk-icon-telegram",
                    "uk-icon-thermometer-full", "uk-icon-thermometer-three-quarters", "uk-icon-thermometer-half", "uk-icon-thermometer-quarter", "uk-icon-thermometer-empty", "uk-icon-shower", "uk-icon-bath", "uk-icon-podcast", "uk-icon-window-maximize", "uk-icon-window-minimize",
                    "uk-icon-window-restore", "uk-icon-window-close", "uk-icon-window-close-o", "uk-icon-bandcamp", "uk-icon-grav", "uk-icon-etsy", "uk-icon-imdb", "uk-icon-ravelry", "uk-icon-eercast", "uk-icon-microchip",
                    "uk-icon-snowflake-o", "uk-icon-superpowers", "uk-icon-wpexplorer", "uk-icon-meetup"
                ]
            });
            $('#{{ id }}').parents('form').submit(function (e) {
                $('#{{ id }}').val($('#{{ id }}').val().replace('uk-icon-', ''));
            });
        });
    </script>
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block color_widget %}
    {% set type = 'color' %}
    {{- block('form_widget_simple') -}}
{% endblock %}