{% extends '@CoreApp/base.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {% stylesheets
    'assets/uikit/vendor/uikit/css/uikit.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/tooltip.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/sticky.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/form-advanced.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/autocomplete.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/search.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/datepicker.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/autocomplete.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/form-file.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/form-password.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/form-select.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/notify.almost-flat.min.css'
    'assets/uikit/vendor/fullcalendar/dist/fullcalendar.min.css'
    'assets/uikit/vendor/select2/dist/css/select2.min.css'
    'assets/uikit/vendor/animate.css/animate.min.css'
    'assets/uikit/vendor/offline/themes/offline-language-german.css'
    'assets/uikit/vendor/offline/themes/offline-theme-chrome.css'
    'assets/uikit/css/uikit-theme.css'
    'assets/uikit/css/index.css'
    filter='?uglifycss'
    filter='cssrewrite'
    output='css/app.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    'assets/uikit/vendor/jquery/dist/jquery.min.js'
    'assets/uikit/vendor/uikit/js/uikit.min.js'
    'assets/uikit/vendor/uikit/js/components/tooltip.min.js'
    'assets/uikit/vendor/uikit/js/components/sticky.min.js'
    'assets/uikit/vendor/uikit/js/components/autocomplete.min.js'
    'assets/uikit/vendor/uikit/js/components/search.min.js'
    'assets/uikit/vendor/uikit/js/components/datepicker.min.js'
    'assets/uikit/vendor/uikit/js/components/timepicker.min.js'
    'assets/uikit/vendor/uikit/js/components/lightbox.min.js'
    'assets/uikit/vendor/uikit/js/components/form-password.min.js'
    'assets/uikit/vendor/uikit/js/components/form-select.min.js'
    'assets/uikit/vendor/uikit/js/components/notify.min.js'
    'assets/uikit/vendor/moment/min/moment.min.js'
    'assets/uikit/vendor/clipboard/dist/clipboard.min.js'
    'assets/uikit/vendor/fullcalendar/dist/fullcalendar.min.js'
    'assets/uikit/vendor/fullcalendar/dist/locale/de.js'
    'assets/uikit/vendor/select2/dist/js/select2.min.js'
    'assets/uikit/vendor/select2/dist/js/i18n/de.js'
    'assets/uikit/vendor/offline/offline.min.js'
    'assets/uikit/vendor/jquery-validation/dist/jquery.validate.min.js'
    'bundles/fosjsrouting/js/router.js'
    'assets/uikit/js/layout.js'
    'assets/uikit/js/arrayCollection.js'
    filter='?uglifyjs'
    output='js/app.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        var yonoAccessToken = '{{ app_helper.accessToken }}';
    </script>
{% endblock %}

{% block body %}
    <div id="spinner"
         class="uk-position-absolute uk-width-1-1 uk-height-1-1 uk-flex uk-flex-center uk-flex-middle uk-text-large uk-hidden uk-animation-fade">
        <i class="uk-icon-spinner uk-icon-spin"></i>
    </div>

    {# Toggleable left menu sidebar #}
    <div id="sidebar" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <h1 class="uk-text-center uk-contrast uk-text-large">
                Menü
            </h1>
            {% include '@CoreApp/menu-main.html.twig' %}
        </div>
    </div>

    {% include 'ModulesTimetrackBundle:Timetrack:set-job-modal.html.twig' %}

    {# Sticky top navigation bar #}
    <nav class="uk-navbar uk-navbar-attached" id="navbar" data-uk-sticky>
        <ul class="uk-navbar-nav">

            {# Sandwich-Button for the sidebar menu #}
            <li>
                <a href="#" class="uk-navbar-toggle" data-uk-offcanvas="{target: '#sidebar'}"></a>
            </li>

            {# Button that leads back to the home page #}
            <li>
                <a href="{{ app_helper.userHomeUrl }}" class="uk-navbar-brand uk-hidden-small" id="home-link"
                   data-uk-tooltip="{pos:'right'}"
                   title="Start">
                    <img src="{{ asset('assets/uikit/img/favicon.png') }}" alt="Start"/>
                </a>
            </li>

            {# Global add button to add all kinds of basic items of the modules #}
            <li class="uk-parent" data-uk-dropdown="{mode:'click'}" data-uk-tooltip="{pos:'right'}" title="Neu">
                <a href="#">
                    <i class="uk-icon-plus"></i>
                </a>

                {# Modal dialog triggered by the add '+' button #}
                <div class="uk-dropdown uk-dropdown-scrollable uk-dropdown-width-3 uk-dropdown-navbar uk-dropdown-bottom uk-dropdown-close"
                     style="min-height: 480px;">
                    <div class="uk-grid uk-dropdown-grid">
                        {% if is_granted('CREATE', 'Modules\\CalendarBundle\\Entity\\Event') or is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Contact') or is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Category') %}
                            <div class="uk-width-1-3">
                                <ul class="uk-nav uk-nav-navbar">
                                    {% if is_granted('CREATE', 'Modules\\CalendarBundle\\Entity\\Event') %}
                                        <li class="uk-nav-header">
                                            <i class="uk-icon-calendar"></i>
                                            Kalender
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_calendar_event_new') }}">
                                                Termin
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_calendar_event_new', {'type': constant('Modules\\CalendarBundle\\Entity\\Event::TYPE_EXTERNAL')}) }}">
                                                Außendienst
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_calendar_event_new', {'type': constant('Modules\\CalendarBundle\\Entity\\Event::TYPE_EMERGENCY')}) }}">
                                                Notdienst
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Contact') or is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Category') %}
                                        <li class="uk-nav-header">
                                            <i class="uk-icon-briefcase"></i>
                                            Kontakte
                                        </li>
                                        {% if is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Category') %}
                                            <li>
                                                <a href="{{ path('modules_contact_category_new') }}">
                                                    Kategorie
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                            <li>
                                                <a href="{{ path('modules_contact_default_new') }}">
                                                    Kontakt
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="uk-width-1-3">
                            <ul class="uk-nav uk-nav-navbar">
                                <li class="uk-nav-header">
                                    <i class="uk-icon-university"></i>
                                    Projekte
                                </li>
                                <li>
                                    <a href="{{ path('kmui_contact_category_new') }}">
                                        Kategorie
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('kmui_project_new') }}">
                                        Projekt
                                    </a>
                                </li>
                                <li>
                                <li class="uk-nav-header">
                                    <i class="uk-icon-bank"></i>
                                    Auftragsverwaltung
                                </li>
                                <li>
                                    <a href="{{ path('modules_ordermanagement_offer_new') }}">
                                        Angebot
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('modules_ordermanagement_credit_new') }}">
                                        Auftrag
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('modules_ordermanagement_invoice_new') }}">
                                        Rechnung
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('modules_ordermanagement_credit_new') }}">
                                        Gutschrift
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('modules_ordermanagement_reminder_new') }}">
                                        Mahnung
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="uk-width-1-3">
                            <ul class="uk-nav uk-nav-navbar">
                                <li class="uk-nav-header">
                                    <i class="uk-icon-users"></i>
                                    Team
                                </li>
                                <li>
                                    <a href="{{ path('modules_team_member_new') }}">
                                        Mitarbeiter
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Planung
                                    </a>
                                </li>
                                <li class="uk-nav-header">
                                    <i class="uk-icon-users"></i>
                                    Benutzer
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_group_new') }}">
                                        Gruppe
                                    </a>
                                    <a href="{{ path('core_app_user_new') }}">
                                        Benutzer
                                    </a>
                                </li>

                                <li class="uk-nav-header">
                                    <i class="uk-icon-dropbox"></i>
                                    Inventar
                                </li>
                                <li>
                                    <a href="{{ path('modules_inventory_category_new') }}">
                                        Kategorie
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('modules_inventory_item_new') }}">
                                        Arbeitsmittel
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('modules_inventory_search_index') }}">
                                        Verwendung
                                    </a>
                                </li>
                                <li class="uk-nav-header">
                                    <i class="uk-icon-wikipedia-w"></i>
                                    Wiki
                                </li>
                                <li>
                                    <a href="{{ path('modules_wiki_article_new') }}">
                                        Artikel
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('modules_wiki_category_new') }}">
                                        Kategorie
                                    </a>
                                </li>
                                {#<li class="uk-nav-header">#}
                                {#<i class="uk-icon-clock-o"></i>#}
                                {#Zeiterfassung#}
                                {#</li>#}
                                {#<li>#}
                                {#<a href="{{ path('kmui_timetrack_new') }}">#}
                                {#Eintrag#}
                                {#</a>#}
                                {#</li>#}

                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            {# Button to show the list of favorites #}
            <li class="uk-parent" data-uk-dropdown="{mode:'hover'}" data-uk-tooltip="{pos:'right'}" title="Favoriten"
                id="favorites-dropdown">
                <a href="#">
                    <i class="uk-icon-star"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar uk-dropdown-bottom" id="favorites">
                    {% include '@CoreApp/menu-favorites.html.twig' %}
                </div>
            </li>

            {# Bookmark bar #}
            <li class="uk-parent" data-uk-dropdown="{mode:'hover'}" data-uk-tooltip="{pos:'right'}" title="Lesezeichen"
                id="bookmarks-dropdown">
                <a href="#">
                    <i class="uk-icon-bookmark"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar uk-dropdown-bottom" id="favorites">
                    {% include '@CoreApp/menu-bookmarks.html.twig' %}
                </div>
            </li>

            {# Small view only: search button, left aligned, triggers search dialog #}
            {% if app_helper.searchItems %}
                <li class="uk-parent uk-visible-small" data-uk-dropdown="{mode:'click', justify:'#navbar'}">
                    <a href="#" id="search-dropdown-toggle"><i class="uk-icon-search"></i></a>

                    {# Modal dialog for key words with autocomplete#}
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" id="search-dropdown">
                        <form class="uk-search uk-width-1-1 uk-margin-remove"
                              action="{{ path('core_app_search_index') }}"
                              data-uk-search="{source: '{{ path('core_app_search_autocomplete') }}'}">
                            <input name="q" type="search" placeholder="Suchbegriff..."
                                   class="uk-search-field uk-width-1-1">
                            {# Autocomplete list #}
                            {% verbatim %}
                            <script type="text/autocomplete">
                                <ul class="uk-nav uk-nav-search uk-autocomplete-results">
                                    {{#msgResultsHeader}}<li class="uk-nav-header uk-skip">Suchergebnisse</li>{{/msgResultsHeader}}
                                    {{#items && items.length}}
                                        {{~items}}
                                            <li data-url="{{!$item.url}}">
                                                <a href="{{!$item.url}}" class="uk-text-truncate">
                                                    {{#$item.icon}}<i class="uk-icon-{{{$item.icon}}}"></i>{{/$item.icon}}
                                                    {{{$item.title}}}
                                                    {{#$item.text}}<div class="uk-text-truncate">{{{$item.text}}}</div>{{/$item.text}}
                                                </a>
                                            </li>
                                        {{/items}}
                                        {{#msgMoreResults}}
                                            <li class="uk-nav-divider uk-skip"></li>
                                            <li class="uk-search-moreresults" data-moreresults="true"><a href="#" onclick="jQuery(this).closest('form').submit();">Mehr Ergebnisse</a></li>
                                        {{/msgMoreResults}}
                                    {{/end}}
                                    {{^items.length}}
                                        {{#msgNoResults}}<li class="uk-skip"><a>Keine Ergebnisse</a></li>{{/msgNoResults}}
                                    {{/end}}
                                </ul>
                            </script>
                            {% endverbatim %}
                        </form>
                    </div>
                </li>
            {% endif %}

            {# Button to get a settings dialog for the superadmin, right aligned  #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li>
                    <a href="#system-settings-modal" data-uk-modal>
                        <i class="uk-icon-cog"></i>
                    </a>
                </li>
            {% endif %}
        </ul>

        {% if app_helper.can(app.user, 'VIEW','Modules\\TimetrackBundle\\Entity\\Timetrack') %}
            {% set currentJob=mod_timetrack_helper.getCurrentJob(app.user) %}
            {% set lastjob=mod_timetrack_helper.getLastRealJob(app.user) %}
            <div id="timeTrackNav" class="uk-navbar-flip" data-url="{{ path('timetrack_reload') }}">
                <ul class="uk-navbar-nav uk-navbar-flip {% if currentJob %}uk-button-success{% else %}uk-button-danger{% endif %}">
                    <li>
                        <a href="#" data-uk-modal="" data-url="{{ path('timetrack_jobs') }}"
                           data-break="{{ path('timetrack_new_break') }}"
                           data-continue="{{ path('timetrack_continue') }}"
                           class="uk-navbar-nav-subtitle uk-text-center timetrack-toggle"
                           data-jobstatus="{% if currentJob %}{{ currentJob.status }}{% else %}0{% endif %}"
                           data-currentjob="{% if currentJob %}{{ currentJob.id }}{% endif %}"
                           data-lastjob="{% if lastjob %}{{ lastjob.id }}{% endif %}">
                            {% if currentJob %}<i class="uk-icon-pause"></i>{% else %}<i
                                    class="uk-icon-play"></i>{% endif %}

                            {% if currentJob %}
                                <div>{{ mod_timetrack_helper.getCurrentDuration(currentJob) }}
                                    <small>
                                        ({{ mod_timetrack_helper.getCurrentJobTitle(app.user) }})
                                    </small>
                                </div>
                            {% else %}
                                <div>Nicht gebucht
                                </div>
                            {% endif %}
                        </a>
                    </li>
                    {% if app_helper.getParameter('modules_timetrack_modus')!='1' %}
                        <li class="uk-parent" data-uk-dropdown="{mode:'click', pos:'bottom-right'}"
                            data-uk-tooltip="{pos: 'left'}"
                            title="aktuelles Ticket">
                            <a href="#" class="uk-navbar-nav-subtitle uk-hidden-small">
                                {{ mod_timetrack_helper.getCurrentJobTitle(app.user) }}
                                <i class="uk-icon-angle-down"></i>
                                <div>{{ currentJob.comment }}</div>
                            </a>
                            <a href="#" class="uk-visible-small">
                                <i class="uk-icon-angle-down"></i>
                            </a>

                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="width: 250px;">
                                <ul class="uk-nav uk-nav-navbar">
                                    <li>
                                        <a href="#" data-uk-modal="" data-url="{{ path('timetrack_jobs') }}"
                                           data-break=""
                                           data-continue=""
                                           class="timetrack-toggle"
                                           data-jobstatus="{% if currentJob %}{{ currentJob.status }}{% else %}new{% endif %}"
                                           data-currentjob="{{ currentJob.id }}"
                                           data-isbreak="{{ currentJob.break }}"
                                           data-lastjob="{% if lastjob %}{{ lastjob.id }}{% endif %}"><i
                                                    class="uk-icon-plus uk-text-success"></i> Auf andere Tätigkeit
                                            buchen</a>
                                    </li>
                                    <li>
                                        <hr/>
                                    </li>
                                    {% for jobs in mod_timetrack_helper.getLastJobs(app.user) %}
                                        <li><a href="#" class="continue_timetrack_old"
                                               data-url="{{ path('timetrack_continue_old',{timetrack:jobs.id}) }}">
                                                {{ jobs.title }}<br>
                                                <small>{{ jobs.comment }}</small>
                                            </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {# Filter button, triggers filter dialog, right aligned #}
        {% if app_helper.searchItems %}
            <ul class="uk-navbar-nav uk-navbar-flip">
                <li class="uk-parent" data-uk-dropdown="{mode:'click', pos:'bottom-right'}"
                    data-uk-tooltip="{pos: 'left'}" title="Suchfilter">
                    <a href="#" style="border-right: solid 1px #ddd;">
                        <i class="uk-icon-filter"></i>
                    </a>

                    {# Modal dialog for filter settings#}
                    <div class="uk-dropdown-blank uk-dropdown-width-3 uk-panel uk-panel-box searchfilter">
                        <div class="uk-clearfix uk-margin-bottom">

                            {# Toggles all/nothing selected #}
                            <div class="uk-button-group">
                                <a href="#" class="search-filter-set-all uk-text-center uk-button uk-width-1-1">
                                    <i class="uk-icon-check-square-o"></i>
                                    Alle
                                </a>
                                <a href="#" class="search-filter-set-none uk-text-center uk-button uk-width-1-1">
                                    <i class="uk-icon-square-o"></i>
                                    Keine
                                </a>
                            </div>
                            <a href="{{ path('core_app_search_lock') }}" data-uk-tooltip title="Auswahl beibehalten"
                               class="uk-button uk-button-small uk-float-right toggle-search-lock{% if app_helper.setting('core_app_search_lock') %} uk-button-success{% endif %}">
                                <i class="uk-icon-{% if app_helper.setting('core_app_search_lock') %}lock{% else %}unlock{% endif %}"></i>
                            </a>
                        </div>

                        {# List of all active bundles and their entities #}
                        <form action="{{ path('core_app_search_filter') }}" class="searchfilter-form" method="post">
                            <div class="uk-grid">
                                {# Run through all bundles #}
                                {% for bundle in app_helper.searchItems %}
                                    {% if bundle.items|length %}
                                        <div class="uk-width-medium-1-3">

                                            {# Bundle title #}
                                            <div class="uk-text-muted uk-margin-small-bottom">
                                                &nbsp;
                                                {% if bundle.icon %}
                                                    <i class="uk-icon-{{ bundle.icon }}"></i>
                                                {% endif %}
                                                {{ bundle.label }}
                                            </div>

                                            {# List of entities of the current bundle #}
                                            {% for name, item in bundle.items %}
                                                <div class="uk-margin-small-bottom searchfilter-item">
                                                    <input type="checkbox" value="1"
                                                           name="core_app_search_filter[{{ name }}]"
                                                           style="display: none;"
                                                           {% if item.active %}checked="checked"{% endif %}/>
                                                    <a class="uk-button uk-button-small uk-width-1-1{% if item.active %} uk-button-success{% endif %}">
                                                        {% if item.icon %}<i
                                                            class="uk-icon-{{ item.icon }} uk-float-left uk-margin-small-top"></i>{% endif %}
                                                        {{ item.name }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        {% endif %}

        {# Not small view:  search field and button, triggers search dialog, right aligned #}
        {% if app_helper.searchItems %}
            <div class="uk-navbar-content uk-navbar-flip uk-hidden-small" style="padding-right: 5px;">
                <form class="uk-search uk-margin-remove" action="{{ path('core_app_search_index') }}"
                      data-uk-search="{source: '{{ path('core_app_search_autocomplete') }}'}">
                    <input name="q" type="search" placeholder="Suchbegriff..." class="uk-search-field">

                    {# Autocomplete list #}
                    {% verbatim %}
                    <script type="text/autocomplete">
                        <ul class="uk-nav uk-nav-search uk-autocomplete-results">
                            {{#msgResultsHeader}}<li class="uk-nav-header uk-skip">Suchergebnisse</li>{{/msgResultsHeader}}
                            {{#items && items.length}}
                                {{~items}}
                                    <li data-url="{{!$item.url}}">
                                        <a href="{{!$item.url}}" class="uk-text-truncate">
                                            {{#$item.icon}}<i class="uk-icon-{{{$item.icon}}}"></i>{{/$item.icon}}
                                            {{{$item.title}}}
                                            {{#$item.text}}<div class="uk-text-truncate">{{{$item.text}}}</div>{{/$item.text}}
                                        </a>
                                    </li>
                                {{/items}}
                                {{#msgMoreResults}}
                                    <li class="uk-nav-divider uk-skip"></li>
                                    <li class="uk-search-moreresults" data-moreresults="true"><a href="#" onclick="jQuery(this).closest('form').submit();">Mehr Ergebnisse</a></li>
                                {{/msgMoreResults}}
                            {{/end}}
                            {{^items.length}}
                                {{#msgNoResults}}<li class="uk-skip"><a>Keine Ergebnisse</a></li>{{/msgNoResults}}
                            {{/end}}
                        </ul>
                    </script>
                    {% endverbatim %}
                    <div class="uk-dropdown uk-dropdown-scrollable uk-dropdown-small uk-dropdown-search">
                        <ul class="uk-nav uk-nav-search"></ul>
                    </div>
                    <button class="uk-button uk-button-primary">
                        Finden!
                    </button>
                </form>
            </div>
        {% endif %}
    </nav>

    {# Site content#}
    <div class="uk-container uk-container-center" id="content">
        {% block content %}{% endblock %}
    </div>

    {# Modals #}
    {% block modals %}

        {# Modal dialog for setting up shown tables #}
        {# Not shown in calendar #}
        <div id="table-settings-modal" class="uk-modal uk-text-left">
            <form class="uk-form uk-form-stacked" method="post">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-header">
                        <h3>
                            <i class="uk-icon-table"></i>
                            Tabelle anpassen
                        </h3>
                    </div>

                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>

                        {# Modify shown items per page  #}
                        {% if perPage is defined %}
                            <div class="uk-width-medium-1-1">
                                <label class="uk-form-label" for="form-">Einträge pro Seite</label>
                                <div class="uk-form-controls">
                                    <select name="table_rows" class="uk-form-large uk-width-1-1">
                                        <option{{ perPage == 5 ? ' selected="selected"' : '' }}>5</option>
                                        <option{{ perPage == 10 ? ' selected="selected"' : '' }}>10</option>
                                        <option{{ perPage == 25 ? ' selected="selected"' : '' }}>25</option>
                                        <option{{ perPage == 50 ? ' selected="selected"' : '' }}>50</option>
                                        <option{{ perPage == 100 ? ' selected="selected"' : '' }}>100</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}

                        {# Toggle tables columns on/off #}
                        {% if columns is defined and columns|length %}
                            <input type="hidden" name="table_columns[]" value="1"/>
                            <div class="uk-width-medium-1-1">
                                <b>Spalten:</b>
                                <div class="uk-form-controls">
                                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                        {% for key, column in columns %}
                                            <div class="uk-width-1-3">
                                                <input type="checkbox" name="table_columns[{{ key }}]"
                                                       {% if column.active %}checked="checked"{% endif %}
                                                       style="display: none;"/>
                                                <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                                   class="uk-button uk-button-small uk-width-1-1 {% if column.active %}uk-active uk-button-success{% endif %}">
                                                    <i class="uk-icon-eye{% if not column.active %}-slash{% endif %}"></i> {{ column.label }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% block tableSettings %}{% endblock %}
                    <div class="uk-modal-footer">
                        <a href="#" class="uk-button uk-modal-close">
                            <i class="uk-icon-close"></i>
                            Abbrechen
                        </a>
                        <button class="uk-button uk-button-success uk-float-right">
                            <i class="uk-icon-check"></i>
                            Anwenden
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {# Export dialog FIXME nicht auffindbar #}
        <div id="export-modal" class="uk-modal uk-text-left">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header uk-modal-header-primary">
                    <h3>
                        <i class="uk-icon-download"></i>
                        Exportieren
                    </h3>
                </div>
                <form class="uk-form uk-form-stacked">
                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Von</label>
                            <div class="uk-form-controls">
                                <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}"
                                       class="uk-form-large uk-width-1-1"
                                       id="from-date"/>
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Bis</label>
                            <div class="uk-form-controls">
                                <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}"
                                       class="uk-form-large uk-width-1-1"
                                       id="to-date"/>
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Kunde</label>

                            <div class="uk-form-controls">
                                <select class="uk-form-large uk-width-1-1 select2">
                                    <option></option>
                                    <option>Müller GmbH</option>
                                    <option>Beispiel KG</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Projekt</label>

                            <div class="uk-form-controls">
                                <select class="uk-form-large uk-width-1-1 select2">
                                    <option></option>
                                    <option>In der Mark 1a</option>
                                    <option>Aachener Grund Große Str. 56</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-1">
                            <b>Spalten:</b>
                            <div class="uk-form-controls">
                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Name
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Ansprechpartner
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Kategorie
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="uk-modal-footer">
                    <a href="#" class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i>
                        Abbrechen
                    </a>
                    <a href="#" class="uk-button uk-button-primary uk-modal-close uk-float-right">
                        <i class="uk-icon-download"></i>
                        Exportieren
                    </a>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% set maintenanceActive = app_settings.getGlobal('maintenance') %}
            {% set maintenanceStart = app_settings.getGlobal('maintenance_start')|default(""|date('Y-m-d H:i'))|split(' ') %}
            {% set maintenanceEnd = app_settings.getGlobal('maintenance_end')|default(""|date('Y-m-d H:i'))|split(' ') %}
            {% set maintenanceNote = app_settings.getGlobal('maintenance_note') %}

            <div id="system-settings-modal" class="uk-modal uk-text-left">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-header">
                        <h3>
                            <i class="uk-icon-cog"></i>
                            System-Einstellungen
                        </h3>
                    </div>
                    <form class="uk-form uk-form-stacked uk-margin-remove" method="post">
                        <h3>Wartung:</h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin="">
                            <div class="uk-width-1-1">
                                <input type="checkbox" name="system_settings[maintenance][active]"
                                       value="1"{% if maintenanceActive %} checked="checked"{% endif %}
                                       style="display: none;"/>
                                <a id="system_settings_maintenance_toggler"
                                   onclick="$(this).toggleClass('uk-text-success uk-text-muted').find('i').toggleClass('uk-icon-toggle-on uk-icon-toggle-off'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked'))"
                                   class="{% if maintenanceActive %}uk-text-success{% else %}uk-text-muted{% endif %}">
                                    <i class="uk-icon-large uk-icon-{% if maintenanceActive %}toggle-on{% else %}toggle-off{% endif %}"></i>
                                </a>
                            </div>
                            <div class="uk-width-3-10">
                                <label class="uk-form-label" for="form-">Von</label>
                                <div class="uk-form-controls">
                                    <div class="uk-form-controls">
                                        <input name="system_settings[maintenance][start][date]"
                                               class="uk-form-large uk-width-1-1"
                                               value="{{ maintenanceStart[0]|date('d.m.Y') }}"
                                               data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-2-10">
                                <label class="uk-form-label" for="form-">
                                    <small class="uk-text-muted">Uhrzeit</small>
                                </label>
                                <div class="uk-form-controls">
                                    <div class="uk-form-controls">
                                        <select name="system_settings[maintenance][start][time]"
                                                class="uk-form-large uk-width-1-1">
                                            {% for i in 0..23 %}
                                                {% for j in range(0, 55, 5) %}
                                                    {% set timeVal = "%02d"|format(i) ~ ':' ~ "%02d"|format(j) %}
                                                    <option value="{{ timeVal }}"
                                                            {% if maintenanceStart[1] == timeVal %} selected="selected"{% endif %}>
                                                        {{ timeVal }}
                                                    </option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-3-10">
                                <label class="uk-form-label" for="form-">Bis</label>
                                <div class="uk-form-controls">
                                    <div class="uk-form-controls">
                                        <input name="system_settings[maintenance][end][date]"
                                               class="uk-form-large uk-width-1-1"
                                               value="{{ maintenanceEnd[0]|date('d.m.Y') }}"
                                               data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-2-10">
                                <label class="uk-form-label" for="form-">
                                    <small class="uk-text-muted">Uhrzeit</small>
                                </label>
                                <div class="uk-form-controls">
                                    <div class="uk-form-controls">
                                        <select name="system_settings[maintenance][end][time]"
                                                class="uk-form-large uk-width-1-1">
                                            {% for i in 0..23 %}
                                                {% for j in range(0, 55, 5) %}
                                                    {% set timeVal = "%02d"|format(i) ~ ':' ~ "%02d"|format(j) %}
                                                    <option value="{{ timeVal }}"
                                                            {% if maintenanceEnd[1] == timeVal %} selected="selected"{% endif %}>
                                                        {{ timeVal }}
                                                    </option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-1">
                                <label class="uk-form-label" for="form-">Nachricht</label>
                                <div class="uk-form-controls">
                                    <div class="uk-form-controls">
                                        <input type="text" name="system_settings[maintenance][note]"
                                               class="uk-form-large uk-width-1-1" value="{{ maintenanceNote }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer">
                            <a href="#" class="uk-button uk-modal-close">
                                <i class="uk-icon-close"></i>
                                Abbrechen
                            </a>
                            <button class="uk-button uk-button-success uk-float-right">
                                <i class="uk-icon-check"></i>
                                Speichern
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        <div id="ajax-modal" class="uk-modal"></div>
    {% endblock %}
{% endblock %}