{% extends '@CoreApp/base.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {% stylesheets
    'assets/uikit/vendor/uikit/css/uikit.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/tooltip.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/sticky.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/form-advanced.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/autocomplete.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/search.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/datepicker.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/autocomplete.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/form-file.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/form-password.almost-flat.min.css'
    'assets/uikit/vendor/uikit/css/components/notify.almost-flat.min.css'
    'assets/uikit/vendor/fullcalendar/dist/fullcalendar.min.css'
    'assets/uikit/vendor/select2/dist/css/select2.min.css'
    'assets/uikit/vendor/animate.css/animate.min.css'
    'assets/uikit/vendor/offline/themes/offline-language-german.css'
    'assets/uikit/vendor/offline/themes/offline-theme-chrome.css'
    'assets/uikit/css/uikit-theme.css'
    'assets/uikit/css/index.css'
    filter='?uglifycss'
    filter='cssrewrite'
    output='css/app_mobil.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    'assets/uikit/vendor/jquery/dist/jquery.min.js'
    'assets/uikit/vendor/uikit/js/uikit.min.js'
    'assets/uikit/vendor/uikit/js/components/tooltip.min.js'
    'assets/uikit/vendor/uikit/js/components/sticky.min.js'
    'assets/uikit/vendor/uikit/js/components/autocomplete.min.js'
    'assets/uikit/vendor/uikit/js/components/search.min.js'
    'assets/uikit/vendor/uikit/js/components/datepicker.min.js'
    'assets/uikit/vendor/uikit/js/components/timepicker.min.js'
    'assets/uikit/vendor/uikit/js/components/lightbox.min.js'
    'assets/uikit/vendor/uikit/js/components/form-password.min.js'
    'assets/uikit/vendor/uikit/js/components/notify.min.js'
    'assets/uikit/vendor/moment/min/moment.min.js'
    'assets/uikit/vendor/clipboard/dist/clipboard.min.js'
    'assets/uikit/vendor/fullcalendar/dist/fullcalendar.min.js'
    'assets/uikit/vendor/fullcalendar/dist/locale/de.js'
    'assets/uikit/vendor/select2/dist/js/select2.min.js'
    'assets/uikit/vendor/select2/dist/js/i18n/de.js'
    'assets/uikit/vendor/offline/offline.min.js'
    'bundles/fosjsrouting/js/router.js'
    'assets/uikit/js/layout.js'
    filter='?uglifyjs'
    output='js/app_mobil.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        var yonoAccessToken = '{{ app_helper.accessToken }}';

        // Register the ServiceWorker
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
                    console.log('service worker registered');
                });

                // Listen for claiming of our ServiceWorker
                navigator.serviceWorker.addEventListener('controllerchange', function (event) {
                    // Listen for changes in the state of our ServiceWorker
                    console.log('service worker controllerchange');
                    navigator.serviceWorker.controller.addEventListener('statechange', function () {
                        // If the ServiceWorker becomes "activated", let the user know they can go offline!
                        console.log('service worker statechange');
                        console.log('service worker state: ' + this.state);
                        if (this.state === 'activated') {
                            // Show the "You may now use offline" notification
                            alert('App ist nun offline nutzbar!');
                        }
                    });
                });
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div id="spinner"
         class="uk-position-absolute uk-width-1-1 uk-height-1-1 uk-flex uk-flex-center uk-flex-middle uk-text-large uk-hidden uk-animation-fade">
        <i class="uk-icon-spinner uk-icon-spin"></i>
    </div>

    <div id="sidebar" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <h1 class="uk-text-center uk-contrast uk-text-large">
                Menü
            </h1>
            {% include '@CoreApp/menu-main.html.twig' %}
        </div>
    </div>

    <nav class="uk-navbar uk-navbar-attached" id="navbar" data-uk-sticky>
        <ul class="uk-navbar-nav">
            <li>
                <a href="#" class="uk-navbar-toggle" data-uk-offcanvas="{target: '#sidebar'}"></a>
            </li>
            <li>
                <a href="{{ app_helper.userHomeUrl }}" class="uk-navbar-brand" id="home-link"
                   data-uk-tooltip="{pos:'right'}"
                   title="Start">
                    <img src="{{ asset('assets/uikit/img/favicon.png') }}" alt="Start"/>
                </a>
            </li>
        </ul>
        <ul class="uk-navbar-nav uk-navbar-flip">
            <li>
                <a href="#" class="uk-navbar-nav-subtitle uk-text-center timetrack-toggle"
                   onclick="$(this).find('i').toggleClass('uk-icon-pause uk-icon-play')">
                    <i class="uk-icon-pause"></i>

                    <div>02:46</div>
                </a>
            </li>
            <li class="uk-parent" data-uk-dropdown="{mode:'click', pos:'bottom-right'}" data-uk-tooltip="{pos: 'left'}"
                title="aktuelles Ticket">
                <a href="#" class="uk-navbar-nav-subtitle">
                    Tapezieren
                    <i class="uk-icon-angle-down"></i>
                    <div>In der Mark 1a</div>
                </a>

                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="width: 250px;">
                    <ul class="uk-nav uk-nav-navbar">
                        <li>
                            <form class="uk-search uk-width-1-1" data-uk-search>
                                <input class="uk-search-field" type="search" placeholder="" style="width: 100%;">
                            </form>
                        </li>
                        <li><a href="#">letztes Ticket<br>
                                <small>Johannisstr. 65 Aachener Grund</small>
                            </a></li>
                        <li><a href="#">vorletztes Ticket<br>
                                <small>In der Mark 1a</small>
                            </a></li>
                        <li><a href="#">Ticket von davor<br>
                                <small>In der Mark 1a</small>
                            </a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="uk-container uk-container-center" id="content">
        {% block content %}{% endblock %}
    </div>

    {# Modals #}

    {% block modals %}
        <div id="table-settings-modal" class="uk-modal uk-text-left">
            <form class="uk-form uk-form-stacked" method="post">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-header">
                        <h3>
                            <i class="uk-icon-table"></i>
                            Tabelle anpassen
                        </h3>
                    </div>

                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                        {% if perPage is defined %}
                            <div class="uk-width-medium-1-1">
                                <label class="uk-form-label" for="form-">Einträge pro Seite</label>
                                <div class="uk-form-controls">
                                    <select name="table_rows" class="uk-form-large uk-width-1-1">
                                        <option{{ perPage == 5 ? ' selected="selected"' : '' }}>5</option>
                                        <option{{ perPage == 10 ? ' selected="selected"' : '' }}>10</option>
                                        <option{{ perPage == 25 ? ' selected="selected"' : '' }}>25</option>
                                        <option{{ perPage == 50 ? ' selected="selected"' : '' }}>50</option>
                                        <option{{ perPage == 100 ? ' selected="selected"' : '' }}>100</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        {% if columns is defined and columns|length %}
                            <input type="hidden" name="table_columns[]" value="1"/>
                            <div class="uk-width-medium-1-1">
                                <b>Spalten:</b>
                                <div class="uk-form-controls">
                                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                        {% for key, column in columns %}
                                            <div class="uk-width-1-3">
                                                <input type="checkbox" name="table_columns[{{ key }}]"
                                                       {% if column.active %}checked="checked"{% endif %}
                                                       style="display: none;"/>
                                                <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                                   class="uk-button uk-button-small uk-width-1-1 {% if column.active %}uk-active uk-button-success{% endif %}">
                                                    <i class="uk-icon-eye{% if not column.active %}-slash{% endif %}"></i> {{ column.label }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="uk-modal-footer">
                        <a href="#" class="uk-button uk-modal-close">
                            <i class="uk-icon-close"></i>
                            Abbrechen
                        </a>
                        <button class="uk-button uk-button-success uk-float-right">
                            <i class="uk-icon-check"></i>
                            Anwenden
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="export-modal" class="uk-modal uk-text-left">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header uk-modal-header-primary">
                    <h3>
                        <i class="uk-icon-download"></i>
                        Exportieren
                    </h3>
                </div>
                <form class="uk-form uk-form-stacked">
                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Von</label>
                            <div class="uk-form-controls">
                                <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}"
                                       class="uk-form-large uk-width-1-1"
                                       id="from-date"/>
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Bis</label>
                            <div class="uk-form-controls">
                                <input type="text" data-uk-datepicker="{format: 'DD.MM.YYYY'}"
                                       class="uk-form-large uk-width-1-1"
                                       id="to-date"/>
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Kunde</label>

                            <div class="uk-form-controls">
                                <select class="uk-form-large uk-width-1-1 select2">
                                    <option></option>
                                    <option>Müller GmbH</option>
                                    <option>Beispiel KG</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="form-">Projekt</label>

                            <div class="uk-form-controls">
                                <select class="uk-form-large uk-width-1-1 select2">
                                    <option></option>
                                    <option>In der Mark 1a</option>
                                    <option>Aachener Grund Große Str. 56</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-1">
                            <b>Spalten:</b>
                            <div class="uk-form-controls">
                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Name
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Ansprechpartner
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Kategorie
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a onclick="$(this).toggleClass('uk-button-success').find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                                           class="uk-button uk-button-small uk-active uk-button-success uk-width-1-1">
                                            <i class="uk-icon-eye"></i> Spalte
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="uk-modal-footer">
                    <a href="#" class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i>
                        Abbrechen
                    </a>
                    <a href="#" class="uk-button uk-button-primary uk-modal-close uk-float-right">
                        <i class="uk-icon-download"></i>
                        Exportieren
                    </a>
                </div>
            </div>
        </div>

        <div id="ajax-modal" class="uk-modal"></div>
    {% endblock %}
{% endblock %}