{# ####################################################################################### #}
{# Page: Macros                                                                            #}
{#                                                                                         #}
{# Global collection of Twig Macros                                                        #}
{#                                                                                         #}
{# Author: joerg.sommer@crea.de                                                            #}
{#                                                                                         #}
{# ####################################################################################### #}

{# Macro for the head line of every page except login #}
{% macro pageHeader(headline, icon, buttons, breadcrumb, table, settingsLinks,filter) %}
    {% import _self as macros %}

    {{ macros.alerts() }}

    <h1 class="content-headline">

        {# Breadcrumb #}
        {% if breadcrumb %}
            <small class="uk-text-muted uk-float-left">{{ breadcrumb }}</small><br>
        {% endif %}

        {# Head line #}
        {% if icon is not null %}<i class="uk-icon-{{ icon }}"></i>{% endif %}
        {{ headline|raw }}

        {# Bundle settings dialog #}
        <div id="header-buttons" class="uk-float-right">
            {% if filter %}{{ filter }}{% endif %}
            {% if buttons %}{{ buttons }}{% endif %}
            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}"
                 data-uk-tooltip title="Einstellungen" id="home-favorite-toggle">
                <button class="uk-button uk-button-small">
                    <i class="uk-icon-gears"></i>
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li>
                            <a href="#" id="home-toggle" class="uk-dropdown-close"
                               data-yono-route="{{ app.request.attributes.get('_route') }}"
                               data-yono-parameters="{{ app.request.attributes.get('_route_params')|serialize }}"
                               data-yono-path="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                               data-yono-url="{{ path('api_home_user', {'user': app.user.id, access_token: app_helper.accessToken()}) }}">
                                <i class="uk-icon-home"></i> Als Startseite festlegen
                            </a>
                        </li>
                        <li>
                            <a href="#" id="bookmark-toggle" class="uk-dropdown-close"
                               data-yono-route="{{ app.request.attributes.get('_route') }}"
                               data-yono-parameters="{{ app.request.attributes.get('_route_params')|serialize }}"
                               data-yono-path="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                               data-yono-icon="{{ icon }}"
                               data-yono-label="{{ breadcrumb|striptags ~ headline|striptags }}"
                               data-yono-url="{{ path('api_post_user_menuitem', {'user': app.user.id, access_token: app_helper.accessToken()}) }}">
                                <i class="uk-icon-bookmark"></i> Zu Lesezeichen hinzufügen
                            </a>
                        </li>
                        <li>
                            <a href="#" id="favorite-toggle" class="uk-dropdown-close"
                               data-yono-route="{{ app.request.attributes.get('_route') }}"
                               data-yono-parameters="{{ app.request.attributes.get('_route_params')|serialize }}"
                               data-yono-path="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                               data-yono-icon="{{ icon }}"
                               data-yono-label="{{ breadcrumb|striptags ~ headline|striptags }}"
                               data-yono-url="{{ path('api_post_user_menuitem', {'user': app.user.id, access_token: app_helper.accessToken()}) }}">
                                <i class="uk-icon-star"></i> Zu Favoriten hinzufügen
                            </a>
                        </li>
                        {% if table %}
                            <li class="uk-nav-divider"></li>
                            <li>
                                <a href="#table-settings-modal" class="uk-dropdown-close" data-uk-modal>
                                    <i class="uk-icon-table"></i> Tabelle anpassen
                                </a>
                            </li>
                        {% endif %}
                        {% if settingsLinks %}
                            <li class="uk-nav-divider"></li>
                            {{ settingsLinks }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </h1>
{% endmacro %}

{# Different kinds of alert dialogs #}
{% macro alerts() %}
    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="uk-alert" data-uk-alert>
            <a href="#" class="uk-alert-close uk-close"></a>
            {{ flash_message|raw }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="uk-alert uk-alert-success" data-uk-alert>
            <a href="#" class="uk-alert-close uk-close"></a>
            {{ flash_message|raw }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('warning') %}
        <div class="uk-alert uk-alert-warning" data-uk-alert>
            <a href="#" class="uk-alert-close uk-close"></a>
            {{ flash_message|raw }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="uk-alert uk-alert-danger" data-uk-alert>
            <a href="#" class="uk-alert-close uk-close"></a>
            {{ flash_message|raw }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('maintenance') %}
        <div class="uk-alert uk-alert-danger" data-uk-alert>
            {{ flash_message|raw }}
        </div>
    {% endfor %}
{% endmacro %}

{# Switch between business sections in special modules (e.g. order management) #}
{% macro businessesDropdown() %}
    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}"
         data-uk-tooltip title="Geschäftsbereiche">
        <a href="#" class="uk-button uk-button-mini uk-float-right uk-visible-small">
            <i class="uk-icon-angle-down"></i>
        </a>
        <a href="#" class="uk-button uk-button-small uk-float-right uk-hidden-small">
            <i class="uk-icon-angle-down"></i>
        </a>

        <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
            <ul class="uk-nav uk-nav-dropdown">
                <li><a href="#">Alle</a></li>
                <li><a href="#">Bahama Sports</a></li>
                <li><a href="#">KM Haustechnik</a></li>
            </ul>
        </div>
    </div>
{% endmacro %}

{# Ausgabe einer vom Menschen lesbaren Dateigroesse in Form 123B/KB/MB/GB/TB #}
{% macro readableFileSize(bytes) %}{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, ',', '.') ~ ' KB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, ',', '.') ~ ' MB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, ',', '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, ',', '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}{% endmacro %}

{# Mapping Dateiendung <--> Icon #}
{% macro fileIcon(mime) %}{% spaceless %}
    {% if mime in ['image/jpeg', 'image/jpg', 'image/png', 'image/gif', 'image/bmp'] %}
        file-image-o
    {% elseif mime in ['application/pdf'] %}
        file-pdf-o
    {% elseif mime in ['text/html'] %}
        file-code-o
    {% elseif mime in ['text/plain'] %}
        file-text-o
    {% elseif mime in ['application/zip', 'application/x-gzip', 'application/x-7z-compressed'] %}
        file-zip-o
    {% elseif mime in ['application/vnd.ms-excel', 'application/msexcel', 'application/x-msexcel', 'application/x-ms-excel', 'application/x-excel', 'application/x-dos_ms_excel', 'application/xls', 'application/x-xls', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'] %}
        file-excel-o
    {% elseif mime in ['application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/vnd.ms-word.document.macroEnabled.12'] %}
        file-word-o
    {% elseif mime in ['application/vnd.ms-powerpoint'] %}
        file-powerpoint-o
    {% else %}
        file-o
    {% endif %}
{% endspaceless %}{% endmacro %}

{# ??? FIXME for what? #}
{% macro numberFormat() %}
    <script>
        /**
         * Number.prototype.format(n, x, s, c)
         *
         * @param n
         * @param x
         * @param s
         * @param c
         */
        Number.prototype.format = function (n, x, s, c) {
            var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
                    num = this.toFixed(Math.max(0, ~~n));

            return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
        };
    </script>
{% endmacro %}