{% set favoritesMenu = knp_menu_get('CoreAppBundle:MainBuilder:favoritesMenu', [], {'class': 'uk-nav uk-nav-navbar'}) %}
{% if favoritesMenu.children|length %}
    {{ knp_menu_render(favoritesMenu, {'currentClass': 'uk-active', 'ancestorClass': 'uk-active', 'branch_class': 'uk-parent'}) }}
{% else %}
    <div class="uk-text-center uk-text-muted" style="padding: 5px 15px;">keine Favoriten vorhanden</div>
{% endif %}