{% set bookmarksMenu = knp_menu_get('CoreAppBundle:MainBuilder:bookmarksMenu', [], {'class': 'uk-nav uk-nav-navbar'}) %}
{% if bookmarksMenu.children|length %}
    {{ knp_menu_render(bookmarksMenu, {'currentClass': 'uk-active', 'ancestorClass': 'uk-active', 'branch_class': 'uk-parent'}) }}
{% else %}
    <div class="uk-text-center uk-text-muted" style="padding: 5px 15px;">keine Lezeichen vorhanden</div>
{% endif %}