{% set mainMenu = knp_menu_get('CoreAppBundle:MainBuilder:mainMenu', [], {'class': 'uk-nav uk-nav-parent-icon uk-nav-offcanvas', 'data-uk-nav': ''}) %}
{{ knp_menu_render(mainMenu, {'currentClass': 'uk-active', 'ancestorClass': 'uk-active', 'branch_class': 'uk-parent'}) }}