<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>
{{ title }}
    {% if sorted %}
        {% if direction == 'desc' %}
            <i class="uk-icon-sort-desc"></i>
        {% else %}
            <i class="uk-icon-sort-asc"></i>
        {% endif %}
    {% else %}
        <i class="uk-icon-sort"></i>
    {% endif %}
</a>