{# default Sliding pagination control implementation #}

{% if pageCount is defined and pageCount > 1 %}
    <ul class="uk-pagination uk-margin-top uk-margin-bottom">
        {% if first is defined and current != first %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                    <span><i class="uk-icon-angle-double-left"></i></span>
                </a>
            </li>
        {% endif %}

        {% if previous is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <span><i class="uk-icon-angle-left"></i></span>
                </a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="uk-active"><span>{{ page }}</span></li>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <li class="next">
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <span><i class="uk-icon-angle-right"></i></span>
                </a>
            </li>
        {% endif %}

        {% if last is defined and current != last %}
            <li class="last">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                    <span><i class="uk-icon-angle-double-right"></i></span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}