{% if is_granted('ROLE_ADMIN') and entity is defined %}
    {% macro groupCheckbox(group, attribute, entity) %}
        <td class="uk-text-center">
            <input type="checkbox" name="core_user_permissions[GROUP][{{ group.id }}][{{ attribute }}]"
                   {% if app_helper.can(group, attribute, entity) %}checked="checked"{% endif %}
                   style="display: none;"/>
            <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-ban'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked'))"
               class="uk-button {% if app_helper.can(group, attribute, entity) %} uk-active uk-button-success{% else %} uk-button-danger{% endif %}">
                <i class="uk-icon-{% if app_helper.can(group, attribute, entity) %}check{% else %}ban{% endif %}"></i>
            </a>
        </td>
    {% endmacro %}

    {% macro userCheckbox(user, attribute, entity) %}
        <td class="uk-text-center">
            <input type="checkbox" name="core_user_permissions[USER][{{ user.id }}][{{ attribute }}]"
                   {% if app_helper.can(user, attribute, entity) %}checked="checked"{% endif %}
                   style="display: none;"/>
            <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-ban'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked'))"
               class="uk-button {% if app_helper.can(user, attribute, entity) %} uk-active uk-button-success{% else %} uk-button-danger{% endif %}">
                <i class="uk-icon-{% if app_helper.can(user, attribute, entity) %}check{% else %}ban{% endif %}"></i>
            </a>
        </td>
    {% endmacro %}

    {% import _self as self %}

    <div class="uk-width-1-1">
        <a href="#" class="uk-button uk-button-primary uk-button-small"
           data-uk-toggle="{target:'#permissions', animation:'uk-animation-slide-top'}"
           data-uk-tooltip title="Berechtigungen">
            <i class="uk-icon-key"></i>
            <i class="uk-icon-angle-down"></i>
        </a>

        <div class="uk-overflow-hidden">
            <div id="permissions" class="uk-panel uk-hidden uk-panel-box uk-margin-small-top">
                {% if app_helper.groups|length %}
                    <table class="uk-table uk-table-condensed uk-table-hover uk-table-striped">
                        <tr>
                            <td class="uk-width-1-3"><b>Gruppen</b></td>
                            <td class="uk-text-center">
                                <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            </td>
                            <td class="uk-text-center">
                                <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            </td>
                            <td class="uk-text-center">
                                <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Löschen">
                                    <i class="uk-icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% for group in app_helper.groups %}
                            <tr>
                                <td>{{ group.name }}</td>
                                {{ self.groupCheckbox(group, 'VIEW', entity) }}
                                {{ self.groupCheckbox(group, 'EDIT', entity) }}
                                {{ self.groupCheckbox(group, 'DELETE', entity) }}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <table class="uk-table uk-table-condensed uk-table-hover uk-table-striped uk-margin-large-top">
                    <tr>
                        <td class="uk-width-1-3"><b>Benutzer</b></td>
                        <td class="uk-text-center">
                            <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Details">
                                <i class="uk-icon-eye"></i>
                            </a>
                        </td>
                        <td class="uk-text-center">
                            <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                        </td>
                        <td class="uk-text-center">
                            <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% for user in app_helper.users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            {{ self.userCheckbox(user, 'VIEW', entity) }}
                            {{ self.userCheckbox(user, 'EDIT', entity) }}
                            {{ self.userCheckbox(user, 'DELETE', entity) }}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endif %}