<div class="uk-modal uk-text-left" id="reset-flow">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header uk-modal-header-danger">
            <h3>
                <i class="uk-icon-warning"></i>
                Formular zurücksetzten
            </h3>
        </div>
        <b class="uk-text-large">Möchten Sie diese Formular wirklich zurücksetzten?</b><br>
        <p>Alle Eingaben für dieses Formular gehen dabei verloren! </p>
        <div class="uk-modal-footer">
            <a href="#" class="uk-button uk-modal-close">
                <i class="uk-icon-close"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-danger uk-float-right" id="reloadFlowForm">
                <i class="uk-icon-trash"></i>
                Zurücksetzten!
            </button>
        </div>
    </div>
</div>