<div class="uk-panel uk-panel-box uk-margin-bottom address-form">
    <div class="uk-position-absolute uk-position-top-right uk-button-group form-collection-actions">
        <a href="#" class="uk-button uk-button-small collection-up" title="nach oben verschieben">
            <i class="uk-icon-arrow-up"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-down" title="nach unten verschieben">
            <i class="uk-icon-arrow-down"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-duplicate uk-button-success" title="Kopieren">
            <i class="uk-icon-copy"></i>
        </a>
        <a href="#" class="uk-button uk-button-small collection-remove uk-button-danger" title="Löschen">
            <i class="uk-icon-trash"></i>
        </a>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            {{ form_row(form.owner) }}
        </div>
        <div class="uk-width-medium-1-2">
            {{ form_row(form.bank) }}
        </div>
        <div class="uk-width-medium-2-3">
            {{ form_row(form.iban) }}
        </div>
        <div class="uk-width-medium-1-3">
            {{ form_row(form.bic) }}
        </div>
    </div>
    {{ form_widget(form.order) }}
    <div class="uk-margin-top">
        {{ form_rest(form) }}
    </div>
</div>
<a href="#" class="uk-button uk-button-small collection-add uk-button-success uk-float-right" title="Hinzufügen">
    <i class="uk-icon-plus"></i>
</a>