<div class="uk-panel uk-panel-box uk-margin-bottom address-form">
    <div class="uk-position-absolute uk-position-top-right uk-button-group form-collection-actions">
        <a href="#" class="uk-button uk-button-small collection-remove uk-button-danger" title="Löschen">
            <i class="uk-icon-trash"></i>
        </a>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-1-2">
            {{ form_row(form.username) }}
        </div>
        <div class="uk-width-1-2">
            {{ form_row(form.email) }}
        </div>
        <div class="uk-width-1-2">
            <div class="uk-form-row">
                <label class="uk-form-label required">
                    Passwort
                </label>
                {{ form_widget(form.plain_password.first) }}
                {{ form_errors(form.plain_password.first) }}
            </div>
        </div>
        <div class="uk-width-1-2">
            <div class="uk-form-row">
                <label class="uk-form-label required">
                    Passwort wiederholen
                </label>
                {{ form_widget(form.plain_password.second) }}
                {{ form_errors(form.plain_password.second) }}
            </div>
        </div>
        <div class="uk-width-1-2">
            {{ form_row(form.groups) }}
        </div>
        <div class="uk-width-1-4">
            {{ form_row(form.enabled) }}
        </div>
        <div class="uk-width-1-4">
            {{ form_row(form.color) }}
        </div>
    </div>
</div>
<a href="#" class="uk-button uk-button-small collection-add uk-button-success uk-float-right" title="Hinzufügen">
    <i class="uk-icon-plus"></i>
</a>