<b class="uk-text-large">Möchten Sie den Kontakt <i
            class="uk-text-muted">{{ contact.name }}</i> wirklich löschen?</b>
<div class="uk-alert uk-alert-danger">
    <i class="uk-icon-warning"></i>
    Zugehörige Adressen, Ansprechpartner, Kontoverbindungen und Zugänge werden
    ebenfalls gelöscht!
</div>
<div class="uk-modal-footer">
    <button class="uk-button uk-modal-close">
        <i class="uk-icon-close"></i>
        Abbrechen
    </button>
    <a href="{{ path("modules_contact_default_delete", {"contact":contact.id}) }}"
       class="uk-button uk-button-danger uk-float-right">
        <i class="uk-icon-trash"></i>
        Löschen!
    </a>
</div>