{% import '@CoreApp/macros.html.twig' as macros %}

{% set detailsRoutes = [
'modules_contact_default_detailsaddresses',
'modules_contact_default_detailsaddresses_1',
'modules_contact_default_detailspersons',
'modules_contact_default_detailspersons_1',
'modules_contact_default_detailsbankaccounts',
'modules_contact_default_detailsbankaccounts_1',
'modules_contact_default_detailsusers',
'modules_contact_default_detailsusers_1'
] %}

{% if currentCategory %}
    {% set addressesPath = path('modules_contact_default_detailsaddresses_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set personsPath = path('modules_contact_default_detailspersons_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set bankAccountsPath = path('modules_contact_default_detailsbankaccounts_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set wikiArticlesPath = path('modules_contact_default_detailsarticles_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set usersPath = path('modules_contact_default_detailsusers_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set listPath = path('modules_contact_default_categoryindex', {'category': currentCategory.id}) %}
    {% set editPath = path('modules_contact_default_edit_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set addAddressPath = path('modules_contact_address_new_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set addPersonPath = path('modules_contact_person_new_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set addBankAccountPath = path('modules_contact_bankaccount_new_1', {'contact': contact.id, 'category': currentCategory.id}) %}
    {% set billPath = path('modules_contact_default_detailsinvoice',{'contact': contact.id, 'category': currentCategory.id}) %}
    {% set orderPath = path('modules_contact_default_detailsorder',{'contact': contact.id, 'category': currentCategory.id}) %}
    {% set offerPath = path('modules_contact_default_detailsoffer',{'contact': contact.id, 'category': currentCategory.id}) %}
{% else %}
    {% set addressesPath = path('modules_contact_default_detailsaddresses', {'contact': contact.id}) %}
    {% set personsPath = path('modules_contact_default_detailspersons', {'contact': contact.id}) %}
    {% set bankAccountsPath = path('modules_contact_default_detailsbankaccounts', {'contact': contact.id}) %}
    {% set wikiArticlesPath = path('modules_contact_default_detailsarticles', {'contact': contact.id}) %}
    {% set usersPath = path('modules_contact_default_detailsusers', {'contact': contact.id}) %}
    {% set listPath = path('modules_contact_default_index') %}
    {% set editPath = path('modules_contact_default_edit', {'contact': contact.id}) %}
    {% set addAddressPath = path('modules_contact_address_new', {'contact': contact.id}) %}
    {% set addPersonPath = path('modules_contact_person_new', {'contact': contact.id}) %}
    {% set addBankAccountPath = path('modules_contact_bankaccount_new', {'contact': contact.id}) %}
    {% set billPath = path('modules_contact_default_detailsinvoice',{'contact': contact.id}) %}
    {% set orderPath = path('modules_contact_default_detailsorder',{'contact': contact.id}) %}
    {% set offerPath = path('modules_contact_default_detailsoffer',{'contact': contact.id}) %}
{% endif %}



{% set breadcrumb %}
    <i class="uk-icon-briefcase"></i> Kontakte
    {% if currentCategory %}
        <i class="uk-icon-angle-right"></i> {{ currentCategory.name }}
    {% endif %}
{% endset %}
{% set buttons %}
    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
        <button class="uk-button uk-button-small">
            <i class="uk-icon-eye"></i>
            Ansicht
            <i class="uk-icon-angle-down"></i>
        </button>
        <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom">
            <ul class="uk-nav uk-nav-dropdown uk-text-left">
                <li class="uk-nav-header">Kontakt</li>
                <li>
                    <a href="{{ addressesPath }}">
                        <i class="uk-icon-map-marker"></i> Adressen
                    </a>
                </li>
                <li>
                    <a href="{{ personsPath }}">
                        <i class="uk-icon-user"></i> Ansprechpartner
                    </a>
                </li>
                <li>
                    <a href="{{ bankAccountsPath }}">
                        <i class="uk-icon-credit-card"></i> Kontoverbindungen
                    </a>
                </li>
                <li>
                    <a href="{{ usersPath }}">
                        <i class="uk-icon-key"></i> Zugänge
                    </a>
                </li>
                {% if is_granted('VIEW', 'Modules\\WikiBundle\\Entity\\Article') %}
                    <li class="uk-nav-header">Wiki</li>
                    <li>
                        <a href="{{ wikiArticlesPath }}">
                            <i class="uk-icon-wikipedia-w"></i> Artikel
                        </a>
                    </li>
                {% endif %}

                <li class="uk-nav-header">Auftragsverwaltung</li>
                {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\Invoice') %}
                    <li>
                        <a href="{{ billPath }}">
                            <i class="uk-icon-bank"></i> Rechnungen
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\Orders') %}
                    <li>
                        <a href="{{ orderPath }}">
                            <i class="uk-icon-bank"></i> Aufträge
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\Offer') %}
                    <li>
                        <a href="{{ offerPath }}">
                            <i class="uk-icon-bank"></i> Angebote
                        </a>
                    </li>
                {% endif %}


                {#<li class="uk-nav-header">Projekte</li>#}
                {#<li>#}
                {#<a href="#">#}
                {#<i class="uk-icon-university"></i>#}
                {#Projekte#}
                {#</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">#}
                {#<i class="uk-icon-check-circle-o"></i>#}
                {#Tickets#}
                {#</a>#}
                {#</li>#}
                {#<li class="uk-nav-header">Buchhaltung</li>#}
                {#<li>#}
                {#<a href="#">#}
                {#<i class="uk-icon-tag"></i>#}
                {#Angebote#}
                {#</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">#}
                {#<i class="uk-icon-edit"></i>#}
                {#Aufträge#}
                {#</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">#}
                {#<i class="uk-icon-euro"></i>#}
                {#Rechnungen#}
                {#</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">#}
                {#<i class="uk-icon-warning"></i>#}
                {#Mahnungen#}
                {#</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">#}
                {#<i class="uk-icon-plus-square"></i>#}
                {#Gutschriften#}
                {#</a>#}
                {#</li>#}
            </ul>
        </div>
    </div>

    <div class="uk-button-group">
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>

        {% if is_granted('EDIT', contact) %}
            <a href="{{ editPath }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                <button class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-plus"></i>
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li><a class="ajax-modal" href="#" data-url="{{ addAddressPath }}"><i
                                        class="uk-icon-map-marker"></i> Adresse</a></li>
                        <li><a class="ajax-modal" href="#" data-url="{{ addPersonPath }}"><i class="uk-icon-user"></i>
                                Ansprechpartner</a></li>
                        <li><a class="ajax-modal" href="#" data-url="{{ addBankAccountPath }}"><i
                                        class="uk-icon-credit-card"></i> Kontoverbindung</a></li>
                        {#<li><a href="{{ path('kmui_contact_detail_users_new') }}"><i class="uk-icon-key"></i> Zugang</a></li>#}
                        {#<li><a href="{{ path('kmui_project_new') }}"><i class="uk-icon-university"></i> Projekt</a></li>#}
                        {#<li><a href="{{ path('kmui_ticket_new') }}"><i class="uk-icon-check-circle-o"></i> Ticket</a></li>#}
                        {#<li><a href="{{ path('kmui_offer_new') }}"><i class="uk-icon-tag"></i> Angebot</a></li>#}
                        {#<li><a href="{{ path('kmui_order_new') }}"><i class="uk-icon-edit"></i> Auftrag</a></li>#}
                        {#<li><a href="{{ path('kmui_invoice_new') }}"><i class="uk-icon-euro"></i> Rechnung</a></li>#}
                        {#<li><a href="{{ path('kmui_invoice_new') }}"><i class="uk-icon-warning"></i> Mahnung</a></li>#}
                        {#<li><a href="{{ path('kmui_invoice_new') }}"><i class="uk-icon-plus-square"></i> Gutschrift</a></li>#}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if is_granted('DELETE', contact) %}
            <a href="{{ path("modules_contact_default_delete", {"contact":contact.id}) }}"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        {% endif %}
    </div>
{% endset %}
{% set headline %}
    {{ contact.name }}
{% endset %}
{{ macros.pageHeader(headline, null, buttons, breadcrumb, 1) }}

{# Category/Discount #}

<div class="uk-text-large uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
    {% if contact.discount %}
        <div class="uk-width-2-10">
            <b>Rabatt:</b><br>
            {{ contact.discount }} %
        </div>
    {% endif %}
    {% if contact.email %}
        <div class="uk-width-3-10">
            <b>E-Mail:</b><br>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        </div>
    {% endif %}
    {% if contact.pricelist %}
        <div class="uk-width-2-10">
            <b>Preisliste:</b><br/>
            <a href="{{ path("modules_ordermanagement_pricelist_details", {'pricelist': contact.pricelist.id}) }}">
                {{ contact.pricelist.title }}
            </a>
        </div>
    {% endif %}
    {% for field in contactFields %}
        <div class="uk-width-{{ field.type == 'textarea' ? '4' : '2' }}-10">
            <b>{{ field.name }}:</b><br>
            {% if field.type == 'text' %}
                {{ mod_contact_helper.fieldValue(field, contact) }}
            {% elseif field.type == 'textarea' %}
                {% set text = mod_contact_helper.fieldValue(field, contact) %}
                <div style="font-size: 14px; line-height: 20px;">
                    {% if text|length > 100 %}
                        <span class="textarea-field-{{ field.id }}">{{ text|truncate(100) }}</span>
                        <span class="textarea-field-{{ field.id }} uk-hidden">{{ text }}</span>
                        <button class="uk-button uk-button-mini"
                                data-uk-toggle="{target:'.textarea-field-{{ field.id }}'}"
                                onclick="$(this).find('i').toggleClass('uk-icon-angle-down uk-icon-angle-up');">
                            <i class="uk-icon-angle-down"></i>
                        </button>
                    {% else %}
                        {{ text }}
                    {% endif %}
                </div>
            {% elseif field.type == 'select_single' %}
                {{ mod_contact_helper.fieldValue(field, contact) }}
            {% elseif field.type == 'select_multiple' %}
                {{ mod_contact_helper.fieldValue(field, contact)|join(', ') }}
            {% elseif field.type == 'checkbox' %}
                {% if mod_contact_helper.fieldValue(field, contact) %}
                    <i class="uk-icon-check uk-text-success"></i>
                {% else %}
                    <i class="uk-icon-ban uk-text-danger"></i>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>