{% for field in fields %}
    {% if columns['_field_' ~ field.name].active %}
        <th class="uk-text-nowrap">
            {{ knp_pagination_sortable(pagination, columns['_field_' ~ field.name].label, '_field_' ~ field.id) }}
        </th>
    {% endif %}
{% endfor %}