{% for field in fields %}
    {% if columns['_field_' ~ field.name].active %}
        <td{% if field.type != 'textarea' %} class="uk-text-nowrap"{% endif %}>
            {% if field.type == 'text' %}
                {{ mod_contact_helper.fieldValue(field, entity) }}
            {% elseif field.type == 'textarea' %}
                {{ mod_contact_helper.fieldValue(field, entity)|truncate(100) }}
            {% elseif field.type == 'select_single' %}
                {{ mod_contact_helper.fieldValue(field, entity) }}
            {% elseif field.type == 'select_multiple' %}
                {{ mod_contact_helper.fieldValue(field, entity)|join('<br>')|raw }}
            {% elseif field.type == 'checkbox' %}
                {% if mod_contact_helper.fieldValue(field, entity) %}
                    <i class="uk-icon-check uk-text-success"></i>
                {% else %}
                    <i class="uk-icon-ban uk-text-danger"></i>
                {% endif %}
            {% endif %}
        </td>
    {% endif %}
{% endfor %}