{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        Kontakte
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Contact') %}
            <a href="{{ path('modules_contact_default_new_1', {'category': category.id}) }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neuen Kontakt anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(category.name, category.icon ?: '', buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}
    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geschäftspartner', 'name') }}
                </th>
                {% if columns['addresses'] is defined and columns['addresses'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-map-marker"></i>
                        {{ knp_pagination_sortable(pagination, columns['addresses'].label, 'addresses') }}
                    </th>
                {% endif %}
                {% if columns['persons'] is defined and columns['persons'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-user"></i>
                        {{ knp_pagination_sortable(pagination, columns['persons'].label, 'persons') }}
                    </th>
                {% endif %}
                {% if columns['email'] is defined and columns['email'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-user"></i>
                        {{ knp_pagination_sortable(pagination, columns['email'].label, 'persons') }}
                    </th>
                {% endif %}
                {% if columns['phone'] is defined and columns['phone'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-user"></i>
                        {{ knp_pagination_sortable(pagination, columns['phone'].label, 'persons') }}
                    </th>
                {% endif %}
                {% if columns['mobile'] is defined and columns['mobile'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-user"></i>
                        {{ knp_pagination_sortable(pagination, columns['mobile'].label, 'persons') }}
                    </th>
                {% endif %}
                {% if columns['bank_accounts'] is defined and columns['bank_accounts'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-credit-card"></i>
                        {{ knp_pagination_sortable(pagination, columns['bank_accounts'].label, 'bank_accounts') }}
                    </th>
                {% endif %}
                {% if columns['projects'] is defined and columns['projects'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-university"></i>
                        {{ columns['projects'].label }}
                    </th>
                {% endif %}
                {% if columns['tickets'] is defined and columns['tickets'].active %}
                    <th class="uk-text-nowrap">
                        <i class="uk-icon-check-circle-o"></i>
                        {{ columns['tickets'].label }}
                    </th>
                {% endif %}
                {% include '@ModulesContact/Default/fields-headers.html.twig' %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('modules_contact_default_details_1', {'contact': contact.id, 'category': category.id}) }}">
                            {{ contact.name }}
                        </a>
                    </td>
                    {% if columns['addresses'] is defined and columns['addresses'].active %}
                        <td class="uk-text-nowrap">
                            {% for address in contact.addresses|slice(0, 5) %}
                                <a href="http://maps.google.com/?q={{ address }}" data-uk-tooltip title="{{ address }}"
                                   target="_blank">
                                    {{ address|truncate }}
                                </a><br>
                            {% else %}
                                <span class="uk-text-muted">Keine Adressen vorhanden.</span><br>
                                {% if is_granted('EDIT', contact) %}
                                    <a href="#"
                                       data-url="{{ path('modules_contact_address_new_1', {'contact': contact.id, 'category': category.id}) }}"
                                       class="ajax-modal uk-button uk-button-success uk-button-small"
                                       data-uk-tooltip title="Adresse hinufügen">
                                        <i class="uk-icon-plus"></i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            {% if contact.addresses|length > 5 %}
                                <a href="{{ path('modules_contact_default_detailsaddresses_1', {'contact': contact.id, 'category': category.id}) }}"
                                   class="uk-text-success uk-text-small">{{ contact.addresses|length - 5 }}
                                    weitere</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['persons'] is defined and columns['persons'].active %}
                        <td class="uk-text-nowrap">
                            {% for person in contact.persons|slice(0, 5) %}
                                <div id="modal-person-{{ person.id }}" class="uk-modal">
                                    <div class="uk-modal-dialog">
                                        <a class="uk-modal-close uk-close"></a>
                                        <div class="uk-modal-header">
                                            <h3>
                                                <i class="uk-icon-user"></i> {{ [person.salutation, person.firstname, person.lastname]|join(' ') }}
                                            </h3>
                                        </div>
                                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                            {% if person.position %}
                                                <div class="uk-width-1-2"><b>Position:</b></div>
                                                <div class="uk-width-1-2">{{ person.position }}</div>
                                            {% endif %}
                                            {% if person.phone %}
                                                <div class="uk-width-1-2"><b>Telefonnummer:</b></div>
                                                <div class="uk-width-1-2">{{ person.phone }}</div>
                                            {% endif %}
                                            {% if person.mobile %}
                                                <div class="uk-width-1-2"><b>Handynummer:</b></div>
                                                <div class="uk-width-1-2">{{ person.mobile }}</div>
                                            {% endif %}
                                            {% if person.email %}
                                                <div class="uk-width-1-2"><b>E-Mail:</b></div>
                                                <div class="uk-width-1-2"><a
                                                            href="mailto:{{ person.email }}">{{ person.email }}</a>
                                                </div>
                                            {% endif %}
                                            {% for field in personFields %}
                                                <div class="uk-width-1-2"><b>{{ field.name }}:</b></div>
                                                <div class="uk-width-1-2">
                                                    {% if field.type == 'text' %}
                                                        {{ mod_contact_helper.fieldValue(field, person) }}
                                                    {% elseif field.type == 'textarea' %}
                                                        {{ mod_contact_helper.fieldValue(field, person)|truncate(100) }}
                                                    {% elseif field.type == 'select_single' %}
                                                        {{ mod_contact_helper.fieldValue(field, person) }}
                                                    {% elseif field.type == 'select_multiple' %}
                                                        {{ mod_contact_helper.fieldValue(field, person)|join('<br>')|raw }}
                                                    {% elseif field.type == 'checkbox' %}
                                                        {% if mod_contact_helper.fieldValue(field, person) %}
                                                            <i class="uk-icon-check uk-text-success"></i>
                                                        {% else %}
                                                            <i class="uk-icon-ban uk-text-danger"></i>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <a href="#modal-person-{{ person.id }}"
                                   data-uk-tooltip title="{{ person }}"
                                   data-uk-modal>
                                    {{ person|truncate }}
                                </a><br>
                            {% else %}
                                <span class="uk-text-muted">Keine Ansprechpartner vorhanden.</span><br>
                                {% if is_granted('EDIT', contact) %}
                                    <a href="#"
                                       data-url="{{ path('modules_contact_person_new_1', {'contact': contact.id, 'category': category.id}) }}"
                                       class="ajax-modal uk-button uk-button-success uk-button-small"
                                       data-uk-tooltip title="Ansprechpartner hinufügen">
                                        <i class="uk-icon-plus"></i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            {% if contact.persons|length > 5 %}
                                <a href="{{ path('modules_contact_default_detailspersons_1', {'contact': contact.id, 'category': category.id}) }}"
                                   class="uk-text-success uk-text-small">{{ contact.persons|length - 5 }}
                                    weitere</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['email'] is defined and columns['email'].active %}
                        <td class="uk-text-nowrap">
                            {% for person in contact.persons|slice(0, 5) %}
                                <a href="mailto:{{ person.email }}">{{ person.email }}</a><br/>
                            {% endfor %}
                        </td>
                    {% endif %}
                    {% if columns['phone'] is defined and columns['phone'].active %}
                        <td class="uk-text-nowrap">
                            {% for person in contact.persons|slice(0, 5) %}
                                {{ person.phone }}<br/>
                            {% endfor %}
                        </td>
                    {% endif %}
                    {% if columns['mobile'] is defined and columns['mobile'].active %}
                        <td class="uk-text-nowrap">
                            {% for person in contact.persons|slice(0, 5) %}
                                {{ person.mobile }}<br/>
                            {% endfor %}
                        </td>
                    {% endif %}
                    {% if columns['bank_accounts'] is defined and columns['bank_accounts'].active %}
                        <td>
                            {% for bankAccount in contact.bankAccounts|slice(0, 5) %}
                                <div id="modal-bankaccount-{{ bankAccount.id }}" class="uk-modal">
                                    <div class="uk-modal-dialog">
                                        <a class="uk-modal-close uk-close"></a>
                                        <div class="uk-modal-header">
                                            <h3>
                                                <i class="uk-icon-credit-card"></i> Kontoverbindung
                                            </h3>
                                        </div>
                                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                            {% if bankAccount.owner %}
                                                <div class="uk-width-1-2"><b>Inhaber:</b></div>
                                                <div class="uk-width-1-2">{{ bankAccount.owner }}</div>
                                            {% endif %}
                                            {% if bankAccount.bank %}
                                                <div class="uk-width-1-2"><b>Kreditinstitut:</b></div>
                                                <div class="uk-width-1-2">{{ bankAccount.bank }}</div>
                                            {% endif %}
                                            {% if bankAccount.iban %}
                                                <div class="uk-width-1-2"><b>IBAN:</b></div>
                                                <div class="uk-width-1-2">
                                                    {{ bankAccount.iban }}
                                                    <a data-clipboard-text="{{ bankAccount.iban }}"
                                                       data-uk-tooltip title="IBAN in Zwischenablage<br>kopieren"
                                                       class="uk-button uk-button-small uk-button-primary clipboard-button uk-float-right">
                                                        <i class="uk-icon-copy"></i>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            {% if bankAccount.bic %}
                                                <div class="uk-width-1-2"><b>BIC:</b></div>
                                                <div class="uk-width-1-2">
                                                    {{ bankAccount.bic }}
                                                    <a data-clipboard-text="{{ bankAccount.bic }}"
                                                       data-uk-tooltip title="BIC in Zwischenablage<br>kopieren"
                                                       class="uk-button uk-button-small uk-button-primary clipboard-button uk-float-right">
                                                        <i class="uk-icon-copy"></i>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            {% for field in bankAccountFields %}
                                                <div class="uk-width-1-2"><b>{{ field.name }}:</b></div>
                                                <div class="uk-width-1-2">
                                                    {% if field.type == 'text' %}
                                                        {{ mod_contact_helper.fieldValue(field, bankAccount) }}
                                                    {% elseif field.type == 'textarea' %}
                                                        {{ mod_contact_helper.fieldValue(field, bankAccount)|truncate(100) }}
                                                    {% elseif field.type == 'select_single' %}
                                                        {{ mod_contact_helper.fieldValue(field, bankAccount) }}
                                                    {% elseif field.type == 'select_multiple' %}
                                                        {{ mod_contact_helper.fieldValue(field, bankAccount)|join('<br>')|raw }}
                                                    {% elseif field.type == 'checkbox' %}
                                                        {% if mod_contact_helper.fieldValue(field, bankAccount) %}
                                                            <i class="uk-icon-check uk-text-success"></i>
                                                        {% else %}
                                                            <i class="uk-icon-ban uk-text-danger"></i>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <a href="#modal-bankaccount-{{ bankAccount.id }}"
                                   data-uk-tooltip title="{{ bankAccount }}"
                                   data-uk-modal>
                                    {{ bankAccount|truncate }}
                                </a><br>
                            {% else %}
                                <span class="uk-text-muted">Keine Kontoverbindungen vorhanden.</span><br>
                                {% if is_granted('EDIT', contact) %}
                                    <a href="#"
                                       data-url="{{ path('modules_contact_bankaccount_new_1', {'contact': contact.id, 'category': category.id}) }}"
                                       class="ajax-modal uk-button uk-button-success uk-button-small"
                                       data-uk-tooltip title="Kontoverbindung hinufügen">
                                        <i class="uk-icon-plus"></i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            {% if contact.bankAccounts|length > 5 %}
                                <a href="{{ path('modules_contact_default_detailsbankaccounts_1', {'contact': contact.id, 'category': category.id}) }}"
                                   class="uk-text-success uk-text-small">{{ contact.bankAccounts|length - 5 }}
                                    weitere</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['projects'] is defined and columns['projects'].active %}
                        <td class="uk-text-nowrap">
                            {% if loop.index is odd %}
                                <a href="#">aktuelles Projekt</a><br>
                                <a href="#" class="uk-text-muted">abgelaufenes Projekt</a><br>
                                <a href="#" class="uk-text-muted">Lorem ipsum </a>
                            {% else %}
                                <span class="uk-text-muted">keine Projekte</span>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['tickets'] is defined and columns['tickets'].active %}
                        <td>
                            <div class="uk-button-group">
                                <a href="{{ path('kmui_contact_detail_tickets') }}"
                                   class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="offen">
                                    <i class="uk-icon-square-o"></i>
                                    2
                                </a>
                                <a href="{{ path('kmui_contact_detail_tickets') }}"
                                   class="uk-button uk-button-small uk-button-success" data-uk-tooltip title="erledigt">
                                    <i class="uk-icon-check-square-o"></i>
                                    6
                                </a>
                            </div>
                        </td>
                    {% endif %}
                    {% include '@ModulesContact/Default/fields-values.html.twig' with {'entity': contact} %}
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('modules_contact_default_details_1', {'contact': contact.id, 'category': category.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}"
                                 data-uk-tooltip
                                 title="Ansehen">
                                <button class="uk-button uk-button-small uk-button-primary">
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom">
                                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                        <li class="uk-nav-header">Kontakt</li>
                                        <li>
                                            <a href="{{ path('modules_contact_default_detailsaddresses_1', {'contact': contact.id, 'category': category.id}) }}">
                                                <i class="uk-icon-map-marker"></i> Adressen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_contact_default_detailspersons_1', {'contact': contact.id, 'category': category.id}) }}">
                                                <i class="uk-icon-user"></i> Ansprechpartner
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_contact_default_detailsbankaccounts_1', {'contact': contact.id, 'category': category.id}) }}">
                                                <i class="uk-icon-credit-card"></i> Kontoverbindungen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('modules_contact_default_detailsusers_1', {'contact': contact.id, 'category': category.id}) }}">
                                                <i class="uk-icon-key"></i> Zugänge
                                            </a>
                                        </li>
                                        {% if is_granted('VIEW', 'Modules\\WikiBundle\\Entity\\Article') %}
                                            <li class="uk-nav-header">Wiki</li>
                                            <li>
                                                <a href="{{ path('modules_contact_default_detailsarticles_1', {'contact': contact.id, 'category': category.id}) }}">
                                                    <i class="uk-icon-wikipedia-w"></i> Artikel
                                                </a>
                                            </li>
                                        {% endif %}
                                        {#<li class="uk-nav-header">Projekte</li>#}
                                        {#<li>#}
                                        {#<a href="#">#}
                                        {#<i class="uk-icon-university"></i>#}
                                        {#Projekte#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<a href="#">#}
                                        {#<i class="uk-icon-check-circle-o"></i>#}
                                        {#Tickets#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#<li class="uk-nav-header">Buchhaltung</li>#}
                                        {#<li>#}
                                        {#<a href="#">#}
                                        {#<i class="uk-icon-tag"></i>#}
                                        {#Angebote#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<a href="#">#}
                                        {#<i class="uk-icon-edit"></i>#}
                                        {#Aufträge#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<a href="#">#}
                                        {#<i class="uk-icon-euro"></i>#}
                                        {#Rechnungen#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<a href="#">#}
                                        {#<i class="uk-icon-warning"></i>#}
                                        {#Mahnungen#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<a href="#">#}
                                        {#<i class="uk-icon-plus-square"></i>#}
                                        {#Gutschriften#}
                                        {#</a>#}
                                        {#</li>#}
                                    </ul>
                                </div>
                            </div>
                            {% if is_granted('EDIT', contact) %}
                                <a href="{{ path('modules_contact_default_edit_1', {'contact': contact.id, 'category': category.id}) }}"
                                   class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', contact) %}
                                <a href="#delete-contact-{{ contact.id }}"
                                   class="uk-button uk-button-small uk-button-danger"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>

                        {% if is_granted('DELETE', contact) %}
                        <div class="uk-modal uk-text-left" id="delete-contact-{{ contact.id }}">
                            <div class="uk-modal-dialog">
                                <a class="uk-modal-close uk-close"></a>
                                <div class="uk-modal-header uk-modal-header-danger">
                                    <h3>
                                        <i class="uk-icon-warning"></i>
                                        Löschen bestätigen
                                    </h3>
                                </div>
                                <b class="uk-text-large">Möchten Sie den Kontakt <i
                                            class="uk-text-muted">{{ contact.name }}</i>
                                    wirklich löschen?</b>
                                {#<br>#}
                                {#Was möchten Sie mit den zugehörigen Datensätzen machen?<br>#}
                                {#<br>#}
                                <div class="uk-alert uk-alert-danger">
                                    <i class="uk-icon-warning"></i>
                                    Zugehörige Adressen, Ansprechpartner, Kontoverbindungen und Zugänge werden ebenfalls
                                    gelöscht!
                                </div>
                                {# {{ form_start(deleteForms[contact.id]) }}
                                <div class="uk-hidden">
                                    {#  {{ form_row(deleteForms[contact.id].addresses_action) }}
                                      {{ form_row(deleteForms[contact.id].persons_action) }}
                                      {{ form_row(deleteForms[contact.id].bank_accounts_action) }}
                                      {{ form_row(deleteForms[contact.id].wiki_articles_action) }}
                                    </div>
                                    <a href="#" class="uk-button uk-modal-close">
                                      <i class="uk-icon-close"></i>
                                      Abbrechen
                                    </a>
                                    <button class="uk-button uk-button-danger uk-float-right">
                                      <i class="uk-icon-trash"></i>
                                      Löschen!
                                    </button>
                                    </div>
                                    {{ form_end(deleteForms[contact.id]) }}
                                </div>#}
                            </div>
                            {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Kontakte in dieser Kategorie angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\ContactBundle\\Entity\\Contact') %}
                            <a href="{{ path('modules_contact_default_new_1', {'category': category.id}) }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neuen Kontakt anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}