{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Kontakte
        {% if currentCategory %}
            <i class="uk-icon-angle-right"></i> {{ currentCategory.name }}
        {% endif %}
    {% endset %}
    {% set buttons %}
        {% if currentCategory %}
            {% set listPath = path('modules_contact_default_categoryindex', {'category': currentCategory.id}) %}
        {% else %}
            {% set listPath = path('modules_contact_default_index') %}
        {% endif %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Kontakt', null, buttons, breadcrumb) }}

    {{ form_start(form) }}

    {# Form Buttons Top #}
    <div class="uk-grid uk-grid-small uk-margin-top uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_contact_default_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    {# Main Form #}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-3-4">
                {{ form_row(form.categories) }}
            </div>
            <div class="uk-width-1-4">
                {{ form_row(form.discount) }}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(form.email) }}
            </div>
            {% for key, field in form.children %}
                {% if key starts with '_field_entity_' %}
                    <div class="uk-width-1-1">
                        {{ form_row(field) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="uk-alert" data-uk-alert>
        <a href="" class="uk-alert-close uk-close"></a>
        <i class="uk-icon-info-circle"></i>
        Kategoriegebundene Formularfelder werden erst angezeigt, wenn der Kontakt gespeichert wurde.
    </div>

    {# Related entities #}
    <h2 class="content-headline">
        <i class="uk-icon-map-marker"></i>
        Adressen
        <a class="uk-button uk-button-small uk-float-right"
           onclick="$(this).find('i').toggleClass('uk-icon-angle-down uk-icon-angle-right')"
           data-uk-toggle="{target:'#addresses-container', animation:'uk-animation-scale-up'}">
            <i class="uk-icon-angle-down"></i>
        </a>
    </h2>

    <div id="addresses-container" class="uk-animation-top-right">
        {{ form_row(form.addresses) }}
    </div>

    <h2 class="content-headline">
        <i class="uk-icon-user"></i>
        Ansprechpartner
        <a class="uk-button uk-button-small uk-float-right"
           onclick="$(this).find('i').toggleClass('uk-icon-angle-down uk-icon-angle-right')"
           data-uk-toggle="{target:'#persons-container', animation:'uk-animation-scale-up'}">
            <i class="uk-icon-angle-down"></i>
        </a>
    </h2>

    <div id="persons-container" class="uk-animation-top-right">
        {{ form_row(form.persons) }}
    </div>

    <h2 class="content-headline">
        <i class="uk-icon-credit-card"></i>
        Kontoverbindungen
        <a class="uk-button uk-button-small uk-float-right"
           onclick="$(this).find('i').toggleClass('uk-icon-angle-down uk-icon-angle-right')"
           data-uk-toggle="{target:'#bankaccounts-container', animation:'uk-animation-scale-up'}">
            <i class="uk-icon-angle-down"></i>
        </a>
    </h2>

    <div id="bankaccounts-container" class="uk-animation-top-right">
        {{ form_row(form.bankAccounts) }}
    </div>

    {# Form Buttons Bottom #}
    <hr>
    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_contact_default_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}

    <script type="text/javascript">
        $(function () {
            var upBtn = '<a href="#" class="uk-button uk-button-small" title="nach oben verschieben"><i class="uk-icon-arrow-up"></i></a>';
            var downBtn = '<a href="#" class="uk-button uk-button-small" title="nach unten verschieben"><i class="uk-icon-arrow-down"></i></a>';
            var addBtn = '<a href="#" class="uk-button uk-button-small uk-button-success uk-float-right" title="Hinzufügen"><i class="uk-icon-plus"></i></a>';
            var removeBtn = '<a href="#" class="uk-button uk-button-small uk-button-danger" title="Löschen"><i class="uk-icon-trash"></i></a>';
            var duplicateBtn = '<a href="#" class="uk-button uk-button-small uk-button-success" title="Kopieren"><i class="uk-icon-copy"></i></a>';

            $('#contact_addresses, #contact_persons, #contact_bankAccounts').collection({
                add: addBtn, duplicate: duplicateBtn, remove: removeBtn, up: upBtn, down: downBtn,
                allow_duplicate: true,
                order_field_selector: '.order',
                after_add: afterAdd,
                after_duplicate: afterDuplicate
            });

            function afterAdd(collection, element) {
                element.find('.select2').select2();
            }

            function afterDuplicate(collection, element) {
                element.find('.select2-hidden-accessible').removeClass('select2-hidden-accessible');
                element.find('.select2-container').remove();
                element.find('.select2').select2();
            }

            $("#contact_addresses, #contact_persons, #contact_bankAccounts").on('display.uk.check', function () {
                $(this).find('.select2').select2();
            });
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>
{% endblock %}

{% form_theme form _self %}

{% block _contact_addresses_entry_widget %}
    {% include '@ModulesContact/Default/add-address-form.html.twig' %}
{% endblock %}

{% block _contact_persons_entry_widget %}
    {% include '@ModulesContact/Default/add-person-form.html.twig' %}
{% endblock %}

{% block _contact_bankAccounts_entry_widget %}
    {% include '@ModulesContact/Default/add-bank-account-form.html.twig' %}
{% endblock %}