{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% if category %}
    {% set listPath = path('modules_inventory_item_show_1', {'item': item.id, 'category': category.id}) %}
{% else %}
    {% set listPath = path('modules_inventory_item_show', {'item': item.id}) %}
{% endif %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-dropbox"></i> Inventar
        {% if category %}
            <i class="uk-icon-angle-right"></i>
            {% if category.icon %}<i class="uk-icon-{{ category.icon }}"></i>{% endif %}
            {{ category.name }}
        {% endif %}
        <i class="uk-icon-angle-right"></i> Verwendungen
    {% endset %}
    {% set buttons %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {% set headline %}
        {% if item.imagePath %}
            <a href="/{{ item.imagePath }}" data-uk-lightbox style="text-decoration: none !important;">
                <img src="/{{ item.thumbPath }}" class="uk-border-circle" style="width: 34px; height: 34px;" alt=""/>
            </a>
        {% endif %}
        {{ item.name }}
        {% if itemUse.status == constant('STATUS_IN_USE', itemUse) %}
            in Verwendung:
        {% elseif itemUse.status == constant('STATUS_IN_REPAIR', itemUse) %}
            in Reparatur:
        {% endif %}
        {{ itemUse.start|date('d.m.Y H:i') ~ ' bis ' ~ itemUse.end|date('d.m.Y H:i') }}
    {% endset %}
    {{ macros.pageHeader(headline, null, buttons, breadcrumb) }}

    {{ form_start(edit_form) }}

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-10">
                {{ form_row(edit_form.status) }}
            </div>
            <div class="uk-width-2-10">
                <label class="uk-form-label" for="form-">Bis</label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.end.date) }}
                    {{ form_errors(edit_form.end) }}
                </div>
            </div>
            <div class="uk-width-1-10">
                <label class="uk-form-label" for="form-">
                    <small class="uk-text-muted">Stunde</small>
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.end.time.hour) }}
                </div>
            </div>
            <div class="uk-width-1-10">
                <label class="uk-form-label" for="form-">
                    <small class="uk-text-muted">Minute</small>
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.end.time.minute) }}
                </div>
            </div>
            <div class="uk-width-medium-4-10">
                {{ form_row(edit_form.member) }}
            </div>
            {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                <div class="uk-width-medium-1-2">
                    {{ form_row(edit_form.contact) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                <div class="uk-width-medium-1-2">
                    {{ form_row(edit_form.project) }}
                </div>
            {% endif %}
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.note) }}
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}