<div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header uk-contrast"
         style="background: {{ itemUse.status == constant('STATUS_IN_USE', itemUse) ? '#faa732' : '#da314b' }};">
        <h3>
            <i class="uk-icon-dropbox"></i>
            <span>
                {{ itemUse.item.name }} -
                {% if itemUse.status == constant('STATUS_IN_USE', itemUse) %}
                    in Verwendung
                {% elseif itemUse.status == constant('STATUS_IN_REPAIR', itemUse) %}
                    in Reparatur
                {% endif %}
            </span>
        </h3>
    </div>

    <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
        <div class="uk-width-2-3">
            von {{ itemUse.start|date('d.m.Y H:i') }} bis {{ itemUse.end|date('d.m.Y H:i') }}
        </div>
        <div class="uk-width-1-3 uk-text-right">
            von
            <a href="{{ path('modules_team_member_details', {'member': itemUse.member.id}) }}">
                {{ itemUse.member }}
            </a>
        </div>
        {% if itemUse.contact %}
            <div class="uk-width-1-2">
                <i class="uk-icon-briefcase"></i>
                <a href="{{ path('modules_contact_default_details', {'contact': itemUse.contact.id}) }}">
                    {{ itemUse.contact.name }}
                </a>
            </div>
        {% endif %}
        {% if itemUse.project %}
            <div class="uk-width-1-2">
                <i class="uk-icon-university"></i>
                <a href="{{ path('modules_project_project_show', {'id': itemUse.project.id}) }}">
                    {{ itemUse.project.name }}
                </a>
            </div>
        {% endif %}
    </div>

    {% if itemUse.returnedAt %}
        <hr>
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-2">
                zurück seit {{ itemUse.returnedAt|date('d.m.Y H:i') }}
            </div>
            <div class="uk-width-1-2">
                {{ itemUse.note }}
            </div>
        </div>
    {% endif %}
</div>