{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #modules_calendarbundle_event_address_autocomplete .uk-dropdown {
            width: auto;
            padding: 5px 15px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            // set end date to start date if start > end
            $(document).on('hide.uk.datepicker', '#modules_calendarbundle_event_start_date', function (e) {
                var start = $(this).val().split('.');
                start = new Date(start[2], start[1], start[0], 0, 0, 0, 0);
                var end = $('#modules_calendarbundle_event_end_date').val().split('.');
                end = new Date(end[2], end[1], end[0], 0, 0, 0, 0);

                if (start > end) {
                    $('#modules_calendarbundle_event_end_date').val($(this).val());
                }
            });

            // toggle all day
            $(document).on('click', '#modules_calendarbundle_event_allDay_toggler', function () {
                $('.hide-if-all-day-selected, .show-if-all-day-selected').toggleClass('uk-hidden');
            });

            // set time values if empty
            $(document).on('submit', 'form[name="modules_calendarbundle_event"]', function () {
                var startTime = $('#modules_calendarbundle_event_start_time');
                if (startTime.val() == '') {
                    startTime.val('00:00');
                }
                var endTime = $('#modules_calendarbundle_event_end_time');
                if (endTime.val() == '') {
                    endTime.val('00:00');
                }
            });

            // update address autocomplete
            var contactId = $('#modules_calendarbundle_event_contact').val();
            var projectId = $('#modules_calendarbundle_event_project').val();
            var autocomplete;
            // initially set autocomplete based on current contact and project
            setAutocompleteAddresses(contactId, projectId);

            // handle changes on contact and project field
            $(document).on('change', '#modules_calendarbundle_event_contact', function (e) {
                contactId = parseInt($(this).val()) ? parseInt($(this).val()) : null;
                setAutocompleteAddresses(contactId, projectId);
            });
            $(document).on('change', '#modules_calendarbundle_event_project', function (e) {
                projectId = parseInt($(this).val()) ? parseInt($(this).val()) : null;
                setAutocompleteAddresses(contactId, projectId);
            });

            // actual autocomplete results request
            function setAutocompleteAddresses(contactId, projectId) {
                $.ajax(
                    Routing.generate(
                        'modules_calendar_event_autocompleteaddresses',
                        {'contact': contactId, 'project': projectId}
                    )
                ).done(function (addresses) {
                    var autocompleteContainer = $('#modules_calendarbundle_event_address_autocomplete');
                    var clone = autocompleteContainer.clone();
                    autocompleteContainer.replaceWith(clone);
                    if (addresses.length) {
                        autocomplete = UIkit.autocomplete($('#modules_calendarbundle_event_address_autocomplete'), {
                            'source': addresses,
                            'minLength': 0
                        });
                    }
                });
            }

            // show autocomplete on focus
            $(document).on('focus', '#modules_calendarbundle_event_address_autocomplete', function (e) {
                autocomplete.handle();
                autocomplete.show();
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-calendar"></i> Kalender
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_calendar_default_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zum Kalender">
            <i class="uk-icon-calendar"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader(event.name, null, buttons, breadcrumb) }}

    {% set isAllDay = edit_form.allDay.vars.checked %}

    {{ form_start(edit_form) }}

    <div class="uk-width-medium-1-1 uk-margin-bottom">
        <a href="{{ path('modules_calendar_default_index') }}" class="uk-button">
            <i class="uk-icon-times"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-check"></i>
            Speichern
        </button>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-3-5">
                {{ form_row(edit_form.name) }}
            </div>
            <div class="uk-width-2-5">
                {{ form_row(edit_form.type) }}
            </div>
            <div class="uk-width-1-10">
                {{ form_row(edit_form.allDay) }}
            </div>
            {% if edit_form.type.vars.data == 'emergency' %}
                <div class="uk-form-row">
                    <label class="uk-form-label" for="modules_calendarbundle_event_visibility">öffentlich</label>
                    <div class="uk-form-controls">
                        <div id="modules_calendarbundle_event_visibility_toggler" class="uk-disabled">
                            <i class="uk-icon-large uk-icon-toggle-on"></i>
                        </div>
                    </div>
                </div>
                <div class="uk-hidden">
                    {{ form_row(edit_form.visibility) }}
                </div>
            {% else %}
                <div class="uk-width-1-10">
                    {{ form_row(edit_form.visibility) }}
                </div>
            {% endif %}
            <div class="uk-width-8-10">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-medium-3-10">
                        <label class="uk-form-label" for="form-">Von</label>
                        <div class="uk-form-controls">
                            {{ form_widget(edit_form.start.date) }}
                            {{ form_errors(edit_form.start) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Stunde</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(edit_form.start.time.hour) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Minute</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(edit_form.start.time.minute) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-3-10">
                        <label class="uk-form-label" for="form-">Bis</label>
                        <div class="uk-form-controls">
                            {{ form_widget(edit_form.end.date) }}
                            {{ form_errors(edit_form.end) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Stunde</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(edit_form.end.time.hour) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Minute</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(edit_form.end.time.minute) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-3">
                {{ form_row(edit_form.members) }}
            </div>
            {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                <div class="uk-width-medium-1-3">
                    {{ form_row(edit_form.contact) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                <div class="uk-width-medium-1-3">
                    {{ form_row(edit_form.project) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\JobTicket') %}
                <div class="uk-width-medium-1-3">
                    {{ form_row(edit_form.jobticket) }}
                </div>
                <div class="uk-width-medium-1-3">
                    {{ form_row(edit_form.jobticket_new) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\ToDontBundle\\Entity\\ToDo') %}
                <div class="uk-width-medium-1-3">
                    {{ form_row(edit_form.todo) }}
                </div>
            {% endif %}
            <div class="uk-width-medium-1-1" id="modules_calendarbundle_event_address_autocomplete">
                {{ form_row(edit_form.address) }}
            </div>
        </div>
    </div>

    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.text) }}
            </div>
        </div>
    </div>


    <h2 class="content-headline">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% for document in app_helper.getDocumentsForEntity(event,event.id) %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                    </td>
                    <td>
                        <span data-delete="{{ path('core_app_upload_deletedocument',{'document': document.id}) }}"
                              class="uk-button uk-button-small uk-button-danger deleteDocument"><i
                                    class="uk-icon-trash"></i></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="upload-drop" class="uk-placeholder">
        <div class="uk-text-center uk-text-large">
            <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
            Dateien hier hinziehen oder
            <a class="uk-form-file">Dateien aussuchen<input id="upload-select" type="file" multiple></a>.
        </div>
    </div>

    <div id="progressbar" class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width: 0%;">...</div>
    </div>


    <div class="uk-width-medium-1-1 uk-margin-top">
        <a href="{{ path('modules_calendar_default_index') }}" class="uk-button">
            <i class="uk-icon-times"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-check"></i>
            Speichern
        </button>
    </div>

    {{ form_end(edit_form) }}

    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script>
        $(function () {
            // upload documents
            var progressbar = $("#progressbar"),
                    bar = progressbar.find('.uk-progress-bar'),
                    settings = {
                        type: 'json',
                        action: '{{ path('core_app_upload_documentupload',{id: event.id,table: app_helper.getTableName(event)}) }}', // upload url
//                    allow : '*.(jpg|jpeg|gif|png)', // allow only images
                        loadstart: function () {
                            bar.css("width", "0%").text("0%");
                            progressbar.removeClass("uk-hidden");
                        },
                        progress: function (percent) {
                            percent = Math.ceil(percent);
                            bar.css("width", percent + "%").text(percent + "%");
                        },
                        complete: function (response) {
                            $(response).each(function (i, file) {
                                console.log(file);
                                var row = '<tr><td>' +
                                        '<a href="' + file.download + '" target="_blank">' + file.name + '</a>' +
                                        '</td>' +
                                        '<td><span data-delete="' + file.pathDelete + '" class="uk-button uk-button-small uk-button-danger deleteDocument"><i class="uk-icon-trash"></i></span></td>' +
                                        '<tr/>'
                                $('#documents').prepend(row);
                            });
                        },
                        allcomplete: function (response) {
                            bar.css("width", "100%").text("100%");
                            setTimeout(function () {
                                progressbar.addClass("uk-hidden");
                            }, 250);
                        }
                    };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                    drop = UIkit.uploadDrop($("#upload-drop"), settings);

        });
    </script>
{% endblock %}