<div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header uk-contrast" style="background: {{ calendar_helper.eventColor(event) }};">
        <h3>
            <i class="uk-icon-{{ calendar_helper.eventIcon(event) }}"></i>
            <span>{{ event.name }}</span>
        </h3>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-1-2 uk-text-large">
            {% if event.allDay %}
                {% if event.start|date('d.m.Y') == event.end|date('d.m.Y') %}
                    {{ event.start|date('d.m.Y') }}
                {% else %}
                    von {{ event.start|date('d.m.Y') }}<br>bis {{ event.end|date('d.m.Y') }}
                {% endif %}
            {% else %}
                {% if event.start|date('d.m.Y H:i') == event.end|date('d.m.Y H:i') %}
                    {{ event.start|date('d.m.Y H:i') }}
                {% elseif event.start|date('d.m.Y') == event.end|date('d.m.Y') %}
                    von {{ event.start|date('d.m.Y H:i') }}<br>bis {{ event.end|date('H:i') }}
                {% else %}
                    von {{ event.start|date('d.m.Y H:i') }}<br>bis {{ event.end|date('d.m.Y H:i') }}
                {% endif %}
            {% endif %}
        </div>
        <div class="uk-width-1-2 uk-text-large uk-text-right">
            <i class="uk-icon-users"></i>
            {% for member in event.members %}
                <a
                href="{{ path('modules_team_member_details', {'member': member.id}) }}">{{ member }}</a>{% if loop.index != event.members|length %}, {% endif %}
            {% endfor %}
        </div>
        {% if event.contact %}
            <div class="uk-width-1-2 uk-text-large">
                <i class="uk-icon-map-marker"></i> Kontakt:<br>
                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                    <a href="{{ path('modules_contact_default_details', {'contact': event.contact.id}) }}">{{ event.contact.name }}</a>
                {% else %}
                    {{ event.contact.name }}
                {% endif %}
            </div>
        {% endif %}
        {% if event.jobticket %}
            <div class="uk-width-1-2 uk-text-large">
                <i class="uk-icon-university"></i> Jobticket:<br>
                {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\JobTicket') %}
                    <a href="{{ path('modules_ordermanagement_jobticket_details', {'jobTicket': event.jobticket.id}) }}">{{ event.jobticket.title }}</a>
                {% else %}
                    {{ event.jobticket.title }}
                {% endif %}
            </div>
        {% endif %}
        {% if event.todo %}
            <div class="uk-width-1-1 uk-text-large">
                <i class="uk-icon-check-circle"></i> Todo:<br>
                {% if is_granted('VIEW', 'Modules\\ToDoBundle\\Entity\\ToDo') %}
                    <a href="{{ path('modules_todo_default_details', {'todo': event.todo.id}) }}">{{ event.todo.title }}</a>
                {% else %}
                    {{ event.todo.title }}
                {% endif %}
                <p> {{ event.todo.text|raw }}</p>
            </div>
        {% endif %}
        {% if event.project %}
            <div class="uk-width-1-2 uk-text-large">
                <i class="uk-icon-university"></i> Projekt:<br>
                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                    <a href="{{ path('modules_project_project_show', {'id': event.project.id}) }}">{{ event.project.name }}</a>
                {% else %}
                    {{ event.project.name }}
                {% endif %}
            </div>
        {% endif %}
        {% if event.address %}
            <div class="uk-width-1-1 uk-text-large">
                <i class="uk-icon-briefcase"></i> Adresse:<br>
                {{ event.address }}
            </div>
        {% endif %}
        {% if event.text %}
            <div class="uk-width-1-1 uk-margin-remove">
                <hr>
                {{ event.text|raw }}
                <hr>
            </div>
        {% endif %}
        <div class="uk-width-1-1 uk-text-large">
            <i class="uk-icon-files-o"></i> Anhänge<br/>

            {% set documents=app_helper.getDocumentsForEntity(event,event.id) %}
            {% if documents %}
                <div class="uk-overflow-container ">
                    {% for document in documents %}
                        <p>
                            <a target="_blank"
                               href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                        </p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="uk-overflow-container uk-text-small">
                    <p>Keine Anhänge</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="uk-modal-footer uk-clearfix">
        <div class="uk-float-left">
            {% if event.visibility %}
                <span class="uk-badge">Öffentlich</span>
            {% else %}
                <span class="uk-badge uk-badge-warning">Privat</span>
            {% endif %}
        </div>
        <div class="uk-button-group uk-float-right">
            {% if event.address %}
                <a href="http://maps.google.com/?q={{ event.address }}" target="_blank"
                   class="uk-button uk-button-primary"
                   data-uk-tooltip title="Google Maps">
                    <i class="uk-icon-map-marker"></i>
                </a>
            {% endif %}

            {% if is_granted('EDIT', event) %}
                <a href="{{ path('modules_calendar_event_edit', {'id': event.id}) }}"
                   class="uk-button uk-button-primary"
                   data-uk-tooltip title="Bearbeiten">
                    <i class="uk-icon-pencil"></i>
                </a>
            {% endif %}
            <a onclick="printWindow({{ event.id }})" href="#" target="#print_event"
               class="uk-button uk-button-primary"
               data-uk-tooltip title="Drucken">
                <i class="uk-icon-print"></i>
            </a>
            {% if is_granted('CREATE', event) %}
                <a href="{{ path('modules_calendar_event_new_copy', {'baseEvent': event.id}) }}"
                   class="uk-button uk-button-primary"
                   data-uk-tooltip title="Kopieren">
                    <i class="uk-icon-copy"></i>
                </a>
            {% endif %}
            {% if is_granted('DELETE', event) %}
                <a data-uk-toggle="{target:'#delete-event-{{ event.id }}', animation:'uk-animation-fade'}"
                   class="uk-button uk-button-danger"
                   data-uk-tooltip title="Löschen"
                   data-uk-modal>
                    <i class="uk-icon-trash"></i>
                </a>
            {% endif %}
        </div>
    </div>
    {% if is_granted('DELETE', event) %}
        <div id="delete-event-{{ event.id }}" class="uk-hidden">
            {{ form_start(deleteForm) }}
            <div class="uk-modal-footer">
                <div class="uk-modal-header uk-modal-header-danger" style="border-radius: 0; padding: 10px 20px;">
                    <h3>
                        <i class="uk-icon-warning"></i>
                        <span>Löschen bestätigen</span>
                    </h3>
                </div>

                <b>Möchten Sie diesen Termin wirklich löschen?</b>
            </div>
            <div class="uk-modal-footer">
                <a data-uk-toggle="{target:'#delete-event-{{ event.id }}', animation:'uk-animation-fade'}"
                   class="uk-button">
                    <i class="uk-icon-times"></i> Abbrechen
                </a>
                <button class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i> Löschen
                </button>
            </div>
            {{ form_end(deleteForm) }}
        </div>
    {% endif %}
</div>
<script>
    function printWindow(id) {
        path = Routing.generate("modules_calendar_event_print", {event: id});
        window.open(path, "", "width=800,height=700,resizable=no,menubar=no,scrollbars=no,status=no,titlebar=no,toolbar=no");


    }
</script>
