{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #modules_calendarbundle_event_address_autocomplete .uk-dropdown {
            width: auto;
            padding: 5px 15px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            // set end date to start date if start > end
            $(document).on('hide.uk.datepicker', '#modules_calendarbundle_event_start_date', function (e) {
                var start = $(this).val().split('.');
                start = new Date(start[2], start[1], start[0], 0, 0, 0, 0);
                var end = $('#modules_calendarbundle_event_end_date').val().split('.');
                end = new Date(end[2], end[1], end[0], 0, 0, 0, 0);

                if (start > end) {
                    $('#modules_calendarbundle_event_end_date').val($(this).val());
                }
                //set start date for series
                $('#modules_calendarbundle_event_startSeries').val($(this).val());
                $('#modules_calendarbundle_event_endSeries').val($(this).val());
            });


            // toggle all day
            $(document).on('click', '#modules_calendarbundle_event_allDay_toggler', function () {
                $('.hide-if-all-day-selected, .show-if-all-day-selected').toggleClass('uk-hidden');
            });

            // toogle series
            $(document).on('click', '#modules_calendarbundle_event_series_toggler', function () {
                $('.hide-if-series-selected, .show-if-series-selected').toggleClass('uk-hidden');
            });

            // set time values if empty
            $(document).on('submit', 'form[name="modules_calendarbundle_event"]', function () {
                var startTime = $('#modules_calendarbundle_event_start_time');
                if (startTime.val() == '') {
                    startTime.val('00:00');
                }
                var endTime = $('#modules_calendarbundle_event_end_time');
                if (endTime.val() == '') {
                    endTime.val('00:00');
                }
            });

            // update address autocomplete
            var contactId = $('#modules_calendarbundle_event_contact').val();
            var projectId = $('#modules_calendarbundle_event_project').val();
            var autocomplete;
            // initially set autocomplete based on current contact and project
            setAutocompleteAddresses(contactId, projectId);

            // handle changes on contact and project field
            $(document).on('change', '#modules_calendarbundle_event_contact', function (e) {
                contactId = parseInt($(this).val()) ? parseInt($(this).val()) : null;
                setAutocompleteAddresses(contactId, projectId);
            });
            $(document).on('change', '#modules_calendarbundle_event_project', function (e) {
                projectId = parseInt($(this).val()) ? parseInt($(this).val()) : null;
                setAutocompleteAddresses(contactId, projectId);
            });

            // actual autocomplete results request
            function setAutocompleteAddresses(contactId, projectId) {
                $.ajax(
                    Routing.generate(
                        'modules_calendar_event_autocompleteaddresses',
                        {'contact': contactId, 'project': projectId}
                    )
                ).done(function (addresses) {
                    var autocompleteContainer = $('#modules_calendarbundle_event_address_autocomplete');
                    var clone = autocompleteContainer.clone();
                    autocompleteContainer.replaceWith(clone);
                    if (addresses.length) {
                        autocomplete = UIkit.autocomplete($('#modules_calendarbundle_event_address_autocomplete'), {
                            'source': addresses,
                            'minLength': 0
                        });
                    }
                });
            }

            // show autocomplete on focus
            $(document).on('focus', '#modules_calendarbundle_event_address_autocomplete', function (e) {
                if(autocomplete)
                {
                    autocomplete.handle();
                    autocomplete.show();
                }

            });
        });
    </script>
{% endblock %}



{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-calendar"></i> Kalender
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_calendar_default_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zum Kalender">
            <i class="uk-icon-calendar"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Termin', null, buttons, breadcrumb) }}

    {% set isAllDay = form.allDay.vars.checked %}

    {{ form_start(form) }}

    <div class="uk-width-medium-1-1 uk-margin-bottom">
        <a href="{{ path('modules_calendar_default_index') }}" class="uk-button">
            <i class="uk-icon-times"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-check"></i>
            Speichern
        </button>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-3-5 uk-me">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-medium-2-5">
                {{ form_row(form.type) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(form.allDay) }}
            </div>
            {% if form.type.vars.data == 'emergency' %}
                <div class="uk-form-row">
                    <label class="uk-form-label" for="modules_calendarbundle_event_visibility">öffentlich</label>
                    <div class="uk-form-controls">
                        <div id="modules_calendarbundle_event_visibility_toggler" class="uk-disabled">
                            <i class="uk-icon-large uk-icon-toggle-on"></i>
                        </div>
                    </div>
                </div>
                <div class="uk-hidden">
                    {{ form_row(form.visibility) }}
                </div>
            {% else %}
                <div class="uk-width-medium-1-10">
                    {{ form_row(form.visibility) }}
                </div>
            {% endif %}

            <div class="uk-width-medium-8-10">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-medium-3-10">
                        <label class="uk-form-label" for="form-">Von</label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.start.date) }}
                            {{ form_errors(form.start) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Stunde</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.start.time.hour) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Minute</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.start.time.minute) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-3-10">
                        <label class="uk-form-label" for="form-">Bis</label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.end.date) }}
                            {{ form_errors(form.end) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Stunde</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.end.time.hour) }}
                        </div>
                    </div>
                    <div class="uk-width-medium-1-10 hide-if-all-day-selected{% if isAllDay %} uk-hidden{% endif %}">
                        <label class="uk-form-label" for="form-">
                            <small class="uk-text-muted">Minute</small>
                        </label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.end.time.minute) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-10">
                {{ form_row(form.series) }}
            </div>
            <div class="uk-width-medium-1-4 hide-if-series-selected uk-hidden">
                {{ form_row(form.startSeries) }}
            </div>
            <div class="uk-width-medium-1-4 hide-if-series-selected uk-hidden">
                {{ form_row(form.endSeries) }}
            </div>
            <div class="uk-width-medium-1-4 hide-if-series-selected uk-hidden">
                {{ form_row(form.days) }}
            </div>
        </div>
    </div>

    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.members) }}
            </div>
            {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                <div class="uk-width-medium-1-3">
                    {{ form_row(form.contact) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                <div class="uk-width-medium-1-3">
                    {{ form_row(form.project) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\OrderManagementBundle\\Entity\\JobTicket') %}
            <div class="uk-width-medium-1-3">
                {{ form_row(form.jobticket) }}
            </div>
                <div class="uk-width-medium-1-3">
                    {{ form_row(form.jobticket_new) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\ToDontBundle\\Entity\\ToDo') %}
                <div class="uk-width-medium-1-3">
                    {{ form_row(form.todo) }}
                </div>
            {% endif %}
            <div class="uk-width-medium-1-1" id="modules_calendarbundle_event_address_autocomplete">
                {{ form_row(form.address) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.text) }}
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-1 uk-margin-top">
        <a href="{{ path('modules_calendar_default_index') }}" class="uk-button">
            <i class="uk-icon-times"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-check"></i>
            Speichern
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}