<html>
<head>
    <title>{{ event.name }}</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url("{{ asset('assets/uikit/img/texture.jpg') }}");
        }
    </style>
    {% stylesheets
    'assets/uikit/vendor/uikit/css/uikit.almost-flat.min.css'
    'assets/uikit/css/uikit-theme.css'
    'assets/uikit/css/index.css'
    filter='?uglifycss'
    filter='cssrewrite'
    output='css/app_print.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <script>
        window.onresize = function () {
            window.resizeTo(800, 700);
        }
    </script>
</head>
<body onload="window.print();">

<table style="-webkit-font-smoothing: antialiased;margin: 0;background: #f3f3f3!important;border-collapse: collapse;border-spacing: 0;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;height: 100%;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;width: 100%">
    <tbody>
    <tr style="padding: 0;text-align: left;vertical-align: top">
        <td align="center" valign="top"
            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
            <center data-parsed="" style="min-width: 580px;width: 100%">
                <table align="center"
                       style="margin: 0 auto;background: #8a8a8a;background-color: #eee;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 20px;text-align: left;vertical-align: top;word-wrap: break-word">
                            <table align="center"
                                   style="margin: 0 auto;background: 0 0;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;text-align: inherit;vertical-align: top;width: 580px">
                                <tbody>
                                <tr style="padding: 0;text-align: left;vertical-align: top">
                                    <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                                        <center data-parsed="" style="min-width: 580px;width: 100%"><img
                                                    alt="K&amp;M Haustechnik"
                                                    align="center"
                                                    style="clear: both; display: block; float: none; margin: 0px auto; max-height: 100%; max-width: 100px; outline: 0px; text-align: center; text-decoration: none; width: auto;"
                                                    class="lazy lazy-inited"
                                                    data-original="{{ asset("assets/uikit/img/app-icon.png") }}"
                                                    src="{{ asset("assets/uikit/img/app-icon.png") }}">
                                        </center>
                                        <table style="border-collapse: collapse;border-spacing: 0;display: table;padding: 0;position: relative;text-align: left;vertical-align: top;width: 100%">
                                            <tbody>
                                            <tr style="padding: 0;text-align: left;vertical-align: top"></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td height="80px"
                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 80px;font-weight: 400;hyphens: auto;line-height: 80px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center"
                       style="margin: 0 auto;background: 0 0!important;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 580px">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                            <h1 style="margin: 0;margin-bottom: 10px;color: inherit;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 24px;font-weight: 400;line-height: 1.3;margin: 0;margin-bottom: 10px;padding: 0;text-align: center;word-wrap: normal">
                                {{ event.name }}
                            </h1></td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td height="40px"
                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 40px;font-weight: 400;hyphens: auto;line-height: 40px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center"
                       style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                            <table align="center"
                                   style="margin: 0 auto;background: #fefefe;border-collapse: collapse;border-spacing: 0;box-shadow: 0 1px 2px 0 rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.1);margin: 0 auto;padding: 0;text-align: inherit;vertical-align: top;width: 580px">
                                <tbody>
                                <tr style="padding: 0;text-align: left;vertical-align: top">
                                    <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">

                                        <table style="border-collapse: collapse;border-spacing: 0;display: table;padding: 0;position: relative;text-align: left;vertical-align: top;width: 100%">
                                            <tbody>
                                            <tr style="padding: 0;text-align: left;vertical-align: top">
                                                <th style="margin: 0 auto;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0 auto;padding: 0;padding-bottom: 30px;padding-left: 30px;padding-right: 30px;text-align: left;width: 550px">
                                                    <table style="border-collapse: collapse;border-spacing: 0;padding: 0;text-align: left;vertical-align: top;width: 100%">
                                                        <tbody>
                                                        <tr style="padding: 0;text-align: left;vertical-align: top">
                                                            <th style="margin: 0;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0;padding: 0;text-align: left">
                                                                <p style="margin: 0;margin-bottom: 10px;color: #777;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0;margin-bottom: 10px;padding: 0;text-align: left">

                                                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                                                    <div class="uk-width-1-2 uk-text-large">
                                                                        {% if event.allDay %}
                                                                            {% if event.start|date('d.m.Y') == event.end|date('d.m.Y') %}
                                                                                {{ event.start|date('d.m.Y') }}
                                                                            {% else %}
                                                                                von {{ event.start|date('d.m.Y') }}
                                                                                <br>bis {{ event.end|date('d.m.Y') }}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% if event.start|date('d.m.Y H:i') == event.end|date('d.m.Y H:i') %}
                                                                                {{ event.start|date('d.m.Y H:i') }}
                                                                            {% elseif event.start|date('d.m.Y') == event.end|date('d.m.Y') %}
                                                                                von {{ event.start|date('d.m.Y H:i') }}
                                                                                <br>bis {{ event.end|date('H:i') }}
                                                                            {% else %}
                                                                                von {{ event.start|date('d.m.Y H:i') }}
                                                                                <br>bis {{ event.end|date('d.m.Y H:i') }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="uk-width-1-2 uk-text-large uk-text-right">
                                                                        <i class="fa fa-users"></i>
                                                                        {% for member in event.members %}
                                                                            {{ member }}{% if loop.index != event.members|length %}, {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                    {% if event.contact %}
                                                                        <div class="uk-width-1-2 uk-text-large">
                                                                            <i class="fa fa-map-marker"></i>
                                                                            Kontakt:<br>
                                                                            {{ event.contact.name }}
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if event.project %}
                                                                        <div class="uk-width-1-2 uk-text-large">
                                                                            <i class="fa fa-university"></i>
                                                                            Projekt:<br>
                                                                            {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                                                                                <a href="{{ path('modules_project_project_show', {'id': event.project.id}) }}">{{ event.project.name }}</a>
                                                                            {% else %}
                                                                                {{ event.project.name }}
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if event.address %}
                                                                        <div class="uk-width-1-1 uk-text-large">
                                                                            <i class="fa fa-briefcase"></i> Adresse:<br>
                                                                            {{ event.address }}
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if event.text %}
                                                                        <div class="uk-width-1-1 uk-margin-remove">
                                                                            <hr>
                                                                            {{ event.text|raw }}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="uk-modal-footer uk-clearfix">
                                                                    <div class="uk-float-left">
                                                                        {% if event.visibility %}
                                                                            <span class="uk-badge">Öffentlich</span>
                                                                        {% else %}
                                                                            <span class="uk-badge uk-badge-warning">Privat</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="uk-button-group uk-float-right">
                                                                        {% if event.address %}
                                                                            <a href="http://maps.google.com/?q={{ event.address }}"
                                                                               target="_blank"
                                                                               class="uk-button uk-button-primary"
                                                                               data-uk-tooltip title="Google Maps">
                                                                                <i class="fa fa-map-marker"></i>
                                                                            </a>
                                                                        {% endif %}

                                                                    </div>

                                                                    </p>
                                                            </th>
                                                            <th style="margin: 0;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0;padding: 0!important;text-align: left;visibility: hidden;width: 0"></th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td height="60px"
                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 60px;font-weight: 400;hyphens: auto;line-height: 60px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center"
                       style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                            <center data-parsed="" style="min-width: 580px;width: 100%">
                                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                                    <tbody>
                                    <tr style="padding: 0;text-align: left;vertical-align: top">
                                        <td height="15px"
                                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </center>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>