{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-calendar"></i> Kalender
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_calendar_default_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zum Kalender">
                <i class="uk-icon-calendar"></i>
            </a>
            <a href="{{ path('modules_calendar_event_edit', {'id': event.id}) }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            {% if event.contact and event.contact.addresses|length %}
                {% set address = event.contact.addresses|first %}
                {% set addressString = address.street ~ ' ' ~ address.zip ~ ' ' ~  address.city ~ ' ' ~  address.state ~ ' ' ~ address.country %}
            {% endif %}
            {% if event.project and event.project.address %}
                {% set address = event.project.address %}
                {% set addressString = address.street ~ ' ' ~ address.zip ~ ' ' ~  address.city ~ ' ' ~  address.state ~ ' ' ~ address.country %}
            {% endif %}
            {% if event.address %}
                {% set addressString = event.address %}
            {% endif %}
            {% if address is defined %}
                <a href="http://maps.google.com/?q={{ addressString }}" target="_blank"
                   class="uk-button uk-button-primary uk-button-small"
                   data-uk-tooltip title="Google Maps">
                    <i class="uk-icon-map-marker"></i>
                </a>
            {% endif %}
        </div>
    {% endset %}
    {{ macros.pageHeader(event.name, null, buttons, breadcrumb) }}

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-2-3 uk-text-large">
            {% if event.allDay %}
                {% if event.start|date('d.m.Y') == event.end|date('d.m.Y') %}
                    {{ event.start|date('d.m.Y') }}
                {% else %}
                    {{ event.start|date('d.m.Y') }} bis {{ event.end|date('d.m.Y') }}
                {% endif %}
            {% else %}
                {% if event.start|date('d.m.Y H:i') == event.end|date('d.m.Y H:i') %}
                    {{ event.start|date('d.m.Y H:i') }}
                {% elseif event.start|date('d.m.Y') == event.end|date('d.m.Y') %}
                    {{ event.start|date('d.m.Y H:i') }} bis {{ event.start|date('H:i') }}
                {% else %}
                    {{ event.start|date('d.m.Y H:i') }} bis {{ event.end|date('d.m.Y H:i') }}
                {% endif %}
            {% endif %}
        </div>
        <div class="uk-width-1-3 uk-text-large uk-text-right">
            <i class="uk-icon-users"></i>
            {% for member in event.members %}
                <a
                href="{{ path('modules_team_member_details', {'member': member.id}) }}">{{ member }}</a>{% if loop.index != event.members|length %}, {% endif %}
            {% endfor %}
        </div>
        {% if event.contact %}
            <div class="uk-width-1-2 uk-text-large">
                <i class="uk-icon-briefcase"></i> Kontakt:<br>
                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                    <a href="{{ path('modules_contact_default_details', {'contact': event.contact.id}) }}">{{ event.contact.name }}</a>
                {% else %}
                    {{ event.contact.name }}
                {% endif %}
            </div>
        {% endif %}
        {% if event.project %}
            <div class="uk-width-1-2 uk-text-large">
                <i class="uk-icon-university"></i> Projekt:<br>
                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                    <a href="{{ path('modules_project_project_show', {'id': event.project.id}) }}">{{ event.project.name }}</a>
                {% else %}
                    {{ event.project.name }}
                {% endif %}
            </div>
        {% endif %}
        {% if event.text %}
            <div class="uk-width-1-1 uk-margin-remove">
                <hr>
                {{ event.text|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}
