{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    <form action="" class="uk-form uk-form-stacked">
        <fieldset>
            <legend>
                Neue Kontoverbindung
            </legend>
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Inhaber</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Inhaber" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Kreditinstitut</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Kreditinstitut" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-2-3">
                    <label class="uk-form-label" for="form-">IBAN</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="IBAN" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">BIC</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="BIC" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-1">
                    <a href="{{ path('kmui_contact_detail_accounts') }}" class="uk-button">
                        <i class="uk-icon-times"></i>
                        Abbrechen
                    </a>
                    <a href="{{ path('kmui_contact_detail_accounts_new', {'saved': 1}) }}"
                       class="uk-button uk-button-success uk-float-right">
                        <i class="uk-icon-check"></i>
                        Speichern
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}