{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Inhaber
                </th>
                <th class="uk-text-nowrap">
                    Kreditinstitut
                </th>
                <th class="uk-text-nowrap">
                    IBAN
                </th>
                <th class="uk-text-nowrap">
                    BIC
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..2 %}
                <tr>
                    <td class="uk-text-nowrap">
                        Herr Markus Kottländer
                    </td>
                    <td class="uk-text-nowrap">
                        Sparkasse Osnabrück
                    </td>
                    <td class="uk-text-nowrap">
                        DE12 1234 5678 9876 00
                    </td>
                    <td class="uk-text-nowrap">
                        GENODEF234
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                               title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}