{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Bezeichnung
                </th>
                <th class="uk-text-nowrap">
                    Straße
                </th>
                <th class="uk-text-nowrap">
                    PLZ
                </th>
                <th class="uk-text-nowrap">
                    Ort
                </th>
                <th class="uk-text-nowrap">
                    Bundesland
                </th>
                <th class="uk-text-nowrap">
                    Land
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..3 %}
                <tr>
                    <td class="uk-text-nowrap">
                        Firmensitz
                    </td>
                    <td class="uk-text-nowrap">
                        Friedhofstraße 1
                    </td>
                    <td class="uk-text-nowrap">
                        49086
                    </td>
                    <td class="uk-text-nowrap">
                        Osnabrück
                    </td>
                    <td class="uk-text-nowrap">
                        Niedersachsen
                    </td>
                    <td class="uk-text-nowrap">
                        Deutschland
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_contact_detail_address_edit') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="https://www.google.de/maps" target="_blank"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Google Maps">
                                <i class="uk-icon-map-marker"></i>
                            </a>
                            <a href="#address-delete" class="uk-button uk-button-small uk-button-danger"
                               data-uk-modal data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="address-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diese Adresse wirklich löschen?</b><br>
            <br>
            <span class="uk-text-large">Firmensitz</span><br>
            <span class="uk-text-muted"><i class="uk-icon-briefcase"></i> CREA Werbeagentur GmbH</span><br>
            <br>
            <span class="uk-text-large">
                Friedhofstraße 1<br>
                49088 Osnabrück<br>
                Niedersachsen<br>
                Deutschland
            </span>
            <br>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_contact_detail_address', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}