{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    <form action="" class="uk-form uk-form-stacked">
        <fieldset>
            <legend>
                Neue Adresse
            </legend>
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label class="uk-form-label" for="form-">Bezeichnung</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Bezeichnung" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">Straße</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Straße" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">PLZ</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="PLZ" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">Ort</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Ort" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">Zusatz</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Zusatz" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">Bundesland</label>
                    <div class="uk-form-controls">
                        <select class="uk-form-large uk-width-1-1">
                            <option>Baden-Württemberg</option>
                            <option>Bayern</option>
                            <option>Berlin</option>
                            <option>Brandenburg</option>
                            <option>Bremen</option>
                            <option>Hamburg</option>
                            <option>Hessen</option>
                            <option>Mecklenburg-Vorpommern</option>
                            <option>Niedersachsen</option>
                            <option>Nordrhein-Westfalen</option>
                            <option>Rheinland-Pfalz</option>
                            <option>Saarland</option>
                            <option>Sachsen</option>
                            <option>Sachsen-Anhalt</option>
                            <option>Schleswig-Holstein</option>
                            <option>Thüringen</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">Land</label>
                    <div class="uk-form-controls">
                        <select class="uk-form-large uk-width-1-1">
                            <option>Deutschland</option>
                            <option>Österreich</option>
                            <option>Schweiz</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-1-1">
                    <a href="{{ path('kmui_contact_detail_address') }}" class="uk-button">
                        <i class="uk-icon-times"></i>
                        Abbrechen
                    </a>
                    <a href="{{ path('kmui_contact_detail_address_new', {'saved': 1}) }}"
                       class="uk-button uk-button-success uk-float-right">
                        <i class="uk-icon-check"></i>
                        Speichern
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}