{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Stammdaten
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_contact_category_new') }}"
           class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neue Kategorie<br>anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Kategorien', 'folder', buttons, breadcrumb) }}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Elternkategorie</th>
                <th>Kontakte</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="uk-text-large">
                    <i class="uk-icon-users"></i>
                </td>
                <td>
                    Mitarbeiter
                </td>
                <td></td>
                <td>
                    <a href="{{ path('kmui_contact_index') }}" class="uk-button uk-button-small uk-button-primary"
                       data-uk-tooltip title="öffnen">
                        12
                    </a>
                </td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="{{ path('kmui_contact_category_edit') }}"
                           class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="#category-delete" class="uk-button uk-button-small uk-button-danger"
                           data-uk-tooltip title="Löschen"
                           data-uk-modal>
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="uk-text-large">
                    <i class="uk-icon-star"></i>
                </td>
                <td>
                    Kunden
                </td>
                <td></td>
                <td>
                    <a href="{{ path('kmui_contact_index') }}" class="uk-button uk-button-small uk-button-primary"
                       data-uk-tooltip title="öffnen">
                        26
                    </a>
                </td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="{{ path('kmui_contact_category_edit') }}"
                           class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="#category-delete" class="uk-button uk-button-small uk-button-danger"
                           data-uk-tooltip title="Löschen"
                           data-uk-modal>
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="uk-text-large">
                    <i class="uk-icon-glass"></i>
                </td>
                <td>
                    V.I.P.
                </td>
                <td>Kunden</td>
                <td>
                    <a href="{{ path('kmui_contact_index') }}" class="uk-button uk-button-small uk-button-primary"
                       data-uk-tooltip title="öffnen">
                        26
                    </a>
                </td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="{{ path('kmui_contact_category_edit') }}"
                           class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="#category-delete" class="uk-button uk-button-small uk-button-danger"
                           data-uk-tooltip title="Löschen"
                           data-uk-modal>
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="uk-text-large">
                    <i class="uk-icon-truck"></i>
                </td>
                <td>
                    Lieferanten
                </td>
                <td></td>
                <td>
                    <a href="{{ path('kmui_contact_index') }}" class="uk-button uk-button-small uk-button-primary"
                       data-uk-tooltip title="öffnen">
                        26
                    </a>
                </td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <a href="{{ path('kmui_contact_category_edit') }}"
                           class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="#category-delete" class="uk-button uk-button-small uk-button-danger"
                           data-uk-tooltip title="Löschen"
                           data-uk-modal>
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="category-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diese Kategorie wirklich löschen?</b><br>
            <br>
            <span class="uk-text-large">
                <i class="uk-icon-truck"></i>
                Lieferanten <span class="uk-text-muted">(enhält 26 Kontakte)</span>
            </span><br>
            <br>
            Was möchten Sie mit den Kontakten in dieser Kategorie machen?<br>
            <br>
            <form class="uk-form">
                <select class="uk-width-1-1">
                    <option>auch löschen</option>
                    <option>einer anderen Kategorie zuweisen</option>
                </select>
            </form>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_contact_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}