{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th class="uk-text-nowrap">
                    Firma
                </th>
                <th class="uk-text-nowrap">
                    Position
                </th>
                <th class="uk-text-nowrap">
                    Kontakt
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..2 %}
                <tr>
                    <td class="uk-text-nowrap">
                        Herr Markus Kottländer
                    </td>
                    <td class="uk-text-nowrap">
                        CREA Werbeagentur GmbH
                    </td>
                    <td class="uk-text-nowrap">
                        Programmierer
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="tel:017612456789"><i class="uk-icon-mobile" style="width: 10px"></i> 0541 987
                            45</a><br>
                        <a href="tel:017612456789"><i class="uk-icon-phone" style="width: 10px"></i> 0176 124 567 89</a><br>
                        <a href="mailto:markus.kottlaender@crea.de"><i class="uk-icon-envelope"></i>
                            markus.kottlaender@crea.de</a>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                               title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}