{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    <form action="" class="uk-form uk-form-stacked">
        <fieldset>
            <legend>
                Neuer Ansprechpartner
            </legend>
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-2-10">
                    <label class="uk-form-label" for="form-">Anrede</label>
                    <div class="uk-form-controls">
                        <select class="uk-form-large uk-width-1-1">
                            <option>Herr</option>
                            <option>Frau</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-4-10">
                    <label class="uk-form-label" for="form-">Vorname</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Vorname" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-4-10">
                    <label class="uk-form-label" for="form-">Nachname</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Nachname" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Firma</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Firma" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Position</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Position" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">Telefon</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Telefon" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">Mobil</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Mobil" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label" for="form-">E-Mail</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="E-Mail" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-1">
                    <a href="{{ path('kmui_contact_detail_contactpersons') }}" class="uk-button">
                        <i class="uk-icon-times"></i>
                        Abbrechen
                    </a>
                    <a href="{{ path('kmui_contact_detail_contactpersons_new', {'saved': 1}) }}"
                       class="uk-button uk-button-success uk-float-right">
                        <i class="uk-icon-check"></i>
                        Speichern
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}