{% import '@CoreApp/macros.html.twig' as macros %}

{% set breadcrumb %}
    <i class="uk-icon-briefcase"></i> Stammdaten
{% endset %}
{% set buttons %}
    <div class="uk-button-group">
        <a href="{{ path('kmui_contact_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
        <a href="{{ path('kmui_contact_edit') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
            <button class="uk-button uk-button-small uk-button-success">
                <i class="uk-icon-plus"></i>
                <i class="uk-icon-angle-down"></i>
            </button>
            <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                <ul class="uk-nav uk-nav-dropdown uk-text-left">
                    <li><a href="{{ path('kmui_contact_detail_address_new') }}"><i class="uk-icon-map-marker"></i>
                            Adresse</a></li>
                    <li><a href="{{ path('kmui_contact_detail_contactpersons_new') }}"><i class="uk-icon-user"></i>
                            Ansprechpartner</a></li>
                    <li><a href="{{ path('kmui_contact_detail_accounts_new') }}"><i class="uk-icon-credit-card"></i>
                            Kontoverbindung</a></li>
                    <li><a href="{{ path('kmui_contact_detail_users_new') }}"><i class="uk-icon-key"></i> Zugang</a>
                    </li>
                    <li><a href="{{ path('kmui_project_new') }}"><i class="uk-icon-university"></i> Projekt</a></li>
                    <li><a href="{{ path('kmui_ticket_new') }}"><i class="uk-icon-check-circle-o"></i> Ticket</a></li>
                    <li><a href="{{ path('kmui_offer_new') }}"><i class="uk-icon-tag"></i> Angebot</a></li>
                    <li><a href="{{ path('kmui_order_new') }}"><i class="uk-icon-edit"></i> Auftrag</a></li>
                    <li><a href="{{ path('kmui_invoice_new') }}"><i class="uk-icon-euro"></i> Rechnung</a></li>
                    <li><a href="{{ path('kmui_invoice_new') }}"><i class="uk-icon-warning"></i> Mahnung</a></li>
                    <li><a href="{{ path('kmui_invoice_new') }}"><i class="uk-icon-plus-square"></i> Gutschrift</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endset %}
{{ macros.pageHeader('CREA Werbeagentur GmbH', 'star', buttons, breadcrumb, 1) }}

<div class="uk-text-large uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
    <div class="uk-width-1-2">
        <a href="{{ path('kmui_contact_index_category') }}">
            <i class="uk-icon-truck"></i>
            Lieferanten
        </a>
    </div>
    <div class="uk-width-1-2 uk-text-right uk-text-muted">
        10 % Rabatt
    </div>
</div>

<ul class="uk-tab uk-margin-bottom" id="contact-tabs">
    <li{% if app.request.attributes.get('_route') in ['kmui_contact_detail_address', 'kmui_contact_detail_contactpersons', 'kmui_contact_detail_accounts', 'kmui_contact_detail_users'] %} class="uk-active"{% endif %}
            data-uk-dropdown="{mode:'click'}">
        <a href="#">
            <i class="uk-icon-book"></i>
            Allgemein
            <i class="uk-icon-angle-down"></i>
        </a>

        <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown">
                <li>
                    <a href="{{ path('kmui_contact_detail_address') }}"><i class="uk-icon-map-marker"></i> Adressen
                        <span class="uk-badge">3</span></a>
                </li>
                <li>
                    <a href="{{ path('kmui_contact_detail_contactpersons') }}"><i class="uk-icon-user"></i>
                        Ansprechpartner <span class="uk-badge">2</span></a>
                </li>
                <li>
                    <a href="{{ path('kmui_contact_detail_accounts') }}"><i class="uk-icon-credit-card"></i>
                        Kontoverbindungen <span class="uk-badge">2</span></a>
                </li>
                <li>
                    <a href="{{ path('kmui_contact_detail_users') }}"><i class="uk-icon-key"></i> Zugänge <span
                                class="uk-badge">3</span></a>
                </li>
            </ul>
        </div>
    </li>
    <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_projects' %} class="uk-active"{% endif %}>
        <a href="{{ path('kmui_contact_detail_projects') }}"><i class="uk-icon-university"></i> Projekte <span
                    class="uk-badge">2</span></a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_tickets' %} class="uk-active"{% endif %}>
        <a href="{{ path('kmui_contact_detail_tickets') }}"><i class="uk-icon-check-circle-o"></i> Tickets <span
                    class="uk-badge">8</span></a>
    </li>
    <li{% if app.request.attributes.get('_route') == '' %} class="uk-active"{% endif %}
            data-uk-dropdown="{mode:'click'}">
        <a href="#">
            <i class="uk-icon-book"></i>
            Buchhaltung
            <i class="uk-icon-angle-down"></i>
        </a>

        <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown">
                <li>
                    <a href="{{ path('kmui_offer_index') }}">
                        <i class="uk-icon-tag"></i>
                        Angebote
                    </a>
                </li>
                <li>
                    <a href="{{ path('kmui_order_index') }}">
                        <i class="uk-icon-edit"></i>
                        Aufträge
                    </a>
                </li>
                <li>
                    <a href="{{ path('kmui_invoice_index') }}">
                        <i class="uk-icon-euro"></i>
                        Rechnungen
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-warning"></i>
                        Mahnungen
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-plus-square"></i>
                        Gutschriften
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>

{% if app.request.attributes.get('_route') in ['kmui_contact_detail_address', 'kmui_contact_detail_contactpersons', 'kmui_contact_detail_accounts', 'kmui_contact_detail_users'] %}
    <ul class="uk-tab tab-secondary uk-margin-bottom" id="contact-tabs">
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_address' %} class="uk-active"{% endif %}>
            <a href="{{ path('kmui_contact_detail_address') }}"><i class="uk-icon-map-marker"></i> Adressen <span
                        class="uk-badge">3</span></a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_contactpersons' %} class="uk-active"{% endif %}>
            <a href="{{ path('kmui_contact_detail_contactpersons') }}"><i class="uk-icon-user"></i> Ansprechpartner
                <span class="uk-badge">2</span></a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_accounts' %} class="uk-active"{% endif %}>
            <a href="{{ path('kmui_contact_detail_accounts') }}"><i class="uk-icon-credit-card"></i> Konten <span
                        class="uk-badge">2</span></a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_users' %} class="uk-active"{% endif %}>
            <a href="{{ path('kmui_contact_detail_users') }}"><i class="uk-icon-credit-card"></i> Zugänge <span
                        class="uk-badge">3</span></a>
        </li>
    </ul>
{% endif %}

{% if app.request.attributes.get('_route') == '' %}
    <ul class="uk-tab uk-margin-bottom" id="contact-tabs">
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_address' %} class="uk-active"{% endif %}>
            <a href="#"><i class="uk-icon-tag"></i> Angebote <span class="uk-badge">3</span></a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_contactpersons' %} class="uk-active"{% endif %}>
            <a href="#"><i class="uk-icon-edit"></i> Aufträge <span class="uk-badge">2</span></a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_accounts' %} class="uk-active"{% endif %}>
            <a href="#"><i class="uk-icon-euro"></i> Rechnungen <span class="uk-badge">2</span></a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_projects' %} class="uk-active"{% endif %}>
            <a href="#"><i class="uk-icon-warning"></i> Mahnungen <span class="uk-badge">2</span></a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'kmui_contact_detail_tickets' %} class="uk-active"{% endif %}>
            <a href="#"><i class="uk-icon-plus-square"></i> Gutschriften <span class="uk-badge">8</span></a>
        </li>
    </ul>
{% endif %}