{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Stammdaten
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_contact_new') }}" class="uk-button uk-button-small uk-button-success" data-uk-tooltip
               title="Neuen Kontakt anlegen">
                <i class="uk-icon-plus"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small uk-button-success">
                    <i class="uk-icon-angle-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a href="#"><i class="uk-icon-folder"></i> neue Kategorie</a></li>
                    </ul>
                </div>

            </div>
        </div>
    {% endset %}
    {{ macros.pageHeader('Übersicht', 'briefcase', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Name</th>
                <th class="uk-text-nowrap">
                    <i class="uk-icon-map-marker"></i>
                    Adresse(n)
                </th>
                <th class="uk-text-nowrap">
                    <i class="uk-icon-user"></i>
                    Ansprechpartner
                </th>
                <th class="uk-text-nowrap">
                    <i class="uk-icon-user"></i>
                    Kontoverbindungen
                </th>
                <th class="uk-text-nowrap">
                    <i class="uk-icon-university"></i>
                    Projekte
                </th>
                <th class="uk-text-nowrap">
                    <i class="uk-icon-check-circle-o"></i>
                    Tickets
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td>
                        CREA Werbeagentur GmbH<br>
                        {% if i is odd %}
                            <a href="#"><i class="uk-icon-briefcase"></i> Kunden</a>
                        {% else %}
                            <a href="#"><i class="uk-icon-truck"></i> Lieferanten</a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        <b>Friedhofstraße 1</b><br>
                        49086 Osnabrück<br>
                        <span class="uk-text-muted">Niedersachsen</span><br>
                        <a href="{{ path('kmui_contact_detail_address') }}" class="uk-text-success uk-text-small">2
                            weitere</a>
                    </td>
                    <td class="uk-text-nowrap">
                        <b>Herr Markus Kottländer</b><br>
                        CREA Werbeagentur GmbH<br>
                        <span class="uk-text-muted">Programmierer</span><br>
                        <a href="tel:017612456789"><i class="uk-icon-phone"></i> 0176 124 567 89</a><br>
                        <a href="mailto:markus.kottlaender@crea.de"><i class="uk-icon-envelope"></i>
                            markus.kottlaender@crea.de</a><br>
                        <a href="{{ path('kmui_contact_detail_contactpersons') }}"
                           class="uk-text-success uk-text-small">1 weiterer</a>
                    </td>
                    <td>
                        <b>Sparkasse Osnabrück</b><br>
                        <b>Inh.</b> Markus Kottländer<br>
                        <b>IBAN:</b> <span data-uk-tooltip title="DE12 1234 5678 9876 00">DE12 1234...</span><br>
                        <b>BIC:</b> GENODEF234<br>
                        <a href="{{ path('kmui_contact_detail_accounts') }}" class="uk-text-success uk-text-small">1
                            weitere</a>
                    </td>
                    <td class="uk-text-nowrap">
                        {% if i is odd %}
                            <a href="#">aktuelles Projekt</a><br>
                            <a href="#" class="uk-text-muted">abgelaufenes Projekt</a><br>
                            <a href="#" class="uk-text-muted">Lorem ipsum </a>
                        {% else %}
                            <span class="uk-text-muted">keine Projekte</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_contact_detail_tickets') }}"
                               class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="offen">
                                <i class="uk-icon-square-o"></i>
                                2
                            </a>
                            <a href="{{ path('kmui_contact_detail_tickets') }}"
                               class="uk-button uk-button-small uk-button-success" data-uk-tooltip title="erledigt">
                                <i class="uk-icon-check-square-o"></i>
                                6
                            </a>
                        </div>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_contact_detail') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_contact_edit') }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#contact-delete" class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen"
                               data-uk-modal>
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}

    {# Modals #}

    <div id="contact-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diesen Kontakt wirklich löschen?</b><br>
            <span class="uk-text-muted uk-text-large">CREA Werbeagentur GmbH</span><br>
            <br>
            Was möchten Sie mit den zugehörigen Datensätzen machen?<br>
            <br>
            <form class="uk-form">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-1-3">
                        Adressen:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Ansprechpartner:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Kontoverbindungen:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Projekte:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Tickets:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        Rechnungen:
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        ...
                    </div>
                    <div class="uk-width-2-3">
                        <select class="uk-width-1-1">
                            <option>auch löschen</option>
                            <option>einem anderen Kontakt zuweisen</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_contact_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}