{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Stammdaten
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_contact_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Kontakt', 'briefcase', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-2-4">
                <label class="uk-form-label" for="form-">Name</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="Name" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-1-4">
                <label class="uk-form-label" for="form-">Kategorie</label>

                <div class="uk-form-controls">
                    <select class="select2 uk-form-large uk-width-1-1" multiple="multiple"
                            data-placeholder="Kategorie auswählen">
                        <option>Lieferanten</option>
                        <option>Kunden</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-4">
                <label class="uk-form-label" for="form-">Rabattsatz</label>

                <div class="uk-form-controls">
                    <div class="uk-form-icon">
                        <i class="uk-icon-percent"></i>
                        <input type="number" placeholder="Rabattsatz" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_contact_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_contact_new', {'saved': 1}) }}"
                   class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}