{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th class="uk-text-nowrap">
                    Zeitraum
                </th>
                <th class="uk-text-nowrap">
                    Tickets
                </th>
                <th class="uk-text-nowrap">
                    Mitarbeiter
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..5 %}
                <tr>
                    <td class="uk-text-nowrap">
                        {{ random(['Aachener Grund Große Str. 56', 'In der Mark 1a', 'Johannisstr. 65 Aachener Grund']) }}
                        <br>
                        <a href="#"><i class="uk-icon-list"></i> Kategorie {{ random(['X', 'Y']) }}</a>
                    </td>
                    <td class="uk-text-nowrap">
                        01.11.2016{% if i is odd %} - 01.12.2016<br>
                        <b>30 Tage</b>{% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="offen">
                                <i class="uk-icon-square-o"></i>
                                2
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-success" data-uk-tooltip
                               title="erledigt">
                                <i class="uk-icon-check-square-o"></i>
                                6
                            </a>
                        </div>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="#">Max Mustermann</a><br>
                        <a href="#" class="uk-text-success uk-text-small">1 weiterer</a>
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                               title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}