{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    {% include '@CoreApp/pagination.html.twig' %}

    <table class="uk-table">
        <thead>
        <tr>
            <th class="uk-text-nowrap">
                Status
            </th>
            <th class="uk-text-nowrap">
                Name
            </th>
            <th class="uk-text-nowrap">
                Projekt
            </th>
            <th class="uk-text-nowrap">
                Mitarbeiter
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in 1..8 %}
            <tr>
                <td class="uk-text-nowrap uk-text-large">
                    {% if i is odd %}
                        <span class="uk-text-success" data-uk-tooltip title="erledigt">
                            <i class="uk-icon-check-square-o"></i>
                        </span>
                    {% else %}
                        <span class="uk-text-danger" data-uk-tooltip title="offen">
                            <i class="uk-icon-square-o"></i>
                        </span>
                    {% endif %}
                </td>
                <td class="uk-text-nowrap">
                    aktuelles Ticket
                </td>
                <td>
                    <a href="{{ path('kmui_project_detail') }}">{{ random(['Aachener Grund Große Str. 56', 'In der Mark 1a', 'Johannisstr. 65 Aachener Grund']) }}</a>
                </td>
                <td class="uk-text-nowrap">
                    <a href="{{ path('kmui_profile') }}">Max Mustermann</a>
                </td>
                <td class="uk-text-right">
                    <div class="uk-button-group">
                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" data-uk-tooltip
                             title="Downloads">
                            <button class="uk-button uk-button-small uk-button-primary uk-float-right">
                                <i class="uk-icon-download"></i>
                                <i class="uk-icon-angle-down"></i>
                            </button>
                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                                <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                    <li>
                                        <a href="#">
                                            <i class="uk-icon-file-picture-o"></i> Bild
                                            <span class="uk-text-muted">80 KB</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="uk-icon-file-pdf-o"></i> Arbeitszettel
                                            <span class="uk-text-muted">1,3 MB</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                           title="Bearbeiten">
                            <i class="uk-icon-pencil"></i>
                        </a>
                        <a href="#" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                           title="Berechtigungen">
                            <i class="uk-icon-key"></i>
                        </a>
                        <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip title="Löschen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}