{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include '@ModulesKmUi/Contact/detail_header.html.twig' %}

    <form action="" class="uk-form uk-form-stacked">
        <fieldset>
            <legend>
                Neuer Zugang
            </legend>
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Benutzername</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Benutzername" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">E-Mail</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="E-Mail" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Passwort</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Passwort" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Passwort wiederholen</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="Passwort wiederholen" class="uk-form-large uk-width-1-1"/>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Gruppe</label>
                    <div class="uk-form-controls">
                        <select class="uk-form-large uk-width-1-1">
                            <option>Admin</option>
                            <option>Mitarbeiter</option>
                            <option>Kunden</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-">Aktiv</label>
                    <div class="uk-form-controls">
                        <a onclick="$(this).toggleClass('uk-button-success uk-button-danger').find('i').toggleClass('uk-icon-check uk-icon-ban');"
                           class="uk-button uk-button-large uk-active uk-button-success">
                            <i class="uk-icon-check"></i>
                        </a>
                    </div>
                </div>
                <div class="uk-width-medium-1-1">
                    <a href="{{ path('kmui_contact_detail_users') }}" class="uk-button">
                        <i class="uk-icon-times"></i>
                        Abbrechen
                    </a>
                    <a href="{{ path('kmui_contact_detail_users_new', {'saved': 1}) }}"
                       class="uk-button uk-button-success uk-float-right">
                        <i class="uk-icon-check"></i>
                        Speichern
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}