{% extends "@CoreApp/base-login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 300px;">
            <h1 class="uk-margin-remove">
                <img src="{{ asset('assets/uikit/img/app-icon.png') }}" alt="K &amp; M Haustechnik">
            </h1>

            {% if error %}
                <div class="uk-alert uk-alert-danger">
                    <i class="uk-icon-warning"></i>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app_settings.getGlobal('maintenance') and date(app_settings.getGlobal('maintenance_start')) < date("") and date(app_settings.getGlobal('maintenance_end')) > date("") %}
                {% if app_settings.getGlobal('maintenance_end')|date('dmY') == ""|date('dmY') %}
                    {% set timeString = 'heute um ' ~ app_settings.getGlobal('maintenance_end')|date('H:i') %}
                {% elseif app_settings.getGlobal('maintenance_end')|date('dmY') == "tomorrow"|date('dmY') %}
                    {% set timeString = 'morgen um ' ~ app_settings.getGlobal('maintenance_end')|date('H:i') %}
                {% else %}
                    {% set timeString = 'zum ' ~ app_settings.getGlobal('maintenance_end')|date('d.m.') ~ ' um ' ~ app_settings.getGlobal('maintenance_end')|date('H:i') %}
                {% endif %}
                <div class="uk-alert uk-alert-danger">
                    <i class="uk-icon-warning"></i>
                    Das System befindet sich bis {{ timeString }} im Wartungsmodus!
                    {% if app_settings.getGlobal('maintenance_note') %}
                        <br><br>{{ app_settings.getGlobal('maintenance_note') }}
                    {% endif %}
                </div>
            {% else %}
                <form action="{{ path("fos_user_security_check") }}" method="post" class="uk-panel uk-panel-box uk-form">
                    <div class="uk-form-row">
                        <input type="text" placeholder="{{ 'security.login.username'|trans }} oder E-Mail"
                               class="uk-width-1-1 uk-form-large" id="login-username" name="_username" autofocus
                               value="{{ last_username }}" required="required" />
                    </div>
                    <div class="uk-form-row">
                        <input type="password" placeholder="{{ 'security.login.password'|trans }}"
                               class="uk-width-1-1 uk-form-large" id="login-password" name="_password" />
                    </div>
                    <div class="uk-form-row">
                        <button class="uk-width-1-1 uk-button uk-button-success uk-button-large">
                            <i class="uk-icon-sign-in"></i>
                            Anmelden
                        </button>
                    </div>
                    <div class="uk-form-row uk-text-small uk-text-center">
                        <a href="{{ path('fos_user_resetting_request') }}" class="uk-button uk-button-small uk-width-1-1">Passwort vergessen?</a>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
