{% extends '@CoreApp/layout.html.twig' %}

{% block content %}
    {% include 'ModulesContactBundle:Default:detail_header.html.twig' %}

    <h2 class="content-headline">
        <i class="uk-icon-key"></i> Zugänge
    </h2>
    {{ knp_pagination_render(pagination) }}
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Benutzername', 'username') }}
                </th>
                {% if columns['email'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['email'].label, 'email') }}
                    </th>
                {% endif %}
                {% if columns['groups'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['groups'].label }}
                    </th>
                {% endif %}
                {% if columns['lastLogin'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['lastLogin'].label, 'lastLogin') }}
                    </th>
                {% endif %}
                {% if columns['active'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['active'].label, 'active') }}
                    </th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.username }}</td>
                    {% if columns['email'].active %}
                        <td>{{ user.email }}</td>
                    {% endif %}
                    {% if columns['groups'].active %}
                        <td>{{ user.groups|join(', ') }}</td>
                    {% endif %}
                    {% if columns['lastLogin'].active %}
                        <td>{{ user.lastLogin ? user.lastLogin|date('d.m.Y H:i') : 'nie' }}</td>
                    {% endif %}
                    {% if columns['active'].active %}
                        <td>
                            <i class="uk-icon-{{ user.enabled ? 'check uk-text-success' : 'times uk-text-warning' }}"></i>
                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="uk-text-right">
                            <a href="{{ path('core_app_user_edit', {'id': user.id}) }}"
                               class="uk-button uk-button-small uk-button-primary">
                                <i class="uk-icon-pencil"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Zugänge angelegt.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}