{% extends "@CoreApp/base-login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 300px;">
            <img src="{{ asset('assets/uikit/img/app-icon.png') }}" alt="">

            <h2 class="uk-margin-top-remove">Passwort zurücksetzen</h2>

            <div class="uk-panel uk-panel-box uk-form">
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </div>
        </div>
    </div>
{% endblock %}
