{% extends "@CoreApp/base-login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <!-- BEGIN : LOGIN PAGE 5-2 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 login-container bs-reset">
                <img class="login-logo login-6" src="{{ asset('assets/metronic/pages/img/login/login-invert.png') }}" />
                <div class="login-content">
                    <h1>Yono Reset Password</h1>
                    <div class="alert alert-danger">{{ 'resetting.password_already_requested'|trans }}</div>
                </div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-4 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-8 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; Keenthemes 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bs-reset">
                <div class="login-bg"></div>
            </div>
        </div>
    </div>
    <!-- END : LOGIN PAGE 5-2 -->
{% endblock %}
