{% extends "@CoreApp/base-login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 300px;">

            <img src="{{ asset('assets/uikit/img/app-icon.png') }}" alt="">

            <h2 class="uk-margin-top-remove">Passwort zurücksetzen</h2>

            <form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="uk-panel uk-panel-box uk-form">
                {% if invalid_username is defined %}
                    <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                {% endif %}
                <input type="text" id="username" name="username" required="required" class="uk-width-1-1 uk-form-large" placeholder="Benutzername oder E-Mail" />
                <button type="submit" class="uk-button uk-width-1-1 uk-button-large uk-button-success uk-margin-top">
                    <i class="uk-icon-refresh"></i>
                    Passwort zurücksetzen
                </button>

                <div class="uk-form-row uk-text-small uk-margin-top">
                    <a href="{{ path('fos_user_security_login') }}" class="uk-button uk-button-small uk-float-left">
                        <i class="uk-icon-angle-left"></i>
                        zurück
                    </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}