{% extends "@CoreApp/base-login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 300px;">
            <img src="{{ asset('assets/uikit/img/app-icon.png') }}" alt="">

            <h2 class="uk-margin-top-remove">Passwort zurücksetzen</h2>

            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'uk-panel uk-panel-box uk-form' } }) }}
            {{ form_widget(form) }}
            <button class="uk-button uk-button-success uk-button-large uk-width-1-1 uk-margin-top">
                <i class="uk-icon-check"></i>
                {{ 'resetting.reset.submit'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
