{% extends '@CoreApp/layout-app.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ticket_ticket_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neues Ticket anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Tickets', 'check-circle-o', buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}


    {% for ticket in pagination %}
        <div class="uk-panel uk-panel-box uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <h3 class="uk-float-left">
                        <a href="{{ path('modules_ticket_ticket_edit', {'id': ticket.id}) }}"
                           class="uk-button uk-button-small uk-button-primary"
                           data-load-content>
                            <i class="uk-icon-pencil"></i>
                        </a>
                        {{ ticket.name }}
                    </h3>

                    <div class="uk-button-dropdown uk-float-right status-dropdown" data-uk-dropdown="{mode:'click'}">
                        <a href="#"
                           class="uk-button uk-button-small{% if ticket.status != constant('STATUS_OPEN', ticket) %} uk-hidden{% endif %}"
                           data-status="{{ constant('STATUS_OPEN', ticket) }}">
                            <i class="uk-icon-square-o"></i>
                            offen
                            <i class="uk-icon-angle-down"></i>
                        </a>
                        <a href="#"
                           class="uk-button uk-button-small uk-button-success{% if ticket.status != constant('STATUS_DONE', ticket) %} uk-hidden{% endif %}"
                           data-status="{{ constant('STATUS_DONE', ticket) }}">
                            <i class="uk-icon-check-square-o"></i>
                            erledigt
                            <i class="uk-icon-angle-down"></i>
                        </a>
                        <a href="#"
                           class="uk-button uk-button-small uk-button-danger{% if ticket.status != constant('STATUS_URGENT', ticket) %} uk-hidden{% endif %}"
                           data-status="{{ constant('STATUS_URGENT', ticket) }}">
                            <i class="uk-icon-exclamation"></i>
                            dringend
                            <i class="uk-icon-angle-down"></i>
                        </a>
                        <a href="#"
                           class="uk-button uk-button-small uk-button-warning{% if ticket.status != constant('STATUS_IN_PROGRESS', ticket) %} uk-hidden{% endif %}"
                           data-status="{{ constant('STATUS_IN_PROGRESS', ticket) }}">
                            <i class="uk-icon-hourglass-half"></i>
                            in Arbeit
                            <i class="uk-icon-angle-down"></i>
                        </a>

                        <!-- This is the dropdown -->
                        <div class="uk-dropdown uk-dropdown-small uk-dropdown-close">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a href="#"
                                       class="change-status{% if ticket.status == constant('STATUS_OPEN', ticket) %} uk-hidden{% endif %}"
                                       data-status="{{ constant('STATUS_OPEN', ticket) }}">
                                        <i class="uk-icon-square-o uk-text-center" style="width: 20px;"></i>
                                        offen
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="change-status{% if ticket.status == constant('STATUS_DONE', ticket) %} uk-hidden{% endif %}"
                                       data-status="{{ constant('STATUS_DONE', ticket) }}">
                                        <i class="uk-icon-check-square-o uk-text-center" style="width: 20px;"></i>
                                        erledigt
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="change-status{% if ticket.status == constant('STATUS_URGENT', ticket) %} uk-hidden{% endif %}"
                                       data-status="{{ constant('STATUS_URGENT', ticket) }}">
                                        <i class="uk-icon-exclamation uk-text-center" style="width: 20px;"></i>
                                        dringend
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="change-status{% if ticket.status == constant('STATUS_IN_PROGRESS', ticket) %} uk-hidden{% endif %}"
                                       data-status="{{ constant('STATUS_IN_PROGRESS', ticket) }}">
                                        <i class="uk-icon-hourglass-half uk-text-center" style="width: 20px;"></i>
                                        in Arbeit
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    {{ ticket.text|raw|striptags|truncate(45) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.change-status').click(function () {
                var status = $(this).data('status'),
                    statusDropdown = $(this).parents('.status-dropdown');

                $.ajax({
                    url: Routing.generate('api_status_ticket', {'ticket': 1, 'access_token': yonoAccessToken}),
                    method: 'PATCH',
                    data: {
                        status: status
                    }
                }).always(function () {
                    statusDropdown.find('> .uk-button').addClass('uk-hidden');
                    statusDropdown.find('> .uk-button[data-status="' + status + '"]').removeClass('uk-hidden');
                    statusDropdown.find('.change-status').removeClass('uk-hidden');
                    statusDropdown.find('.change-status[data-status="' + status + '"]').addClass('uk-hidden');
                }).fail(function () {
                    UIkit.notify('<i class="uk-icon-info-circle"></i> Du bist momentan offline. Deine Änderung wird gespeichert, sobald du wieder online bist.');
                });
            });

            /*
             PAGE TRANSITION STUFF
             */

            $(document).on('click', '[data-load-content]', function (e) {
                e.preventDefault();
                var href = $(this).attr('href');

                $.get(href).done(function (response) {
                    replaceContent(response, href);
                });
            });

            $(window).on('popstate', function () {
                $.get(location.pathname).done(function (response) {
                    replaceContent(response, location.pathname);
                });
            });

            function replaceContent(response, href) {
                $('title').replaceWith($(response).filter('title'));
                $('#content').replaceWith($(response).filter('#content'));

                if (href != window.location) {
                    window.history.pushState({path: href}, '', href);
                }
            }

            /*
             END PAGE TRANSITION STUFF
             */
        });
    </script>
{% endblock %}