{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-list-alt"></i> Arbeitszettel
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ordermanagement_workingpaper_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="Zur Liste">
            <i class="uk-icon-list"></i>
        </a>

    {% endset %}
    {{ macros.pageHeader('Anlegen', null, buttons, breadcrumb, 1) }}

    {{ form_start(form) }}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.title) }}
            </div>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.contact) }}
            </div>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.order) }}
            </div>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.member) }}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(form.division) }}
            </div>
            <div class="uk-width-1-1">
                <div class="uk-margin-top uk-margin-bottom uk-text-center">
                    <div id="info">Bitte wählen Sie einen Geschäftsbereich aus</div>
                    <canvas id="paint" style="border: 2px gray dashed;"></canvas>
                </div>
            </div>

            <div class="uk-width-1-1 uk-hidden" id="save">
                <div class="uk-margin-top uk-margin-bottom uk-text-center">
                    {{ form_row(form.submit) }}
                </div>
            </div>


            <div class="uk-width-1-1 uk-hidden">
                <input type="hidden" name="imagedata" id="imagedata">
                {{ form_end(form) }}
            </div>

        </div>
    </div>




    <script type="text/javascript">
        $(function () {
            $('.select2.select2-container').css('width', '100%')

            $("#working_paper_positions").on('display.uk.check', function () {
                $(this).find('.select2').select2();
            });

            $('#working_paper_custom_division').on('change', function () {

                paint = $('#paint');
                paint.jqScribble();

                paint.data("jqScribble").clear();

                paint.data("jqScribble").update({backgroundImage: Routing.generate("modules_ordermanagement_division_showworkingpaper", {"id": $(this).val()})});

                $('#info').hide();
                $('#save').removeClass('uk-hidden');

                $('#working_paper_custom_submit').off('click').attr('type','button').on('click', function () {
                    $("#paint").data("jqScribble").save(function (imageData) {
                        $('#imagedata').val(imageData)
                        $('form[name="working_paper_custom"]').submit()
                    });
                });

            })


        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/uikit/js/scribble.js') }}"></script>

{% endblock %}


    {% form_theme form _self %}
