{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}
{% block overlay %}
    <div id="overlay" class="uk-hidden">
        <div class="signature" style="
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15000;
    background: white;
">
            <div class="paint" style="
    width: 100%;
    height: 80%;
    position: absolute;
    border: 1px gray solid;
">
                <canvas id="sig-canvas">
                    Get a better browser, bro.
                </canvas>
            </div>
            <div id="save" class="uk-button uk-button-primary uk-button-large" style="height: 10%;
             width: 100%;
             position: absolute;
             top: 80%;
             padding-top: 1.5%;
        ">
                Speichern
            </div>
            <div id="cancel" class="uk-button uk-button-danger uk-button-large" style="height: 10%;
             width: 100%;
             position: absolute;
             top: 90%;
             padding-top: 1.5%;
        ">Abbrechen
            </div>
        </div>

    </div>
{% endblock %}
{% block content %}

    {% set breadcrumb %}
        <i class="uk-icon-list-alt"></i> Arbeitszettel
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\WorkingPaper') %}
            <a href="{{ path('modules_ordermanagement_workingpaper_index') }}"
               class="uk-button uk-button-primary uk-button-small"
               data-uk-tooltip title="Zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                 id="workingpaper-add-toggle" aria-haspopup="true" aria-expanded="false">
                <button class="uk-button uk-button-success uk-button-small">
                    <i class="uk-icon-plus"></i>
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left" aria-hidden="true">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">

                        <li>
                            <a href="{{ path('modules_ordermanagement_workingpaper_new') }}"
                               class="uk-dropdown-close"
                               data-uk-tooltip title="Neuen Arbeitszettel anlegen">
                                <i class="uk-icon-plus"></i> Standart Arbeitszezttel
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(working_paper.title, null, buttons, breadcrumb, 1) }}


    <div class="uk-grid">
        <div class="uk-width-medium-1-2 uk-width-small-1-2">
            <div class="uk-panel-box uk-text-large">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <b>Kunde:</b><br/>
                        <b>Mitarbeiter:</b><br/>
                        <b>Auftrag:</b><br/>
                    </div>
                    <div class="uk-width-1-2">
                        <a href="{{ path('modules_contact_default_details',{'contact': working_paper.contact}) }}">{{ working_paper.contact }}</a>
                        <br/>
                        <a href="{{ path('modules_team_member_details',{'member':working_paper.member}) }}">{{ working_paper.member }}</a><br/>
                        <a href="{{ path('modules_ordermanagement_order_details',{'order':working_paper.order}) }}">{{ working_paper.order.title }}</a>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-2 uk-width-small-1-1">
            <div class="uk-panel-box uk-text-large">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <b>Unterschrift:</b>
                        {% if working_paper.signature %}
                            <br/>
                            <b>Unterschrieben am:</b>
                        {% endif %}
                    </div>
                    <div class="uk-width-1-2">
                        {% if working_paper.signature %}
                            <a class="uk-button" href="#" data-show-wp="{{ working_paper.id }}">Anzeigen</a>
                            <br/>
                            {{ working_paper.signature.createdAt|date('d.m.Y') }}
                        {% else %}
                            <a class="uk-button" href="#" data-wp="{{ working_paper.id }}">Jetzt unterschreiben</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <h2 class="content-headline">
        Positionen
    </h2>
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
                <thead>
                <tr>
                    <th>Position</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                {% for position in working_paper.positions %}
                    {% if position.jobticket %}
                        <tr>
                            <td>{{ position.jobticket.title }}</td>
                            <td>{{ position.jobticket.description|raw }}</td>
                        </tr>
                    {% endif %}
                    {% if position.service %}
                        <tr>
                            <td>{{ position.service.title }}</td>
                            <td>{{ position.service.description|raw }}</td>
                        </tr>
                    {% endif %}
                    {% if position.text %}
                        <tr>
                            <td>{{ position.text|raw }}</td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




    <div id="signaturModal" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <img id="signaturpic">
        </div>
    </div>

{% endblock %}

            {% block javascripts %}
                {{ parent() }}
                <script src="{{ asset('assets/uikit/js/signatureMaker.js') }}"></script>
            {% endblock %}