{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}
{% block overlay %}
    <div id="overlay" class="uk-hidden">
        <div class="signature" style="
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15000;
    background: white;
">
            <div class="paint" style="
    width: 100%;
    height: 80%;
    position: absolute;
    border: 1px gray solid;
">
                <canvas id="sig-canvas">
                    Get a better browser, bro.
                </canvas>
            </div>
            <div id="save" class="uk-button uk-button-primary uk-button-large" style="height: 10%;
             width: 100%;
             position: absolute;
             top: 80%;
             padding-top: 1.5%;
        ">
                Speichern
            </div>
            <div id="cancel" class="uk-button uk-button-danger uk-button-large" style="height: 10%;
             width: 100%;
             position: absolute;
             top: 90%;
             padding-top: 1.5%;
        ">Abbrechen
            </div>
        </div>

    </div>
{% endblock %}
{% block content %}

    {% set breadcrumb %}
        <i class="uk-icon-list-alt"></i> Arbeitszettel
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\WorkingPaper') %}
            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                 id="workingpaper-add-toggle" aria-haspopup="true" aria-expanded="false">
                <button class="uk-button uk-button-success uk-button-small">
                    <i class="uk-icon-plus"></i>
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left" aria-hidden="true">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">

                        <li>
                            <a href="{{ path('modules_ordermanagement_workingpaper_new') }}"
                               class="uk-dropdown-close"
                               data-uk-tooltip title="Neuen Arbeitszettel anlegen">
                                <i class="uk-icon-plus"></i> Standart Arbeitszezttel
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('modules_ordermanagement_workingpaper_newcustom') }}"
                               class="uk-dropdown-close"
                               data-uk-tooltip title="Neuen freien Arbeitszettel anlegen">
                                <i class="uk-icon-plus"></i> Freier Arbeitszezttel
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Titel
                </th>
                {% if columns['contact'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['member'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['member'].label, 'member') }}
                    </th>
                {% endif %}
                {% if columns['signature'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['signature'].label, 'signature') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for working_paper in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('modules_ordermanagement_workingpaper_detail',{'id': working_paper.id}) }}">
                            {{ working_paper.title|truncate }}
                        </a>
                    </td>
                    {% if columns['contact'].active %}
                        <td>
                            <a href="{{ path("modules_contact_default_details", {'contact': working_paper.contact.id}) }}">
                                {{ working_paper.contact }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['member'].active %}
                        <td>
                            <a href="{{ path("modules_team_member_details", {'member': working_paper.member.id}) }}">
                                {{ working_paper.member }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['signature'].active %}
                        <td>
                            {% if working_paper.custom == false %}
                                {% if working_paper.signature %}
                                    <a href="#" data-show-wp="{{ working_paper.id }}">Unterschrift anzeigen</a>
                                {% else %}
                                    <a href="#" data-wp="{{ working_paper.id }}">Unterschreiben</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}

                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', working_paper) %}
                                {% if working_paper.custom == false %}
                                    <a href="{{ path('modules_ordermanagement_workingpaper_detail',{'id': working_paper.id}) }}"
                                       class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                       title="Ansehen">
                                        <i class="uk-icon-eye"></i>
                                    </a>
                                {% else %}
                                    <a target="#export" href="{{ path('modules_ordermanagement_workingpaper_showcustom',{'id': working_paper.id}) }}"
                                       class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                        <i class="uk-icon-eye"></i>
                                    </a>
                                {% endif %}

                            {% endif %}
                            {% if is_granted('DELETE', working_paper) %}
                                <a href="#delete-working_paper" data-delete-id="{{ working_paper.id }}"
                                   data-title="{{ working_paper.title }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen" data-uk-modal
                                >
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Arbeitszettel angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\WorkingPaper') %}
                            <a href="{{ path('modules_ordermanagement_workingpaper_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neuen Arbeitszettel anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
    <div id="signaturModal" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <img id="signaturpic">
        </div>
    </div>
    <div class="uk-modal uk-text-left" id="delete-working_paper">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diesen Arbeitszettel wirklich löschen?</b><br>
            <div class="uk-text-muted uk-text-large uk-margin-top" id="wp-delete-title"></div>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a id="delete-button" class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
    <script>
        $('[data-delete-id]').click(function () {
            $('#wp-delete-title').text($(this).data('title'))
            $('#delete-button').attr('href', Routing.generate('modules_ordermanagement_workingpaper_delete', {'id': $(this).data('delete-id')}))
        });
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/uikit/js/signatureMaker.js') }}"></script>
{% endblock %}