{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-list-alt"></i> Arbeitszettel
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ordermanagement_workingpaper_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="Zur Liste">
            <i class="uk-icon-list"></i>
        </a>

    {% endset %}
    {{ macros.pageHeader('Anlegen', null, buttons, breadcrumb, 1) }}

    {{ form_start(form) }}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid">
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.title) }}
            </div>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.contact) }}
            </div>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.order) }}
            </div>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                {{ form_row(form.member) }}
            </div>
        </div>
    </div>

    <div class="uk-margin-top uk-margin-bottom">
        <h2 class="content-headline">
            Positionen
        </h2>
        {{ form_row(form.positions) }}
    </div>


    {{ form_end(form) }}




    <script type="text/javascript">
        $(function () {
            $('.select2.select2-container').css('width','100%')
            var upBtn = '<a href="#" class="uk-button uk-button-small" title="nach oben verschieben"><i class="uk-icon-arrow-up"></i></a>';
            var downBtn = '<a href="#" class="uk-button uk-button-small" title="nach unten verschieben"><i class="uk-icon-arrow-down"></i></a>';
            var addBtn = '<a href="#" class="uk-button uk-button-small uk-button-success uk-float-right" title="Hinzufügen"><i class="uk-icon-plus"></i></a>';
            var removeBtn = '<a href="#" class="uk-button uk-button-small uk-button-danger" title="Löschen"><i class="uk-icon-trash"></i></a>';
            var duplicateBtn = '<a href="#" class="uk-button uk-button-small uk-button-success" title="Kopieren"><i class="uk-icon-copy"></i></a>';

            $('#working_paper_positions').collection({
                add: addBtn, duplicate: duplicateBtn, remove: removeBtn, up: upBtn, down: downBtn,
                allow_duplicate: true,
                order_field_selector: '.order',
                after_add: afterAdd,
                after_duplicate: afterDuplicate
            });

            function afterAdd(collection, element) {
                element.find('.select2').select2();
                $('.position_select').on('change', function() {
                    $('.select2.select2-container').css('width','100%');
                    switch ($(this).val()) {
                        case 'text':
                            $(this).parent().parent().parent().parent().parent().find('.text').removeClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.jobticket').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.service').addClass('uk-hidden');
                            break;
                        case 'jobticket':
                            $(this).parent().parent().parent().parent().parent().find('.text').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.jobticket').removeClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.service').addClass('uk-hidden');
                            break;
                        case 'service':
                            $(this).parent().parent().parent().parent().parent().find('.text').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.jobticket').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.service').removeClass('uk-hidden');
                            break;
                    }
//
                })
            }

            function afterDuplicate(collection, element) {
                element.find('.select2-hidden-accessible').removeClass('select2-hidden-accessible');
                element.find('.select2-container').remove();
                element.find('.select2').select2();
                $('.position_select').on('change', function() {
                    $('.select2.select2-container').css('width','100%');
//                    $('.select2.select2-container').css('width','100%');

                    switch ($(this).val()) {
                        case 'text':
                            $(this).parent().parent().parent().parent().parent().find('.text').removeClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.jobticket').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.service').addClass('uk-hidden');
                            break;
                        case 'jobticket':
                            $(this).parent().parent().parent().parent().parent().find('.text').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.jobticket').removeClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.service').addClass('uk-hidden');
                            break;
                        case 'service':
                            $(this).parent().parent().parent().parent().parent().find('.text').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.jobticket').addClass('uk-hidden');
                            $(this).parent().parent().parent().parent().parent().find('.service').removeClass('uk-hidden');
                            break;
                    }
//
                })
            }

            $("#working_paper_positions").on('display.uk.check', function () {
                $(this).find('.select2').select2();
            });


        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>

{% endblock %}


    {% form_theme form _self %}

    {% block _working_paper_positions_entry_widget %}
        {% include '@ModulesOrderManagement/Form/add-position-form.html.twig' %}
    {% endblock %}
