{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Stammdaten
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_form_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neues Formularfeld<br>anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Formularfelder', 'list-alt', buttons, breadcrumb, 1) }}

    {% include '@CoreApp/pagination.html.twig' %}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Formular</th>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th class="uk-text-nowrap">
                    Typ
                </th>
                <th class="uk-text-nowrap">
                    Kategorie
                </th>
                <th class="uk-text-nowrap">
                    Standardwert
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td>{{ random(['Addresse', 'Ansprechpartner', 'Kontoverbindung']) }}</td>
                    <td>{{ random(['Info', 'Beschreibung', 'Ansprache']) }}</td>
                    <td>{{ random(['Text (einzeilig)', 'Text (mehrzeilig)', 'Auswahl (einfach)', 'Auswahl (mehrfach)', 'Kontrollkästchen']) }}</td>
                    <td>
                        <a href="#">
                            <i class="uk-icon-truck"></i>
                            Lieferanten
                        </a>
                    </td>
                    <td></td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_form_edit') }}" class="uk-button uk-button-small uk-button-primary"
                               data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#field-delete" class="uk-button uk-button-small uk-button-danger"
                               data-uk-tooltip title="Löschen"
                               data-uk-modal>
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="field-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie dieses Formularfeld wirklich löschen?</b><br>
            <span class="uk-text-muted uk-text-large">Info</span><br>
            <br>
            <span class="uk-text-danger">Bisher eingetragene Werte gehen verloren!</span><br>
            <br>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_form_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>

    {% include '@CoreApp/pagination.html.twig' %}
{% endblock %}