{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#type-select').change(function () {
                var type = $(this).val();

                if (type == 'text-single' || type == 'text-multiple') {
                    $('#options').addClass('uk-hidden');
                    $('#default').removeClass('uk-hidden');
                }

                if (type == 'choice-single' || type == 'choice-multiple') {
                    $('#options').removeClass('uk-hidden');
                    $('#default').addClass('uk-hidden');
                }

                if (type == 'checkbox') {
                    $('#options').addClass('uk-hidden');
                    $('#default').addClass('uk-hidden');
                }
            });

            $('#add-option').click(function () {
                var newOption = $('#option-template').clone();
                $('#option-template').after(newOption);
            });

            $(document).on('click', '#remove-option', function () {
                $(this).parent().parent().fadeOut(function () {
                    $(this).remove();
                });
            });
        });
    </script>
{% endblock %}


{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-briefcase"></i> Stammdaten
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_form_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Formularfeld', 'list-alt', buttons, breadcrumb) }}

    <form action="" class="uk-form uk-form-stacked">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="form-">Name</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="Name" class="uk-form-large uk-width-1-1"/>
                </div>
            </div>
            <div class="uk-width-1-3">
                <label class="uk-form-label" for="form-">Formular</label>
                <div class="uk-form-controls">
                    <select data-placeholder="Formular auswählen" class="select2 uk-form-large uk-width-1-1">
                        <option></option>
                        <option>Adressen</option>
                        <option>Ansprechpartner</option>
                        <option>Kontoverbindungen</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3">
                <label class="uk-form-label" for="form-">Typ</label>
                <div class="uk-form-controls">
                    <select data-placeholder="Typ auswählen" class="select2 uk-form-large uk-width-1-1"
                            id="type-select">
                        <option></option>
                        <option value="text-single">Text (einzeilig)</option>
                        <option value="text-multiple">Text (mehrzeilig)</option>
                        <option value="choice-single">Auswahl (einfach)</option>
                        <option value="choice-multiple">Auswahl (mehrfach)</option>
                        <option value="checkbox">Kontrollkästchen</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3">
                <label class="uk-form-label" for="form-">Kategorie</label>
                <div class="uk-form-controls">
                    <select data-placeholder="Kategorie auswählen" class="select2 uk-form-large uk-width-1-1"
                            multiple="multiple">
                        <option></option>
                        <option value="text-single">Lieferanten</option>
                        <option value="text-single">Kunden</option>
                        <option value="text-single">Mitarbeiter</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1 uk-hidden uk-margin-top" id="options">
                <label class="uk-form-label" for="form-">
                    Optionen
                    <a href="#" class="uk-button uk-button-small uk-button-success" id="add-option"
                       data-uk-tooltip title="Option hinzufügen">
                        <i class="uk-icon-plus"></i>
                    </a>
                </label>
                <div class="uk-grid uk-grid-small" id="option-template" data-uk-grid-margin>
                    <div class="uk-width-2-5">
                        <div class="uk-form-controls">
                            <input type="text" placeholder="Bezeichnung" class="uk-width-1-1"/>
                        </div>
                    </div>
                    <div class="uk-width-2-5">
                        <div class="uk-form-controls">
                            <input type="text" placeholder="Wert" class="uk-width-1-1"/>
                        </div>
                    </div>
                    <div class="uk-width-1-5">
                        <a href="#" class="uk-button uk-button-small uk-button-danger" id="remove-option"
                           data-uk-tooltip title="Option entfernen">
                            <i class="uk-icon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-hidden uk-margin-top" id="default">
                <label class="uk-form-label" for="form-">Standardwert</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="Standardwert" class="uk-width-1-1"/>
                </div>
            </div>
            {% include '@CoreApp/permissions.html.twig' %}
            <div class="uk-width-medium-1-1">
                <a href="{{ path('kmui_form_index') }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_form_new', {'saved': 1}) }}" class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </a>
            </div>
        </div>
    </form>
{% endblock %}