{% set addressString = address.street ~ ' ' ~ address.zip ~ ' ' ~ address.city ~ ' ' ~ address.state ~ ' ' ~ address.country %}
<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">{# TODO: Category Bridge #}
        <a href="{{ path('modules_contact_default_edit', {'contact': address.contact.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted"><i class="uk-icon-map-marker"></i> Adresse</small>
        <br>
        <a href="{{ path('modules_contact_default_detailsaddresses', {'contact': address.contact.id}) }}">
            {{ address.street }}, {{ address.zip }} {{ address.city }}
            {% if address.name %}<span class="uk-text-muted">({{ address.name }})</span>{% endif %}
        </a>
    </h2>
    <a href="{{ path('modules_contact_default_details', {'contact': address.contact.id}) }}"
       class="uk-button uk-button-small uk-button-primary">
        <i class="uk-icon-briefcase"></i>
        {{ address.contact.name }}
    </a>
    <hr>
    <a href="https://maps.google.com/maps?q={{ addressString }}&hl={{ app_helper.parameter('locale') }}"
       target="_blank">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ addressString }}&scale=2&zoom=14&size=640x100&markers={{ addressString }}&key=AIzaSyA-SkOX5nmVSeWxFcqN1ZMFMRUikuX-T1Q "
             alt="Google Maps"/>
    </a>
</div>