<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <a href="{{ path('modules_contact_default_edit', {'contact': bankAccount.contact.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted"><i class="uk-icon-credit-card"></i> Kontoverbindung</small>
        <br>
        <a href="{{ path('modules_contact_default_detailsbankaccounts', {'contact': bankAccount.contact.id}) }}">
            IBAN: {{ bankAccount.iban }}
            {% if bankAccount.bic %} <span class="uk-text-muted">(BIC: {{ bankAccount.bic }})</span>{% endif %}
        </a>
    </h2>
    <a href="{{ path('modules_contact_default_details', {'contact': bankAccount.contact.id}) }}"
       class="uk-button uk-button-small uk-button-primary uk-margin-small-bottom">
        <i class="uk-icon-briefcase"></i>
        {{ bankAccount.contact.name }}
    </a>
    {% if bankAccount.owner %}
        <a href="#" class="uk-button uk-button-small">
            Inh.: {{ bankAccount.owner }}
        </a>
    {% endif %}
    {% if bankAccount.bank %}
        <a href="#" class="uk-button uk-button-small">
            Bank: {{ bankAccount.bank }}
        </a>
    {% endif %}
</div>