<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">
        <a href="{{ path('modules_contact_default_edit', {'contact': contact.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
        <small class="uk-text-muted"><i class="uk-icon-briefcase"></i> Kontakt</small>
        <br>
        <a href="{{ path('modules_contact_default_details', {'contact': contact.id}) }}">
            {{ contact.name }}
        </a>
    </h2>
    {% if contact.addresses|length %}
        {% set address = contact.addresses.first %}
        <a href="http://maps.google.com/?q={{ address.street }} {{ address.zip }} {{ address.city }} {{ address.state }} {{ address.country }}"
           class="uk-button uk-button-small uk-button-primary uk-margin-small-top" target="_blank">
            <i class="uk-icon-map-marker"></i>
            {{ address.street }}{% if address.city %}, {{ address.city }}{% endif %}
        </a>
    {% endif %}
    {% if contact.persons|length %}
        {% set person = contact.persons.first %}
        <div class="uk-button-group">
            <a href="{{ path('modules_contact_default_detailspersons', {'contact': contact.id}) }}"
               class="uk-button uk-button-small uk-button-primary uk-margin-small-top">
                <i class="uk-icon-users"></i>
                {{ person.salutation }} {{ person.firstname }} {{ person.lastname }}
            </a>
            {% if person.phone %}
                <a href="tel:{{ person.phone }}"
                   class="uk-button uk-button-small uk-button-primary uk-margin-small-top">
                    <i class="uk-icon-phone"></i>
                </a>
            {% endif %}
            {% if person.mobile %}
                <a href="tel:{{ person.mobile }}"
                   class="uk-button uk-button-small uk-button-primary uk-margin-small-top">
                    <i class="uk-icon-mobile"></i>
                </a>
            {% endif %}
            {% if person.email %}
                <a href="mailto:{{ person.email }}"
                   class="uk-button uk-button-small uk-button-primary uk-margin-small-top">
                    <i class="uk-icon-envelope"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
    {% if contact.bankAccounts|length %}
        {% set bankAccount = contact.bankAccounts.first %}
        <a href="{{ path('modules_contact_default_detailspersons', {'contact': contact.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-margin-small-top">
            <i class="uk-icon-credit-card"></i> {{ bankAccount.iban }}
        </a>
    {% endif %}
</div>