<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">{# TODO: Category Bridge #}
        <small class="uk-text-muted"><i class="uk-icon-user"></i> Ansprechpartner</small>
        <br>
        <a href="{{ path('modules_contact_default_detailspersons', {'contact': person.contact.id}) }}">
            {{ person.salutation }} {{ person.firstname }} {{ person.lastname }}
        </a>
        <a href="{{ path('modules_contact_default_edit', {'contact': person.contact.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
    </h2>
    <a href="{{ path('modules_contact_default_details', {'contact': person.contact.id}) }}"
       class="uk-button uk-button-small uk-button-primary uk-margin-small-bottom">
        <i class="uk-icon-briefcase"></i>
        {{ person.contact.name }}
    </a>
</div>