{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}

    {% include 'ModulesOrderManagementBundle:Reminder:export-modal.html.twig' %}

    {% set breadcrumb %}
        <i class="uk-icon-warning"></i> Mahnung
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_ordermanagement_reminder_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            {% if is_granted('EDIT', reminder) and  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                <a href="#modal-export-reminder-{{ reminder.id }}" data-uk-modal
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                    <i class="uk-icon-file-pdf-o"></i>
                </a>
                {% if reminder.status<2 and  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('modules_ordermanagement_reminder_edit', {'reminder': reminder.id}) }}"
                       class="uk-button uk-button-small uk-button-primary"
                       data-uk-tooltip title="Bearbeiten">
                        <i class="uk-icon-pencil"></i>
                    </a>
                {% endif %}
            {% endif %}
        </div>
        {% if  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
            <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                 id="jobTicket-status-toggle">
                <button class="uk-button uk-button-small uk-button-primary">
                    {{ mod_om_helper.getReminderStatus(reminder) }}
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li>
                            <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:0,reminder:reminder.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status geplant
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:1,reminder:reminder.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status offen
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:3,reminder:reminder.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status erledigt
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:2,reminder:reminder.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status nicht erfüllt
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(reminder.version ~ '. Mahnung', null, buttons, breadcrumb, false) }}

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-grid-divider uk-text-large" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    {% if reminder.version %}
                        <div class="uk-width-1-3">Mahnstufe:</div>
                        <div class="uk-width-2-3">
                            {{ reminder.version }}. Mahnung
                        </div>
                    {% endif %}
                    {% if reminder.number %}
                        <div class="uk-width-1-3">Nummer:</div>
                        <div class="uk-width-2-3">
                            {{ reminder.number }}
                        </div>
                    {% endif %}
                    {% if reminder.fee %}
                        <div class="uk-width-1-3">Gebühr:</div>
                        <div class="uk-width-2-3">
                            {{ reminder.fee }} €
                        </div>
                    {% endif %}
                    {% if reminder.invoice %}
                        <div class="uk-width-1-3">Rechnung:</div>
                        <div class="uk-width-2-3">
                            <a href="{{ path('modules_ordermanagement_invoice_details',{invoice:reminder.invoice.id}) }}">
                                {{ reminder.invoice }}</a>
                        </div>
                    {% endif %}
                    {% if reminder.invoice.contactPerson %}
                        <div class="uk-width-1-3">Ansprechpartner:</div>
                        <div class="uk-width-2-3">
                            {{ reminder.invoice.contactPerson }}
                        </div>
                    {% endif %}
                    {% if reminder.reminderDate %}
                        <div class="uk-width-1-3">Datum:</div>
                        <div class="uk-width-2-3">
                            {{ reminder.reminderDate|date('d.m.Y') }}
                        </div>
                    {% endif %}
                    {% if reminder.deadline %}
                        <div class="uk-width-1-3">Frist:</div>
                        <div class="uk-width-2-3">
                            {{ reminder.deadline|date('d.m.Y') }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-1-3">Status:</div>
                    <div class="uk-width-2-3">
                        {{ mod_om_helper.getReminderStatus(reminder) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-file"></i>
        Dokumente
    </h2>
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% if app_helper.getDocumentsForEntity(reminder,reminder.id) %}
                {% for document in app_helper.getDocumentsForEntity(reminder,reminder.id) %}
                    <tr>
                        <td>
                            <a target="_blank"
                               href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="uk-text-center">
                        Keine Dokumente hinzugefügt
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}