{% if is_granted('DELETE', reminder) %}
    <div id="modal-export-reminder-{{ reminder.id }}" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-text-left">
                <h3>
                    <i class="uk-icon-user"></i> {{ reminder.version }}. Mahnung - {{ reminder.invoice.title }}
                </h3>
            </div>

            <form action="{{ path('modules_ordermanagement_reminder_export') }}" target="_blank" method="post"
                  class="uk-form">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-2">
                        <label class="uk-form-label uk-text-left"
                               for="fileformat-{{ reminder.id }}">Dateiformat</label>

                        <div class="uk-form-controls">
                            <select name="fileformat" class="uk-width-1-1"
                                    id="fileformat-{{ reminder.id }}">
                                <option value="pdf">PDF</option>
                                <option value="odt">Word</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <label class="uk-form-label uk-text-left"
                               for="printDate-{{ reminder.id }}">Datum</label>
                        <div class="uk-form-controls">
                            <input type="text" class="uk-width-1-1"
                                   id="printDate-{{ reminder.id }}"
                                   name="printDate"
                                   value="{% if reminder.reminderDate %}{{ reminder.reminderDate|date('d.m.Y') }}{% else %}{{ 'now'|date('d.m.Y') }}{% endif %}"
                                   data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"/>
                        </div>
                    </div>

                    {% if reminder.placeholder %}
                        {% set placeholder=reminder.placeholder %}
                    {% else %}
                        {% set placeholder="wir haben für folgende Rechnung noch keinen Zahlungseingang feststellen können:" %}
                    {% endif %}

                    <div class="uk-width-1-1">
                        <label class="uk-form-label uk-text-left"
                               for="place-{{ reminder.id }}">Platzhalter</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-width-1-1" rows="5"
                                      id="place-{{ reminder.id }}"
                                      name="place">{{ placeholder }}
                            </textarea>
                        </div>
                    </div>
                    <input type="hidden" name="reminder" value="{{ reminder.id }}"/>

                    <div class="uk-width-1-1">
                        <button type="submit" class="uk-button uk-button-success uk-button-large uk-width-1-1">
                            Mahnung
                            erstellen
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endif %}