{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-warning"></i> Mahnungen
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Reminder') %}
            <a href="{{ path('modules_ordermanagement_reminder_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue Mahnung anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}

    {% set filter %}
        <button data-uk-toggle="{target:'#filter', animation:'uk-animation-slide-top'}"
                class="uk-button uk-button-primary uk-margin-right">
            <i class="uk-icon-filter"></i> Filter
        </button>
    {% endset %}

    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1,0,filter) }}


    <div class="uk-overflow-hidden uk-margin-bottom">
        <div class="uk-panel uk-panel-box uk-hidden" id="filter">
            <form action="{{ path('modules_ordermanagement_reminder_index') }}" method="get"
                  class="uk-form uk-panel-body filterOverview">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Von:</label><br>
                                <input type="text" name="start"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.start is defined %}{{ filterSettings.start }}{% endif %}">

                            </div>
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Bis: </label><br>
                                <input type="text" name="stop"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.stop is defined %}{{ filterSettings.stop }}{% endif %}">

                            </div>
                        </div>
                        <br/>
                    </div>
                    {% if  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">
                                Kunde: </label><br>
                            <select size="1" name="contact" class="select2 uk-width-1-1">
                                <option></option>
                                {% for contact in app_helper.getEntityManager.getRepository('ModulesContactBundle:Contact').findAll() %}
                                    <option {% if filterSettings.contact is defined %} {% if filterSettings.contact==contact.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ contact.id }}">{{ contact.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">
                                Status:</label><br>
                            <select size="1" name="status" class="select2 uk-width-1-1">
                                <option></option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status=='0' %}selected="selected"{% endif %}{% endif %}
                                        value="0">geplant
                                </option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status==1 %}selected="selected"{% endif %}{% endif %}
                                        value="1">offen
                                </option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status==2 %}selected="selected"{% endif %}{% endif %}
                                        value="2">nicht erfüllt
                                </option>
                                <option {% if filterSettings.status is defined %} {% if filterSettings.status==3 %}selected="selected"{% endif %}{% endif %}
                                        value="3">erledigt
                                </option>
                            </select>

                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">
                                Frist:</label><br>
                            <input type="text" name="deadline"
                                   data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                   class="uk-width-1-1" value="{{ app.request.get('deadline') }}">

                        </div>
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">Geschäftsbereich: </label><br>
                            <select size="1" name="division" class="select2 uk-width-1-1">
                                <option></option>
                                {% for division in divisions %}
                                    <option {% if filterSettings.division is defined %} {% if filterSettings.division==division.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ division.id }}">{{ division.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
                <div class="uk-text-right uk-margin-top">
                     <span class="uk-button uk-button-danger resetFilter">
                            <i class="uk-icon-filter"></i>
                            Filter zurücksetzten
                        </span>
                    <button class="uk-button uk-button-primary">
                        <i class="uk-icon-filter"></i>
                        Filter anwenden
                    </button>
                </div>
            </form>
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                {% if columns['version'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['version'].label, 'version') }}
                    </th>
                {% endif %}
                {% if columns['number'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['number'].label, 'number') }}
                    </th>
                {% endif %}
                {% if columns['invoice'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['invoice'].label, 'invoice') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th>
                        {{ columns['contact'].label }}
                    </th>
                {% endif %}
                {% if columns['sum'].active %}
                    <th>
                        {{ columns['sum'].label }}
                    </th>
                {% endif %}

                {% if columns['deadline'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['deadline'].label, 'deadline') }}
                    </th>
                {% endif %}
                {% if columns['reminderDate'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['reminderDate'].label, 'reminderDate') }}
                    </th>
                {% endif %}
                {% if columns['status'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['status'].label, 'status') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for reminder in pagination %}
                <tr>
                    {% if columns['version'].active %}
                        <td>
                            <a href="{{ path('modules_ordermanagement_reminder_details', {'reminder': reminder.id}) }}">
                                {{ reminder.version }}. Mahnung
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['number'].active %}
                        <td>
                            <a href="{{ path('modules_ordermanagement_reminder_details', {'reminder': reminder.id}) }}">
                                {{ reminder.number }}
                            </a>
                        </td>
                    {% endif %}

                    {% if columns['invoice'].active %}
                        <td>
                            {% if is_granted('VIEW','Modules\\OrderManagementBundle\\Entity\\Invoice' ) %}
                                <a href="{{ path("modules_ordermanagement_invoice_details", {'invoice': reminder.invoice.id}) }}">
                                    {{ reminder.invoice.number }}
                                </a>
                            {% else %}
                                {{ reminder.invoice.number }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td>
                            {% if is_granted('VIEW','Modules\\ContactBundle\\Entity\\Contact' ) %}
                                <a href="{{ path("modules_contact_default_details", {'contact': reminder.invoice.contact}) }}">
                                    {{ reminder.invoice.contact }}
                                </a>
                            {% else %}
                                {{ reminder.invoice.contact }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['sum'].active %}
                        <td>
                            {{ mod_om_helper.getInvoicePrice(reminder.invoice)|number_format(2, ',', '.') }} €
                        </td>
                    {% endif %}

                    {% if columns['deadline'].active %}
                        <td>
                            {% if reminder.deadline %}
                                {{ reminder.deadline|date('d.m.Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['reminderDate'].active %}
                        <td>
                            {% if reminder.reminderDate %}
                                {{ reminder.reminderDate|date('d.m.Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['status'].active %}
                        <td>
                            {% if  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                                <div class="uk-button-dropdown uk-button-small uk-width-1-1"
                                     data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                                     id="jobTicket-status-toggle" style="box-sizing: content-box;">
                                    <button class="uk-button uk-button-small uk-button-primary">
                                        {{ mod_om_helper.getReminderStatus(reminder) }}
                                        <i class="uk-icon-angle-down"></i>
                                    </button>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                                        <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                            <li>
                                                <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:0,reminder:reminder.id,index:1}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status geplant
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:1,reminder:reminder.id,index:1}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status offen
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:3,reminder:reminder.id,index:1}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status erledigt
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('modules_ordermanagement_reminder_changestatus',{status:2,reminder:reminder.id,index:1}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status nicht erfüllt
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <button class="uk-button uk-button-small uk-button-primary">
                                    {{ mod_om_helper.getReminderStatus(reminder) }}
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                            {% endif %}
                        </td>
                    {% endif %}

                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', reminder) %}
                                <a href="{{ path('modules_ordermanagement_reminder_details', {'reminder': reminder.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', reminder) and (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                                <a href="#modal-export-reminder-{{ reminder.id }}" data-uk-modal
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Export">
                                    <i class="uk-icon-file-pdf-o"></i>
                                </a>
                                <a href="{{ path('modules_ordermanagement_reminder_edit', {'reminder': reminder.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', reminder) and (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                                <a href="#delete-reminder-{{ reminder.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% include 'ModulesOrderManagementBundle:Reminder:delete-modal.html.twig' with {'deleteForm': deleteForms[reminder.id]} %}
                        {% include 'ModulesOrderManagementBundle:Reminder:export-modal.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Mahnungen angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Reminder') %}
                            <a href="{{ path('modules_ordermanagement_reminder_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue Mahnung anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}

    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
{% endblock %}