{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-check-circle"></i> Delegierte To Do's
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\ToDoBundle\\Entity\\ToDo') %}
            <a href="{{ path('modules_todo_default_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neue To Do's anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}

    {% set filter %}
        <button data-uk-toggle="{target:'#filter', animation:'uk-animation-slide-top'}"
                class="uk-button uk-button-primary uk-margin-right">
            <i class="uk-icon-filter"></i> Filter
        </button>
    {% endset %}

    {% set alltickets = app_helper.getEntityManager.getRepository('ModulesOrderManagementBundle:JobTicket').findOpen() %}

    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1,0,filter) }}

    <div class="uk-overflow-hidden">
        <div class="uk-panel uk-panel-box uk-hidden" id="filter">
            <form action="{{ path('modules_todo_default_delegate') }}" method="get"
                  class="uk-form uk-panel-body filterOverview">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Von:</label><br>
                                <input type="text" name="start"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.start is defined %}{{ filterSettings.start }}{% endif %}">
                            </div>
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Bis: </label><br>
                                <input type="text" name="stop"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.stop is defined %}{{ filterSettings.stop }}{% endif %}">
                            </div>
                        </div>

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Kontakt: </label><br>
                        <select size="1" name="contact" class="select2 uk-width-1-1">
                            <option></option>
                            {% if  (app.user.member!=null or is_granted('ROLE_ADMIN'))  %}
                                {% for contact in app_helper.getEntityManager.getRepository('ModulesContactBundle:Contact').findAll() %}
                                    <option {% if filterSettings.contact is defined %} {% if filterSettings.contact==contact.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ contact.id }}">{{ contact.name }}</option>
                                {% endfor %}
                            {% else %}
                                {% for contact in app_helper.getEntityManager.getRepository('ModulesContactBundle:Contact').findAllByGroup(app.user) %}
                                    <option {% if filterSettings.contact is defined %} {% if filterSettings.contact==contact.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ contact.id }}">{{ contact.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>

                    </div>
                    {% if  (app.user.member!=null or is_granted('ROLE_ADMIN'))  %}
                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">
                                Mitarbeiter: </label><br>
                            <select size="1" name="member" class="select2 uk-width-1-1">
                                <option></option>
                                {% for member in members %}
                                    <option {% if filterSettings.member is defined %} {% if filterSettings.member==member.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ member.id }}">{{ member.firstname }} {{ member.lastname }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="uk-width-medium-1-3">
                            <label class="uk-text-bold">
                                Ersteller: </label><br>
                            <select size="1" name="user" class="select2 uk-width-1-1">
                                <option></option>
                                {% for user in app_helper.getEntityManager.getRepository('CoreAppBundle:User').findAll() %}
                                    <option {% if filterSettings.user is defined %} {% if filterSettings.user==user.id %}selected="selected"{% endif %}{% endif %}
                                            value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    {% endif %}
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Status: </label><br>
                        <select size="1" name="status" class="select2 uk-width-1-1">
                            <option></option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status=='0' %}selected="selected"{% endif %}{% endif %}
                                    value="0">offen
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==2 %}selected="selected"{% endif %}{% endif %}
                                    value="2">in Arbeit
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==3 %}selected="selected"{% endif %}{% endif %}
                                    value="3">erledigt
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==4 %}selected="selected"{% endif %}{% endif %}
                                    value="4">archiviert
                            </option>
                        </select>

                    </div>
                </div>
                <div class="uk-text-right uk-margin-top">
                         <span class="uk-button uk-button-danger resetFilter">
                            <i class="uk-icon-filter"></i>
                            Filter zurücksetzten
                        </span>
                    <button class="uk-button uk-button-primary">
                        <i class="uk-icon-filter"></i>
                        Filter anwenden
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% set archiv=todo_helper.getArchiv(app.user) %}
    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Titel', 'title') }}
                </th>
                {% if columns['members'].active and app.user.contact==null %}
                    <th class="uk-text-nowrap">
                        {{ columns['members'].label }}
                    </th>
                {% endif %}

                {% if columns['priority'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['priority'].label, 'priority') }}
                    </th>
                {% endif %}
                {% if columns['status'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['status'].label, 'status') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['createdBy'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdBy'].label, 'createdBy') }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdAt'].label, 'createdAt') }}
                    </th>
                {% endif %}
                {% if columns['updatedAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['updatedAt'].label, 'updatedAt') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for todos in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('modules_todo_default_details', {'todo': todos.id,'delegate':1}) }}">
                            {{ todos.title|truncate }}
                        </a>
                        <p><small>{{ todos.text|striptags|truncate(70, '...')|raw }}</small></p>
                    </td>

                    {% if columns['members'].active and app.user.contact==null %}
                        <td>
                            {% for member in todos.members %}
                                <a href="{{ path('modules_team_member_details',{member:member.id}) }}">
                                    <p>{{ member.firstname }}  {{ member.lastname }}</p></a>
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if columns['priority'].active %}
                        <td>
                            {{ todo_helper.getPriority(todos) }}
                        </td>
                    {% endif %}

                    {% if columns['status'].active %}
                        <td>
                            {% if  (app.user.member!=null or is_granted('ROLE_ADMIN'))  %}
                                <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}"
                                     data-uk-tooltip=""
                                     id="jobTicket-status-toggle">
                                    <button class="uk-button uk-button-small uk-button-{% if todo_helper.isArchiv(todos,archiv) %}info{% elseif todos.status==1 or todos.status==0 %}danger{% elseif todos.status==2 %}warning{% else %}success{% endif %}">
                                        {{ todo_helper.getStatus(todos,archiv) }}
                                        <i class="uk-icon-angle-down"></i>
                                    </button>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                                        <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                            <li>
                                                <a href="{{ path('modules_todo_default_changestatus',{status:1,todo:todos.id,index:2}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status offen
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('modules_todo_default_changestatus',{status:2,todo:todos.id,index:2}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status in Arbeit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('modules_todo_default_changestatus',{status:3,todo:todos.id,index:2}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status erledigt
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('modules_todo_default_changestatus',{status:4,todo:todos.id,index:2}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status archivieren
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}"
                                     data-uk-tooltip=""
                                     id="jobTicket-status-toggle">
                                    <button class="uk-button uk-button-small uk-button-{% if todo_helper.isArchiv(todos,archiv) %}info{% elseif todos.status==1 or todos.status==0 %}danger{% elseif todos.status==2 %}warning{% else %}success{% endif %}">
                                        {{ todo_helper.getStatus(todos,archiv) }}
                                        <i class="uk-icon-angle-down"></i>
                                    </button>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                                        <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                            <li>
                                                <a href="{{ path('modules_todo_default_changestatus',{status:4,todo:todos.id,index:2}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status archivieren
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if columns['contact'].active %}
                        <td>
                            {% if todos.contact %}
                                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                    <a href="{{ path('modules_contact_default_details', {'contact': todos.contact.id}) }}">
                                        {{ todos.contact }}
                                    </a>
                                {% else %}
                                    {{ todos.contact }}
                                {% endif %}
                            {% endif %}

                        </td>
                    {% endif %}


                    {% if columns['createdBy'].active %}
                        <td>
                            {% if todos.createdBy.contact %}
                                {{ todos.createdBy.contact }}
                            {% elseif todos.createdBy.member %}
                                {{ todos.createdBy.member.firstname }} {{ todos.createdBy.member.lastname }}
                            {% else %}
                                {{ todos.createdBy.username }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ todos.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    {% if columns['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ todos.updatedAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': todos.updatedBy.id}) }}">{{ todos.updatedBy.username }}</a></span>
                        </td>
                    {% endif %}
                    {% set routing=1 %}
                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', 'Modules\\ToDoBundle\\Entity\\ToDo') %}
                                <a href="{{ path('modules_todo_default_details', {'todo': todos.id,'delegate':1}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', 'Modules\\ToDoBundle\\Entity\\ToDo') and  (app.user.member!=null or is_granted('ROLE_ADMIN'))  %}
                                <a href="{{ path('modules_todo_default_edit', {'todo': todos.id,'delegate':1}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', 'Modules\\ToDoBundle\\Entity\\ToDo') and  (app.user.member!=null or is_granted('ROLE_ADMIN'))  %}
                                <a href="#export-todos-{{ todos.id }}"
                                   class="uk-button uk-button-primary uk-button-small"
                                   data-uk-tooltip title="Jobticket verknüpfen"
                                   data-uk-modal>
                                    <i class="uk-icon-bank"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', 'Modules\\ToDoBundle\\Entity\\ToDo') and  (app.user.member!=null or is_granted('ROLE_ADMIN'))  %}
                                <a href="#delete-todos-{{ todos.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}

                        </div>
                        {% include 'ModulesToDoBundle:Default:delete-modal.html.twig' with {'deleteForm': deleteForms[todos.id]} %}
                        {% include 'ModulesToDoBundle:Default:export-modal.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine To Do's angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\ToDo') %}
                            <a href="{{ path('modules_todo_default_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neue To Do's anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}

    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
{% endblock %}