{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set archiv=todo_helper.getArchiv(app.user) %}
    {% set breadcrumb %}
        <i class="uk-icon-check-circle"></i> To Do
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{% if delegate %}{% if delegate==1 %}{{ path('modules_todo_default_delegate') }}{% elseif delegate==2 %}{{ path('modules_todo_default_all') }}{% else %}{{ path('modules_todo_default_index') }}{% endif %}{% else %}{{ path('modules_todo_default_index') }}{% endif %}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            {% if is_granted('EDIT', 'Modules\\ToDoBundle\\Entity\\ToDo') and  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('modules_todo_default_edit', {'todo': todo.id,'delegate': delegate}) }}"
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                   title="Bearbeiten">
                    <i class="uk-icon-pencil"></i>
                </a>
            {% endif %}

            {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\ToDo') %}
                <a href="{{ path('modules_todo_default_new') }}"
                   class="uk-button uk-button-small uk-button-success"
                   data-uk-tooltip title="Neues To Do anlegen">
                    <i class="uk-icon-plus"></i>
                </a>
            {% endif %}
        </div>
        {% if  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
            <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                 id="jobTicket-status-toggle">
                <button class="uk-button uk-button-small uk-button-{% if todo.status==1 or todo.status==0 %}danger{% elseif todo.status==2 %}warning{% else %}success{% endif %}">
                    {{ todo_helper.getStatus(todo,archiv) }}
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li>
                            <a href="{{ path('modules_todo_default_changestatus',{status:1,todo:todo.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status offen
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('modules_todo_default_changestatus',{status:2,todo:todo.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status in Arbeit
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('modules_todo_default_changestatus',{status:3,todo:todo.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status erledigt
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
            <button class="uk-button uk-button-small uk-button-{% if todo.status==1 or todo.status==0 %}danger{% elseif todo.status==2 %}warning{% else %}success{% endif %}">
                {{ todo_helper.getStatus(todo,archiv) }}
            </button>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(todo.title, null, buttons, breadcrumb, 0) }}

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <div class="uk-grid uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-medium-2-6 uk-width-small-1-1">
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                            <div class="uk-width-1-2">Priorität:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ todo_helper.getPriority(todo) }}
                            </div>
                            <div class="uk-width-1-2">Status:</div>
                            <div class="uk-width-1-2 uk-text-right uk-text-{% if todo.status==1 or todo.status==0 %}danger{% elseif todo.status==2 %}warning{% else %}success{% endif %}">{{ todo_helper.getStatus(todo,archiv) }}
                            </div>
                            {% if  todo.deadline %}
                                <div class="uk-width-1-2">Termin:</div>
                                <div class="uk-width-1-2 uk-text-right">{{ todo.deadline|date('d.m.Y') }}
                                </div>
                            {% endif %}
                            {% if app.user.contact==null %}
                                <div class="uk-width-1-2">Zuständig:</div>
                                <div class="uk-width-1-2 uk-text-right">
                                    {% for member in todo.members %}
                                        <p>
                                            <a href="{{ path('modules_team_member_details',{member:member.id}) }}">{{ member.firstname }} {{ member.lastname }}</a>
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if todo.jobTicket %}
                                <div class="uk-width-1-2">Jobticket:</div>
                                <div class="uk-width-1-2 uk-text-right">
                                    {% if  is_granted('EDIT', 'Modules\\OrderManagementBundle\\Entity\\JobTicket') %}
                                        <p>
                                            <a href="{{ path('modules_ordermanagement_jobticket_details',{jobTicket:todo.jobTicket.id}) }}">{{ todo.jobTicket.title }}</a>
                                        </p>
                                    {% else %}
                                        {{ todo.jobTicket.title }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if todo.contact %}
                                <div class="uk-width-1-2">Kontakt:</div>
                                <div class="uk-width-1-2 uk-text-right">
                                    {% if  is_granted('EDIT', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                        <p>
                                            <a href="{{ path('modules_contact_default_details',{contact:todo.contact.id}) }}">{{ todo.contact }}</a>
                                        </p>
                                    {% else %}
                                        <p>{{ todo.contact }}</p>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="uk-width-1-2">Ersteller:</div>
                                <div class="uk-width-1-2 uk-text-right">
                                    {% if todo.createdBy.member %}
                                        <p>
                                            <a href="{{ path('modules_team_member_details',{member:todo.createdBy.member.id}) }}">{{ todo.createdBy.member.firstname }} {{ todo.createdBy.member.lastname }}</a>
                                        </p>
                                    {% elseif todo.createdBy.contact %}
                                        <p>
                                            <a href="{{ path('modules_contact_default_details',{contact:todo.createdBy.contact.id}) }}">{{ todo.createdBy.contact }}</a>
                                        </p>
                                    {% else %}
                                        <p>{{ todo.createdBy.username }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if  todo.jobticket %}
                                <div class="uk-width-1-2">Jobticket:</div>
                                <div class="uk-width-1-2 uk-text-right"><a
                                            href="{{ path('modules_ordermanagement_jobticket_details',{jobTicket:todo.jobticket.id}) }}">{{ todo.jobticket.title }}</a>
                                </div>
                            {% endif %}
                            {% if  todo.repetition %}
                                <div class="uk-width-1-2">repetition :</div>
                                <div class="uk-width-1-2 uk-text-right">{{ todo.repetition }}
                                </div>
                            {% endif %}
                            {% if  todo.repetitionFinished %}
                                <div class="uk-width-1-2">Wiederholunsende :</div>
                                <div class="uk-width-1-2 uk-text-right">{{ todo.repetitionFinished|date('d.m.Y') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="uk-width-medium-4-6 uk-width-small-1-1">
                        <div style="font-size: small !important;">
                            {{ todo.text|raw }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-edit"></i>
        Notizen
        <a href="#note-todo-{{ todo.id }}"
           class="uk-button uk-button-success uk-button-small uk-float-right"
           data-uk-tooltip title="Notiz eintragen" data-uk-modal>
            <i class="uk-icon-plus"></i>
        </a></h2>
    {{ knp_pagination_render(pagination) }}
    <div class="bordered-container uk-margin-top">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                {% if columns['createdBy'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['createdBy'].label }}
                    </th>
                {% endif %}
                {% if columns['text'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['text'].label }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['createdAt'].label }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    {% if columns['createdBy'].active %}
                        <td class="uk-text-nowrap">
                            {% if item.createdBy.member %}
                                {{ item.createdBy.member.firstname }}  {{ item.createdBy.member.lastname }}
                            {% elseif item.createdBy.contact %}
                                {{ item.createdBy.contact }}
                            {% else %}
                                {{ item.createdBy }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['text'].active %}
                        <td>
                            {{ item.text }}
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ item.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    <td>
                        {% if is_granted('DELETE', todo) and app.user.contact is null %}
                            <a href="{{ path('modules_todo_default_notedelete',{todoNote:item.id}) }}"
                               class="uk-button uk-button-danger uk-button-small"
                               data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Keine Einträge vorhanden.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}


    {% include 'ModulesToDoBundle:Default:note-modal.html.twig' %}

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-file"></i>
        Dokumente
    </h2>
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% if app_helper.getDocumentsForEntity(todo,todo.id) %}
                {% for document in app_helper.getDocumentsForEntity(todo,todo.id) %}
                    <tr>
                        <td>
                            <a target="_blank"
                               href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="uk-text-center">
                        Keine Dokumente hinzugefügt
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}