{% if is_granted('DELETE', todos) %}
    <div class="uk-modal uk-text-left" id="export-todos-{{ todos.id }}">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-primary">
                <h3>
                    <i class="uk-icon-bank"></i>
                    Jobticket verknüpfen
                </h3>
            </div>
            <b class="uk-text-large">Wählen Sie einbestehendes Jobticket oder legen Sie ein neues an.</b><br>
            <div class="uk-text-muted uk-text-large uk-margin-top">{{ todos.title }}</div>
            <br/>

            <form method="post" action="{{ path('modules_todo_default_todojob',{todo:todos.id}) }}" class="uk-form uk-form-stacked uk-form">
                <div class="uk-form-row">
                    <label class="uk-form-label required uk-text-bold" for="form_jobticket">Jobticket</label>
                    <div class="uk-form-controls">
                        <select name="jobticket" id="form_jobticket">
                            <option value="0">Neues Jobticket erstellen</option>
                            {% for job in alltickets %}
                                {% if job.status<4 %}
                                    <option value="{{ job.id }}">{{ job.title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>


            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <button class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-bank"></i>
                    Verknüpfen
                </button>
            </div>
            </form>
        </div>
    </div>
{% endif %}