{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('click', '#to_do_contactToDo_toggler', function () {

            if($('#to_do_contactToDo').is(':checked'))
            {
                $('.memberInput').addClass('uk-hidden');
            }
            else
            {
                $('.memberInput').removeClass('uk-hidden');
            }

        });
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-check-circle"></i> To Do
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_todo_default_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues To Do', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                {{ form_row(form.title) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.priority) }}
            </div>
            <div class="uk-width-medium-1-2 {% if app.user.contact %}uk-hidden{% endif %}">
                {{ form_row(form.contactToDo) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.text) }}
            </div>
            <div class="uk-width-medium-1-2 memberInput  {% if app.user.contact %}uk-hidden{% endif %}">
                {{ form_row(form.members) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.contact) }}
            </div>

        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}