<div id="modal-delete-{{ division.id }}" class="uk-modal uk-text-left">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header uk-modal-header-danger">
            <h3>
                <i class="uk-icon-warning"></i>
                Löschen bestätigen
            </h3>
        </div>
        <b class="uk-text-large">Möchten Sie diesen Geschäftsbereich wirklich löschen?</b><br>
        <span class="uk-text-muted uk-text-large">{{ division.name }}</span><br>
        <div class="uk-modal-footer">
            <a href="#" class="uk-button uk-modal-close">
                <i class="uk-icon-close"></i>
                Abbrechen
            </a>
            <a href="{{ path('modules_ordermanagement_division_delete', {'division': division.id}) }}"
               class="uk-button uk-button-danger uk-float-right">
                <i class="uk-icon-trash"></i>
                Löschen
            </a>
        </div>
    </div>
</div>