{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Geschäftsbereich
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_ordermanagement_division_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Geschäftsbereich', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Name</label>
                    <div class="uk-form-controls">
                        <input id="modules_ordermanagementbundle_division_name"
                               name="modules_ordermanagementbundle_division[name]" type="text" readonly disabled
                               value="{{ form.name.vars.value }}"
                               class="uk-form-large uk-width-1-1">
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-3-10">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Tag</label>
                    <div class="uk-form-controls">
                        <input id="modules_ordermanagementbundle_division_tag"
                               name="modules_ordermanagementbundle_division[tag]" type="text" readonly disabled
                               value="{{ form.tag.vars.value }}"
                               class="uk-form-large uk-width-1-1">
                    </div>
                </div>
            </div>
            <div class="uk-hidden">
                {{ form_row(form.name) }}
                {{ form_row(form.tag) }}
            </div>
            <div class="uk-width-medium-1-3">{{ form_row(form.offerTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.orderTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.invoiceTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.invoiceNettoTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.reminderTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.creditTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.workingPaperTemplate) }}</div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
