{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block title %}Geschäftsbereiche{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Geschäftsbereiche
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ordermanagement_division_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neuen Geschäftsbereich erstellen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 0) }}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>
                    <a href="#">
                        Name
                    </a>
                </th>
                <th>
                    <a href="#">
                        Angebote
                    </a>
                </th>
                <th>
                    <a href="#">
                        Aufträge
                    </a>
                </th>

                <th>
                    <a href="#">
                        Rechnungen
                    </a>
                </th>
                <th>
                    <a href="#">
                        Mahnungen
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for division in divisions %}

                {% set offerCount =  mod_om_helper.getNumberOfEntityBelongToDivision("Modules\\OrderManagementBundle\\Entity\\Offer", division) %}
                {% set orderCount =  mod_om_helper.getNumberOfEntityBelongToDivision("Modules\\OrderManagementBundle\\Entity\\Orders", division) %}
                {% set invoiceCount =  mod_om_helper.getNumberOfEntityBelongToDivision("Modules\\OrderManagementBundle\\Entity\\Invoice", division) %}
                {% set reminderCount =  mod_om_helper.getNumberOfEntityBelongToDivision("Modules\\OrderManagementBundle\\Entity\\Reminder", division) %}

                {% if offerCount > 0 or orderCount > 0 %}
                    {% set editable = false %}
                {% else %}
                    {% set editable = true %}
                {% endif %}

                <tr>
                    <td>
                        {{ division.name }}<br>
                        <small class="uk-text-muted">{{ division.tag }}</small>

                    </td>
                    <td>
                        <a href="#" class="uk-button uk-button-primary uk-button-small">
                            {{ offerCount }}
                        </a>
                    </td>
                    <td>
                        <a href="#" class="uk-button uk-button-primary uk-button-small">
                            {{ orderCount }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('kmui_invoice_index') }}" class="uk-button uk-button-primary uk-button-small">
                            {{ invoiceCount }}
                        </a>
                    </td>
                    <td>
                        <a href="#" class="uk-button uk-button-primary uk-button-small">
                            {{ reminderCount }}
                        </a>
                    </td>
                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            <a href="{{ path('modules_ordermanagement_division_edit',{"division":division.id}) }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                               title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            {% if editable %}
                                <a href="#modal-delete-{{ division.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-modal data-uk-tooltip title="Löschen">
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% if editable %}
                            {% include 'ModulesOrderManagementBundle:Division:delete-modal.html.twig' with {'division': division} %}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            {% if divisions|length == 0 %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Es wurden keine Geschäftsbereiche angelegt
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    {# Modals #}


{% endblock %}