{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#modules_ordermanagementbundle_division_name').on('input', function () {

                var me = $(this).val();
                me = me.split(" ");
                me = me[0];

                var tag = me.replace(/[aeiou]/ig, '').toUpperCase().slice(0, 5);

                $('#modules_ordermanagementbundle_division_tag').val(tag)
            });
        })
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Geschäftsbereich
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_ordermanagement_division_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}

    {% if app.request.get('_route') == "modules_ordermanagement_division_new" %}
        {% set title = "Neuer Geschäftsbereich" %}
    {% else %}
        {% set title = "Geschäftsbereich bearbeiten" %}
    {% endif %}

    {{ macros.pageHeader(title, null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-medium-3-10">
                {{ form_row(form.tag) }}<br/>
            </div>
            <div class="uk-width-medium-1-3">{{ form_row(form.offerTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.orderTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.invoiceTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.invoiceNettoTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.reminderTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.creditTemplate) }}</div>
            <div class="uk-width-medium-1-3">{{ form_row(form.workingPaperTemplate) }}</div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
