{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Produkte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ordermanagement_product_index') }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>

        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Product') %}
            <a href="{{ path('modules_ordermanagement_product_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neues Produkt anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
        {% if is_granted('EDIT', 'Modules\\OrderManagementBundle\\Entity\\Product') %}
            <a href="{{ path('modules_ordermanagement_product_edit', {'product': product.id}) }}"
               class="uk-button uk-button-small"
               data-uk-tooltip title="Produkt bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(product.title, null, buttons, breadcrumb, 0) }}

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <div class="uk-grid uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-4-6">
                        <div style="font-size: small !important;">
                            {{ product.description|raw }}
                        </div>
                    </div>
                    <div class="uk-width-2-6">
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                            <div class="uk-width-1-2">Nettopreis:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ product.price|number_format(2,',','.') }}&euro;
                            </div>
                            <div class="uk-width-1-2">MwSt.:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ product.tax }} &percnt;</div>
                            <div class="uk-width-1-2">Bruttopreis:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ product.brutto|number_format(2,',','.') }}€
                            </div>
                            <div class="uk-width-1-2">Lieferzeit:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ product.deliveryTime }} Tage</div>
                            <div class="uk-width-1-2">Lieferkosten:</div>
                            <div class="uk-width-1-2 uk-text-right">{{ product.shippingCosts|number_format(2,',','.') }}
                                €
                            </div>
                            <div class="uk-width-1-2">Kategorien:</div>
                            <div class="uk-width-1-2 uk-text-right uk-overflow-container">{{ product.categories|join(', ') }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}