{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Produkte
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_ordermanagement_product_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Produkt', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-6-10">
                {{ form_row(form.title) }}
            </div>
            <div class="uk-width-medium-2-10">
                {{ form_row(form.categories) }}
            </div>
            <div class="uk-width-medium-2-10">
                {{ form_row(form.tax) }}
                <span style="position: relative;right: -195px;top: -30px;">%</span>
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.description) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.price) }}
                <span style="position: relative;right: -257px;top: -30px;">€</span>
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.priceType) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.deliveryTime) }}
                <span style="position: relative;right: -233px;top: -30px;">Tage</span>
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.shippingCosts) }}
                <span style="position: relative;right: -257px;top: -30px;">€</span>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}