{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% include 'ModulesOrderManagementBundle:Order:export-modal.html.twig' %}
    {% include 'ModulesOrderManagementBundle:Order:export-invoice-modal.html.twig' %}

    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Auftrag
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_ordermanagement_order_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            {% if is_granted('EDIT', 'Modules\\OrderManagementBundle\\Entity\\JobTicket') and order.status<2 and (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('modules_ordermanagement_jobticket_new',{order:order.id}) }}"
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                   title="Jobticket anlegen">
                    <i class="uk-icon-check-circle-o"></i>
                </a>
            {% endif %}
            {% if is_granted('EDIT', 'CREATE\\OrderManagementBundle\\Entity\\Invoice') and (app.user.contact==null or is_granted('ROLE_ADMIN')) and mod_om_helper.checkOrderJobTicketStatus(order) and (mod_om_helper.getInvoiceByOrder(order) is empty or order.monthFee) %}
                <a href="#modal-export-invoice-{{ order.id }}" data-uk-modal
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Rechnung erstellen">
                    <i class="uk-icon-bank"></i>
                </a>
            {% endif %}
            {% if is_granted('EDIT', order) and (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                <a href="#modal-export-{{ order.id }}" data-uk-modal
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                    <i class="uk-icon-file-pdf-o"></i>
                </a>
                <a href="{{ path('modules_ordermanagement_order_edit', {'order': order.id}) }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Bearbeiten">
                    <i class="uk-icon-pencil"></i>
                </a>
            {% endif %}

            {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Orders') and  (app.user.contact!=null) %}

                <a href="{{ path('modules_ordermanagement_order_export',{direct:order.id}) }}"
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                    <i class="uk-icon-file-pdf-o"></i>
                </a>
            {% endif %}
        </div>

        {% if (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
            <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
                 id="order-status-toggle">
                <button class="uk-button uk-button-small uk-button-primary">
                    {{ mod_om_helper.getOrdersStatus(order) }}
                    <i class="uk-icon-angle-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        {% if order.status<2 %}
                            <li>
                                <a href="{{ path('modules_ordermanagement_order_changestatus',{status:0,order:order.id}) }}"
                                   id="open-toggle" class="uk-dropdown-close">
                                    Status vorbereitet
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('modules_ordermanagement_order_changestatus',{status:5,order:order.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status storniert
                            </a>
                        </li>
                        {% if order.status<2 %}
                            <li>
                                <a href="{{ path('modules_ordermanagement_order_changestatus',{status:1,order:order.id}) }}"
                                   id="open-toggle" class="uk-dropdown-close">
                                    Status aktiv
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('modules_ordermanagement_order_changestatus',{status:2,order:order.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status abgeschlossen
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(order.title, null, buttons, breadcrumb, false) }}

    {% set totalPrice=order.calculation.finalPrice %}

    {% set totalTax=0 %}

    {% set priceSum=0 %}

    {% for item in calaculationItems %}
        {% if item.service %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.service.tax)/100) %}
        {% endif %}
        {% if item.product %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.product.tax)/100) %}

        {% endif %}
        {% if item.freeText %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.freeTax)/100) %}

        {% endif %}
        {% if item.specialprice %}
            {% set priceSum=priceSum+item.specialprice %}
        {% else %}
            {% set priceSum=priceSum+price %}
        {% endif %}
    {% endfor %}

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-grid-divider uk-text-large" data-uk-grid-margin>
            <div class="uk-width-medium-6-10">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    {% if order.title %}
                        <div class="uk-width-1-3">Titel:</div>
                        <div class="uk-width-2-3">
                            {{ order.title }}
                        </div>
                    {% endif %}
                    <div class="uk-width-1-3">Status:</div>
                    <div class="uk-width-2-3">
                        {{ mod_om_helper.getOrdersStatus(order) }}
                    </div>
                    <div class="uk-width-1-3">Nummer:</div>
                    <div class="uk-width-2-3">
                        {{ order.number }}
                    </div>
                    {% if order.project %}
                        <div class="uk-width-1-3">Projekt:</div>
                        <div class="uk-width-2-3">
                            <a href="{{ path('modules_project_project_show',{id:order.project.id}) }}">{{ order.project }}</a>
                        </div>
                    {% endif %}
                    {% if order.calculation.termsOfPayment %}
                        <div class="uk-width-1-3">Zahlungsbedingungen:</div>
                        <div class="uk-width-2-3">
                            {{ order.calculation.termsOfPayment.name }}
                        </div>
                    {% endif %}
                    {% if order.offer %}
                        <div class="uk-width-1-3">Angebot:</div>
                        <div class="uk-width-2-3">
                            <a href="{{ path('modules_ordermanagement_offer_details',{offer:order.offer.id}) }}">{{ order.offer.title }}</a>
                        </div>
                    {% endif %}

                    <div class="uk-width-1-3">Monatspauschale:</div>
                    <div class="uk-width-2-3">
                        {% if order.monthFee %}
                            Ja
                        {% else %}
                            nein
                        {% endif %}
                    </div>

                    {% if order.description %}
                        <div class="uk-width-1-3">Beschreibung:</div>
                        <div class="uk-width-2-3 uk-text-small">
                            {{ order.description|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-medium-4-10">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-2-3 uk-text-bold">Zwischensumme:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if order.calculation.specialPrice %}
                            {{ (order.calculation.specialPrice-((totalPrice*19)/100))|number_format(2, ',', '.') }} €
                        {% else %}
                            {{ (priceSum)|number_format(2, ',', '.') }} €
                        {% endif %}

                    </div>
                    {% set discountContact=0 %}
                    {% if order.contact.discount and  order.calculation.contactDiscount!='' %}
                        <div class="uk-width-2-3 uk-text-bold">- Kundenrabatt {{ order.contact.discount }} %:</div>
                        <div class="uk-width-1-3 uk-text-right">
                            - {{ (((priceSum*order.contact.discount)/100))|number_format(2, ',', '.' ) }} €
                            {% set discountContact=((priceSum*order.contact.discount)/100) %}
                        </div>
                    {% endif %}
                    <div class="uk-width-2-3 uk-text-bold">- Rabatt:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% set discount=0 %}
                        {% if order.calculation.discount %}
                            {% if order.calculation.discountType %}
                                - {{ (((totalPrice*order.calculation.discount)/100))|number_format(2, ',', '.') }} €
                                {% set discount=((totalPrice*order.calculation.discount)/100) %}
                            {% else %}
                                - {{ order.calculation.discount|number_format(2, ',', '.') }} €
                                {% set discount=order.calculation.discount %}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">Nettosumme:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {{ (priceSum-discountContact-discount)|number_format(2, ',', '.') }} €
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">+ MwSt.:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if order.calculation.netto %}
                            0 € <br/>
                            <small>(Netto Rechnung)</small>
                        {% else %}
                            {{ (((priceSum-discountContact-discount)*19)/100)|number_format(2, ',', '.') }} €
                        {% endif %}
                    </div>

                    <div class="uk-width-1-1">
                        <hr/>
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">Bruttobetrag:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if order.calculation.specialPrice %}
                            {{ order.calculation.specialPrice|number_format(2, ',', '.') }} €
                            <small>(Sonderpreis)</small>
                        {% else %}
                            {{ totalPrice|number_format(2, ',', '.') }} €
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

    </div>
    <h2 class="content-headline">
        <i class="uk-icon-user"></i> Kunde
    </h2>
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
            {% if order.contact %}
                <div class="uk-width-1-3">Kunde:</div>
                <div class="uk-width-2-3">
                    {{ order.contact }} {% if order.contact.discount and  order.calculation.contactDiscount!='' %}
                        <small>(Kundenrabatt: {{ order.contact.discount }} %)</small>{% endif %}
                </div>
            {% endif %}
            {% if order.contactAddress %}
                <div class="uk-width-1-3">Adresse:</div>
                <div class="uk-width-2-3">
                    <a href="http://maps.google.com/?q={{ order.contactAddress }}"
                       target="_blank">
                        {{ order.contactAddress }}
                    </a>

                </div>
            {% endif %}
            {% if order.contactPerson %}
                <div class="uk-width-1-3">Ansprechpartner:</div>
                <div class="uk-width-2-3">
                    <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            {% if order.contactPerson.salutation %}
                                {{ order.contactPerson.salutation }}
                            {% endif %}
                            {% if order.contactPerson.firstname %}
                                {{ order.contactPerson.firstname }}
                            {% endif %}
                            {% if order.contactPerson.lastname %}
                                {{ order.contactPerson.lastname }}
                            {% endif %}
                            {% if order.contactPerson.position %}
                                ({{ order.contactPerson.position }})
                            {% endif %}
                        </div>
                        {% if order.contactPerson.phone %}
                            <div class="uk-width-1-1">
                                {{ order.contactPerson.phone }}
                            </div>
                        {% endif %}
                        {% if order.contactPerson.mobile %}
                            <div class="uk-width-1-1">
                                {{ order.contactPerson.mobile }}
                            </div>
                        {% endif %}
                        {% if order.contactPerson.email %}
                            <div class="uk-width-1-1">
                                <a href="mailto:{{ order.contactPerson.email }}">{{ order.contactPerson.email }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <h2 class="content-headline">
        <i class="uk-icon-shopping-basket"></i> Auftragspositionen
    </h2>
    {{ knp_pagination_render(pagination) }}
    <div class="bordered-container uk-margin-top uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Position
                </th>
                <th class="uk-text-nowrap">
                    Artikel
                </th>
                {% if columns['amount'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['amount'].label }}
                    </th>
                {% endif %}
                {% if columns['price'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['price'].label }}
                    </th>
                {% endif %}
                {% if columns['tax'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['tax'].label }}
                    </th>
                {% endif %}
                {% if columns['total'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['total'].label }}
                    </th>
                {% endif %}

                {% if columns['specialPrice'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['specialPrice'].label }}
                    </th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% if columns['position'].active %}
                        <td class="uk-text-nowrap">
                            {% if item.service %}
                                {{ item.service.title }}
                            {% endif %}
                            {% if item.product %}
                                {{ item.product.title }}
                            {% endif %}
                            {% if item.freeText %}
                                {{ item.freeText }}
                            {% endif %}
                            {% if item.extraText %}
                                ( {{ item.extraText }} )
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['amount'].active %}
                        <td class="uk-text-nowrap">
                            {{ item.amount }}
                            {% if item.service %}
                                {{ mod_om_helper.getServicePriceType(item.service.id) }}
                            {% endif %}
                            {% if item.product %}
                                {{ mod_om_helper.getProductPriceType(item.product.id) }}
                            {% endif %}
                            {% if item.freePriceType %}
                                {{ item.freePriceType }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['price'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {{ item.singlePrice|replace(',','.')|number_format(2, ',', '.') }} €
                        </td>
                    {% endif %}
                    {% if columns['tax'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {% if item.service %}
                                {{ item.service.tax }} %
                            {% endif %}
                            {% if item.product %}
                                {{ item.product.tax }} %
                            {% endif %}
                            {% if item.freeText %}
                                {{ item.freeTax }} %
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['total'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {{ (item.singlePrice *  item.amount)|replace(',','.')|number_format(2, ',', '.') }} €
                        </td>
                    {% endif %}
                    {% if columns['specialPrice'].active %}
                        <td class="uk-text-nowrap  uk-text-right">
                            {% if item.specialPrice %}
                                {{ item.specialPrice|number_format(2, ',', '.') }} €
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Keine Einträge vorhanden.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}

    <h2 class="content-headline">
        <i class="uk-icon-check-circle-o"></i> Jobtickets
    </h2>
    {{ knp_pagination_render(paginationJobTicket) }}
    <div class="bordered-container uk-margin-top uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                {% if columnsJobTicket['title'].active %}
                    <th class="uk-text-nowrap">
                        {{ columnsJobTicket['title'].label }}
                    </th>
                {% endif %}
                {% if columnsJobTicket['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ columnsJobTicket['createdAt'].label }}
                    </th>
                {% endif %}
                {% if columnsJobTicket['updatedAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ columnsJobTicket['updatedAt'].label }}
                    </th>
                {% endif %}
                {% if columnsJobTicket['members'].active %}
                    <th class="uk-text-nowrap">
                        {{ columnsJobTicket['members'].label }}
                    </th>
                {% endif %}
                {% if columnsJobTicket['status'].active %}
                    <th class="uk-text-nowrap">
                        {{ columnsJobTicket['status'].label }}
                    </th>
                {% endif %}
                <th>
                    gebuchte Stunden
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in paginationJobTicket %}
                <tr>
                    {% if columnsJobTicket['title'].active %}
                        <td class="uk-text-nowrap">
                            <a href="{{ path('modules_ordermanagement_jobticket_details',{jobTicket:item.id}) }}">{{ item.title }}</a>
                        </td>
                    {% endif %}
                    {% if columnsJobTicket['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ item.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    {% if columnsJobTicket['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ item.updatedAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    {% if columnsJobTicket['members'].active %}
                        <td class="uk-text-nowrap">
                            {% for member in item.members %}
                                <a href="{{ path('modules_team_member_details',{member:member.id}) }}">
                                    <p>{{ member.firstname }}  {{ member.lastname }}</p></a>
                            {% endfor %}
                        </td>
                    {% endif %}
                    {% if columnsJobTicket['status'].active %}
                        <td class="uk-text-nowrap">
                            {{ mod_om_helper.getJobTicketStatus(item) }}
                        </td>
                    {% endif %}
                    <td>
                        {{ mod_timetrack_helper.getHoursForJobTicket(item) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Keine Einträge vorhanden.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(paginationJobTicket) }}

    <h2 class="content-headline">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% if app_helper.getDocumentsForEntity(order,order.id) %}
                {% for document in app_helper.getDocumentsForEntity(order,order.id) %}
                    <tr>
                        <td>
                            <a target="_blank"
                               href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="uk-text-center">
                        Keine Dokumente hinzugefügt
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}