{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Auftrag
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_ordermanagement_order_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader(order.title, null, buttons, breadcrumb) }}

    {{ form_start(edit_form, {'attr': {'id': 'validate_form'}}) }}

    <div class="uk-width-medium-1-1 uk-margin-bottom">
        <a href="{{ path('modules_ordermanagement_order_index') }}" class="uk-button">
            <i class="uk-icon-times"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-check"></i>
            Speichern
        </button>
    </div>
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-8-10">
                {{ form_row(edit_form.title) }}
            </div>
            <div class="uk-width-2-10">
                {{ form_row(edit_form.division) }}
            </div>

            <div class="uk-width-1-1">
                {{ form_row(edit_form.description) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.project) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.termsOfPayment) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.netto) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.monthFee) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.contact) }}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.contactAddress) }}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.contactPerson) }}
            </div>

        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {% for item in calaculationItems %}
                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label" for="order_edit_artikel{{ loop.index }}">Position</label>
                            <div class="uk-form-controls">
                                {% set tax=0 %}
                                {% if item.service %}
                                    <input class="uk-form-large uk-width-1-1" id="order_edit_artikel{{ loop.index }}"
                                           type="text" readonly
                                           value="{{ item.service.title }} / {{ item.service.price }} € - {{ item.service.tax }} %"/>
                                    {% set tax= item.service.tax %}
                                {% endif %}
                                {% if item.product %}
                                    <input class="uk-form-large uk-width-1-1" id="order_edit_artikel{{ loop.index }}"
                                           type="text" readonly
                                           value="{{ item.product.title }} / {{ item.product.price }} € - {{ item.product.tax }} %"/>
                                    {% set tax= item.product.tax %}
                                {% endif %}
                                {% if item.freeText %}
                                    <input class="uk-form-large uk-width-1-1" id="order_edit_artikel{{ loop.index }}"
                                           type="text" readonly
                                           value="{{ item.freeText }} / {{ item.singlePrice }} € - {{ item.freetax }} %"/>
                                    {% set tax= item.freeTax %}
                                {% endif %}
                                <input type="hidden" name="order_position_item[]" value="{{ item.id }}">
                            </div>
                        </div>
                        <div class="uk-width-1-3">
                            <label class="uk-form-label" for="order_edit_artikel{{ loop.index }}">Anzahl</label>
                            <div class="uk-form-controls">
                                <input class="uk-form-large uk-width-1-1  om-edit-amount"
                                       id="order_edit_artikel{{ loop.index }}" name="order_position_amount[]"
                                       type="number"  step="0.01"
                                       value="{{ item.amount }}"/>
                            </div>
                        </div>
                        <div class="uk-width-1-3">
                            <label class="uk-form-label" for="order_edit_price{{ loop.index }}">Nettopreis</label>
                            <div class="uk-form-controls">
                                {% set single=0 %}
                                {% set total=0 %}
                                {% set single=item.singlePrice %}
                                {% set total=(single *  item.amount)|number_format(2, ',', '.') %}
                                {% set bruttoTax=(tax/100)+1 %}
                                <input class="uk-form-large uk-width-1-1  om-edit-price" data-single="{{ single }}"
                                       id="order_edit_price{{ loop.index }}" type="text" readonly
                                       value="{{ total }}" data-price-tax="{{ tax }}"
                                       data-brutto="{{ (total*bruttoTax)|number_format(2, ',', '.') }}"/>

                            </div>
                        </div>
                        <div class="uk-width-1-3">
                            <label class="uk-form-label"
                                   for="order_edit_secialprice{{ loop.index }}">Sonderpreis</label>
                            <div class="uk-form-controls">
                                <input class="uk-form-large uk-width-1-1 om-edit-specialprice"
                                       name="order_position_specialprice[]"
                                       id="order_edit_secialprice{{ loop.index }}" type="text"
                                       value="{% if item.specialprice %}{{ item.specialprice|number_format(2, ',', '.') }}{% endif %}"/>
                                <span class="uk-button uk-button-small uk-button-danger uk-float-right delete_position"
                                      data-delete="{{ item.id }}"><i class="uk-icon-trash"></i></span>
                            </div>
                        </div>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label"
                                   for="order_edit_extraText{{ loop.index }}">Zusatzinformation</label>
                            <div class="uk-form-controls">
                                <input class="uk-form-large uk-width-1-1 om-edit-extraText"
                                       name="order_position_extraText[]"
                                       id="order_edit_extraText{{ loop.index }}" type="text"
                                       value="{% if item.extraText %}{{ item.extraText }}{% endif %}"/>
                                <span class="uk-button uk-button-small uk-button-danger uk-float-right delete_position"
                                      data-delete="{{ item.id }}"><i class="uk-icon-trash"></i></span>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.services) }}
            </div>
        </div>
    </div>

    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-3">
                {{ form_row(edit_form.discount) }}
            </div>
            <div class="uk-width-1-3">
                <label class="uk-form-label"
                       for="totalPrice">Gesamtsumme</label>
                <div class="uk-form-controls">
                    <input class="uk-form-large uk-width-1-1 order-position-total" type="text" name="order_total_price"
                           id="totalPrice" value="{{ order.calculation.finalPrice|number_format(2, ',', '.') }}"
                           readonly="readonly"/>
                </div>
            </div>
        </div>

    </div>

    <h2 class="content-headline">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% for document in app_helper.getDocumentsForEntity(order,order.id) %}
                <tr>
                    <td>
                        <a target="_blank"
                           href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                    </td>
                    <td>
                        <span data-delete="{{ path('core_app_upload_deletedocument',{'document': document.id}) }}"
                              class="uk-button uk-button-small uk-button-danger deleteDocument"><i
                                    class="uk-icon-trash"></i></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="upload-drop" class="uk-placeholder">
        <div class="uk-text-center uk-text-large">
            <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
            Dateien hier hinziehen oder
            <a class="uk-form-file">Dateien aussuchen<input id="upload-select" type="file" multiple></a>.
        </div>
    </div>

    <div id="progressbar" class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width: 0%;">...</div>
    </div>

    <hr>
    <div class="uk-width-medium-1-1 uk-margin-top">
        <a href="{{ path('modules_ordermanagement_order_index') }}" class="uk-button">
            <i class="uk-icon-times"></i>
            Abbrechen
        </a>
        <button class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-check"></i>
            Speichern
        </button>
    </div>

    {{ form_end(edit_form) }}


    <script>
        var $contact = $('#order_edit_contact');
        // When sport gets selected ...
        $contact.change(function () {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            var modal = UIkit.modal.blockUI("Bitte warten...");
            data[$contact.attr('name')] = $contact.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url: '{{ path('modules_ordermanagement_order_editajax',{'order': order.id}) }}',
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    // Replace current position field ...

                    $('.edit_contact_person').next('.select2-container').remove();
                    $('.edit_contact_adress').next('.select2-container').remove();


                    $('.edit_contact_person').replaceWith(

                            $(html).find('.edit_contact_person')
                    );

                    $('.edit_contact_adress').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('.edit_contact_adress')
                    );

                    $('.edit_contact_person').select2();
                    $('.edit_contact_adress').select2();

                    modal.hide()
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {

            var upBtn = '<a href="#" class="uk-button uk-button-small" title="nach oben verschieben"><i class="uk-icon-arrow-up"></i></a>';
            var downBtn = '<a href="#" class="uk-button uk-button-small" title="nach unten verschieben"><i class="uk-icon-arrow-down"></i></a>';
            var addBtn = '<a href="#" class="uk-button uk-button-small uk-button-success uk-float-right" title="Hinzufügen"><i class="uk-icon-plus"></i></a>';
            var removeBtn = '<a href="#" class="uk-button uk-button-small uk-button-danger" title="Löschen"><i class="uk-icon-trash"></i></a>';

            $('#order_edit_services,#order_edit_products').collection({
                add: addBtn, duplicate: null, remove: removeBtn, up: upBtn, down: downBtn,
                allow_duplicate: true,
                order_field_selector: '.order',
                after_add: afterAdd,
                after_duplicate: afterDuplicate
            });

            function afterAdd(collection, element) {
                element.find('.select2').select2();
            }

            function afterDuplicate(collection, element) {
                element.find('.select2-hidden-accessible').removeClass('select2-hidden-accessible');
                element.find('.select2-container').remove();
                element.find('.select2').select2();
            }

            $("#order_edit_services,#order_edit_products").on('display.uk.check', function () {
                $(this).find('.select2').select2();
            });

            $(document).on('change', '#order_totalPriceSpecial', function () {
                var price = $(this).val();
                if (price) {
                    $('.order-total-discount').prop('disabled', true);
                }
                else {
                    $('.order-total-discount').prop('disabled', false);
                }
            });

            $(document).on('click', '.delete_position', function () {
                $(this).parent().parent().parent().parent().append('<input type="hidden" value="' + $(this).attr('data-delete') + '" name="delete[]" />');
                $(this).parent().parent().parent().remove();


                setprice();
            });

            $(document).on('click', '#order_noContactDiscount_toggler', function () {

                if ($('#order_noContactDiscount').is(':checked')) {
                    $('.contactDiscount').hide();
                    $('.om-list-discount').hide();
                }
                else {
                    $('.contactDiscount').show();
                    $('.om-list-discount').show();
                }
                setprice();
            });

            $(document).on('change', '.order-total-discount', function () {
                var totalprice = parseFloat($('.order-total-price').attr('data-total-price'));
                var discount = parseFloat($(this).val());
                var newprice = 0;

                if (discount) {
                    newprice = totalprice - ((totalprice * discount) / 100);
                }
                else {
                    newprice = totalprice;
                }

                $('.orderFinalPrice').val(newprice.format(2, 3, '.', '.'));
                $('.order-total-price').html(newprice.format(2, 3, '.', ',') + ' €');

                if (discount > 0) {
                    $('.om-total-discount').html('- ' + ((totalprice * discount) / 100).format(2, 3, '.', ',') + ' €');
                }
                else {
                    $('.om-total-discount').html('-');
                }

            });

            $(document).on('change', '.om-edit-specialprice', function () {
                setprice();
            });

            $(document).on('click', '#order_edit_netto_toggler', function () {
                setprice();
            });

            $(document).on('change', '.om-edit-amount', function () {

                var amount = $(this).val();
                var price = $(this).parent().parent().parent().find('.om-edit-price').attr('data-single');

                $(this).parent().parent().parent().find('.om-edit-price').val((amount * price).format(2, 3, '.', ','));

                var tax = $(this).parent().parent().parent().find('.om-edit-price').attr('data-price-tax');
                tax = tax / 100;
                var multi = 1 + tax;
                var brutto = multi * (amount * price);
                $(this).parent().parent().parent().find('.om-edit-price').attr('data-brutto', brutto.format(2, 3, '.', ','));
                console.log('fdfd');
                setprice();
            });

        });
    </script>
    {{ macros.numberFormat() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>

    <script>
        var discountContact = 0;
        var discountContactData = 0;
        var contact = false;
        {% if order.contact.priceList.id is defined %}
        contact = {{ order.contact.priceList.id }};
        {% endif %}

        {% if order.contact.discount is defined %}
        discountContactData = "{{ order.contact.discount }}";
        {% endif %}

        function setprice() {
            var total = 0;
            var totalBrutto = 0;

            $('body').find('.om_position_price').each(function (index, element) {
                var special = $(this).parent().parent().parent().parent().parent().find('.om_position_special_price').val();
                if (special) {
                    var price = special.replace(".", "");
                    price = price.replace(/,/, '.');
                    total = total + parseFloat(price);
                }
                else {
                    if ($(this).val()) {
                        var price = $(this).val().replace(".", "");
                        price = price.replace(/,/, '.');
                        total = total + parseFloat(price);

                        var brutto = $(this).attr('data-brutto').replace(".", "");
                        brutto = brutto.replace(/,/, '.');
                        totalBrutto = totalBrutto + parseFloat(brutto);
                    }
                }
            });

            $('body').find('.om-edit-price').each(function (index, element) {
                var special = $(this).parent().parent().parent().find('.om-edit-specialprice').val();

                if (special) {
                    var price = special.replace(".", "");
                    price = price.replace(/,/, '.');
                    total = total + parseFloat(price);
                }
                else {

                    if ($(this).val()) {
                        var price = $(this).val().replace(".", "");
                        price = price.replace(/,/, '.');
                        total = total + parseFloat(price);

                        var brutto = $(this).attr('data-brutto').replace(".", "");
                        brutto = brutto.replace(/,/, '.');
                        totalBrutto = totalBrutto + parseFloat(brutto);
                    }
                }
            });


            if ($('#order_noContactDiscount').is(':checked')) {
                discountContact = 0;
            }
            else {
                discountContact = discountContactData;
            }

            var afterDiscount = total - ((total * discountContact) / 100);

            if ($('#order_edit_netto').is(':checked')) {

                totalBrutto = afterDiscount;
            }
            else {
                totalBrutto = afterDiscount + ((afterDiscount * 19) / 100);
            }
            $('.order-position-total').val(totalBrutto.format(2, 3, '.', ','));

        }
    </script>

    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script>
        $(function () {
            // upload documents
            var progressbar = $("#progressbar"),
                    bar = progressbar.find('.uk-progress-bar'),
                    settings = {
                        type: 'json',
                        action: '{{ path('core_app_upload_documentupload',{id: order.id,table: app_helper.getTableName(order)}) }}', // upload url
//                    allow : '*.(jpg|jpeg|gif|png)', // allow only images
                        loadstart: function () {
                            bar.css("width", "0%").text("0%");
                            progressbar.removeClass("uk-hidden");
                        },
                        progress: function (percent) {
                            percent = Math.ceil(percent);
                            bar.css("width", percent + "%").text(percent + "%");
                        },
                        complete: function (response) {
                            $(response).each(function (i, file) {
                                var row = '<tr><td>' +
                                        '<a href="' + file.download + '" target="_blank">' + file.name + '</a>' +
                                        '</td>' +
                                        '<td><span data-delete="' + file.pathDelete + '" class="uk-button uk-button-small uk-button-danger deleteDocument"><i class="uk-icon-trash"></i></span></td>' +
                                        '<tr/>'
                                $('#documents').prepend(row);
                            });
                        },
                        allcomplete: function (response) {
                            bar.css("width", "100%").text("100%");
                            setTimeout(function () {
                                progressbar.addClass("uk-hidden");
                            }, 250);
                        }
                    };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                    drop = UIkit.uploadDrop($("#upload-drop"), settings);

        });

        $(document).on('click', '.deleteDocument', function () {
            var this_ = $(this);
            $.ajax({
                url: $(this).attr('data-delete'),
                type: 'GET',
                success: function () {
                    UIkit.notify('Die Datei wurde gelöscht.');
                    this_.parent().parent().remove();
                }
            });
        });
    </script>
{% endblock %}


    {% form_theme edit_form _self %}

  {% block _order_edit_services_entry_widget %}
      {% include '@ModulesOrderManagement/Form/add-service-form_edit.html.twig' %}
  {% endblock %}
