{% if is_granted('DELETE', order) %}
    <div id="modal-export-{{ order.id }}" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-text-left">
                <h3>
                    <i class="uk-icon-user"></i> {{ order.title }}
                </h3>
            </div>

            <form action="{{ path('modules_ordermanagement_order_export') }}" target="_blank" method="post"
                  class="uk-form">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-2">
                        <label class="uk-form-label uk-text-left"
                               for="fileformat-{{ order.id }}">Dateiformat</label>

                        <div class="uk-form-controls">
                            <select name="fileformat" class="uk-width-1-1"
                                    id="fileformat-{{ order.id }}">
                                <option value="pdf">PDF</option>
                                <option value="odt">Word</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <label class="uk-form-label uk-text-left"
                               for="printDate-{{ order.id }}">Datum</label>
                        <div class="uk-form-controls">
                            <input type="text" class="uk-width-1-1"
                                   id="printDate-{{ order.id }}"
                                   name="printDate"
                                   value="{% if order.printDate %}{{ order.printDate|date('d.m.Y') }}{% else %}{{ 'now'|date('d.m.Y') }}{% endif %}"
                                   data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"/>
                        </div>
                    </div>

                    {% set place='' %}
                    {% if order.project %}
                        {% if order.project.address %}
                            {% set place=order.project.address %}
                        {% else %}
                            {% set place=order.project.name ~ ' in Osnabrück' %}
                        {% endif %}
                    {% elseif order.contactAddress %}
                        {% set place=order.contactAddress.street ~' in ' ~ order.contactAddress.city %}
                    {% endif %}

                    {% if order.placeholder %}
                        {% set placeholder=order.placeholder %}
                    {% else %}
                        {% set placeholder="wir freuen uns Ihnen den Auftrag für Arbeiten im Objekt " ~ place ~ ", unterbreiten zu dürfen." %}
                    {% endif %}
                    <div class="uk-width-1-1 uk-text-left">
                        <label class="uk-form-label uk-text-left uk-text-bold"
                               for="place-{{ order.id }}">Platzhalter</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-width-1-1" rows="5"
                                      id="place-{{ order.id }}"
                                      name="place">{{ placeholder }}
                            </textarea>
                        </div>
                    </div>


                    <input type="hidden" name="order" value="{{ order.id }}"/>

                    <div class="uk-width-1-1">
                        <button type="submit" class="uk-button uk-button-success uk-button-large uk-width-1-1">Auftrag
                            erstellen
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endif %}