{% if is_granted('EDIT', order) %}
    <div class="uk-modal uk-text-left" id="modal-export-invoice-{{ order.id }}">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-bank"></i>
                    {{ order.title }}
                </h3>
            </div>
            {% if order.monthFee %}
                <b class="uk-text-large">Möchten Sie eine neue Monatsrechnung anlegen?</b><br>
            {% else %}
                <b class="uk-text-large">Möchten Sie diesen Auftrag in eine Rechnung überführen?</b><br>
            {% endif %}
            <div class="uk-text-muted uk-text-large uk-margin-top">Der Auftrag geht dabei nicht verloren.</div>
            <br/>
            <form action="{{ path('modules_ordermanagement_invoice_import') }}" method="post"
                  class="uk-form">
                {% if order.monthFee %}
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label uk-text-left uk-text-bold"
                                   for="month-{{ order.id }}">Monat wählen</label>
                            <div class="uk-form-controls">
                                <select class="uk-width-1-1" id="month-{{ order.id }}" name="month">
                                    <option value="1">Januar</option>
                                    <option value="2">Februar</option>
                                    <option value="3">März</option>
                                    <option value="4">April</option>
                                    <option value="5">Mai</option>
                                    <option value="6">Juni</option>
                                    <option value="7">Juli</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Dezember</option>
                                </select>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <input type="hidden" name="order" value="{{ order.id }}"/>

                <div class="uk-modal-footer">
                    <a href="#" class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i>
                        Abbrechen
                    </a>
                    <button class="uk-button uk-button-danger uk-float-right">
                        <i class="uk-icon-bank"></i>
                        Überführen!
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}