{% if is_granted('ROLE_ADMIN') %}
    <div id="delete-user-{{ user.id }}" class="uk-modal uk-text-left">
        {{ form_start(deleteForm) }}
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-trash"></i>
                    Benutzer löschen
                </h3>
            </div>

            Möchten Sie den Benutzer <b>{{ user.username }}</b> wirklich löschen?

            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <button class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen
                </button>
            </div>
        </div>
        {{ form_end(deleteForm) }}
    </div>
{% endif %}