{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Benutzer
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('core_app_user_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('core_app_user_show', {'id': user.id}) }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Details">
                <i class="uk-icon-eye"></i>
            </a>
            <a href="mailto:mustermann@km-haustechnik.de" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip
               title="Nachricht schreiben">
                <i class="uk-icon-envelope"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader(user.username, null, buttons, breadcrumb) }}

    {{ form_start(edit_form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <a href="{{ path('core_app_user_index') }}" class="uk-button">
                <i class="uk-icon-times"></i> Abbrechen
            </a>
            <button type="submit" class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i> Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box uk-margin-bottom">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.username) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.email) }}
            </div>
            <div class="uk-width-1-2">
                <div class="uk-form-row">
                    <label class="uk-form-label required">
                        Passwort
                    </label>
                    {{ form_widget(edit_form.plain_password.first) }}
                    {{ form_errors(edit_form.plain_password.first) }}
                    <small class="uk-text-muted">Leer lassen um Passwort beizubehalten!</small>
                </div>
            </div>
            <div class="uk-width-1-2">
                <div class="uk-form-row">
                    <label class="uk-form-label required">
                        Passwort wiederholen
                    </label>
                    {{ form_widget(edit_form.plain_password.second) }}
                    {{ form_errors(edit_form.plain_password.second) }}
                </div>
            </div>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.groups) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.contact) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.member) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.enabled) }}
            </div>
            <div class="uk-width-1-2 uk-text-right">
                {{ form_row(edit_form.admin) }}
            </div>
        </div>
    </div>

    {% if not user.hasRole('ROLE_ADMIN') and not user.hasRole('ROLE_SUPER_ADMIN') %}
        {% include '@CoreApp/User/permissions.html.twig' with {'user': user} %}
    {% endif %}

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <a href="{{ path('core_app_user_index') }}" class="uk-button">
                <i class="uk-icon-times"></i> Abbrechen
            </a>
            <button type="submit" class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i> Speichern
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
