{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set buttons %}
        <a href="{{ path('core_app_user_new') }}" class="uk-button uk-button-success uk-button-small"
           data-uk-tooltip title="Benutzer anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Benutzer', 'users', buttons, null, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Benutzername', 'username') }}
                </th>
                {% if columns['email'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['email'].label, 'email') }}
                    </th>
                {% endif %}
                {% if columns['groups'].active %}
                    <th class="uk-text-nowrap">
                        {#{{ knp_pagination_sortable(pagination, columns['groups'].label, 'groups') }}#}
                        {{ columns['groups'].label }}
                    </th>
                {% endif %}
                {% if columns['lastLogin'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['lastLogin'].label, 'lastLogin') }}
                    </th>
                {% endif %}
                {% if columns['active'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['active'].label, 'active') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['contact'].label }}
                    </th>
                {% endif %}
                {% if columns['member'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['member'].label }}
                    </th>
                {% endif %}
                {% if columns['role'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['role'].label }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.username }}</td>
                    {% if columns['email'].active %}
                        <td>{{ user.email }}</td>
                    {% endif %}
                    {% if columns['groups'].active %}
                        <td>{{ user.groups|join(', ') }}</td>
                    {% endif %}
                    {% if columns['lastLogin'].active %}
                        <td>{{ user.lastLogin ? user.lastLogin|date('d.m.Y H:i') : 'nie' }}</td>
                    {% endif %}
                    {% if columns['active'].active %}
                        <td>
                            <i class="uk-icon-{{ user.enabled ? 'check uk-text-success' : 'times uk-text-warning' }}"></i>
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td>
                            {% if user.contact %}
                                <a href="{{ path('modules_contact_default_details', {'contact': user.contact.id}) }}">{{ user.contact.name }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['member'].active %}
                        <td>
                            {% if user.member %}
                                <a href="{{ path('modules_team_member_details', {'member': user.member.id}) }}">{{ user.member }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['role'].active %}
                        <td>
                            {% if user.hasRole('ROLE_SUPER_ADMIN') %}
                                Super Admin
                            {% elseif user.hasRole('ROLE_ADMIN') %}
                                Admin
                            {% elseif user.hasRole('ROLE_USER') %}
                                Benutzer
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="uk-text-right">
                        {% if user.hasRole('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('core_app_user_show', {'id': user.id}) }}"
                               class="uk-button uk-button-primary uk-button-small"
                               data-uk-tooltip title="Details">
                                <i class="uk-icon-eye"></i>
                            </a>
                        {% else %}
                            <div class="uk-button-group">
                                <a href="{{ path('core_app_user_show', {'id': user.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small"
                                   data-uk-tooltip title="Details">
                                    <i class="uk-icon-eye"></i>
                                </a>
                                <a href="{{ path('core_app_user_edit', {'id': user.id }) }}"
                                   class="uk-button uk-button-primary uk-button-small"
                                   data-uk-tooltip title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                                {% if user != app.user %}
                                    <a href="#delete-user-{{ user.id }}" data-uk-modal
                                       class="uk-button uk-button-danger uk-button-small"
                                       data-uk-tooltip title="Löschen">
                                        <i class="uk-icon-trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}

                        {# delete modal #}
                        {% include 'CoreAppBundle:User:delete-modal.html.twig' with {'deleteForm': deleteForms[user.id]} %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
