{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Benutzer
    {% endset %}
    {% set buttons %}
        <a href="{{ path('core_app_user_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Benutzer', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <a href="{{ path('core_app_user_index') }}" class="uk-button">
                <i class="uk-icon-times"></i> Abbrechen
            </a>
            <button type="submit" class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i> Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box uk-margin-bottom">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-2">
                {{ form_row(form.username) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(form.email) }}
            </div>
            <div class="uk-width-1-2">
                <div class="uk-form-row">
                    <label class="uk-form-label required">
                        Passwort
                    </label>
                    {{ form_widget(form.plain_password.first) }}
                    {{ form_errors(form.plain_password.first) }}
                </div>
            </div>
            <div class="uk-width-1-2">
                <div class="uk-form-row">
                    <label class="uk-form-label required">
                        Passwort wiederholen
                    </label>
                    {{ form_widget(form.plain_password.second) }}
                    {{ form_errors(form.plain_password.second) }}
                </div>
            </div>
            <div class="uk-width-1-1">
                {{ form_row(form.groups) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(form.contact) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(form.member) }}
            </div>

            <div class="uk-width-1-2">
                {{ form_row(form.enabled) }}
            </div>
            <div class="uk-width-1-2 uk-text-right">
                {{ form_row(form.admin) }}
            </div>
        </div>
    </div>

    {% include '@CoreApp/User/permissions.html.twig' with {'user': null} %}

    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <a href="{{ path('core_app_user_index') }}" class="uk-button">
                <i class="uk-icon-times"></i> Abbrechen
            </a>
            <button type="submit" class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i> Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
