{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-user"></i> Profil
    {% endset %}
    {% set buttons %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="uk-button-group">
        {% endif %}
        {% if user != app.user %}
            <a href="mailto:{{ user.email }}" class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
               title="E-Mail schreiben">
                <i class="uk-icon-envelope"></i>
            </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('core_app_user_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('core_app_user_edit', {id: user.id}) }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#delete-user-{{ user.id }}" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen"
               data-uk-modal>
                <i class="uk-icon-trash"></i>
            </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            </div>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(user.username, null, buttons, breadcrumb) }}

    <div class="uk-grid uk-grid-small">
        <div class="uk-width-1-2">
            {% if user.groups|length %}
                Kategorie(n):
                {% for group in user.groups %}
                    {{ group.name }}
                    {% if loop.index < user.groups|length %}, {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="uk-width-1-2 uk-text-right">
            <small>zuletzt angemeldet: {{ user.lastLogin ? user.lastLogin|date('d.m.Y H:i') ~ ' Uhr' : 'nie' }}</small>
        </div>
    </div>

    <div class="uk-grid uk-grid-small uk-grid-match" data-uk-grid-margin>
        {% set jobs=mod_om_helper.getUserJobTickets(app.user) %}

        {% if jobs %}
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser uk-contrast" style="background: #00a8e6;">
                        <a href="#">
                            <h1 class="uk-text-center uk-margin uk-margin uk-margin-top"><i
                                        class="uk-icon-check-circle-o"></i></h1>
                        </a>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="uk-text-center">
                                <h1 class="uk-margin-remove"> {{ jobs.total }}</h1>
                                Jobtickets
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="uk-text-center">
                                abgeschlossen
                                <h2 class="uk-margin-remove uk-text-success">{{ jobs.percent }} %</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% set time=mod_timetrack_helper.getUserToday(app.user) %}

        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #00a8e6;">
                    <a href="#">
                        <h1 class="uk-text-center uk-margin uk-margin-top"><i class="uk-icon-clock-o"></i></h1>
                    </a>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            <h1 class="uk-margin-remove uk-text-success">+{{ time.hours }}</h1>
                            Stunden
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-text-center">
                            Ticketquote
                            <h1 class="uk-margin-remove uk-text-success">{{ time.percent }} %</h1>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-text-center">
                            <a href="{{ path('timetrack_user') }}">Detaillierte Tagesübersicht</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-teaser uk-contrast" style="background: #00a8e6;">
                    <h1 class="uk-text-center uk-margin uk-margin-top"><i class="uk-icon-google"></i></h1>
                </div>
                <div class="uk-text-center">
                    {% if user == app.user %}
                        {% if user.googleEmail and user.googleRefreshToken %}
                            Mit Google verbunden:<br>
                            <span class="uk-text-large">{{ user.googleEmail }}</span><br>
                            <a href="{{ path('core_app_google_disconnect') }}"
                               class="uk-button uk-button-small uk-button-danger uk-margin-small-top">
                                <i class="uk-icon-times"></i>
                                Verbindung trennen
                            </a>
                        {% else %}
                            <a href="{{ app_google.authUrl }}"
                               class="uk-button uk-button-success uk-button-large uk-width-1-1">
                                <i class="uk-icon-google"></i>
                                Mit Google verbinden!
                            </a>
                        {% endif %}
                    {% else %}
                        {% if user.googleEmail and user.googleRefreshToken %}
                            Mit Google verbunden:<br>
                            <span class="uk-text-large">{{ user.googleEmail }}</span>
                        {% else %}
                            Nicht mit Google verbunden.
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# delete modal #}
    {% include 'CoreAppBundle:User:delete-modal.html.twig' %}
{% endblock %}