* {
    outline: none;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #fff;
}

body > .uk-container {
    padding: 0 10px;
}

a {
    color: #059;
}

.bordered-container {
    border-radius: 8px;
    border: solid 1px #ddd;
    background: #fff;
}

.icons-selector [class^=uk-icon-] {
    font-family: FontAwesome !important;
}

#spinner {
    background: rgba(255, 255, 255, 0.5);
    z-index: 999;
}

#navbar {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #eee;
}

#navbar.box-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#navbar .uk-navbar-toggle {
    color: #fff;
    background: #303030;
    cursor: pointer;
}

#navbar .uk-nav-dropdown label {
    padding: 5px 15px;
    display: block;
    cursor: pointer;
}

#navbar .uk-nav-dropdown label:hover {
    background: #f9f9f9;
}

#navbar li a {
    cursor: pointer;
}

#navbar li a .delete-menuitem {
    font-size: 11px;
    font-weight: normal;
    border-radius: 50%;
    background: #ccc;
    border: none;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 0;
}

#navbar li a .delete-menuitem:hover {
    background-color: #d32c46;
    background-image: -webkit-linear-gradient(top, #ee465a, #c11a39);
    background-image: linear-gradient(to bottom, #ee465a, #c11a39);
}

#navbar #favorites li a {
    position: relative;
    padding-right: 35px;
}

#navbar #favorites li a .delete-menuitem {
    position: absolute;
    right: 10px;
    top: 7px;
}

#navbar .uk-search .uk-search-field {
    border-bottom: solid 1px #ddd;
}

#navbar #search-dropdown-toggle {
    cursor: pointer;
}

#navbar #search-dropdown .uk-search:before {
    height: 50px;
    font-size: 25px;
    line-height: 50px;
}

#navbar #search-dropdown .uk-search .uk-search-field {
    width: 100%;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
}

#navbar #logout-button {
    transition: all 0.3s ease;
}

#navbar #logout-button:hover {
    background: #303030;
    color: #fff;
    text-shadow: none;
}

#navbar .uk-dropdown-scrollable {
    max-height: 350px;
}

#bookmarks {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

#bookmarks ul {
    white-space: nowrap;
}

#bookmarks ul li {
    float: none;
    display: inline-block;
}

#bookmarks ul li .delete-menuitem {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    margin-left: 5px;
    background: #eee;
    transition: background 0.3s ease;
}

#bookmarks ul li .delete-menuitem:hover {
    background: #da314b;
}

.uk-table th a {
    color: #444;
}

.uk-table th a:hover {
    text-decoration: none;
}

.uk-table th a:hover .uk-icon-sort {
    color: #000;
}

.uk-table th a .uk-icon-sort {
    color: #ccc;
}

.uk-table .uk-icon-arrows:hover {
    color: #000 !important;
}

#sidebar .uk-offcanvas-bar h1 {
    margin: 0;
    line-height: 40px;
}

#sidebar .uk-offcanvas-bar h1 #offcanvas-home-link {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #555;
    color: #ccc;
    text-shadow: none;
}

#sidebar .uk-nav-offcanvas .current_ancestor > a,
#sidebar .uk-nav-offcanvas .uk-active > a {
    background: #0075b3;
    color: #fff;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub {
    background: #505050;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li {
    border-bottom: solid 1px #5a5a5a;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li.uk-active a {
    background: #444;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li a {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li:last-child {
    border-bottom: none;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li.uk-nav-divider {
    box-shadow: none;
    background: #484848;
    height: 2px;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li .uk-nav-sub li.uk-active a {
    background: #393939;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li .uk-nav-sub li a {
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li .uk-nav-sub li .uk-nav-sub li.uk-active a {
    background: #343434;
}

#sidebar .uk-nav-offcanvas .uk-nav-sub li .uk-nav-sub li .uk-nav-sub li a {
    padding-left: 45px;
    font-size: 12px;
}

#sidebar .delete-menuitem {
    display: none !important;
}

#sidebar .logout-main-menu-item a:hover {
    background: #da314b;
}

#content {
    padding-top: 25px;
    padding-bottom: 75px;
}

#content h1.content-headline {
    font-size: 25px;
    line-height: 30px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px;
}

#content h1.content-headline #header-buttons {
    line-height: 20px;
}

#content h1.content-headline .uk-dropdown {
    line-height: 20px;
}

#content h2.content-headline {
    font-size: 23px;
    line-height: 28px;
    border-bottom: solid 1px #ccc;
}

#content h2.content-headline .uk-dropdown {
    line-height: 20px;
}

#content .uk-search {
    display: block;
}

#content .uk-search:before {
    font-size: 200%;
}

#content .uk-search .uk-search-field {
    width: 100%;
    font-size: 200%;
    border-bottom: solid 1px #ccc;
    padding: 0 0 10px 40px;
    box-sizing: content-box;
}

#content .uk-tab + .uk-tab {
    font-size: 12px;
}

#content .form-collection-actions a:first-child {
    border-top-left-radius: 0;
}

#content .form-collection-actions a:last-child {
    border-bottom-right-radius: 0;
}

#content label.required:after {
    content: "*";
    color: #faa;
    margin-left: 4px;
    font-size: 125%;
}

#search-results .search-item h2 {
    font-size: 20px;
}

#search-results .search-item h2 a:not(.uk-button) {
    color: #444;
}

.search-categories .uk-active {
    background-color: #008abf;
    color: #fff;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#tabs {
    padding: 5px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    background: #666;
}

#tabs #tab-container .tab .uk-button.uk-active {
    background-color: #009dd8;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5);
    background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

#tabs #tab-container .tab .uk-button.uk-active:hover, #tabs #tab-container .tab .uk-button.uk-active:focus {
    background-color: #00aff2;
    color: #fff;
    background-image: none;
}

#tabs #tab-container .tab .uk-button.uk-active:disabled {
    background: rgba(0, 157, 216, 0.5) none;
    text-shadow: none;
}

#tabs #tab-container .tab .uk-button.close-tab {
    padding: 0 4px;
}

.select2-selection__choice {
    color: #444 !important;
    background: #f5f5f5 !important;
    text-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.06) !important;
    padding: 9px 21px 9px 8px !important;
    border-radius: 4px !important;
    font-size: 17px !important;
    position: relative !important;
}

.select2-selection__choice {
    padding: 5px 35px 5px 8px !important;
    font-size: 15px !important;
}

.select2-selection__choice__remove {
    background-color: #d32c46;
    color: #fff !important;
    background-image: -webkit-linear-gradient(top, #ee465a, #c11a39);
    background-image: linear-gradient(to bottom, #ee465a, #c11a39);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0 !important;
}

.craue_formflow_skipped_step {
    text-decoration: line-through;
}

.select2-selection__choice__remove {
    height: 31px;
    line-height: 31px;
}

div.tagsinput span.tag a:hover,
.select2-selection__choice__remove:hover {
    background: #ee465a !important;
    color: #fff !important;
}

#search-inventory .select2-container .select2-selection--single {
    font-size: 25px;
    height: 70px;
    line-height: 70px !important;
}

#search-inventory .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 70px !important;
}

#search-inventory .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 70px !important;
    width: 35px !important;
}

#doorbell-button {
    z-index: 999999;
}

.form-step-count {
    padding: 10px;
    width: 20px;
    background: #ccc;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    margin: 0 auto;
}

.craue_formflow_current_step .form-step-count {
    background: #659f13;
    color: #fff;
}

.form-step-text {
    font-size: 12px;
}

.craue_formflow_steplist li {
    float: left;
    width: 11%;
}

.order-padding-left {
    padding-left: 40px;
}

#timeTrackNav a {
    color: #fff !important;
}

#timeTrackNav a:hover {
    background-color: #444;
}

#buttonDeleteMarkedTimetrack {
    display: none;
}

#validate_form .uk-form-controls {
    position: relative;
}

#validate_form label.error {
    color: red;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -22px;
}

#validate_form input.error {
    border: 1px solid red;
}

@media (max-width: 768px) {
    #navbar #search {
        width: 100%;
    }

    #content {
        padding-top: 45px;
    }

    #content h1.content-headline {
        font-size: 22px;
        line-height: 25px;
    }

    #content h1.content-headline small {
        font-size: 15px;
        line-height: 19px;
        vertical-align: top;
    }

    #content h1.content-headline #header-buttons {
        background: #f8f8f8;
        border-bottom: solid 1px #eee;
        position: absolute;
        top: 41px;
        right: 0;
        left: 0;
        padding: 5px;
    }

    #content h2.content-headline {
        font-size: 20px;
    }
}

@media (max-width: 667px) {
    #timeTrackNav {
        width: 100%;
        position: absolute;
        top: 40px;
        height: 40px;
        text-align: center;
        border-top: 1px solid #fff;
    }

    #content h1.content-headline #header-buttons {
        top: 80px
    }

    #navbar {

        height: 80px;
    }

    #timeTrackNav ul {
        float: none;
        width: auto;
    }

    #timeTrackNav ul li {
        float: none;

    }

    #timeTrackNav div {
        font-size: 12px !important;
    }
}

@media (max-width: 480px) {
    #navbar > .uk-navbar-nav > li > a {
        padding: 0 13px;
    }

    #content h1.content-headline {
        font-size: 18px;
        line-height: 19px;
    }

    #content h1.content-headline small {
        font-size: 12px;
        line-height: 5px;
    }
}

@media (min-height: 768px) {
    body {
        background-image: url("/assets/uikit/img/texture.jpg");
        overflow-x: hidden;
    }
}

/*# sourceMappingURL=index.css.map */
