*
  outline: none

html
  min-height: 100%
  height: 100%

body
  min-height: 100%
  background-color: #fff
  > .uk-container
    padding: 0 10px

a
  color: #059

.bordered-container
  border-radius: 8px
  border: solid 1px #ddd
  background: #fff

.icons-selector [class^=uk-icon-]
  font-family: FontAwesome !important

#spinner
  background: rgba(255, 255, 255, 0.5)
  z-index: 999

#navbar
  border: none
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  background: #eee
  &.box-shadow
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
  .uk-navbar-toggle
    color: #fff
    background: #303030
    cursor: pointer
  .uk-nav-dropdown
    label
      padding: 5px 15px
      display: block
      cursor: pointer
      &:hover
        background: #f9f9f9
  li
    a
      cursor: pointer
      .delete-menuitem
        font-size: 11px
        font-weight: normal
        border-radius: 50%
        background: #ccc
        border: none
        height: 15px
        width: 15px
        line-height: 15px
        padding: 0
        &:hover
          background-color: #d32c46
          background-image: -webkit-linear-gradient(top, #ee465a, #c11a39)
          background-image: linear-gradient(to bottom, #ee465a, #c11a39)
  #favorites
    li
      a
        position: relative
        padding-right: 35px
        .delete-menuitem
          position: absolute
          right: 10px
          top: 7px
  .uk-search
    .uk-search-field
      border-bottom: solid 1px #ddd
  #search-dropdown-toggle
    cursor: pointer
  #search-dropdown
    .uk-search
      &:before
        height: 50px
        font-size: 25px
        line-height: 50px
      .uk-search-field
        width: 100%
        height: 50px
        font-size: 25px
        line-height: 50px
  #logout-button
    transition: all 0.3s ease
    &:hover
      background: #303030
      color: #fff
      text-shadow: none
  .uk-dropdown-scrollable
    max-height: 350px

#bookmarks
  position: fixed
  bottom: 0
  left: 0
  right: 0
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
  overflow: auto
  ul
    white-space: nowrap
    li
      float: none
      display: inline-block
      .delete-menuitem
        border-radius: 50%
        width: 16px
        height: 16px
        line-height: 16px
        padding: 0
        margin-left: 5px
        background: #eee
        transition: background 0.3s ease
        &:hover
          background: #da314b

.uk-table
  th
    a
      color: #444
      &:hover
        text-decoration: none
        .uk-icon-sort
          color: #000
      .uk-icon-sort
        color: #ccc
  .uk-icon-arrows
    &:hover
      color: #000 !important

#sidebar
  .uk-offcanvas-bar
    h1
      margin: 0
      line-height: 40px
      #offcanvas-home-link
        position: absolute
        top: 8px
        left: 8px
        background: #555
        color: #ccc
        text-shadow: none
  .uk-nav-offcanvas
    .current_ancestor,
    .uk-active
      > a
        background: #0075b3
        color: #fff
    .uk-nav-sub
      background: #505050
      padding-left: 0
      padding-top: 0
      padding-bottom: 0
      border-top: none
      li
        border-bottom: solid 1px #5a5a5a
        &.uk-active
          a
            background: #444
        a
          padding-left: 15px
          padding-top: 8px
          padding-bottom: 8px
        &:last-child
          border-bottom: none
        &.uk-nav-divider
          box-shadow: none
          background: #484848
          height: 2px
        .uk-nav-sub
          li
            &.uk-active
              a
                background: #393939
            a
              padding-left: 30px
              padding-top: 4px
              padding-bottom: 4px
              font-size: 14px
            .uk-nav-sub
              li
                &.uk-active
                  a
                    background: #343434
                a
                  padding-left: 45px
                  font-size: 12px

  .delete-menuitem
    display: none !important
  .logout-main-menu-item
    a
      &:hover
        background: #da314b

#content
  padding-top: 25px
  padding-bottom: 75px
  h1.content-headline
    font-size: 25px
    line-height: 30px
    border-bottom: solid 1px #ddd
    padding-bottom: 5px
    #header-buttons
      line-height: 20px
    .uk-dropdown
      line-height: 20px
  h2.content-headline
    font-size: 23px
    line-height: 28px
    border-bottom: solid 1px #ccc
    .uk-dropdown
      line-height: 20px
  .uk-search
    display: block
    &:before
      font-size: 200%
    .uk-search-field
      width: 100%
      font-size: 200%
      border-bottom: solid 1px #ccc
      padding: 0 0 10px 40px
      box-sizing: content-box
  .uk-tab + .uk-tab
    font-size: 12px
  .form-collection-actions
    a
      &:first-child
        border-top-left-radius: 0
      &:last-child
        border-bottom-right-radius: 0
  label.required
    &:after
      content: '*'
      color: #faa
      margin-left: 4px
      font-size: 125%

#search-results
  .search-item
    h2
      font-size: 20px
      a:not(.uk-button)
        color: #444

.search-categories
  .uk-active
    background-color: #008abf
    color: #fff
    background-image: none
    border-color: rgba(0, 0, 0, .2)
    border-top-color: rgba(0, 0, 0, .4)
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2)
    text-shadow: none

#tabs
  padding: 5px
  position: fixed
  z-index: 99
  bottom: 0
  left: 0
  right: 0
  background: #666
  #tab-container
    .tab
      .uk-button
        &.uk-active
          background-color: #009dd8
          color: #fff
          background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5)
          background-image: linear-gradient(to bottom, #00b4f5, #008dc5)
          border-color: rgba(0, 0, 0, 0.2)
          border-bottom-color: rgba(0, 0, 0, 0.4)
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
          &:hover,
          &:focus
            background-color: #00aff2
            color: #fff
            background-image: none
          &:disabled
            background: rgba(0, 157, 216, 0.5) none
            text-shadow: none
        &.close-tab
          padding: 0 4px

.select2-selection__choice
  color: #444 !important
  background: #f5f5f5 !important
  text-shadow: none !important
  border: 1px solid rgba(0, 0, 0, .06) !important
  padding: 9px 21px 9px 8px !important
  border-radius: 4px !important
  font-size: 17px !important
  position: relative !important

.select2-selection__choice
  padding: 5px 35px 5px 8px !important
  font-size: 15px !important

.select2-selection__choice__remove
  background-color: #d32c46
  color: #fff !important
  background-image: -webkit-linear-gradient(top, #ee465a, #c11a39)
  background-image: linear-gradient(to bottom, #ee465a, #c11a39)
  border-color: rgba(0, 0, 0, .2)
  border-bottom-color: rgba(0, 0, 0, .4)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2)
  padding: 0 10px
  position: absolute
  right: 0
  top: 0
  height: 40px
  line-height: 40px
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px
  margin: 0 !important

.select2-selection__choice__remove
  height: 31px
  line-height: 31px

div.tagsinput span.tag a:hover,
.select2-selection__choice__remove:hover
  background: #ee465a !important
  color: #fff !important

#search-inventory
  .select2-container
    .select2-selection--single
      font-size: 25px
      height: 70px
      line-height: 70px !important

  .select2-container--default
    .select2-selection--single
      .select2-selection__rendered
        line-height: 70px !important

      .select2-selection__arrow
        height: 70px !important
        width: 35px !important

#doorbell-button
  z-index: 999999

.form-step-count
  padding: 10px
  width: 20px
  background: #ccc
  text-align: center
  border-radius: 30px
  font-weight: bold
  margin: 0 auto

.craue_formflow_steplist
  li
    float: left

@media (max-width: 768px)
  #navbar
    #search
      width: 100%

  #content
    padding-top: 45px
    h1.content-headline
      font-size: 22px
      line-height: 25px
      small
        font-size: 15px
        line-height: 19px
        vertical-align: top
      #header-buttons
        background: #f8f8f8
        border-bottom: solid 1px #eee
        position: absolute
        top: 41px
        right: 0
        left: 0
        padding: 5px
    h2.content-headline
      font-size: 20px

@media (max-width: 480px)
  #navbar
    > .uk-navbar-nav
      > li
        > a
          padding: 0 13px

  #content
    h1.content-headline
      font-size: 18px
      line-height: 19px
      small
        font-size: 12px
        line-height: 5px

.craue_formflow_skipped_step
  text-decoration: line-through

@media (min-height: 768px)
  body
    background-image: url("/assets/uikit/img/texture.jpg")