.uk-table {
  background: #fff; }

.uk-table-striped tbody tr:nth-of-type(2n+1) {
  background: #f3f3f3; }

.uk-table-hover tbody tr:hover {
  background: #e8e8e8; }

.uk-table tr:last-child td {
  border-bottom: none; }

.uk-alert {
  border-color: #2d7091;
  border-width: 2px; }

.uk-alert-success {
  border-color: #659f13;
  border-width: 2px; }

.uk-alert-danger {
  border-color: #d85030;
  border-width: 2px; }

.uk-alert-warning {
  border-color: #e28327;
  border-width: 2px; }

.uk-pagination > .uk-active > span {
  background: #fff;
  color: #444;
  border: solid 1px #fff;
  box-shadow: none; }

.uk-button-warning {
  background-color: #f9a124;
  color: #fff;
  text-shadow: none; }
  .uk-button-warning.uk-active, .uk-button-warning:hover {
    background-color: #f9a124;
    color: #fff; }

.uk-modal-header-danger {
  background: #da314b; }
  .uk-modal-header-danger h3 {
    color: #fff; }

.uk-modal-header-success {
  background: #8cc14c; }
  .uk-modal-header-success h3 {
    color: #fff; }

.uk-modal-header-primary {
  background: #00a8e6; }
  .uk-modal-header-primary h3 {
    color: #fff; }

.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="number"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="color"],
.uk-form select, .uk-form textarea {
  border: solid 1px #bbb; }

#content .select2-container .select2-selection--single,
#content .select2-container .select2-selection--multiple {
  border-color: #bbb; }

body .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #009dd8; }
body .select2-container .select2-selection--single {
  height: 40px;
  line-height: 40px !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px !important; }
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
  width: 35px !important; }
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #ddd !important;
  border-radius: 3px;
  padding: 6px; }

/*# sourceMappingURL=uikit-theme.css.map */
