<div id="calendar-filter-modal" class="uk-modal uk-text-left">
    <form class="uk-form uk-form-stacked" method="post">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3>
                    <i class="uk-icon-table"></i>
                    Kalender anpassen
                </h3>
            </div>


            <input type="hidden" name="mod_calendar_team_member_filter[]"
                   value="0"/> {# fixes issue when no checkboxes are checked #}
            <h3><i class="uk-icon-users"></i> Team</h3>
            <b>
                Abteilungen:
            </b>
            <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-bottom" data-uk-grid-margin>
                {% for category in memberCategories %}
                    <div class="uk-width-medium-1-4 uk-width-small-1-2 calendar-team-member-filter-category-toggle"
                         data-categoryid="{{ category.id }}">
                        <a class="uk-button uk-button-small uk-width-1-1">
                            {{ category.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <b>
                Mitarbeiter
            </b>
            <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-bottom" data-uk-grid-margin>
                {% for member in memberFilter %}
                    <div class="uk-width-medium-1-4 uk-width-small-1-2">
                        <input type="checkbox" name="mod_calendar_team_member_filter[]"
                               value="{{ member['member'].id }}" {% if member['active'] %}checked="checked"{% endif %}
                               style="display: none;"/>
                        <a data-team-member-categories=",{% for category in member['member'].categories %}{{ category.id }},{% endfor %}"
                           onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                           class="uk-button uk-button-small uk-width-1-1 {% if member['active'] %}uk-active uk-button-success{% endif %}">
                            {{ member['member'] }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <b>
                Planung
            </b>
            <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-bottom" data-uk-grid-margin>
                <div class="uk-width-medium-1-4 uk-width-small-1-2">
                    <input type="checkbox"
                           name="mod_calendar_team_plan_filter[{{ constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_HOLIDAY') }}]"
                           value="1"
                           {% if planFilter[constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_HOLIDAY')] is defined %}checked="checked"{% endif %}
                           style="display: none;"/>
                    <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                       class="uk-button uk-button-small uk-width-1-1 {% if planFilter[constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_HOLIDAY')] is defined %}uk-active uk-button-success{% endif %}">
                        Urlaub
                    </a>
                </div>
                <div class="uk-width-medium-1-4 uk-width-small-1-2">
                    <input type="checkbox"
                           name="mod_calendar_team_plan_filter[{{ constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_ILLNESS') }}]"
                           value="1"
                           {% if planFilter[constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_ILLNESS')] is defined %}checked="checked"{% endif %}
                           style="display: none;"/>
                    <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                       class="uk-button uk-button-small uk-width-1-1 {% if planFilter[constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_ILLNESS')] is defined %}uk-active uk-button-success{% endif %}">
                        Krankheit
                    </a>
                </div>
                <div class="uk-width-medium-1-4 uk-width-small-1-2">
                    <input type="checkbox"
                           name="mod_calendar_team_plan_filter[{{ constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_SCHOOL') }}]"
                           value="1"
                           {% if planFilter[constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_SCHOOL')] is defined %}checked="checked"{% endif %}
                           style="display: none;"/>
                    <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                       class="uk-button uk-button-small uk-width-1-1 {% if planFilter[constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_SCHOOL')] is defined %}uk-active uk-button-success{% endif %}">
                        Berufsschule
                    </a>
                </div>
            </div>

            {% if is_granted('VIEW', 'Modules\\InventoryBundle\\Entity\\ItemUse') and inventoryFilter is defined %}
                <h3><i class="uk-icon-dropbox"></i> Inventar</h3>
                <b>Verwendungen:</b>
                <input type="hidden" name="mod_calendar_inventory_item_use_filter[save]"
                       value="1"/> {# fixes issue when no checkboxes are checked #}
                <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4 uk-width-small-1-2">
                        <input type="checkbox"
                               name="mod_calendar_inventory_item_use_filter[{{ constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_USE') }}]"
                               value="1"
                               {% if inventoryFilter[constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_USE')] is defined %}checked="checked"{% endif %}
                               style="display: none;"/>
                        <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                           class="uk-button uk-button-small uk-width-1-1 {% if inventoryFilter[constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_USE')] is defined %}uk-active uk-button-success{% endif %}">
                            In Verwendung
                        </a>
                    </div>
                    <div class="uk-width-medium-1-4 uk-width-small-1-2">
                        <input type="checkbox"
                               name="mod_calendar_inventory_item_use_filter[{{ constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_REPAIR') }}]"
                               value="1"
                               {% if inventoryFilter[constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_REPAIR')] is defined %}checked="checked"{% endif %}
                               style="display: none;"/>
                        <a onclick="$(this).toggleClass('uk-button-success'); $(this).parent().find('input').prop('checked', !$(this).parent().find('input').prop('checked')); $(this).find('i').toggleClass('uk-icon-eye uk-icon-eye-slash');"
                           class="uk-button uk-button-small uk-width-1-1 {% if inventoryFilter[constant('Modules\\InventoryBundle\\Entity\\ItemUse::STATUS_IN_REPAIR')] is defined %}uk-active uk-button-success{% endif %}">
                            In Reparatur
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <button class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Anwenden
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.calendar-team-member-filter-category-toggle').click(function (e) {
            e.preventDefault();
            var categoryId = parseInt($(this).data('categoryid'));
            $("[data-team-member-categories*='," + categoryId + ",']").click();
        });
    });
</script>