<div class="uk-button-group">
    {% if is_granted('CREATE', 'Modules\\CalendarBundle\\Entity\\Event') %}
        <a href="{{ path('modules_calendar_event_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neuen Termin anlegen">
            <i class="uk-icon-plus"></i>
        </a>
        <div data-uk-dropdown="{mode:'click'}">
            <a href="#" class="uk-button uk-button-small uk-button-success">
                <i class="uk-icon-angle-down"></i>
            </a>

            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-text-left">
                    <li>
                        <a href="{{ path('modules_calendar_event_new', {'type': constant('Modules\\CalendarBundle\\Entity\\Event::TYPE_EXTERNAL')}) }}"><i
                                    class="uk-icon-truck"></i> Außendienst</a></li>
                    <li>
                        <a href="{{ path('modules_calendar_event_new', {'type': constant('Modules\\CalendarBundle\\Entity\\Event::TYPE_EMERGENCY')}) }}"><i
                                    class="uk-icon-warning"></i> Notdienst</a></li>
                    <li><a href="{{ path('modules_team_plan_index') }}"><i class="uk-icon-plane"></i> Urlaub</a></li>
                    <li><a href="{{ path('modules_team_plan_index') }}"><i class="uk-icon-medkit"></i> Krankheit</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>