{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .fc table {
            border-collapse: separate;
        }

        .fc td {
            background: #fff;
            border-left-width: 0;
            border-top-width: 0;
        }

        .fc .fc-body > tr > td.fc-widget-content {
            border: 0;
        }

        .fc-head td {
            background: #f3f3f3;
            padding: 18px 0;
            border-top-width: 1px;
            border-left-width: 1px;
        }

        .fc-head .fc-day-header {
            border: none;
        }

        .fc-head .fc-head-container {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .fc-body .fc-day:first-child {
            border-left-width: 1px;
        }

        .fc-body .fc-row:last-child .fc-day:first-child {
            border-bottom-left-radius: 8px;
        }

        .fc-body .fc-row:last-child .fc-day:last-child {
            border-bottom-right-radius: 8px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#datepicker-dropdown').on('show.uk.dropdown', function () {
                setTimeout(function () {
                    $("#datepicker").trigger('focus');
                    $('.uk-datepicker').css('margin-top', '-35px');
                }, 250);
            });

            $('#datepicker').on('change', function (e) {
                window.location = Routing.generate('modules_calendar_default_index_redirect', {
                    'redirectDate': $(this).val(),
                    'view': 'month'
                });
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% set dateLabel = start|localizeddate('none', 'none', null, null, 'MMMM') ~ (start|date('Y') != "now"|date('Y') ? ' ' ~ start|date('Y') : '') %}

    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_calendar_default_month', {'month': start|date_modify('-1 month')|date('m'), 'year': start|date_modify('-1 month')|date('Y')}) }}"
               class="uk-button uk-button-small" data-uk-tooltip title="Einen Monat zurück">
                <i class="uk-icon-arrow-left"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}" id="datepicker-dropdown" data-uk-tooltip title="Datum wählen">

                <!-- This is the element toggling the dropdown -->
                <div class="uk-button uk-button-small">
                    {{ dateLabel }}
                </div>

                <!-- This is the dropdown -->
                <div class="uk-dropdown-blank">
                    <form class="uk-form">
                        <input type="text" id="datepicker" data-uk-datepicker="{format:'YYYY-MM-DD'}"
                               class="uk-width-1-1" style="opacity: 0">
                    </form>
                    }
                </div>

            </div>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Ansicht wechseln">
                    <i class="uk-icon-angle-down"></i>
                </a>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li>
                            <a href="{{ path('modules_calendar_default_week', {'week': start|date('W'), 'year': start|date('Y')}) }}">Woche</a>
                        </li>
                        <li><a href="{{ path('modules_calendar_default_day', {'day': start|date('Y-m-d')}) }}">Tag</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="{{ path('modules_calendar_default_month', {'month': start|date_modify('+1 month')|date('m'), 'year': start|date_modify('+1 month')|date('Y')}) }}"
               class="uk-button uk-button-small" data-uk-tooltip title="Einen Monat vor">
                <i class="uk-icon-arrow-right"></i>
            </a>
        </div>
        {% include '@ModulesCalendar/Default/header_buttons.html.twig' %}
    {% endset %}
    {% set settingsLinks %}
        <li>
            <a href="#calendar-filter-modal" class="uk-dropdown-close" data-uk-modal>
                <i class="uk-icon-calendar"></i> Kalender anpassen
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('modules_calendar_google_index') }}" class="uk-dropdown-close">
                    <i class="uk-icon-google"></i> Google Calendar
                </a>
            </li>
        {% endif %}
    {% endset %}

    {{ macros.pageHeader('Kalender - ' ~ dateLabel, 'calendar', buttons, null, 0, settingsLinks) }}

    <div class="fullcalendar"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fullcalendar').fullCalendar({
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                header: false,
                defaultDate: moment('{{ start|date('Y-m-d') }}'),
                timeFormat: 'HH:mm',
                eventClick: function (calEvent, jsEvent, view) {
                    var url = calEvent.modalUrl,
                        ajaxModal = $('#ajax-modal');

                    if (url) {
                        var modal = UIkit.modal("#ajax-modal");

                        if (modal.isActive()) {
                            modal.hide();
                        } else {
                            ajaxModal.load(url, function () {
                                ajaxModal.find('.select2').select2();
                                modal.show();
                            });
                        }
                    }
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    date = new Date(date);
                    var content = $(this).html();
                    if (removeWS(content) === "") {
                        window.location.href = Routing.generate("modules_calendar_event_new_date", {"date": date.getTime() / 1000});
                    }
                },
                eventRender: function (event, element, view) {
                    if (event.icon) {
                        element.find('.fc-title').prepend('<i class="uk-icon-' + event.icon + '"></i> ');
                    }
                },
                height: function () {
                    var content = $('#content');
                    var contentPadding = parseInt(content.css('padding-top')) + parseInt(content.css('padding-bottom'));
                    var contentHeadline = $('.content-headline');
                    var contentHeadlineHeight = contentHeadline.outerHeight() + parseInt(contentHeadline.css('margin-bottom'));
                    return $(window).height() - ($('#navbar').outerHeight() + contentPadding + contentHeadlineHeight);
                },
                events: {{ eventsJson|json_encode|raw }}
            });
        });

        function removeWS(string) {
            return string.replace(/\s/g, '');
        }
    </script>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% include '@ModulesCalendar/Default/filter.html.twig' %}
{% endblock %}