{% extends '@CoreApp/layout.html.twig' %}

{% macro event(event, refDate) %}
    {% set classes = '' %}
    {% if event.start|date('Ymd') == refDate|date('Ymd') %}
        {% set classes = 'event-start' %}
    {% endif %}
    {% if event.end|date('Ymd') == refDate|date('Ymd') %}
        {% set classes = classes ~ ' event-end' %}
    {% endif %}
    <a href="#" class="ajax-modal uk-display-block {{ classes }}"
       data-url="{{ path('modules_calendar_event_modal', {'id': event.id}) }}">
        <div class="uk-badge uk-width-1-1"
             style="background: {{ calendar_helper.eventColor(event) }}; font-size: 12px; line-height: 16px;">
            <i class="uk-icon-{{ calendar_helper.eventIcon(event) }}"></i>
            {{ event.name }}<br>
            <span style="font-weight: normal;">
                {% if event.allDay %}
                    ganztägig
                {% else %}
                    {{ calendar_helper.displayDateTimeRange(event.start, event.end, refDate) }}
                {% endif %}
            </span>
        </div>
    </a>
{% endmacro %}
{% macro itemUse(itemUse, refDate) %}
    {% set classes = '' %}
    {% if itemUse.start|date('Ymd') == refDate|date('Ymd') %}
        {% set classes = 'event-start' %}
    {% endif %}
    {% if itemUse.end|date('Ymd') == refDate|date('Ymd') %}
        {% set classes = classes ~ ' event-end' %}
    {% endif %}
    <a href="#" class="ajax-modal uk-display-block {{ classes }}"
       data-url="{{ path('modules_inventory_itemuse_modal', {'item': itemUse.item.id, 'itemUse': itemUse.id}) }}">
        <div class="uk-badge uk-width-1-1"
             style="background: {{ itemUse.status == constant('STATUS_IN_USE', itemUse) ? '#faa732' : '#da314b' }}; font-size: 12px; line-height: 16px;">
            <i class="uk-icon-dropbox"></i>
            {{ itemUse.item.name }}<br>
            <span style="font-weight: normal;">
                {{ calendar_helper.displayDateTimeRange(itemUse.start, itemUse.end, refDate) }}
            </span>
        </div>
    </a>
{% endmacro %}
{% macro plan(plan, refDate) %}
    {% if plan.type == constant('TYPE_HOLIDAY', plan) %}
        {% set color = '#00cc00' %}
    {% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
        {% set color = '#cccc00' %}
    {% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
        {% set color = '#0000cc' %}
    {% endif %}

    {% set classes = '' %}
    {% if mod_team_helper.isFirstOfRow(plan) %}
        {% set classes = 'event-start' %}
    {% endif %}
    {% if mod_team_helper.isLastOfRow(plan) %}
        {% set classes = classes ~ ' event-end' %}
    {% endif %}
    <a href="#" class="ajax-modal uk-display-block {{ classes }}"
       data-url="{{ path('modules_team_plan_modal', {'plan': plan.id}) }}">
        <div class="uk-badge uk-width-1-1" style="background: {{ color }}; font-size: 12px; line-height: 16px;">
            {% if plan.type == constant('TYPE_HOLIDAY', plan) %}
            <i class="uk-icon-plane"></i>
            Urlaub
        {% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
            <i class="uk-icon-ambulance"></i>
            Krankheit
        {% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
            <i class="uk-icon-graduation-cap"></i>
            Schule
            {% endif %}<br>
            <span style="font-weight: normal;">
                {{ plan.day|date('d.m.Y') }}
            </span>
        </div>
    </a>
{% endmacro %}

{% import _self as eventMacros %}
{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#datepicker-dropdown').on('show.uk.dropdown', function () {
                setTimeout(function () {
                    $("#datepicker").trigger('focus');
                    $('.uk-datepicker').css('margin-top', '-35px');
                }, 250);
            });

            $('#datepicker').on('change', function (e) {
                window.location = Routing.generate('modules_calendar_default_index_redirect', {
                    'redirectDate': $(this).val(),
                    'view': 'week'
                });
            });


            $('.day[data-newEventDate]').click(function (e) {
                if (e.target !== this)
                    return;

                window.location.href = Routing.generate("modules_calendar_event_new_date", {
                    "date": $(this).data('neweventdate'),
                    "member": $(this).data('neweventuser')
                });
            });

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .event-table td.day {
            padding: 0;
        }

        .event-table td.day .uk-badge {
            border-radius: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .event-table td.day .event-start {
            margin-left: 5px;
        }

        .event-table td.day .event-start .uk-badge {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .event-table td.day .event-end {
            margin-right: 5px;
        }

        .event-table td.day .event-end .uk-badge {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    </style>
{% endblock %}

{% block content %}
    {% set dateLabel = 'Woche ' ~ start|localizeddate('none', 'none', null, null, 'w') ~ (start|date('Y') != "now"|date('Y') ? ', ' ~ start|date('Y') : '' ) %}

    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_calendar_default_week', {'week': start|date_modify('-1 week')|date('W'), 'year': start|date_modify('-1 week')|date('Y')}) }}"
               class="uk-button uk-button-small" data-uk-tooltip title="Eine Woche zurück">
                <i class="uk-icon-arrow-left"></i>
            </a>
            <div data-uk-dropdown="{mode:'click'}" id="datepicker-dropdown" data-uk-tooltip title="Datum wählen">

                <!-- This is the element toggling the dropdown -->
                <div class="uk-button uk-button-small">
                    {{ dateLabel }}
                </div>

                <!-- This is the dropdown -->
                <div class="uk-dropdown-blank">
                    <form class="uk-form">
                        <input type="text" id="datepicker" data-uk-datepicker="{format:'YYYY-MM-DD'}"
                               class="uk-width-1-1" style="opacity: 0">
                    </form>
                    }
                </div>

            </div>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="#" class="uk-button uk-button-small" data-uk-tooltip title="Ansicht wechseln">
                    <i class="uk-icon-angle-down"></i>
                </a>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown uk-text-left">
                        <li>
                            <a href="{{ path('modules_calendar_default_month', {'month': start|date('m'), 'year': start|date('Y')}) }}">Monat</a>
                        </li>
                        <li><a href="{{ path('modules_calendar_default_day', {'day': start|date('Y-m-d')}) }}">Tag</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="{{ path('modules_calendar_default_week', {'week': start|date_modify('+1 week')|date('W'), 'year': start|date_modify('+1 week')|date('Y')}) }}"
               class="uk-button uk-button-small" data-uk-tooltip title="Eine Woche vor">
                <i class="uk-icon-arrow-right"></i>
            </a>
        </div>
        {% include '@ModulesCalendar/Default/header_buttons.html.twig' %}
    {% endset %}
    {% set settingsLinks %}
        <li>
            <a href="#calendar-filter-modal" class="uk-dropdown-close" data-uk-modal>
                <i class="uk-icon-calendar"></i> Kalender anpassen
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('modules_calendar_google_index') }}" class="uk-dropdown-close">
                    <i class="uk-icon-google"></i> Google Calendar
                </a>
            </li>
        {% endif %}
    {% endset %}

    {{ macros.pageHeader('Kalender - ' ~ dateLabel, 'calendar', buttons, null, 0, settingsLinks) }}

    <div class="uk-overflow-container bordered-container uk-margin-top">
        <table class="uk-table uk-table-condensed uk-table-striped uk-table-hover event-table weekCalendarTable"
               data-url="{{ path('modules_team_member_changeposition') }}">
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th style="width: 30px;"></th>
                {% endif %}
                <th></th>
                <th class="uk-text-center">
                    {{ start|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+1 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+1 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+2 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+2 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+3 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+3 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center">
                    {{ start|date_modify('+4 day')|localizeddate('none', 'none', null, null, 'EEEE') }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+4 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center uk-padding-remove">
                    {{ start|date_modify('+5 day')|localizeddate('none', 'none', null, null, 'E')|slice(0, 2) }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+5 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
                <th class="uk-text-center uk-padding-remove">
                    {{ start|date_modify('+6 day')|localizeddate('none', 'none', null, null, 'E')|slice(0, 2) }}<br>
                    <span class="uk-text-muted">{{ start|date_modify('+6 day')|localizeddate('none', 'none', null, null, 'dd.MM.') }}</span>
                </th>
            </tr>

            {% if events['all'] is defined and events['all'] is not empty %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td></td>
                    {% endif %}
                    <td>
                        Alle
                    </td>
                    {% for i in 0..6 %}
                        <td class="day"
                            style="border-left: dotted 1px #ccc;{% if "now"|date('dmY') == start|date_modify('+' ~ i ~ ' day')|date('dmY') %} background: #f0f0f0;{% endif %}">
                            {% for event in events['all'][i] %}
                                {% if (event|instanceof('Modules\\CalendarBundle\\Entity\\Event')) %}
                                    {{ eventMacros.event(event, start|date_modify('+' ~ i ~ ' day')) }}
                                {% elseif (event|instanceof('Modules\\InventoryBundle\\Entity\\ItemUse')) %}
                                    {{ eventMacros.itemUse(event, start|date_modify('+' ~ i ~ ' day')) }}
                                {% elseif (event|instanceof('Modules\\TeamBundle\\Entity\\Plan')) %}
                                    {{ eventMacros.plan(event, start|date_modify('+' ~ i ~ ' day')) }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% for key, memberEvents in events %}
                {% if key is not sameas('all') %}
                    <tr class="calendarPosition{{ loop.index }}">
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <button class="uk-button uk-button-primary calendarMemberUp"
                                        data-member="{{ memberEvents['member'].id }}"
                                        data-position="{{ loop.index }}"><i class="uk-icon-arrow-up"></i></button>
                                <br/>
                                <button class="uk-button uk-button-primary calendarMemberDown"
                                        data-member="{{ memberEvents['member'].id }}"
                                        data-position="{{ loop.index }}"><i class="uk-icon-arrow-down"></i></button>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('modules_team_member_details', {'member': memberEvents['member'].id}) }}">
                                {{ memberEvents['member'] }}
                            </a>
                        </td>
                        {% for i in 0..6 %}

                            {% set newEventDate = start|date_modify('+' ~ i ~ ' day') %}

                            <td title="Klicken Sie hier um einen Termin für diesen Kalendertag einzutragen." class="day"
                                data-newEventDate="{{ newEventDate|date("U") }}"
                                data-newEventUser="{{ memberEvents['member'].id }}"
                                style="padding-bottom: 30px; cursor: pointer; border-left: dotted 1px #ccc;{% if "now"|date('dmY') == start|date_modify('+' ~ i ~ ' day')|date('dmY') %} background: #f0f0f0;{% endif %}">
                                {% for event in memberEvents[i] %}
                                    {% if (event|instanceof('Modules\\CalendarBundle\\Entity\\Event')) %}
                                        {{ eventMacros.event(event, start|date_modify('+' ~ i ~ ' day')) }}
                                    {% elseif (event|instanceof('Modules\\InventoryBundle\\Entity\\ItemUse')) %}
                                        {{ eventMacros.itemUse(event, start|date_modify('+' ~ i ~ ' day')) }}
                                    {% elseif (event|instanceof('Modules\\TeamBundle\\Entity\\Plan')) %}
                                        {{ eventMacros.plan(event, start|date_modify('+' ~ i ~ ' day')) }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% include '@ModulesCalendar/Default/filter.html.twig' %}
{% endblock %}