{% extends '@CoreApp/layout.html.twig' %}

{% if currentCategory %}
    {% set addPersonPath = path('modules_contact_person_new_1', {'contact': contact.id, 'category': currentCategory.id}) %}
{% else %}
    {% set addPersonPath = path('modules_contact_person_new', {'contact': contact.id}) %}
{% endif %}

{% block content %}
    {% include 'ModulesContactBundle:Default:detail_header.html.twig' %}

    <h2 class="content-headline">
        <i class="uk-icon-user"></i> Ansprechpartner
    </h2>
    {{ knp_pagination_render(pagination) }}
    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    {{ knp_pagination_sortable(pagination, 'Name', 'lastname') }}
                </th>
                {% if columns['position'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['position'].label, 'position') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['contact'].label }}
                    </th>
                {% endif %}
                {% include '@ModulesContact/Default/fields-headers.html.twig' %}
            </tr>
            </thead>
            <tbody>
            {% for person in pagination %}
                <tr>
                    <td class="uk-text-nowrap">
                        {{ person.salutation }} {{ person.firstname }} {{ person.lastname }}
                    </td>
                    {% if columns['position'].active %}
                        <td class="uk-text-nowrap">
                            {{ person.position }}
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td class="uk-text-nowrap">
                            {% if person.phone %}<a href="tel:{{ person.phone }}"><i class="uk-icon-mobile"
                                                                                     style="width: 10px"></i> {{ person.phone }}
                                </a><br>{% endif %}
                            {% if person.mobile %}<a href="tel:{{ person.mobile }}"><i class="uk-icon-phone"
                                                                                       style="width: 10px"></i> {{ person.mobile }}
                                </a><br>{% endif %}
                            {% if person.email %}<a href="mailto:{{ person.email }}"><i
                                    class="uk-icon-envelope"></i> {{ person.email }}</a>{% endif %}
                        </td>
                    {% endif %}
                    {% include '@ModulesContact/Default/fields-values.html.twig' with {'entity': person} %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Ansprechpartner angelegt.<br>
                        {% if is_granted('EDIT', 'Modules\\ContactBundle\\Entity\\Contact') %}
                            <a class="ajax-modal uk-button uk-button-small uk-button-success uk-margin-top" href="#"
                               data-url="{{ addPersonPath }}">
                                <i class="uk-icon-plus"></i>
                                neuen Ansprechpartner anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}