{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
        <i class="uk-icon-angle-right"></i>
        Vorlagen
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('kmui_template_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('kmui_template_edit') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#"
               class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader('Vorlage A', 'paint-brush', buttons, breadcrumb) }}

    <div class="uk-grid">
        <div class="uk-width-1-2">
            <b>Müller GmbH</b><br>
            Straße 123<br>
            49074 Osnabrück
        </div>
        <div class="uk-width-1-2 uk-text-right">
            <br><br>
            <b>Datum:</b> {% verbatim %}{{ Datum }}{% endverbatim %}
        </div>
    </div>
{% endblock %}