{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-book"></i> Buchhaltung <i class="uk-icon-angle-right"></i>
        KM Haustechnik
        {{ macros.businessesDropdown() }}
    {% endset %}
    {% set buttons %}
        <a href="{{ path('kmui_template_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neue Vorlage erstellen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Vorlagen', 'paint-brush', buttons, breadcrumb, 1) }}

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>
                    <a href="#">
                        Titel
                        <i class="uk-icon-sort-asc"></i>
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..10 %}
                <tr>
                    <td>Vorlage A</td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('kmui_template_detail') }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('kmui_template_edit') }}"
                               class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#modal-delete" class="uk-button uk-button-danger uk-button-small"
                               data-uk-modal data-uk-tooltip title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# Modals #}

    <div id="modal-delete" class="uk-modal uk-text-left">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-warning"></i>
                    Löschen bestätigen
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie diese Vorlage wirklich löschen?</b><br>
            <span class="uk-text-muted uk-text-large">Vorlage A</span>
            <div class="uk-modal-footer">
                <a href="#" class="uk-button uk-modal-close">
                    <i class="uk-icon-close"></i>
                    Abbrechen
                </a>
                <a href="{{ path('kmui_service_index', {'deleted': 1}) }}"
                   class="uk-button uk-button-danger uk-float-right">
                    <i class="uk-icon-trash"></i>
                    Löschen!
                </a>
            </div>
        </div>
    </div>
{% endblock %}