{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% if category %}
    {% set listPath = path('modules_team_member_categoryindex', {'category': category.id}) %}
    {% set editPath = path('modules_team_member_edit_1', {'member': member.id, 'category': category.id}) %}
{% else %}
    {% set listPath = path('modules_team_member_index') %}
    {% set editPath = path('modules_team_member_edit', {'member': member.id}) %}
{% endif %}

{% set breadcrumb %}
    <i class="uk-icon-users"></i> Team
    {% if category %}
        <i class="uk-icon-angle-right"></i> {{ category.name }}
    {% endif %}
{% endset %}

{% set buttons %}
    <div class="uk-button-group">
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>

        {% if is_granted('EDIT', member) %}
            <a href="{{ editPath }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
        {% endif %}
    </div>
{% endset %}

{% set headline %}
    {{ member.fullName }}
    {% if member.shortName %}
        <span class="uk-text-muted">({{ member.shortName }})</span>
    {% endif %}
    {% if member.color %}
        <div style="width: 20px; height: 20px; border-radius: 4px; background: {{ member.color }}; display: inline-block;"></div>
    {% endif %}
{% endset %}

{% set isAdmin = is_granted('ROLE_ADMIN') %}
{% set isMe = member.user == app.user %}

{% block content %}
    {{ macros.pageHeader(headline, null, buttons, breadcrumb, 1) }}

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 uk-text-large">
                <div class="uk-grid">
                    {% if member.phone %}
                        <div class="uk-width-1-3">Telefon:</div>
                        <div class="uk-width-2-3">
                            {{ member.phone }}
                        </div>
                    {% endif %}
                    {% if member.mobile %}
                        <div class="uk-width-1-3">Mobiltelefon:</div>
                        <div class="uk-width-2-3">
                            {{ member.mobile }}
                        </div>
                    {% endif %}
                    {% if member.email %}
                        <div class="uk-width-1-3">E-Mail:</div>
                        <div class="uk-width-2-3">
                            <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                        </div>
                    {% endif %}
                    {% if member.street or member.zip or member.city %}
                        <div class="uk-width-1-3">Adresse:</div>
                        <div class="uk-width-2-3">
                            <a href="http://maps.google.com/?q={{ [member.street, member.zip, member.city]|join(' ') }}"
                               target="_blank">
                                {{ member.street }}{% if member.street and (member.zip or member.city) %}, {% endif %}
                                {{ [member.zip, member.city]|join(' ') }}
                            </a>
                        </div>
                    {% endif %}
                    {% if member.birthday %}
                        <div class="uk-width-1-3">Geburtstag:</div>
                        <div class="uk-width-2-3">
                            {{ member.birthday|date('d.m.Y') }}
                            <span class="uk-text-muted">({{ mod_team_helper.age(member.birthday) }})</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-text-large">
                <div class="uk-grid">
                    <div class="uk-width-1-2">Abteilung(en):</div>
                    <div class="uk-width-1-2">
                        {% for category in member.categories %}
                            {{ category.name }}{% if loop.index < member.categories|length %}, {% endif %}
                        {% else %}
                            -
                        {% endfor %}
                    </div>
                    {% if isAdmin or isMe %}
                        <div class="uk-width-1-2">Im Unternehmen seit:</div>
                        <div class="uk-width-1-2">{{ member.joinedTeam|date('d.m.Y') }}</div>
                        {% if member.leftTeam %}
                            <div class="uk-width-1-2">Unternehmen verlassen am:</div>
                            <div class="uk-width-1-2">{{ member.leftTeam|date('d.m.Y') }}</div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if isAdmin or isMe %}
                    <div class="uk-grid uk-margin-small-top">
                        {% if member.bankAccountIban %}
                            <div class="uk-width-1-2">IBAN:</div>
                            <div class="uk-width-1-2">
                                <a href="#" class="clipboard-button"
                                   data-clipboard-text="{{ member.bankAccountIban }}">
                                    {{ member.bankAccountIban }}
                                </a>
                            </div>
                        {% endif %}
                        {% if member.bankAccountBic %}
                            <div class="uk-width-1-2">BIC:</div>
                            <div class="uk-width-1-2">
                                <a href="#" class="clipboard-button"
                                   data-clipboard-text="{{ member.bankAccountBic }}">
                                    {{ member.bankAccountBic }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        {% if member.wageTaxClass %}
                            <div class="uk-width-1-2">Lohnsteuerklasse:</div>
                            <div class="uk-width-1-2">{{ member.wageTaxClass }}</div>
                        {% endif %}
                        {% if member.children %}
                            <div class="uk-width-1-2">Kinder:</div>
                            <div class="uk-width-1-2">{{ member.children }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if isAdmin or isMe %}
        {% if member.note %}
            <div class="uk-panel uk-panel-box uk-margin-top">
                <h3>Anmerkungen</h3>
                {{ member.note|raw }}
            </div>
        {% endif %}

        <h2 class="content-headline">
            Planung
            {% if is_granted('ROLE_ADMIN') or (is_granted('CREATE', 'Modules\\TeamBundle\\Entity\\Plan') and member == app.user.member) %}
                <a href="{{ path('modules_team_plan_index', {'member': member.id}) }}"
                   class="uk-button uk-button-success uk-button-small uk-float-right"
                   data-uk-tooltip title="Planung eintragen">
                    <i class="uk-icon-plus"></i>
                </a>
            {% endif %}
        </h2>
        <div class="uk-panel uk-panel-box">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-1-4 uk-text-center">
                    Urlaubsanspruch<br>
                    <span class="uk-text-large">{{ member.holidayClaim }}</span>
                </div>
                <div class="uk-width-1-4 uk-text-center">
                    Urlaubstage {{ ""|date('Y') }}<br>
                    <span class="uk-text-large">{{ mod_team_helper.countPlansForMemberAndYear(member, null, constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_HOLIDAY')) }}</span>
                </div>
                <div class="uk-width-1-4 uk-text-center">
                    davon Samstage<br>
                    <span class="uk-text-large">{{ saturdays }}</span>
                </div>
                <div class="uk-width-1-4 uk-text-center">
                    davon Sonntage<br>
                    <span class="uk-text-large">{{ sundays }}</span>
                </div>
            </div>
        </div>
        <div class="uk-panel uk-panel-box uk-margin-top">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-1-4 uk-text-center">
                    Sonderurlaubstage {{ ""|date('Y') }}<br>
                    <span class="uk-text-large">{{ mod_team_helper.countPlansForMemberAndYear(member, null, constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_SPECIAL')) }}</span>
                </div>
                <div class="uk-width-1-4 uk-text-center">
                    Krankheitstage {{ ""|date('Y') }}<br>
                    <span class="uk-text-large">{{ mod_team_helper.countPlansForMemberAndYear(member, null, constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_ILLNESS')) }}</span>
                </div>
                <div class="uk-width-1-4 uk-text-center">
                    Urlaubstage {{ ""|date_modify("-1 year")|date('Y') }}<br>
                    <span class="uk-text-large">{{ mod_team_helper.countPlansForMemberAndYear(member, ""|date_modify("-1 year")|date('Y'), constant('Modules\\TeamBundle\\Entity\\Plan::TYPE_HOLIDAY')) }}</span>
                </div>
            </div>
        </div>
        {{ knp_pagination_render(pagination) }}
        <div class="bordered-container uk-margin-top">
            <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
                <thead>
                <tr>
                    {% if columns['day'].active %}
                        <th class="uk-text-nowrap">
                            {{ knp_pagination_sortable(pagination, columns['day'].label, 'day') }}
                        </th>
                    {% endif %}
                    {% if columns['type'].active %}
                        <th class="uk-text-nowrap">
                            {{ knp_pagination_sortable(pagination, columns['type'].label, 'type') }}
                        </th>
                    {% endif %}
                    {% if columns['note'].active %}
                        <th class="uk-text-nowrap">
                            {{ columns['note'].label }}
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for plan in pagination %}
                    <tr>
                        {% if columns['day'].active %}
                            <td class="uk-text-nowrap">
                                {% if mod_team_helper.isHoliday(plan.day) %}
                                <span class="uk-text-muted">
                            {% endif %}
                                    {{ plan.day|localizeddate('none', 'none', app_helper.parameter('locale'), null, 'E dd.MM.yy') }}
                                    {% if mod_team_helper.isHoliday(plan.day) %}
                                </span>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if columns['type'].active %}
                            <td class="uk-text-nowrap">
                                {% if plan.type == constant('TYPE_HOLIDAY', plan) %}
                                    <i class="uk-icon-plane uk-icon-justify"></i>&nbsp;
                                    Urlaub
                                {% elseif plan.type == constant('TYPE_ILLNESS', plan) %}
                                    <i class="uk-icon-ambulance uk-icon-justify"></i>&nbsp;
                                    Krankheit
                                {% elseif plan.type == constant('TYPE_SCHOOL', plan) %}
                                    <i class="uk-icon-graduation-cap uk-icon-justify"></i>&nbsp;
                                    Schule
                                {% elseif plan.type == constant('TYPE_SPECIAL', plan) %}
                                    <i class="uk-icon-flag uk-icon-justify"></i>&nbsp;
                                    Sonderurlaub
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if columns['note'].active %}
                            <td class="uk-text-nowrap">
                                {{ plan.note }}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="99" class="uk-text-center">
                            Keine Einträge vorhanden.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ knp_pagination_render(pagination) }}
    {% endif %}
{% endblock %}