{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% if category %}
    {% set listPath = path('modules_team_member_categoryindex', {'category': category.id}) %}
    {% set detailsPath = path('modules_team_member_details_1', {'member': member.id, 'category': category.id}) %}
{% else %}
    {% set listPath = path('modules_team_member_index') %}
    {% set detailsPath = path('modules_team_member_details', {'member': member.id}) %}
{% endif %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Team
        {% if category %}
            <i class="uk-icon-angle-right"></i> {{ category.name }}
        {% endif %}
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ listPath }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ detailsPath }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Details">
                <i class="uk-icon-eye"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader(member, null, buttons, breadcrumb) }}

    {{ form_start(edit_form) }}

    {# Form Buttons Top #}
    <div class="uk-grid uk-grid-small uk-margin-top uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_team_member_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    {# Main Form #}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-10">
                {{ form_row(edit_form.salutation) }}
            </div>
            <div class="uk-width-medium-4-10">
                {{ form_row(edit_form.firstname) }}
            </div>
            <div class="uk-width-medium-4-10">
                {{ form_row(edit_form.lastname) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(edit_form.shortName) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(edit_form.street) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(edit_form.zip) }}
            </div>
            <div class="uk-width-medium-4-10">
                {{ form_row(edit_form.city) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(edit_form.phone) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(edit_form.mobile) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(edit_form.email) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.birthday) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.joinedTeam) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.leftTeam) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(edit_form.holidayClaim) }}
            </div>
            <div class="uk-width-2-3">
                {{ form_row(edit_form.categories) }}
            </div>
            <div class="uk-width-1-3">
                {{ form_row(edit_form.color) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-5-10">
                {{ form_row(edit_form.bankAccountIban) }}
            </div>
            <div class="uk-width-medium-3-10">
                {{ form_row(edit_form.bankAccountBic) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(edit_form.wageTaxClass) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(edit_form.children) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {{ form_row(edit_form.note) }}
            </div>
        </div>
    </div>

    {# Form Buttons Bottom #}
    <hr>
    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_team_member_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}