{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% set isAdmin = is_granted('ROLE_ADMIN') or is_granted("ROLE_SUPER_ADMIN") %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Team
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\TeamBundle\\Entity\\Member') %}
            <a href="{{ path('modules_team_member_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neuen Mitarbeiter anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}
    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th style="width: 5px; padding: 0;"></th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Name', 'lastname') }}
                </th>
                {% if columns['phone_email'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['phone_email'].label }}
                    </th>
                {% endif %}
                {% if columns['address'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['address'].label, 'address') }}
                    </th>
                {% endif %}
                {% if columns['birthday'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['birthday'].label, 'birthday') }}
                    </th>
                {% endif %}
                {% if columns['joinedTeam'] is defined and isAdmin %}
                    {% if columns['joinedTeam'].active %}
                        <th class="uk-text-nowrap">
                            {{ knp_pagination_sortable(pagination, columns['joinedTeam'].label, 'joinedTeam') }}
                        </th>
                    {% endif %}
                {% endif %}
                {% if columns['leftTeam'] is defined and isAdmin %}
                    {% if columns['leftTeam'].active %}
                        <th class="uk-text-nowrap">
                            {{ knp_pagination_sortable(pagination, columns['leftTeam'].label, 'leftTeam') }}
                        </th>
                    {% endif %}
                {% endif %}
                {% if columns['bankAccount'] is defined and isAdmin %}
                    {% if columns['bankAccount'].active %}
                        <th class="uk-text-nowrap">
                            {{ knp_pagination_sortable(pagination, columns['bankAccount'].label, 'bankAccount') }}
                        </th>
                    {% endif %}
                {% endif %}
                {% if columns['wageTaxClass'] is defined and isAdmin %}
                    {% if columns['wageTaxClass'].active %}
                        <th class="uk-text-nowrap">
                            {{ knp_pagination_sortable(pagination, columns['wageTaxClass'].label, 'wageTaxClass') }}
                        </th>
                    {% endif %}
                {% endif %}
                {% if columns['wageTaxClass'] is defined and isAdmin %}
                    {% if columns['children'].active %}
                        <th class="uk-text-nowrap">
                            {{ knp_pagination_sortable(pagination, columns['children'].label, 'children') }}
                        </th>
                    {% endif %}
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for member in pagination %}
                <tr>
                    <td style="padding: 0; background: {{ member.color }}"></td>
                    <td class="uk-text-nowrap">
                        <a href="{{ path('modules_team_member_details', {'member': member.id}) }}"
                           data-uk-tooltip title="{{ member.fullName }}">
                            {{ member }}
                        </a>
                        {% if member.shortName %}
                            <br><span class="uk-text-muted">({{ member.shortName }})</span>
                        {% endif %}
                    </td>
                    {% if columns['phone_email'].active %}
                        <td class="uk-text-nowrap">
                            {% if member.phone %}
                                <i class="uk-icon-phone uk-icon-justify"></i> {{ member.phone }}<br>
                            {% endif %}
                            {% if member.mobile %}
                                <i class="uk-icon-mobile uk-icon-justify"></i> {{ member.mobile }}<br>
                            {% endif %}
                            {% if member.email %}
                                <i class="uk-icon-envelope"></i> <a
                                    href="mailto:{{ member.email }}">{{ member.email|truncate }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['address'].active %}
                        <td class="uk-text-nowrap">
                            {{ member.street }}<br>
                            {{ [member.zip, member.city]|join(' ') }}
                        </td>
                    {% endif %}
                    {% if columns['birthday'].active %}
                        <td class="uk-text-nowrap">
                            {% if member.birthday %}
                                {{ member.birthday|date('d.m.Y') }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['joinedTeam'] is defined and isAdmin %}
                        {% if columns['joinedTeam'].active %}
                            <td class="uk-text-nowrap">
                                {% if member.joinedTeam %}
                                    {{ member.joinedTeam|date('d.m.Y') }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                    {% if columns['leftTeam'] is defined and isAdmin %}
                        {% if columns['leftTeam'].active %}
                            <td class="uk-text-nowrap">
                                {% if member.leftTeam %}
                                    {{ member.leftTeam|date('d.m.Y') }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                    {% if columns['bankAccount'] is defined and isAdmin %}
                        {% if columns['bankAccount'].active %}
                            <td class="uk-text-nowrap">
                                {% if member.bankAccountIban %}
                                    IBAN:
                                    <a href="#" class="clipboard-button"
                                       data-clipboard-text="{{ member.bankAccountIban }}"
                                       data-uk-tooltip title="{{ member.bankAccountIban }}">
                                        {{ member.bankAccountIban|truncate(15) }}
                                    </a><br>
                                {% endif %}
                                {% if member.bankAccountBic %}
                                    BIC:
                                    <a href="#" class="clipboard-button"
                                       data-clipboard-text="{{ member.bankAccountBic }}">
                                        {{ member.bankAccountBic }}
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                    {% if columns['wageTaxClass'] is defined and isAdmin %}
                        {% if columns['wageTaxClass'].active %}
                            <td class="uk-text-nowrap">
                                {% if member.wageTaxClass %}
                                    {{ member.wageTaxClass }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                    {% if columns['children'] is defined and isAdmin %}
                        {% if columns['children'].active %}
                            <td class="uk-text-nowrap">
                                {% if member.children %}
                                    {{ member.children }}
                                {% else %}
                                    <span class="uk-text-muted">keine</span>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('modules_team_member_details', {'member': member.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Ansehen">
                                <i class="uk-icon-eye"></i>
                            </a>
                            {% if is_granted('EDIT', member) %}
                                <a href="{{ path('modules_team_member_edit', {'member': member.id}) }}"
                                   class="uk-button uk-button-small uk-button-primary" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>

                                {% if member.status!=1 %}
                                <a href="{{ path('modules_team_member_changestatus',{'member':member.id,'status':1}) }}" data-uk-tooltip
                                   title="In Auswahllisten ausblenden"
                                   class="uk-button uk-button-small uk-button-warning"><i class="uk-icon-minus-circle"></i></a>
                                {% else %}
                                    <a href="{{ path('modules_team_member_changestatus',{'member':member.id,'status':0}) }}" data-uk-tooltip
                                       title="In Auswahllisten einblinden"
                                       class="uk-button uk-button-small uk-button-success"><i class="uk-icon-plus"></i></a>
                                {% endif %}

                            {% endif %}
                            {% if is_granted('DELETE', member) %}
                                <a href="#delete-member-{{ member.id }}"
                                   class="uk-button uk-button-small uk-button-danger"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>

                        {% if is_granted('DELETE', member) %}
                            <div class="uk-modal uk-text-left" id="delete-member-{{ member.id }}">
                                <div class="uk-modal-dialog">
                                    <a class="uk-modal-close uk-close"></a>
                                    <div class="uk-modal-header uk-modal-header-danger">
                                        <h3>
                                            <i class="uk-icon-warning"></i>
                                            Löschen bestätigen
                                        </h3>
                                    </div>
                                    <b class="uk-text-large">Möchten Sie den Mitarbeiter <i
                                                class="uk-text-muted">{{ member.fullName }}</i> wirklich löschen?</b>
                                    {{ form_start(deleteForms[member.id]) }}
                                    <div class="uk-modal-footer">
                                        <a href="#" class="uk-button uk-modal-close">
                                            <i class="uk-icon-close"></i>
                                            Abbrechen
                                        </a>
                                        <button class="uk-button uk-button-danger uk-float-right">
                                            <i class="uk-icon-trash"></i>
                                            Löschen!
                                        </button>
                                    </div>
                                    {{ form_end(deleteForms[member.id]) }}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Mitarbeiter angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\TeamBundle\\Entity\\Member') %}
                            <a href="{{ path('modules_team_member_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neuen Mitarbeiter anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}