{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% if category %}
    {% set listPath = path('modules_team_member_categoryindex', {'category': category.id}) %}
{% else %}
    {% set listPath = path('modules_team_member_index') %}
{% endif %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-users"></i> Team
        {% if category %}
            <i class="uk-icon-angle-right"></i> {{ category.name }}
        {% endif %}
    {% endset %}
    {% set buttons %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Mitarbeiter', null, buttons, breadcrumb) }}

    {{ form_start(form) }}

    {# Form Buttons Top #}
    <div class="uk-grid uk-grid-small uk-margin-top uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_team_member_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    {# Main Form #}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-10">
                {{ form_row(form.salutation) }}
            </div>
            <div class="uk-width-medium-4-10">
                {{ form_row(form.firstname) }}
            </div>
            <div class="uk-width-medium-4-10">
                {{ form_row(form.lastname) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(form.shortName) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.street) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(form.zip) }}
            </div>
            <div class="uk-width-medium-4-10">
                {{ form_row(form.city) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.phone) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.mobile) }}
            </div>
            <div class="uk-width-medium-1-3">
                {{ form_row(form.email) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.birthday) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.joinedTeam) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.leftTeam) }}
            </div>
            <div class="uk-width-medium-1-4">
                {{ form_row(form.holidayClaim) }}
            </div>
            <div class="uk-width-2-3">
                {{ form_row(form.categories) }}
            </div>
            <div class="uk-width-1-3">
                {{ form_row(form.color) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-5-10">
                {{ form_row(form.bankAccountIban) }}
            </div>
            <div class="uk-width-medium-3-10">
                {{ form_row(form.bankAccountBic) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(form.wageTaxClass) }}
            </div>
            <div class="uk-width-medium-1-10">
                {{ form_row(form.children) }}
            </div>
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-margin-top">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-1-1">
                {{ form_row(form.note) }}
            </div>
        </div>
    </div>

    {# Form Buttons Bottom #}
    <hr>
    <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_team_member_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}