{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block title %}Export{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-cloud-download"></i> Export
    {% endset %}
    {{ macros.pageHeader('Daten exportieren', null, "", breadcrumb, 0) }}
    {{ form_start(form, {'action': path('modules_ordermanagement_export_export')}) }}
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid" data-uk-grid-margin>

            <div class="uk-width-1-10">
                {{ form_row(form.bills) }}
            </div>
            <div class="uk-width-1-10">
                {{ form_row(form.orders) }}
            </div>
            <div class="uk-width-1-10">
                {{ form_row(form.offers) }}
            </div>

            <div class="uk-width-4-10">{{ form_row(form.customer) }}</div>
            <div class="uk-width-3-10">{{ form_row(form.division) }}</div>
            <div class="uk-width-1-5">
                {{ form_row(form.start) }}
            </div>
            <div class="uk-width-1-5">
                {{ form_row(form.end) }}
            </div>

            <div class="uk-width-1-1">{{ form_row(form.submit) }}</div>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}