{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-document"></i> TBS
    {% endset %}

    {{ macros.pageHeader('Template Beispiele', null, "", breadcrumb) }}


    <a href="{{ path("modules_ordermanagement_default_index") }}">link</a>

    {% for var in vars %}

        {{ var }}<br/>

    {% endfor %}

{% endblock %}