{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}

{% block content %}
    {% if article %}
        {% set breadcrumb %}
            <i class="uk-icon-wikipedia-w"></i> Wiki
            {% if category %}
                <i class="uk-icon-angle-right"></i>
                {% if category.icon %}
                    <i class="uk-icon-{{ category.icon }}"></i> {{ category.name }}
                {% endif %}
            {% endif %}
        {% endset %}
        {% set buttons %}
            {% if category %}
                {% set listPath = path('modules_wiki_article_categoryindex', {'category': category.id}) %}
                {% set showPath = path('modules_wiki_article_show_1', {'id': article.id, 'category': category.id}) %}
            {% else %}
                {% set listPath = path('modules_wiki_article_index') %}
                {% set showPath = path('modules_wiki_article_show', {'id': article.id}) %}
            {% endif %}
            <div class="uk-button-group">
                <a href="{{ listPath }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="zur Liste">
                    <i class="uk-icon-list"></i>
                </a>
                <a href="{{ showPath }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Details">
                    <i class="uk-icon-eye"></i>
                </a>
            </div>
        {% endset %}
        {{ macros.pageHeader(article.name, null, buttons, breadcrumb) }}

        {{ form_start(edit_form) }}
        <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <a href="{{ listPath }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <button class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </button>
            </div>
        </div>

        <div class="uk-panel uk-panel-box">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    {{ form_row(edit_form.name) }}
                </div>
                <div class="uk-width-medium-1-1">
                    {{ form_row(edit_form.text) }}
                </div>
                <div class="uk-width-medium-1-2">
                    {{ form_row(edit_form.categories) }}
                </div>
                <div class="uk-width-medium-1-2">
                    {{ form_row(edit_form.tags) }}
                </div>
                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                    <div class="uk-width-medium-1-2">
                        {{ form_row(edit_form.contact) }}
                    </div>
                {% endif %}
                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                    <div class="uk-width-medium-1-2">
                        {{ form_row(edit_form.project) }}
                    </div>
                {% endif %}
                <div class="uk-width-1-1">
                    {{ form_row(edit_form.groups) }}
                </div>
            </div>
        </div>

        <h2 class="content-headline">
            <i class="uk-icon-files-o"></i>
            Anhänge
        </h2>

        <div class="uk-overflow-container bordered-container">
            <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
                {% for document in article.documents %}
                    {{ render(controller('ModulesWikiBundle:Article:documentRow', {'document': document.id})) }}
                {% endfor %}
            </table>
        </div>

        <div id="upload-drop" class="uk-placeholder">
            <div class="uk-text-center uk-text-large">
                <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
                Dateien hier hinziehen oder
                <a class="uk-form-file">Dateien aussuchen<input id="upload-select" type="file" multiple></a>.
            </div>
        </div>

        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">...</div>
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <a href="{{ listPath }}" class="uk-button">
                    <i class="uk-icon-times"></i>
                    Abbrechen
                </a>
                <button class="uk-button uk-button-success uk-float-right">
                    <i class="uk-icon-check"></i>
                    Speichern
                </button>
            </div>
        </div>
        {{ form_end(edit_form) }}

    {% else %}
        <div class="uk-alert uk-alert-warning uk-width-medium-1-2 uk-text-center uk-container-center"><p>Sie können
                diesen Artikel nicht einsehen.</p></div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if article %}
        {{ parent() }}
        <script type="text/javascript"
                src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
        <script>
            $(function () {
                // tag input
                $('#modules_wikibundle_article_tags').select2({
                    language: 'de',
                    tags: true,
                    tokenSeparators: [',', ' ']
                });

                // upload documents
                var progressbar = $("#progressbar"),
                    bar = progressbar.find('.uk-progress-bar'),
                    settings = {
                        type: 'json',
                        action: '{{ path('modules_wiki_article_documentupload', {'article': article.id}) }}', // upload url
//                    allow : '*.(jpg|jpeg|gif|png)', // allow only images
                        loadstart: function () {
                            bar.css("width", "0%").text("0%");
                            progressbar.removeClass("uk-hidden");
                        },
                        progress: function (percent) {
                            percent = Math.ceil(percent);
                            bar.css("width", percent + "%").text(percent + "%");
                        },
                        complete: function (response) {
                            $(response).each(function (i, file) {
                                $.ajax({
                                    url: Routing.generate('modules_wiki_article_documentrow', {'document': file.id}),
                                    success: function (response) {
                                        var row = $(response);
                                        row.hide();
                                        $('#documents').prepend(row);
                                        row.fadeIn();

                                    }
                                });
                            });
                        },
                        allcomplete: function (response) {
                            bar.css("width", "100%").text("100%");
                            setTimeout(function () {
                                progressbar.addClass("uk-hidden");
                            }, 250);
                        }
                    };

                var select = UIkit.uploadSelect($("#upload-select"), settings),
                    drop = UIkit.uploadDrop($("#upload-drop"), settings);

                // delete document
                $(document).on('click', '.delete-document', function (e) {
                    e.preventDefault();
                    var button = $(this);
                    $.ajax({
                        url: $(this).data('url'),
                        method: 'DELETE',
                        success: function () {
                            button.parents('tr').first().fadeOut(function () {
                                $(this).remove();
                            });
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}
