{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-wikipedia-w"></i> Wiki
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\WikiBundle\\Entity\\Article') %}
            <a href="{{ path('modules_wiki_article_new') }}" class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neuen Artikel anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Titel', 'name') }}
                </th>
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['project'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['project'].label, 'project') }}
                    </th>
                {% endif %}
                {% if columns['createdBy'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdBy'].label, 'createdBy') }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdAt'].label, 'createdAt') }}
                    </th>
                {% endif %}
                {% if columns['updatedAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['updatedAt'].label, 'updatedAt') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for article in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('modules_wiki_article_show', {'id': article.id}) }}">
                            {{ article.name }}
                        </a><br>
                        {% if article.tags|length %}
                            <i class="uk-text-muted uk-text-small">
                                {% for tag in article.tags %}
                                    {{ tag.name }}{% if loop.index < article.tags|length %}, {% endif %}
                                {% endfor %}
                            </i>
                        {% endif %}
                    </td>
                    {% if columns['contact'].active %}
                        <td>
                            {% if article.contact %}
                                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                    <a href="{{ path('modules_contact_default_details', {'contact': article.contact.id}) }}">{{ article.contact.name }}</a>
                                    <br>
                                {% else %}
                                    {{ article.contact.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['project'].active %}
                        <td>
                            {% if article.project %}
                                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                                    <a href="{{ path('modules_project_project_show', {'id': article.project.id}) }}">{{ article.project.name }}</a>
                                    <br>
                                {% else %}
                                    {{ article.project.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['createdBy'].active %}
                        <td>
                            <a href="{{ path('core_app_user_show', {'id': article.createdBy.id}) }}">
                                {{ article.createdBy.username }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ article.createdAt|date('d.m.Y H:i') }} Uhr
                        </td>
                    {% endif %}
                    {% if columns['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ article.updatedAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': article.updatedBy.id}) }}">{{ article.updatedBy.username }}</a></span>
                        </td>
                    {% endif %}
                    <td class="uk-text-right">
                        {% if article.documents|length or is_granted('EDIT', article) %}
                        <div class="uk-button-group">
                            {% endif %}
                            {% if is_granted('VIEW', article) %}
                                {% if article.documents|length %}
                                    <div class="uk-button-dropdown"
                                         data-uk-dropdown="{mode:'click', pos: 'bottom-right'}" data-uk-tooltip
                                         title="Downloads">
                                        <button class="uk-button uk-button-small uk-button-primary uk-float-right">
                                            <i class="uk-icon-download"></i>
                                            <i class="uk-icon-angle-down"></i>
                                        </button>
                                        <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom-left">
                                            <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                                {% for document in article.documents %}
                                                    <li>
                                                        <a href="/{{ document.path }}" download>
                                                            <i class="uk-icon-{{ macros.fileIcon(document.mime) }}"></i>
                                                            {{ document.name }}
                                                            <span class="uk-text-muted uk-text-small">({{ macros.readableFileSize(document.size) }}
                                                                )</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                <a href="{{ path('modules_wiki_article_show', {'id': article.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', article) %}
                                <a href="{{ path('modules_wiki_article_edit', {'id': article.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', article) %}
                                <a href="#delete-article-{{ article.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                            {% if article.documents|length or is_granted('EDIT', article) %}
                        </div>
                        {% endif %}

                        {% include 'ModulesWikiBundle:Article:delete-modal.html.twig' with {'deleteForm': deleteForms[article.id]} %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Artikel angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\WikiBundle\\Entity\\Article') %}
                            <a href="{{ path('modules_wiki_article_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neuen Artikel anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}