{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#modules_wikibundle_article_tags').select2({
                language: 'de',
                tags: true,
                tokenSeparators: [',', ' ']
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-wikipedia-w"></i> Wiki
        {% if category %}
            <i class="uk-icon-angle-right"></i>
            {% if category.icon %}
                <i class="uk-icon-{{ category.icon }}"></i> {{ category.name }}
            {% endif %}
        {% endif %}
    {% endset %}
    {% set buttons %}
        {% if category %}
            {% set listPath = path('modules_wiki_article_categoryindex', {'category': category.id}) %}
        {% else %}
            {% set listPath = path('modules_wiki_article_index') %}
        {% endif %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neuer Artikel', null, buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.text) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.categories) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.tags) }}
            </div>
            {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                <div class="uk-width-medium-1-2">
                    {{ form_row(form.contact) }}
                </div>
            {% endif %}
            {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                <div class="uk-width-medium-1-2">
                    {{ form_row(form.project) }}
                </div>
            {% endif %}
            <div class="uk-width-1-1">
                {{ form_row(form.groups) }}
            </div>
        </div>
    </div>

    <div class="uk-alert">
        <i class="uk-icon-info-circle"></i>
        Um Dokumente hochzuladen muss der Artikel erst gespeichert werden.
    </div>

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ listPath }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}