{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% if article %}
        {% set breadcrumb %}
            <i class="uk-icon-wikipedia-w"></i> Wiki
            {% if category %}
                <i class="uk-icon-angle-right"></i>
                {% if category.icon %}<i class="uk-icon-{{ category.icon }}"></i> {% endif %}{{ category.name }}
            {% endif %}
        {% endset %}
        {% set buttons %}
            {% if category %}
                {% set listPath = path('modules_wiki_article_categoryindex', {'category': category.id}) %}
                {% set editPath = path('modules_wiki_article_edit_1', {'id': article.id, 'category': category.id}) %}
            {% else %}
                {% set listPath = path('modules_wiki_article_index') %}
                {% set editPath = path('modules_wiki_article_edit', {'id': article.id}) %}
            {% endif %}
            {% if is_granted('EDIT', article) %}
                <div class="uk-button-group">
            {% endif %}
            <a href="{{ listPath }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            {% if is_granted('EDIT', article) %}
                <a href="{{ editPath }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Bearbeiten">
                    <i class="uk-icon-pencil"></i>
                </a>
            {% endif %}
            {% if is_granted('DELETE', article) %}
                <a href="#delete-article-{{ article.id }}"
                   class="uk-button uk-button-small uk-button-danger"
                   data-uk-tooltip title="Löschen"
                   data-uk-modal>
                    <i class="uk-icon-trash"></i>
                </a>
            {% endif %}
            {% if is_granted('EDIT', article) %}
                </div>
            {% endif %}
        {% endset %}
        {{ macros.pageHeader(article.name, null, buttons, breadcrumb) }}

        <div class="uk-panel uk-panel-box">
            <div class="uk-grid uk-text-large">
                <div class="uk-width-medium-1-2">
                    <i class="uk-icon-user"></i> Autor:
                    <a href="{{ path('core_app_user_show', {'id': article.createdBy.id}) }}">{{ article.createdBy.username }}</a>
                    <small class="uk-text-muted">({{ article.createdAt|date('d.m.Y H:i') }} Uhr)</small>
                    <br>
                    <small><i class="uk-icon-pencil"></i> letzte Änderung: {{ article.updatedAt|date('d.m.Y H:i') }} Uhr
                        (von
                        <a href="{{ path('core_app_user_show', {'id': article.updatedBy.id}) }}">{{ article.updatedBy.username }}</a>)
                    </small>
                </div>
                <div class="uk-width-medium-1-2">
                    {% if article.contact %}
                        <i class="uk-icon-briefcase"></i> Kontakt:
                        {% if is_granted('VIEW', article.contact) %}
                            <a href="{{ path('modules_contact_default_details', {'contact': article.contact.id}) }}">{{ article.contact.name }}</a>
                            <br>
                        {% else %}
                            {{ article.contact.name }}<br>
                        {% endif %}
                    {% endif %}
                    {% if article.project %}
                        <i class="uk-icon-university"></i> Projekt:
                        {% if is_granted('VIEW', article.project) %}
                            <a href="{{ path('modules_project_project_show', {'id': article.project.id}) }}">{{ article.project.name }}</a>
                            <br>
                        {% else %}
                            {{ article.project.name }}<br>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {% if article.tags|length %}
                <div class="uk-margin-top">
                    Schlagworte:
                    <i class="uk-text-muted">
                        {% for tag in article.tags %}
                            {{ tag.name }}{% if loop.index < article.tags|length %}, {% endif %}
                        {% endfor %}
                    </i>
                </div>
            {% endif %}
        </div>

        <div class="uk-panel uk-panel-box uk-margin-small-top">
            {{ article.text|raw }}
        </div>

        <h2 class="content-headline">
            <i class="uk-icon-files-o"></i>
            Anhänge
        </h2>

        <div class="uk-overflow-container bordered-container">
            <table class="uk-table uk-table-striped uk-table-hover">
                {% for document in article.documents %}
                    <tr>
                        <td>
                            <i class="uk-icon-{{ macros.fileIcon(document.mime) }}"></i>
                            {{ document.name }}
                            <span class="uk-text-muted uk-text-right">({{ macros.readableFileSize(document.size) }}
                                )</span>
                        </td>
                        <td class="uk-text-right" style="width: 30px;">
                            <div class="uk-button-group">
                                <a href="/{{ document.path }}" target="_blank"
                                   class="uk-button uk-button-small uk-button-primary"
                                   data-uk-tooltip title="Datei öffnen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                                <a href="/{{ document.path }}" target="_blank"
                                   class="uk-button uk-button-small uk-button-primary"
                                   data-uk-tooltip title="Datei herunterladen" download>
                                    <i class="uk-icon-download"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% include 'ModulesWikiBundle:Article:delete-modal.html.twig' %}
    {% else %}
        <div class="uk-alert uk-alert-warning uk-width-medium-1-2 uk-text-center uk-container-center"><p>Sie können
                diesen Artikel nicht einsehen.</p></div>
    {% endif %}
{% endblock %}