<div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header uk-modal-header-success">
        <h3>
            <i class="uk-icon-map-marker"></i>
            Zugang anlegen
        </h3>
    </div>

    {% if form.contact is not defined or form.contact.vars.choices|length %}
        {{ form_start(form) }}
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            {% if form.contact is defined %}
                <div class="uk-width-1-1">
                    {{ form_row(form.contact) }}
                </div>
            {% endif %}
            <div class="uk-width-1-2">
                {{ form_row(form.username) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(form.email) }}
            </div>
            <div class="uk-width-1-2">
                <div class="uk-form-row">
                    <label class="uk-form-label required">
                        Passwort
                    </label>
                    {{ form_widget(form.plain_password.first) }}
                    {{ form_errors(form.plain_password.first) }}
                </div>
            </div>
            <div class="uk-width-1-2">
                <div class="uk-form-row">
                    <label class="uk-form-label required">
                        Passwort wiederholen
                    </label>
                    {{ form_widget(form.plain_password.second) }}
                    {{ form_errors(form.plain_password.second) }}
                </div>
            </div>
            <div class="uk-width-1-2">
                {{ form_row(form.groups) }}
            </div>
            <div class="uk-width-1-4">
                {{ form_row(form.enabled) }}
            </div>
            <div class="uk-width-1-4">
                {{ form_row(form.color) }}
            </div>
        </div>
        <div class="uk-modal-footer">
            <a href="#" class="uk-button uk-modal-close">
                <i class="uk-icon-close"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern!
            </button>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="uk-alert">
            <i class="uk-icon-info"></i> Legen Sie zunächst einen Kontakt an.
        </div>
        <a href="{{ path('modules_contact_default_new') }}"
           class="uk-button uk-button-large uk-button-success uk-width-1-1">
            <i class="uk-icon-plus"></i>
            Kontakt anlegen
        </a>
    {% endif %}
</div>