<div class="uk-panel uk-panel-box uk-margin-bottom note-form">
    <div class="uk-position-absolute uk-position-top-right form-collection-actions">
        <a href="#" class="uk-button uk-button-small collection-remove uk-button-danger" title="Löschen">
            <i class="uk-icon-trash"></i>
        </a>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            {{ form_row(form.text) }}
        </div>
    </div>
</div>