{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}


{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte <i class="uk-icon-angle-right"></i> <i
            class="uk-icon-check-circle-o"></i> Tickets
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_ticket_ticket_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('modules_ticket_ticket_show', {'id': ticket.id}) }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Details">
                <i class="uk-icon-eye"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader(ticket.name, null, buttons, breadcrumb) }}

    {{ form_start(edit_form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_ticket_ticket_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.name) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(edit_form.status) }}
            </div>
            <div class="uk-width-3-10">
                <label class="uk-form-label" for="form-">
                    Datum
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.dueDate.date) }}
                    {{ form_errors(edit_form.dueDate) }}
                </div>
            </div>
            <div class="uk-width-2-10">
                <label class="uk-form-label" for="form-">&nbsp;</label>
                <div class="uk-form-controls">
                    {{ form_widget(edit_form.dueDate.time) }}
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(edit_form.project) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(edit_form.user) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(edit_form.text) }}
            </div>
        </div>
    </div>

    {# Notes #}
    <h2 class="content-headline">
        <i class="uk-icon-edit"></i>
        Notizen
        <a href="#" class="uk-button uk-button-small uk-button-success uk-float-right collection-action collection-add"
           data-collection="ticket_notes" title="Hinzufügen"><i class="uk-icon-plus"></i></a>
    </h2>

    {{ form_row(edit_form.notes) }}

    <h2 class="content-headline">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <div id="upload-drop" class="uk-placeholder">
        <div class="uk-text-center uk-text-large">
            <i class="uk-icon-cloud-upload uk-icon-large"></i><br>
            Dateien hier hinziehen oder
            <a class="uk-form-file">Dateien aussuchen<input id="upload-select" type="file" multiple></a>.
        </div>
    </div>

    <div id="progressbar" class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width: 0%;">...</div>
    </div>

    <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
        {% for document in ticket.documents %}
            {{ render(controller('ModulesTicketBundle:Ticket:documentRow', {'document': document.id})) }}
        {% endfor %}
    </table>

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_ticket_ticket_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script>
        $(function () {
            // notes
            $('#ticket_notes').collection({
                allow_up: false,
                allow_down: false,
                remove: '<a href="#" class="uk-button uk-button-small uk-button-danger" title="Löschen"><i class="uk-icon-trash"></i></a>',
                custom_add_location: true,
                after_add: function (collection, element) {
                    UIkit.Utils.scrollToElement(element);
                }
            });

            // upload documents
            var progressbar = $("#progressbar"),
                bar = progressbar.find('.uk-progress-bar'),
                settings = {
                    type: 'json',
                    action: '{{ path('modules_ticket_ticket_documentupload', {'ticket': ticket.id}) }}', // upload url
//                    allow : '*.(jpg|jpeg|gif|png)', // allow only images
                    loadstart: function () {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("uk-hidden");
                    },
                    progress: function (percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent + "%").text(percent + "%");
                    },
                    complete: function (response) {
                        $(response).each(function (i, file) {
                            $.ajax({
                                url: Routing.generate('modules_ticket_ticket_documentrow', {'document': file.id}),
                                success: function (response) {
                                    var row = $(response);
                                    row.hide();
                                    $('#documents').prepend(row);
                                    row.fadeIn();

                                }
                            });
                        });
                    },
                    allcomplete: function (response) {
                        bar.css("width", "100%").text("100%");
                        setTimeout(function () {
                            progressbar.addClass("uk-hidden");
                        }, 250);
                    }
                };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                drop = UIkit.uploadDrop($("#upload-drop"), settings);

            // delete document
            $(document).on('click', '.delete-document', function (e) {
                e.preventDefault();
                var button = $(this);
                $.ajax({
                    url: $(this).data('url'),
                    method: 'DELETE',
                    success: function () {
                        button.parents('tr').first().fadeOut(function () {
                            $(this).remove();
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}

{% form_theme edit_form _self %}

{% block _ticket_notes_entry_widget %}
    {% include '@ModulesTicket/Ticket/add-note-form.html.twig' %}
{% endblock %}