{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ticket_ticket_new') }}" class="uk-button uk-button-small uk-button-success"
           data-uk-tooltip title="Neues Ticket anlegen">
            <i class="uk-icon-plus"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Tickets', 'check-circle-o', buttons, breadcrumb, 1) }}

    {{ knp_pagination_render(pagination) }}

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Status
                </th>
                <th class="uk-text-nowrap">
                    Name
                </th>
                <th>
                    Projekt
                </th>
                <th class="uk-text-nowrap">
                    Mitarbeiter
                </th>
                <th class="uk-text-nowrap">
                    Notizen
                </th>
                <th class="uk-text-nowrap">
                    Dokumente
                </th>
                <th class="uk-text-nowrap">
                    Datum
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in pagination %}
                <tr>
                    <td class="uk-text-nowrap uk-text-large">
                        {% if ticket.status == constant('STATUS_OPEN', ticket) %}
                            <a data-uk-tooltip title="offen"
                               class="uk-button uk-active uk-button-danger uk-button-small">
                                <i class="uk-icon-square-o"></i>
                            </a>
                        {% elseif ticket.status == constant('STATUS_URGENT', ticket) %}
                            <a data-uk-tooltip title="dringend"
                               class="uk-button uk-active uk-button-danger uk-button-small">
                                <i class="uk-icon-warning"></i>
                            </a>
                        {% elseif ticket.status == constant('STATUS_DONE', ticket) %}
                            <a data-uk-tooltip title="erledigt"
                               class="uk-button uk-active uk-button-success uk-button-small">
                                <i class="uk-icon-check"></i>
                            </a>
                        {% elseif ticket.status == constant('STATUS_IN_PROGRESS', ticket) %}
                            <a data-uk-tooltip title="in Arbeit"
                               class="uk-button uk-active uk-button-warning uk-button-small">
                                <i class="uk-icon-ellipsis-h"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        {{ ticket.name }}
                    </td>
                    <td>
                        {% if ticket.project %}
                            <a href="{{ path('modules_project_project_show', {'id': ticket.project.id}) }}">
                                {{ ticket.project.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        {% if ticket.user %}
                            <a href="{{ path('core_app_user_show', {'id': ticket.user.id}) }}">
                                {{ ticket.user.username }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap">
                        <a href="{{ path('kmui_ticket_detail') }}"
                           class="uk-button uk-button-small uk-button-primary">{{ random(20) }}</a>
                    </td>
                    <td class="uk-text-nowrap">
                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                            <button class="uk-button uk-button-small uk-float-right">
                                <i class="uk-icon-download"></i>
                                <i class="uk-icon-angle-down"></i>
                            </button>
                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a href="#"><i class="uk-icon-image"></i> Bild vor Ort</a></li>
                                    <li><a href="#"><i class="uk-icon-file-pdf-o"></i> Arbeitszettel</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="uk-text-nowrap">
                        {% if ticket.dueDate %}
                            {{ ticket.dueDate|date('d.m.Y H:i') }} Uhr
                        {% endif %}
                    </td>
                    <td class="uk-text-right">
                        <div class="uk-button-group">
                            <a href="{{ path('modules_ticket_ticket_show', {'id': ticket.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Details">
                                <i class="uk-icon-eye"></i>
                            </a>
                            <a href="{{ path('modules_ticket_ticket_edit', {'id': ticket.id}) }}"
                               class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="Bearbeiten">
                                <i class="uk-icon-pencil"></i>
                            </a>
                            <a href="#" class="uk-button uk-button-small uk-button-danger" data-uk-tooltip
                               title="Löschen">
                                <i class="uk-icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}