{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/upload.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/placeholder.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/form-file.gradient.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/uikit/vendor/uikit/css/components/progress.gradient.min.css') }}"/>
{% endblock %}


{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte
    {% endset %}
    {% set buttons %}
        <a href="{{ path('modules_ticket_ticket_index') }}" class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Ticket', 'check-circle-o', buttons, breadcrumb) }}

    {{ form_start(form) }}
    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_ticket_ticket_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-width-1-2">
                {{ form_row(form.status) }}
            </div>
            <div class="uk-width-3-10">
                <label class="uk-form-label" for="form-">
                    Datum
                </label>
                <div class="uk-form-controls">
                    {{ form_widget(form.dueDate.date) }}
                    {{ form_errors(form.dueDate) }}
                </div>
            </div>
            <div class="uk-width-2-10">
                <label class="uk-form-label" for="form-">&nbsp;</label>
                <div class="uk-form-controls">
                    {{ form_widget(form.dueDate.time) }}
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.project) }}
            </div>
            <div class="uk-width-medium-1-2">
                {{ form_row(form.user) }}
            </div>
            <div class="uk-width-medium-1-1">
                {{ form_row(form.text) }}
            </div>
        </div>
    </div>

    {# Notes #}
    <h2 class="content-headline">
        <i class="uk-icon-file-o"></i>
        Notizen
        <a href="#" class="uk-button uk-button-small uk-button-success uk-float-right collection-action collection-add"
           data-collection="ticket_notes" title="Hinzufügen"><i class="uk-icon-plus"></i></a>
    </h2>

    {{ form_row(form.notes) }}

    <div class="uk-alert">
        <i class="uk-icon-info-circle"></i>
        Um Dokumente hochzuladen muss das Ticket erst gespeichert werden.
    </div>

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a href="{{ path('modules_ticket_ticket_index') }}" class="uk-button">
                <i class="uk-icon-times"></i>
                Abbrechen
            </a>
            <button class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i>
                Speichern
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/uikit/vendor/uikit/js/components/upload.min.js') }}"></script>
    <script>
        $(function () {
            $('#ticket_notes').collection({
                allow_up: false,
                allow_down: false,
                remove: '<a href="#" class="uk-button uk-button-small uk-button-danger" title="Löschen"><i class="uk-icon-trash"></i></a>',
                custom_add_location: true,
                after_add: function (collection, element) {
                    UIkit.Utils.scrollToElement(element);
                }
            });
        });
    </script>
{% endblock %}

{% form_theme form _self %}

{% block _ticket_notes_entry_widget %}
    {% include '@ModulesTicket/Ticket/add-note-form.html.twig' %}
{% endblock %}