{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-university"></i> Projekte <i class="uk-icon-angle-right"></i> <i
            class="uk-icon-check-circle-o"></i> Tickets
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_ticket_ticket_index') }}" class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>
            <a href="{{ path('modules_ticket_ticket_edit', {'id': ticket.id}) }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="Bearbeiten">
                <i class="uk-icon-pencil"></i>
            </a>
            <a href="#" class="uk-button uk-button-small uk-button-danger"
               data-uk-tooltip title="Löschen">
                <i class="uk-icon-trash"></i>
            </a>
        </div>
    {% endset %}
    {{ macros.pageHeader(ticket.name, null, buttons, breadcrumb) }}

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        {% if ticket.project %}
            <div class="uk-width-medium-1-2 uk-text-large">
                <i class="uk-icon-university"></i> {{ ticket.project.name }}
            </div>
        {% endif %}
        {% if ticket.user %}
            <div class="uk-width-medium-1-2 uk-text-large">
                <i class="uk-icon-user"></i>
                <a href="{{ path('core_app_user_show', {'id': ticket.user.id}) }}">
                    {{ ticket.user.username }}
                </a>
            </div>
        {% endif %}
        <div class="uk-width-1-2 uk-text-large">
            {% if ticket.status == constant('STATUS_OPEN', ticket) %}
                <span class="uk-text-danger"><i class="uk-icon-square-o"></i> offen</span>
            {% elseif ticket.status == constant('STATUS_URGENT', ticket) %}
                <span class="uk-text-danger"><i class="uk-icon-warning"></i> dringend</span>
            {% elseif ticket.status == constant('STATUS_IN_PROGRESS', ticket) %}
                <span class="uk-text-warning"><i class="uk-icon-ellipsis-h"></i> in Arbeit</span>
            {% elseif ticket.status == constant('STATUS_DONE', ticket) %}
                <span class="uk-text-success"><i class="uk-icon-check-square-o"></i> erledigt</span>
            {% endif %}
        </div>
        {% if ticket.dueDate %}
            <div class="uk-width-1-2 uk-text-large">
                <i class="uk-icon-clock-o"></i>
                {{ ticket.dueDate|date('d.m.Y H:i') }} Uhr
            </div>
        {% endif %}
        {% if ticket.text %}
            <div class="uk-width-medium-1-1 uk-text-large">
                {{ ticket.text|raw }}
            </div>
        {% endif %}
    </div>

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-edit"></i>
        Notizen
    </h2>

    {% if ticket.notes|length %}
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <tr>
                <th>Ersteller</th>
                <th>Datum</th>
                <th>Inhalt</th>
            </tr>
            {% for note in ticket.notes %}
                <tr>
                    <td class="uk-width-1-10">
                        {% if note.createdBy %}
                            <a href="{{ path('core_app_user_show', {'id': note.createdBy.id}) }}">
                                {{ note.createdBy.username }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="uk-text-nowrap uk-width-1-10">
                        {{ note.createdAt|date('d.m.Y H:i') }} Uhr
                    </td>
                    <td>
                        {{ note.text }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="uk-alert">
            Keine Notizen vorhanden!
        </div>
    {% endif %}

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
        {% for document in ticket.documents %}
            <tr>
                <td>
                    <i class="uk-icon-{{ macros.fileIcon(document.mime) }}"></i>
                    {{ document.name }}
                    <span class="uk-text-muted uk-text-right">({{ macros.readableFileSize(document.size) }})</span>
                </td>
                <td class="uk-text-right" style="width: 30px;">
                    <div class="uk-button-group">
                        <a href="/{{ document.path }}" target="_blank"
                           class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="Datei öffnen">
                            <i class="uk-icon-eye"></i>
                        </a>
                        <a href="/{{ document.path }}" target="_blank"
                           class="uk-button uk-button-small uk-button-primary"
                           data-uk-tooltip title="Datei herunterladen" download>
                            <i class="uk-icon-download"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2 class="content-headline uk-margin-bottom-remove">
        <i class="uk-icon-history"></i>
        Historie
    </h2>

    <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
        <tr>
            <td>
                <i class="uk-icon-pencil"></i>
                <a href="{{ path('kmui_profile') }}">
                    Max Mustermann
                </a>
                hat dieses Ticket am <b>01.12.2016 um 14:35 Uhr</b> <b>bearbeitet</b>.
            </td>
        </tr>
        <tr>
            <td>
                <i class="uk-icon-eye"></i>
                <a href="{{ path('kmui_profile') }}">
                    Max Mustermann
                </a>
                hat dieses Ticket am <b>01.12.2016 um 14:35 Uhr</b> <b>angesehen</b>.
            </td>
        </tr>
        <tr>
            <td>
                <i class="uk-icon-copy"></i>
                <a href="{{ path('kmui_profile') }}">
                    Max Mustermann
                </a>
                hat diesem Ticket am <b>01.12.2016 um 14:35 Uhr</b> eine <b>Datei hinzugefügt</b>.
            </td>
        </tr>
        <tr>
            <td>
                <i class="uk-icon-edit"></i>
                <a href="{{ path('kmui_profile') }}">
                    Max Mustermann
                </a>
                hat diesem Ticket am <b>01.12.2016 um 14:35 Uhr</b> eine <b>Notiz hinzugefügt</b>.
            </td>
        </tr>
    </table>
{% endblock %}