<html>
<head>
    <title>Überfällige Rechnungen</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url("{{ prefix ~ asset('assets/uikit/img/texture.jpg') }}");
        }
    </style>
    <meta charset="utf-8">
</head>
<body>

<table style="-webkit-font-smoothing: antialiased;margin: 0;background: #f3f3f3!important;border-collapse: collapse;border-spacing: 0;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;height: 100%;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;width: 100%">
    <tbody>
    <tr style="padding: 0;text-align: left;vertical-align: top">
        <td align="center" valign="top"
            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
            <center data-parsed="" style="min-width: 580px;width: 100%">
                <table align="center"
                       style="margin: 0 auto;background: #8a8a8a;background-color: #eee;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 20px;text-align: left;vertical-align: top;word-wrap: break-word">
                            <table align="center"
                                   style="margin: 0 auto;background: 0 0;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;text-align: inherit;vertical-align: top;width: 580px">
                                <tbody>
                                <tr style="padding: 0;text-align: left;vertical-align: top">
                                    <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                                        <center data-parsed="" style="min-width: 580px;width: 100%"><img
                                                    alt="K&amp;M Haustechnik"
                                                    align="center"
                                                    style="clear: both; display: block; float: none; margin: 0px auto; max-height: 100%; max-width: 100px; outline: 0px; text-align: center; text-decoration: none; width: auto;"
                                                    class="lazy lazy-inited"
                                                    data-original="{{ asset("assets/uikit/img/app-icon.png") }}"
                                                    src="{{ prefix ~ asset('assets/uikit/img/app-icon.png') }}">
                                        </center>
                                        <table style="border-collapse: collapse;border-spacing: 0;display: table;padding: 0;position: relative;text-align: left;vertical-align: top;width: 100%">
                                            <tbody>
                                            <tr style="padding: 0;text-align: left;vertical-align: top"></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td height="80px"
                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 80px;font-weight: 400;hyphens: auto;line-height: 80px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center"
                       style="margin: 0 auto;background: 0 0!important;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 580px">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                            <h1 style="margin: 0;margin-bottom: 10px;color: inherit;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 24px;font-weight: 400;line-height: 1.3;margin: 0;margin-bottom: 10px;padding: 0;text-align: center;word-wrap: normal">
                                Überfällige Rechnungen
                            </h1></td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td height="40px"
                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 40px;font-weight: 400;hyphens: auto;line-height: 40px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center"
                       style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                            <table align="center"
                                   style="margin: 0 auto;background: #fefefe;border-collapse: collapse;border-spacing: 0;box-shadow: 0 1px 2px 0 rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.1);margin: 0 auto;padding: 0;text-align: inherit;vertical-align: top;width: 580px">
                                <tbody>
                                <tr style="padding: 0;text-align: left;vertical-align: top">
                                    <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">

                                        <table style="border-collapse: collapse;border-spacing: 0;display: table;padding: 0;position: relative;text-align: left;vertical-align: top;width: 100%">
                                            <tbody>
                                            <tr style="padding: 0;text-align: left;vertical-align: top">
                                                <th style="margin: 0 auto;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0 auto;padding: 0;padding-bottom: 30px;padding-left: 30px;padding-right: 30px;text-align: left;width: 550px">
                                                    <table style="border-collapse: collapse;border-spacing: 0;padding: 0;text-align: left;vertical-align: top;width: 100%">
                                                        <tbody>
                                                        <tr style="padding: 0;text-align: left;vertical-align: top">
                                                            <td style="margin: 0;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0;padding: 0;text-align: left">
                                                                <div style="margin: 0;margin-bottom: 10px;color: #777;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0;margin-bottom: 10px;padding: 0;text-align: left">
                                                                <br /><br />
                                                               {{ table|raw }}
                                                                </div>
                                                            </td>
                                                            <th style="margin: 0;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.3;margin: 0;padding: 0!important;text-align: left;visibility: hidden;width: 0"></th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td height="60px"
                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 60px;font-weight: 400;hyphens: auto;line-height: 60px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center"
                       style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                    <tbody>
                    <tr style="padding: 0;text-align: left;vertical-align: top">
                        <td style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 16px;font-weight: 400;hyphens: auto;line-height: 1.3;margin: 0;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word">
                            <center data-parsed="" style="min-width: 580px;width: 100%">
                                <table style="margin: 0 auto;border-collapse: collapse;border-spacing: 0;float: none;margin: 0 auto;padding: 0;text-align: center;vertical-align: top;width: 100%">
                                    <tbody>
                                    <tr style="padding: 0;text-align: left;vertical-align: top">
                                        <td height="15px"
                                            style="-moz-hyphens: auto;-webkit-hyphens: auto;margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Lucida Grande,Geneva,Verdana,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </center>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>