{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% include 'ModulesOrderManagementBundle:Offer:export-modal.html.twig' %}
    {% include 'ModulesOrderManagementBundle:Offer:export-order-modal.html.twig' %}

    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Angebote
    {% endset %}
    {% set buttons %}
        <div class="uk-button-group">
            <a href="{{ path('modules_ordermanagement_offer_index') }}"
               class="uk-button uk-button-small uk-button-primary"
               data-uk-tooltip title="zur Liste">
                <i class="uk-icon-list"></i>
            </a>

            {% if is_granted('EDIT', 'Modules\\OrderManagementBundle\\Entity\\Orders') and mod_om_helper.getOrderByOffer(offer) is empty and  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                <a href="#modal-export-order-{{ offer.id }}" data-uk-modal
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Auftrag erstellen">
                    <i class="uk-icon-bank"></i>
                </a>
            {% endif %}

            {% if is_granted('EDIT', offer) and  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                <a href="#modal-export-{{ offer.id }}" data-uk-modal
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                    <i class="uk-icon-file-pdf-o"></i>
                </a>
                <a href="{{ path('modules_ordermanagement_offer_edit', {'offer': offer.id}) }}"
                   class="uk-button uk-button-small uk-button-primary"
                   data-uk-tooltip title="Bearbeitenn">
                    <i class="uk-icon-pencil"></i>
                </a>

            {% endif %}

            {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Offer') and  (app.user.contact!=null) %}

                <a href="{{ path('modules_ordermanagement_offer_export',{direct:offer.id}) }}"
                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                    <i class="uk-icon-file-pdf-o"></i>
                </a>
            {% endif %}
        </div>
        {% if  (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
        <div class="uk-button-dropdown uk-button-small" data-uk-dropdown="{mode:'click'}" data-uk-tooltip=""
             id="offer-status-toggle">
            <button class="uk-button uk-button-small uk-button-primary">
                {{ mod_om_helper.getOfferStatus(offer) }}
                <i class="uk-icon-angle-down"></i>
            </button>
            <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                <ul class="uk-nav uk-nav-dropdown uk-text-left">
                    {% if offer.status<2 %}
                        <li>
                            <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:0,offer:offer.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status offen
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:3,offer:offer.id}) }}"
                           id="open-toggle" class="uk-dropdown-close">
                            Status abgesagt
                        </a>
                    </li>
                    {% if offer.status<2 %}
                        <li>
                            <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:2,offer:offer.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status liegt beim Kunden
                            </a>
                        </li>
                    {% endif %}
                    {% if offer.status<3 %}
                        <li>
                            <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:4,offer:offer.id}) }}"
                               id="open-toggle" class="uk-dropdown-close">
                                Status Auftragsklarheit
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endset %}
    {{ macros.pageHeader(offer.title, null, buttons, breadcrumb, false) }}

    {% set totalPrice=offer.calculation.finalPrice %}
    {% set totalTax=0 %}
    {% set priceSum=0 %}

    {% for item in calaculationItems %}
        {% if item.service %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.service.tax)/100) %}
        {% endif %}
        {% if item.product %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.product.tax)/100) %}

        {% endif %}
        {% if item.freeText %}
            {% set price=0 %}
            {% set price=item.singlePrice %}
            {% set price=price* item.amount %}
            {% set totalTax=totalTax+((price*item.freeTax)/100) %}

        {% endif %}
        {% if item.specialprice %}
            {% set priceSum=priceSum+item.specialprice %}
        {% else %}
            {% set priceSum=priceSum+price %}
        {% endif %}
    {% endfor %}

    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-grid-divider uk-text-large" data-uk-grid-margin>
            <div class="uk-width-medium-6-10">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    {% if offer.title %}
                        <div class="uk-width-1-3">Titel:</div>
                        <div class="uk-width-2-3">
                            {{ offer.title }}
                        </div>
                    {% endif %}
                    <div class="uk-width-1-3">Status:</div>
                    <div class="uk-width-2-3">
                        {{ mod_om_helper.getOfferStatus(offer) }}
                    </div>
                    <div class="uk-width-1-3">Nummer:</div>
                    <div class="uk-width-2-3">
                        {{ offer.number }}
                    </div>
                    {% if offer.project %}
                        <div class="uk-width-1-3">Projekt:</div>
                        <div class="uk-width-2-3">
                            <a href="{{ path('modules_project_project_show',{id:offer.project.id}) }}">{{ offer.project }}</a>
                        </div>
                    {% endif %}
                    {% if offer.reminder %}
                        <div class="uk-width-1-3">Reminder:</div>
                        <div class="uk-width-2-3">
                            {{ offer.reminder|date('d.m.Y H:i') }}
                        </div>
                    {% endif %}

                    {% set order=mod_om_helper.getOrderByOffer(offer) %}
                    {% if order is not empty %}
                        <div class="uk-width-1-3">Auftrag:</div>
                        <div class="uk-width-2-3">
                            <a href="{{ path('modules_ordermanagement_order_details',{order:order.id}) }}">{{ order.title }}</a>
                        </div>
                    {% endif %}

                    <div class="uk-width-1-3">Monatspauschale:</div>
                    <div class="uk-width-2-3">
                        {% if offer.monthFee %}
                            Ja
                        {% else %}
                            nein
                        {% endif %}
                    </div>
                    {% if offer.description %}
                        <div class="uk-width-1-3">Beschreibung:</div>
                        <div class="uk-width-2-3 uk-text-small">
                            {{ offer.description|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-medium-4-10">
                <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                    <div class="uk-width-2-3 uk-text-bold">Zwischensumme:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if offer.calculation.specialPrice %}
                            {{ (offer.calculation.specialPrice-((totalPrice*19)/100))|number_format(2, ',', '.') }} €
                        {% else %}
                            {{ (priceSum)|number_format(2, ',', '.') }} €
                        {% endif %}

                    </div>
                    {% set discountContact=0 %}
                    {% if offer.contact.discount and  offer.calculation.contactDiscount!='' %}
                        <div class="uk-width-2-3 uk-text-bold">- Kundenrabatt {{ offer.contact.discount }} %:</div>
                        <div class="uk-width-1-3 uk-text-right">
                            - {{ (((priceSum*offer.contact.discount)/100))|number_format(2, ',', '.' ) }} €
                            {% set discountContact=((priceSum*offer.contact.discount)/100) %}
                        </div>
                    {% endif %}
                    <div class="uk-width-2-3 uk-text-bold">- Rabatt:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% set discount=0 %}
                        {% if offer.calculation.discount %}
                            {% if offer.calculation.discountType %}
                                - {{ (((totalPrice*offer.calculation.discount)/100))|number_format(2, ',', '.') }} €
                                {% set discount=((totalPrice*offer.calculation.discount)/100) %}
                            {% else %}
                                - {{ offer.calculation.discount|number_format(2, ',', '.') }} €
                                {% set discount=offer.calculation.discount %}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">Nettosumme:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {{ (priceSum-discountContact-discount)|number_format(2, ',', '.') }} €
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">+ MwSt.:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if offer.calculation.netto %}
                            0 € <br/>
                            <small>(Netto Rechnung)</small>
                        {% else %}
                            {{ (((priceSum-discountContact-discount)*19)/100)|number_format(2, ',', '.') }} €
                        {% endif %}
                    </div>

                    <div class="uk-width-1-1">
                        <hr/>
                    </div>
                    <div class="uk-width-2-3 uk-text-bold">Bruttobetrag:</div>
                    <div class="uk-width-1-3 uk-text-right">
                        {% if offer.calculation.specialPrice %}
                            {{ offer.calculation.specialPrice|number_format(2, ',', '.') }} €
                            <small>(Sonderpreis)</small>
                        {% else %}
                            {{ totalPrice|number_format(2, ',', '.') }} €
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

    </div>
    <h2 class="content-headline">
        <i class="uk-icon-user"></i> Kunde
    </h2>
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
            {% if offer.contact %}
                <div class="uk-width-1-3">Kunde:</div>
                <div class="uk-width-2-3">
                    {{ offer.contact }} {% if offer.contact.discount and  offer.calculation.contactDiscount!='' %}
                        <small>(Kundenrabatt: {{ offer.contact.discount }} %)</small>{% endif %}
                </div>
            {% endif %}
            {% if offer.contactAddress %}
                <div class="uk-width-1-3">Adresse:</div>
                <div class="uk-width-2-3">
                    <a href="http://maps.google.com/?q={{ offer.contactAddress }}"
                       target="_blank">
                        {{ offer.contactAddress }}
                    </a>

                </div>
            {% endif %}
            {% if offer.contactPerson %}
                <div class="uk-width-1-3">Ansprechpartner:</div>
                <div class="uk-width-2-3">
                    <div class="uk-grid uk-grid-small uk-text-large" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            {% if offer.contactPerson.salutation %}
                                {{ offer.contactPerson.salutation }}
                            {% endif %}
                            {% if offer.contactPerson.firstname %}
                                {{ offer.contactPerson.firstname }}
                            {% endif %}
                            {% if offer.contactPerson.lastname %}
                                {{ offer.contactPerson.lastname }}
                            {% endif %}
                            {% if offer.contactPerson.position %}
                                ({{ offer.contactPerson.position }})
                            {% endif %}
                        </div>
                        {% if offer.contactPerson.phone %}
                            <div class="uk-width-1-1">
                                {{ offer.contactPerson.phone }}
                            </div>
                        {% endif %}
                        {% if offer.contactPerson.mobile %}
                            <div class="uk-width-1-1">
                                {{ offer.contactPerson.mobile }}
                            </div>
                        {% endif %}
                        {% if offer.contactPerson.email %}
                            <div class="uk-width-1-1">
                                <a href="mailto:{{ offer.contactPerson.email }}">{{ offer.contactPerson.email }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <h2 class="content-headline">
        <i class="uk-icon-shopping-basket"></i> Angebotspositionen
    </h2>
    {{ knp_pagination_render(pagination) }}
    <div class="bordered-container uk-margin-top uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                <th class="uk-text-nowrap">
                    Position
                </th>
                <th class="uk-text-nowrap">
                    Artikel
                </th>
                {% if columns['amount'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['amount'].label }}
                    </th>
                {% endif %}
                {% if columns['price'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['price'].label }}
                    </th>
                {% endif %}
                {% if columns['tax'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['tax'].label }}
                    </th>
                {% endif %}
                {% if columns['total'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['total'].label }}
                    </th>
                {% endif %}

                {% if columns['specialPrice'].active %}
                    <th class="uk-text-nowrap">
                        {{ columns['specialPrice'].label }}
                    </th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% if columns['position'].active %}
                        <td class="uk-text-nowrap">
                            {% if item.service %}
                                {{ item.service.title }}
                            {% endif %}
                            {% if item.product %}
                                {{ item.product.title }}
                            {% endif %}
                            {% if item.freeText %}
                                {{ item.freeText }}
                            {% endif %}
                            {% if item.extraText %}
                                ( {{ item.extraText }} )
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['amount'].active %}
                        <td class="uk-text-nowrap">
                            {{ item.amount }}
                            {% if item.service %}
                                {{ mod_om_helper.getServicePriceType(item.service.id) }}
                            {% endif %}
                            {% if item.product %}
                                {{ mod_om_helper.getProductPriceType(item.product.id) }}
                            {% endif %}
                            {% if item.freePriceType %}
                                {{ item.freePriceType }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['price'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {{ item.singlePrice|replace(',','.')|number_format(2, ',', '.') }} €
                        </td>
                    {% endif %}
                    {% if columns['tax'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {% if item.service %}
                                {{ item.service.tax }} %
                            {% endif %}
                            {% if item.product %}
                                {{ item.product.tax }} %
                            {% endif %}
                            {% if item.freeText %}
                                {{ item.freeTax }} %
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['total'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {{ (item.singlePrice *  item.amount)|replace(',','.')|number_format(2, ',', '.') }} €
                        </td>
                    {% endif %}
                    {% if columns['specialPrice'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {% if item.specialPrice %}
                                {{ item.specialPrice|replace(',','.')|number_format(2, ',', '.') }} €
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Keine Einträge vorhanden.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}

    <h2 class="content-headline">
        <i class="uk-icon-files-o"></i>
        Anhänge
    </h2>

    <div class="uk-overflow-container bordered-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove" id="documents">
            {% if app_helper.getDocumentsForEntity(offer,offer.id) %}
                {% for document in app_helper.getDocumentsForEntity(offer,offer.id) %}
                    <tr>
                        <td>
                            <a target="_blank"
                               href="{{ path('core_app_download_download',{id:document.id}) }}">{{ document.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="uk-text-center">
                        Keine Dokumente hinzugefügt
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>


{% endblock %}