{% if is_granted('EDIT', offer) %}
    <div class="uk-modal uk-text-left" id="modal-export-order-{{ offer.id }}">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header uk-modal-header-danger">
                <h3>
                    <i class="uk-icon-bank"></i>
                    {{ offer.title }}
                </h3>
            </div>
            <b class="uk-text-large">Möchten Sie dieses Angebot in einen Auftrag überführen?</b><br>
            <div class="uk-text-muted uk-text-large uk-margin-top">Das Angebot geht dabei nicht verloren.</div>
            <form action="{{ path('modules_ordermanagement_order_import') }}" method="post"
                  class="uk-form">
                <input type="hidden" name="offer" value="{{ offer.id }}"/>

                <div class="uk-modal-footer">
                    <a href="#" class="uk-button uk-modal-close">
                        <i class="uk-icon-close"></i>
                        Abbrechen
                    </a>
                    <button class="uk-button uk-button-danger uk-float-right">
                        <i class="uk-icon-bank"></i>
                        Überführen!
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}