{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block content %}
    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Angebote
    {% endset %}
    {% set buttons %}
        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Offer') and (app.user.contact==null or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('modules_ordermanagement_offer_new') }}"
               class="uk-button uk-button-small uk-button-success"
               data-uk-tooltip title="Neues Angebot anlegen">
                <i class="uk-icon-plus"></i>
            </a>
        {% endif %}
    {% endset %}

    {% set filter %}
        <button data-uk-toggle="{target:'#filter', animation:'uk-animation-slide-top'}"
                class="uk-button uk-button-primary uk-margin-right">
            <i class="uk-icon-filter"></i> Filter
        </button>
    {% endset %}

    {{ macros.pageHeader('Übersicht', null, buttons, breadcrumb, 1,0,filter) }}

    <div class="uk-overflow-hidden uk-margin-bottom">
        <div class="uk-panel uk-panel-box uk-hidden" id="filter">
            <form action="{{ path('modules_ordermanagement_offer_index') }}" method="get"
                  class="uk-form uk-panel-body filterOverview">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Von:</label><br>
                                <input type="text" name="start"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.start is defined %}{{ filterSettings.start }}{% endif %}">

                            </div>
                            <div class="uk-width-medium-1-2">
                                <label class="uk-text-bold">
                                    Bis: </label><br>
                                <input type="text" name="stop"
                                       data-uk-datepicker="{format:'DD.MM.YYYY', i18n:{months:['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'], weekdays:['So.','Mo.','Di.','Mi.','Do.','Fr.','Sa.']}}"
                                       class="uk-width-1-1"
                                       value="{% if filterSettings.stop is defined %}{{ filterSettings.stop }}{% endif %}">

                            </div>
                        </div>
                        <br/>
                        {% if  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                        <label class="uk-text-bold">Geschäftsbereich: </label><br>
                        <select size="1" name="division" class="select2 uk-width-1-1">
                            <option></option>
                            {% for division in divisions %}
                                <option {% if filterSettings.division is defined %} {% if filterSettings.division==division.id %}selected="selected"{% endif %}{% endif %}
                                        value="{{ division.id }}">{{ division.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Kunde: </label><br>
                        <select size="1" name="contact" class="select2 uk-width-1-1">
                            <option></option>
                            {% for contact in app_helper.getEntityManager.getRepository('ModulesContactBundle:Contact').findAll() %}
                                <option {% if filterSettings.contact is defined %} {% if filterSettings.contact==contact.id %}selected="selected"{% endif %}{% endif %}
                                        value="{{ contact.id }}">{{ contact.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label class="uk-text-bold">
                            Status:</label><br>
                        <select size="1" name="status" class="select2 uk-width-1-1">
                            <option value="">Alle</option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status=='0' %}selected="selected"{% endif %}{% endif %}
                                    value="0">vorbereitet
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==2 %}selected="selected"{% endif %}{% endif %}
                                    value="2">liegt
                                beim Kunden
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==3 %}selected="selected"{% endif %}{% endif %}
                                    value="3">abgesagt
                            </option>
                            <option {% if filterSettings.status is defined %} {% if filterSettings.status==4 %}selected="selected"{% endif %}{% endif %}
                                    value="4">Auftragsklarheit
                            </option>
                        </select>

                    </div>
                    {% endif %}
                </div>
                <div class="uk-text-right uk-margin-top">
                         <span class="uk-button uk-button-danger resetFilter">
                            <i class="uk-icon-filter"></i>
                            Filter zurücksetzten
                        </span>
                    <button class="uk-button uk-button-primary">
                        <i class="uk-icon-filter"></i>
                        Filter anwenden
                    </button>
                </div>
            </form>
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

    <div class="bordered-container uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover uk-margin-remove">
            <thead>
            <tr>
                {% if columns['number'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, columns['number'].label, 'id') }}
                    </th>
                {% endif %}
                {% if columns['title'].active %}
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Titel', 'title') }}
                    </th>
                {% endif %}
                {% if columns['contact'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['contact'].label, 'contact') }}
                    </th>
                {% endif %}
                {% if columns['project'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['project'].label, 'project') }}
                    </th>
                {% endif %}

                {% if columns['printDate'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['printDate'].label, 'printDate') }}
                    </th>
                {% endif %}
                {% if columns['totalPrice'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['totalPrice'].label, 'totalPrice') }}
                    </th>
                {% endif %}
                {% if columns['reminder'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['reminder'].label, 'reminder') }}
                    </th>
                {% endif %}
                {% if columns['status'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['status'].label, 'status') }}
                    </th>
                {% endif %}
                {% if columns['createdAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['createdAt'].label, 'updatedAt') }}
                    </th>
                {% endif %}
                {% if columns['updatedAt'].active %}
                    <th class="uk-text-nowrap">
                        {{ knp_pagination_sortable(pagination, columns['updatedAt'].label, 'updatedAt') }}
                    </th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in pagination %}
                <tr>
                    {% if columns['number'].active %}
                        <td>
                            {{ offer.number }}
                        </td>
                    {% endif %}
                    {% if columns['title'].active %}
                        <td>
                            <a href="{{ path('modules_ordermanagement_offer_details', {'offer': offer.id}) }}">
                                {{ offer.title }}
                            </a>
                        </td>
                    {% endif %}
                    {% if columns['contact'].active %}
                        <td>
                            {% if offer.contact %}
                                {% if is_granted('VIEW', 'Modules\\ContactBundle\\Entity\\Contact') %}
                                    <b><a href="{{ path('modules_contact_default_details', {'contact': offer.contact.id}) }}">{{ offer.contact.name }}</a></b>
                                    <br>
                                {% else %}
                                    {{ offer.contact.name }}
                                    <br>
                                {% endif %}
                                {% if  offer.contactAddress.id is defined %}
                                    <small>
                                        <i class="uk-icon-map-marker"></i> <a
                                                href="http://maps.google.com/?q={{ offer.contactAddress }}"
                                                data-uk-tooltip
                                                title="{{ offer.contactAddress }}"
                                                target="_blank">
                                            {{ offer.contactAddress|truncate }}
                                        </a>
                                    </small>
                                    <br/>
                                {% endif %}
                                {% if  offer.contactPerson.id is defined %}
                                    <div id="modal-person-{{ offer.contactPerson.id }}" class="uk-modal">
                                        <div class="uk-modal-dialog">
                                            <a class="uk-modal-close uk-close"></a>
                                            <div class="uk-modal-header">
                                                <h3>
                                                    <i class="uk-icon-user"></i> {{ [offer.contactPerson.salutation, offer.contactPerson.firstname, offer.contactPerson.lastname]|join(' ') }}
                                                </h3>
                                            </div>
                                            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                                {% if offer.contactPerson.position %}
                                                    <div class="uk-width-1-2"><b>Position:</b></div>
                                                    <div class="uk-width-1-2">{{ offer.contactPerson.position }}</div>
                                                {% endif %}
                                                {% if offer.contactPerson.phone %}
                                                    <div class="uk-width-1-2"><b>Telefonnummer:</b></div>
                                                    <div class="uk-width-1-2">{{ offer.contactPerson.phone }}</div>
                                                {% endif %}
                                                {% if offer.contactPerson.mobile %}
                                                    <div class="uk-width-1-2"><b>Handynummer:</b></div>
                                                    <div class="uk-width-1-2">{{ offer.contactPerson.mobile }}</div>
                                                {% endif %}
                                                {% if offer.contactPerson.email %}
                                                    <div class="uk-width-1-2"><b>E-Mail:</b></div>
                                                    <div class="uk-width-1-2"><a
                                                                href="mailto:{{ offer.contactPerson.email }}">{{ offer.contactPerson.email }}</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <small>
                                        <i class="uk-icon-user"></i>
                                        <a href="#modal-person-{{ offer.contactPerson.id }}"
                                           data-uk-tooltip title="{{ offer.contactPerson }}"
                                           data-uk-modal>
                                            {{ offer.contactPerson|truncate }}
                                        </a>
                                    </small>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if columns['project'].active %}
                        <td>
                            {% if offer.project %}
                                {% if is_granted('VIEW', 'Modules\\ProjectBundle\\Entity\\Project') %}
                                    <a href="{{ path('modules_project_project_show', {'id': offer.project.id}) }}">{{ offer.project.name }}</a>
                                    <br>
                                {% else %}
                                    {{ offer.project.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if columns['printDate'].active %}
                        <td class="uk-text-nowrap">
                            {% if offer.printDate %}
                                {{ offer.printDate|date('d.m.Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if columns['totalPrice'].active %}
                        <td class="uk-text-nowrap uk-text-right">
                            {% if offer.calculation.specialPrice %}
                                {{ offer.calculation.specialPrice|number_format(2, ',', '.') }} €
                            {% elseif offer.calculation.finalPrice %}
                                {{ offer.calculation.finalPrice|number_format(2, ',', '.') }} €
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if columns['reminder'].active %}
                        <td class="uk-text-nowrap">
                            {% if offer.reminder %}
                                {{ offer.reminder|date('d.m.Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if columns['status'].active %}
                        <td>
                            {% if  (app.user.member!=null and is_granted('EDIT', offer)) %}
                                <div class="uk-button-dropdown uk-button-small uk-width-1-1"
                                     data-uk-dropdown="{mode:'click'}"
                                     data-uk-tooltip=""
                                     id="offer-status-toggle" style="box-sizing: content-box;">
                                    <button class="uk-button uk-button-small uk-button-primary">
                                        {{ mod_om_helper.getOfferStatus(offer) }}
                                        <i class="uk-icon-angle-down"></i>
                                    </button>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-close uk-dropdown-bottom-left">
                                        <ul class="uk-nav uk-nav-dropdown uk-text-left">
                                            {% if offer.status<2 %}
                                                <li>
                                                    <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:0,offer:offer.id,index:1}) }}"
                                                       id="open-toggle" class="uk-dropdown-close">
                                                        Status offen
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:3,offer:offer.id,index:1}) }}"
                                                   id="open-toggle" class="uk-dropdown-close">
                                                    Status abgesagt
                                                </a>
                                            </li>
                                            {% if offer.status<2 %}
                                                <li>
                                                    <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:2,offer:offer.id,index:1}) }}"
                                                       id="open-toggle" class="uk-dropdown-close">
                                                        Status liegt beim Kunden
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if offer.status<3 %}
                                                <li>
                                                    <a href="{{ path('modules_ordermanagement_offer_changestatus',{status:4,offer:offer.id,index:1}) }}"
                                                       id="open-toggle" class="uk-dropdown-close">
                                                        Status Auftragsklarheit
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <button class="uk-button uk-button-small uk-button-primary">
                                    {{ mod_om_helper.getOfferStatus(offer) }}
                                    <i class="uk-icon-angle-down"></i>
                                </button>
                            {% endif %}

                        </td>
                    {% endif %}
                    {% if columns['createdAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ offer.createdAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': offer.createdBy.id}) }}">{{ offer.createdBy.username }}</a></span>
                        </td>
                    {% endif %}
                    {% if columns['updatedAt'].active %}
                        <td class="uk-text-nowrap">
                            {{ offer.updatedAt|date('d.m.Y H:i') }} Uhr<br>
                            <span class="uk-text-muted">von <a
                                        href="{{ path('core_app_user_show', {'id': offer.updatedBy.id}) }}">{{ offer.updatedBy.username }}</a></span>
                        </td>
                    {% endif %}
                    <td class="uk-text-right">

                        <div class="uk-button-group">
                            {% if is_granted('VIEW', offer) %}
                                <a href="{{ path('modules_ordermanagement_offer_details', {'offer': offer.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Ansehen">
                                    <i class="uk-icon-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', 'CREATE\\OrderManagementBundle\\Entity\\Orders') and app.user.member!=null and  mod_om_helper.getOrderByOffer(offer) is empty %}
                                <a href="#modal-export-order-{{ offer.id }}" data-uk-modal
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Auftrag erstellen">
                                    <i class="uk-icon-bank"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', offer) and  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                                <a href="#modal-export-{{ offer.id }}" data-uk-modal
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip title="Export">
                                    <i class="uk-icon-file-pdf-o"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', offer) and  (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                                <a href="{{ path('modules_ordermanagement_offer_edit', {'offer': offer.id}) }}"
                                   class="uk-button uk-button-primary uk-button-small" data-uk-tooltip
                                   title="Bearbeiten">
                                    <i class="uk-icon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', offer) and (app.user.member!=null or is_granted('ROLE_ADMIN')) %}
                                <a href="#delete-offer-{{ offer.id }}"
                                   class="uk-button uk-button-danger uk-button-small"
                                   data-uk-tooltip title="Löschen"
                                   data-uk-modal>
                                    <i class="uk-icon-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% include 'ModulesOrderManagementBundle:Offer:export-modal.html.twig' %}
                        {% include 'ModulesOrderManagementBundle:Offer:export-order-modal.html.twig' %}
                        {% include 'ModulesOrderManagementBundle:Offer:delete-modal.html.twig' with {'deleteForm': deleteForms[offer.id]} %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99" class="uk-text-center">
                        Bisher wurden keine Angebeote angelegt.<br>
                        {% if is_granted('CREATE', 'Modules\\OrderManagementBundle\\Entity\\Offer') %}
                            <a href="{{ path('modules_ordermanagement_offer_new') }}"
                               class="uk-button uk-button-small uk-button-success uk-margin-top">
                                <i class="uk-icon-plus"></i>
                                neues Angebeot anlegen
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% set summe=0 %}
    {% set netto=0 %}
    {% for offer in offers %}
        {% set offerSum=offer.calculation.finalPrice %}
        {% set summe=offerSum+summe %}
        {% if offer.calculation.netto %}
            {% set netto=offerSum+netto %}
        {% else %}
            {% set netto=netto+(offerSum*0.81) %}
        {% endif %}
    {% endfor %}

    <div class="uk-panel uk-panel-box">
        <div class="uk-panel-body">
            <div class="uk-grid">
                <div class="uk-width-medium-1-4">
                    <b>Zeitraum: </b>
                    {% if offers %}
                        {% if filterSettings.start is defined %}{% if filterSettings.start %}{{ filterSettings.start }}{% else %}{{ offers[0].createdAt|date('d.m.Y') }}{% endif %}{% else %}{{ offers[0].createdAt|date('d.m.Y') }}{% endif %}
                        -
                        {% if filterSettings.stop is defined %}{% if filterSettings.stop %}{{ filterSettings.stop }}{% else %}{{ 'now'|date('d.m.Y') }}{% endif %}{% else %}{{ 'now'|date('d.m.Y') }}{% endif %}
                    {% endif %}
                </div>
                <div class="uk-width-medium-1-4">
                    <b>Ergebnisse: </b> {{ offers|length }}
                </div>
                <div class="uk-width-medium-1-4">
                    <b>Nettosumme: </b> {{ (netto)|number_format(2, ',', '.') }} €
                </div>
                <div class="uk-width-medium-1-4">
                    <b>Bruttosumme: </b> {{ (summe)|number_format(2, ',', '.') }} €
                </div>
            </div>

        </div>
    </div>

    {{ knp_pagination_render(pagination) }}


    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
{% endblock %}