{% extends '@CoreApp/layout.html.twig' %}

{% import '@CoreApp/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ol.craue_formflow_steplist li.craue_formflow_current_step {
            font-weight: 700;
        }
    </style>

{% endblock %}

{% block content %}

    {% include '@CoreApp/reset-flow-modal.html.twig' %}

    {% set breadcrumb %}
        <i class="uk-icon-bank"></i> Angebot
    {% endset %}
    {% set buttons %}
        {% set listPath = path('modules_ordermanagement_offer_index') %}
        <a href="{{ listPath }}"
           class="uk-button uk-button-small uk-button-primary"
           data-uk-tooltip title="zur Liste">
            <i class="uk-icon-list"></i>
        </a>
    {% endset %}
    {{ macros.pageHeader('Neues Angebot', null, buttons, breadcrumb) }}

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-box">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">

                        {% include '@CoreApp/flow-form-stepList.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-box">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        {{ form_start(form, {'attr': {'id': 'validate_form'}}) }}

                        {{ form_errors(form) }}

                        {% if flow.getCurrentStepNumber() == 1 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-user"></i>
                                Kunde
                            </h2>
                            <div class="uk-grid  uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1">
                                    {{ form_row(form.contact) }}
                                </div>
                            </div>
                        {% endif %}

                        {% if flow.getCurrentStepNumber() == 2 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-user"></i>
                                Kunde
                            </h2>
                            <div class="uk-grid  uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1">
                                    {{ form_row(form.contact.name) }}
                                </div>
                                <div class="uk-width-medium-2-3">
                                    {{ form_row(form.contact.categories) }}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ form_row(form.contact.discount) }}
                                </div>
                            </div>
                            <div class="uk-alert" data-uk-alert>
                                <p>Hier können Sie einen neuen Kunden anlegen, welchen Sie später unter Kontakte
                                    detailliert bearbeiten können.</p>
                            </div>

                        {% endif %}

                        {% if flow.getCurrentStepNumber() == 3 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-user"></i>
                                Ansprechpartner
                            </h2>
                            <div class="uk-grid  uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-medium-2-3">
                                    {{ form_row(form.contactPerson) }}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ form_row(form.cPSkip) }}
                                </div>
                            </div>

                            <h2 class="content-headline">
                                <i class="uk-icon-map-marker"></i>
                                Adresse
                            </h2>
                            <div class="uk-grid  uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-medium-2-3">
                                    {{ form_row(form.contactAddress) }}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ form_row(form.cASkip) }}
                                </div>
                            </div>
                        {% endif %}

                        {% if flow.getCurrentStepNumber() == 4 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-user"></i>
                                Ansprechpartner
                            </h2>
                            <div class="uk-grid  uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-medium-1-5">
                                    {{ form_row(form.contactPerson.salutation) }}
                                </div>
                                <div class="uk-width-medium-2-5">
                                    {{ form_row(form.contactPerson.firstname) }}
                                </div>
                                <div class="uk-width-medium-2-5">
                                    {{ form_row(form.contactPerson.lastname) }}
                                </div>
                                <div class="uk-width-medium-1-1">
                                    {{ form_row(form.contactPerson.position) }}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ form_row(form.contactPerson.phone) }}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ form_row(form.contactPerson.mobile) }}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ form_row(form.contactPerson.email) }}
                                </div>
                            </div>
                            <div class="uk-alert" data-uk-alert>
                                <p>Hier können Sie einen neuen Ansprechpartner zum gewählten Kunden anlegen.</p>
                            </div>
                        {% endif %}

                        {% if flow.getCurrentStepNumber() == 5 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-map-marker"></i>
                                Adresse
                            </h2>
                            <div class="uk-grid  uk-grid-small" data-uk-grid-margin>

                                <div class="uk-width-medium-1-3">
                                    {{ form_row(form.contactAddress.name) }}
                                </div>
                                <div class="uk-width-medium-2-3">
                                    {{ form_row(form.contactAddress.street) }}
                                </div>
                                <div class="uk-width-medium-1-4">
                                    {{ form_row(form.contactAddress.zip) }}
                                </div>
                                <div class="uk-width-medium-3-4">
                                    {{ form_row(form.contactAddress.city) }}
                                </div>
                                <div class="uk-width-medium-1-2">
                                    {{ form_row(form.contactAddress.state) }}
                                </div>
                                <div class="uk-width-medium-1-2">
                                    {{ form_row(form.contactAddress.country) }}
                                </div>
                            </div>
                            <div class="uk-alert" data-uk-alert>
                                <p>Hier können Sie eine neue Adresse zum gewählten Kunden anlegen.</p>
                            </div>
                        {% endif %}

                        {% if flow.getCurrentStepNumber() == 6 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-tags"></i>
                                Interne Daten
                            </h2>
                            <div class="uk-grid  uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-medium-8-10">
                                    {{ form_row(form.title) }}
                                </div>
                                <div class="uk-width-medium-2-10">
                                    {{ form_row(form.division) }}
                                </div>

                                <div class="uk-width-medium-1-1">
                                    {{ form_row(form.description) }}
                                </div>
                                <div class="uk-width-medium-1-2">
                                    {{ form_row(form.project) }}
                                </div>
                                <div class="uk-width-medium-1-2">
                                    {{ form_row(form.pSkip) }}
                                </div>
                                <div class="uk-width-medium-1-4">
                                    {{ form_row(form.netto) }}
                                </div>
                                <div class="uk-width-medium-1-4">
                                    {{ form_row(form.monthFee) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if flow.getCurrentStepNumber() == 7 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-bank"></i>
                                Projekt
                            </h2>
                            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-medium-2-3">
                                    {{ form_row(form.project.name) }}
                                </div>
                                <div class="uk-width-1-3">
                                    {{ form_row(form.project.categories) }}
                                </div>

                                <div class="uk-width-1-1">
                                    {{ form_row(form.project.description) }}
                                </div>

                                <div class="uk-width-5-10">
                                    <label class="uk-form-label" for="form-">
                                        <span class="show-if-all-day-selected">Von</span>
                                    </label>
                                    <div class="uk-form-controls">
                                        {{ form_widget(form.project.start) }}
                                    </div>
                                </div>
                                <div class="uk-width-5-10">
                                    <label class="uk-form-label" for="form-">Bis</label>
                                    <div class="uk-form-controls">
                                        {{ form_widget(form.project.end) }}
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-2">
                                    {{ form_row(form.project.contact) }}
                                </div>
                                <div class="uk-width-medium-1-2">
                                    {{ form_row(form.project.users) }}
                                </div>
                                <div class="uk-width-medium-1-1">
                                    {{ form_row(form.project.address) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if flow.getCurrentStepNumber() == 8 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-shopping-basket"></i>
                                Angebotspositionen
                            </h2>

                            <div id="services-container" class="uk-animation-top-right">

                                {% if app.session.get('offer_calculationitems') %}

                                    {% set positionsItems=app.session.get('offer_calculationitems') %}
                                    {% for items in positionsItems.offer %}
                                        {% for item in items %}
                                            {% set className='offer' %}
                                            {% include '@ModulesOrderManagement/Form/add-service-session-form.html.twig' %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                {{ form_row(form.services) }}
                            </div>
                            <div class="uk-width-1-1">
                                <hr/>
                            </div>
                            <div class="uk-width-1-1">
                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-4 uk-text-right uk-text-bold">
                                    </div>
                                    <div class="uk-width-medium-1-4 uk-text-right uk-text-bold">
                                        <p>Zwischensumme:</p>
                                        <p class="contactDiscount {% if formData.contact.discount=='' %}uk-hidden{% endif %}">
                                            - Kundenrabatt {{ formData.contact.discount }}%:</p>
                                        <p>Nettosumme:</p>
                                        <p>+ Mwst.:</p>
                                        <p>Bruttobetrag:</p>
                                    </div>
                                    <div class="uk-width-medium-1-4 order-padding-left">

                                        <p class="om-brutto">0 €</p>
                                        <p class="om-list-discount {% if formData.contact.discount=='' %}uk-hidden{% endif %}">
                                            -</p>
                                        <p class="om-netto">0 €</p>
                                        <p class="om-tax">0
                                            € {% if app.session.get('offer_internal')['offer']['netto'] is defined %}
                                                <small> (Nettorechnung)</small>{% endif %}</p>
                                        </p>
                                        <p class="offer-position-total uk-text-bold">0 €
                                        </p>
                                    </div>
                                </div>
                                <div {% if formData.contact.discount=='' %}class="uk-hidden"{% endif %}>
                                    {{ form_row(form.noContactDiscount) }}
                                </div>

                            </div>

                        {% endif %}

                        {% if flow.getCurrentStepNumber() == 9 %}
                            <h2 class="content-headline">
                                <i class="uk-icon-list"></i>
                                Zusammenfassung
                            </h2>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-1-1">
                                    <label class="uk-form-label" for="form-">
                                        Titel
                                    </label>
                                    <div class="uk-form-controls">
                                        {{ formData.title }}
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <label class="uk-form-label" for="form-">
                                        Beschreibung
                                    </label>
                                    <div class="uk-form-controls">
                                        {{ formData.description|raw }}
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <label class="uk-form-label" for="form-">
                                        Projekt
                                    </label>
                                    <div class="uk-form-controls">
                                        {% if formData.project %}
                                            {{ formData.project }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <label class="uk-form-label" for="form-">
                                        Geschäftsbereich
                                    </label>
                                    <div class="uk-form-controls">
                                        {% if formData.division %}
                                            {{ formData.division.name }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <label class="uk-form-label" for="form-">
                                        Kunde
                                    </label>
                                    <div class="uk-form-controls">
                                        {{ formData.contact.name }}
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <label class="uk-form-label" for="form-">
                                        Adresse
                                    </label>
                                    <div class="uk-form-controls">
                                        {{ formData.contactAddress }}
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <label class="uk-form-label" for="form-">
                                        Ansprechpartner
                                    </label>
                                    <div class="uk-form-controls">
                                        {{ formData.contactPerson }}
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <div class="uk-form-controls">
                                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-4">
                                                <b>Position</b>
                                            </div>
                                            <div class="uk-width-medium-3-4">
                                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                                    <div class="uk-width-medium-1-4">
                                                        <b>Anzahl</b>
                                                    </div>
                                                    <div class="uk-width-medium-1-4">
                                                        <b>Einzelpreis</b>
                                                    </div>
                                                    <div class="uk-width-medium-1-4">
                                                        <b>MwSt.</b>
                                                    </div>
                                                    <div class="uk-width-medium-1-4">
                                                        <b>Gesamtpreis</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% set totalPrice=0 %}
                                        {% set totalBrutto=0 %}
                                        {% for positions in offerPositions.offer.services %}
                                            <div class="uk-form-controls">
                                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>

                                                    {% if positions.service %}
                                                        {% set price=positions.price|replace({'.':''}) %}
                                                        <div class="uk-width-medium-1-4">
                                                            {{ mod_om_helper.getServiceTitle(positions.service) }}
                                                        </div>
                                                        <div class="uk-width-medium-3-4">
                                                            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {{ positions.amount }}
                                                                </div>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {% if positions.specialPrice %}
                                                                        {{ (positions.specialPrice/positions.amount)|replace(',','.')|number_format(2, ',',
                                                                        '.') }} €
                                                                    {% else %}
                                                                        {{ (price/positions.amount)|replace(',','.')|number_format(2, ',',
                                                                        '.') }} €
                                                                    {% endif %}
                                                                </div>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {% set tax=mod_om_helper.getServiceTax(positions.service) %}
                                                                    {{ tax }} %
                                                                </div>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {% set tax=tax/100 %}
                                                                    {% set tax=tax+1 %}

                                                                    {% if positions.specialPrice %}
                                                                        {{ positions.specialPrice|replace(',','.')|number_format(2, ',', '.') }} €
                                                                        {% set totalPrice=totalPrice+positions.specialPrice|replace(',','.') %}

                                                                    {% else %}
                                                                        {{ price|replace(',','.')|number_format(2, ',', '.') }} €
                                                                        {% set totalPrice=totalPrice+price|replace(',','.') %}
                                                                    {% endif %}
                                                                    {% set totalBrutto=totalPrice*tax %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if positions.product %}
                                                        {% set price=positions.priceProduct|replace({'.':''}) %}

                                                        <div class="uk-width-medium-1-4">
                                                            {{ mod_om_helper.getProductTitle(positions.product) }}
                                                        </div>
                                                        <div class="uk-width-medium-3-4">
                                                            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {{ positions.amountProduct }}
                                                                </div>

                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {{ (price|replace(',','.')/positions.amountProduct)|number_format(2,
                                                                    ',',
                                                                    '.') }} €
                                                                </div>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {% set tax=mod_om_helper.getProductTax(positions.product) %}
                                                                    {{ tax }} %
                                                                </div>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {% set tax=tax/100 %}
                                                                    {% set tax=tax+1 %}
                                                                    {% if positions.specialPriceProduct %}
                                                                        {{ positions.specialPriceProduct|replace(',','.')|number_format(2, ',', '.') }} €
                                                                        {% set totalPrice=totalPrice+positions.specialPriceProduct|replace(',','.') %}
                                                                    {% else %}
                                                                        {{ price|replace(',','.')|number_format(2, ',', '.') }} €
                                                                        {% set totalPrice=totalPrice+price|replace(',','.') %}
                                                                    {% endif %}
                                                                    {% set totalBrutto=totalPrice*tax %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if positions.textFree %}
                                                        {% set price=positions.priceFree|replace({'.':''}) %}

                                                        <div class="uk-width-medium-1-4">
                                                            {{ positions.textFree }}
                                                        </div>
                                                        <div class="uk-width-medium-3-4">
                                                            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {{ positions.amountFree }}
                                                                </div>

                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {{ (positions.priceSingleFree)|number_format(2,
                                                                    ',',
                                                                    '.') }} €
                                                                </div>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {% set tax=positions.taxFree %}
                                                                    {{ tax }} %
                                                                </div>
                                                                <div class="uk-width-medium-1-4 order-padding-left">
                                                                    {% set tax=tax/100 %}
                                                                    {% set tax=tax+1 %}
                                                                    {{ price|replace(',','.')|number_format(2, ',', '.') }}
                                                                    €
                                                                    {% set totalPrice=totalPrice+price|replace(',','.') %}
                                                                    {% set totalBrutto=totalPrice*tax %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <hr/>
                                        {% set oldprice=totalBrutto %}
                                        {% set nettoPrice=totalPrice %}

                                        {% if formData.contact.discount and app.session.get('offer_discount')==null %}
                                            {% set nettoPrice=nettoPrice-((nettoPrice*formData.contact.discount)/100) %}
                                        {% endif %}
                                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                            <div class="uk-width-medium-5-10 uk-hidden-small">
                                            </div>
                                            <div class="uk-width-medium-3-10 uk-text-right uk-text-bold">
                                                <p>Zwischensumme:</p>
                                                {% if formData.contact.discount and app.session.get('offer_discount')==null %}
                                                    <p>- Kundenrabatt {{ formData.contact.discount }} %:</p>
                                                {% endif %}
                                                <p>- Rabatt:</p>
                                                <p>Nettosumme:</p>
                                                <p>+ Mwst.:</p>
                                                <p>Bruttobetrag:</p>
                                            </div>
                                            <div class="uk-width-medium-1-10 uk-text-right" style="margin-left: -13px;">

                                                <p>{{ (totalPrice)|replace(',','.')|number_format(2, ',', '.') }}
                                                    €</p>
                                                {% if formData.contact.discount and app.session.get('offer_discount')==null %}
                                                    <p>
                                                        {{ ((totalPrice*formData.contact.discount)/100)|replace(',','.')|number_format(2, ',', '.') }}
                                                        €</p>
                                                {% endif %}
                                                <p class="om-total-discount">-</p>
                                                <p class="om-total-netto"
                                                   data-price="{{ nettoPrice }}">{{ (nettoPrice)|number_format(2, ',', '.') }}
                                                    €</p>
                                                {% if app.session.get('offer_internal')['offer']['netto'] is not defined %}
                                                    {{ ((nettoPrice*19)/100)|number_format(2, ',', '.') }} €
                                                {% else %}
                                                    0 €
                                                {% endif %}

                                                {% if app.session.get('offer_internal')['offer']['netto'] is not defined %}
                                                    <p class="offer-total-price uk-text-bold"
                                                       data-total-price="{{ nettoPrice+((nettoPrice*19)/100) }}">
                                                        {{ (nettoPrice+((nettoPrice*19)/100))|replace(',','.')|number_format(2, ',', '.') }}
                                                        €
                                                    </p>
                                                {% else %}
                                                    <p class="offer-total-price uk-text-bold"
                                                       data-total-price="{{ nettoPrice }}">
                                                        {{ (nettoPrice)|replace(',','.')|number_format(2, ',', '.') }}
                                                        €
                                                    </p>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% if app.session.get('offer_internal')['offer']['netto'] is not defined %}
                                    <input type="hidden" name="offerFinalPrice" class="offerFinalPrice"
                                           value="{{ (nettoPrice+((nettoPrice*19)/100))|replace(',','.') }}"/>
                                {% else %}
                                    <input type="hidden" name="offerFinalPrice" class="offerFinalPrice"
                                           value="{{ (nettoPrice)|replace(',','.') }}"/>
                                {% endif %}

                                <div class="uk-width-medium-1-4">
                                    {{ form_row(form.discount) }}
                                </div>
                                <div class="uk-width-medium-1-4">
                                    {{ form_row(form.discountType) }}
                                </div>
                            </div>

                        {% endif %}
                    </div>

                    <div class="uk-width-1-1">
                        <hr class="uk-width-1-1"/>
                    </div>
                    <div class="uk-width-medium-1-1">
                        {% include '@CoreApp/flow-form-buttons.html.twig' with {
                        craue_formflow_button_class_last: 'uk-button uk-button-primary',
                        craue_formflow_button_class_finish: 'uk-button uk-button-success',
                        craue_formflow_button_class_back: 'uk-button uk-button-danger',
                        craue_formflow_button_class_reset: 'uk-button uk-button-warning',
                        craue_formflow_button_label_last: '<i class="uk-icon-arrow-right"></i> Weiter',
                        craue_formflow_button_label_finish: 'Speichern',
                        craue_formflow_button_label_back: 'Zurück',
                        craue_formflow_button_label_reset: 'Reset',
                        } %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        $(function () {

            var upBtn = '<a href="#" class="uk-button uk-button-small" title="nach oben verschieben"><i class="uk-icon-arrow-up"></i></a>';
            var downBtn = '<a href="#" class="uk-button uk-button-small" title="nach unten verschieben"><i class="uk-icon-arrow-down"></i></a>';
            var addBtn = '<a href="#" class="uk-button uk-button-small uk-button-success uk-float-right" title="Hinzufügen"><i class="uk-icon-plus"></i></a>';
            var removeBtn = '<a href="#" class="uk-button uk-button-small uk-button-danger" title="Löschen"><i class="uk-icon-trash"></i></a>';

            $('#offer_services,#offer_products').collection({
                add: addBtn, duplicate: null, remove: removeBtn, up: upBtn, down: downBtn,
                allow_duplicate: true,
                order_field_selector: '.order',
                after_add: afterAdd,
                after_duplicate: afterDuplicate
            });

            function afterAdd(collection, element) {
                element.find('.select2').select2();
            }

            function afterDuplicate(collection, element) {
                element.find('.select2-hidden-accessible').removeClass('select2-hidden-accessible');
                element.find('.select2-container').remove();
                element.find('.select2').select2();
            }

            $("#offer_services,#offer_products").on('display.uk.check', function () {
                $(this).find('.select2').select2();
            });

            $(document).on('change', '#offer_totalPriceSpecial', function () {
                var price = $(this).val();
                if (price) {
                    $('.offer-total-discount').prop('disabled', true);
                }
                else {
                    $('.offer-total-discount').prop('disabled', false);
                }
            });

            $(document).on('click', '#offer_noContactDiscount_toggler', function () {

                if ($('#offer_noContactDiscount').is(':checked')) {
                    $('.contactDiscount').hide();
                    $('.om-list-discount').hide();
                }
                else {
                    $('.contactDiscount').show();
                    $('.om-list-discount').show();
                }
                setprice();
            });

            $(document).on('click', '#offer_discountType_toggler', function () {
                var val = $('.offer-total-discount').val();
                $('.offer-total-discount').val(val).change();
            });

            $(document).on('change', '.offer-total-discount', function () {
                var totalprice = parseFloat($('.offer-total-price').attr('data-total-price'));
                var nettoprice = parseFloat($('.om-total-netto').attr('data-price'));
                var discount = parseFloat($(this).val());
                var newprice = 0;
                var newpriceNetto = 0;

                if (discount) {
                    if ($('#offer_discountType').is(':checked')) {
                        newprice = totalprice - ((totalprice * discount) / 100);
                        newpriceNetto = nettoprice - ((nettoprice * discount) / 100);
                    }
                    else {
                        newprice = totalprice - discount;
                        newpriceNetto = nettoprice - discount;
                    }

                }
                else {
                    newprice = totalprice;
                    newpriceNetto = nettoprice;
                }

                $('.offerFinalPrice').val(newprice.format(2, 3, '.', ','));
                $('.offer-total-price').html(newprice.format(2, 3, '.', ',') + ' €');
                $('.om-total-netto').html(newpriceNetto.format(2, 3, '.', ',') + ' €');

                if (discount > 0) {
                    if ($('#offer_discountType').is(':checked')) {
                        $('.om-total-discount').html(((totalprice * discount) / 100).format(2, 3, '.', ',') + ' €');
                    }
                    else {
                        $('.om-total-discount').html(discount.format(2, 3, '.', ',') + ' €');
                    }

                }
                else {
                    $('.om-total-discount').html('-');
                }

            });

            //reset form flow
            $(document).on('click', 'button[name="flow_offer_transition"]', function (e) {
                e.preventDefault();
                var modal = UIkit.modal("#reset-flow");

                if (modal.isActive()) {
                    modal.hide();
                } else {
                    modal.show();
                }
            });

            $(document).on('click', '#reloadFlowForm', function (e) {
                window.location="{{ path('modules_ordermanagement_offer_new') }}";
            });


        });
    </script>

    {{ macros.numberFormat() }}

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript"
                src="{{ asset('assets/uikit/vendor/symfony-collection/jquery.collection.js') }}"></script>

        <script>
            var discountContact = 0;
            var discountContactData = 0;
            var contact = false;
            {% if formData.contact.priceList.id is defined %}
            contact = '{{ formData.contact.priceList.id }}';
            {% endif %}

            {% if formData.contact.discount is defined %}
            discountContactData = '{{ formData.contact.discount }}';
            {% endif %}

            function setprice() {
                var total = 0;
                var totalBrutto = 0;
                $('body').find('.om_position_price').each(function (index, element) {
                    var special = $(this).parent().parent().parent().parent().parent().find('.om_position_special_price').val();
                    if (special) {
                        var price = special.replace(".", "");
                        price = price.replace(/,/, '.');
                        total = total + parseFloat(price);
                    }
                    else {
                        if ($(this).val()) {
                            var price = $(this).val().replace(".", "");
                            price = price.replace(/,/, '.');
                            total = total + parseFloat(price);

                            var brutto = $(this).attr('data-brutto').replace(".", "");
                            brutto = brutto.replace(/,/, '.');
                            totalBrutto = totalBrutto + parseFloat(brutto);
                        }

                    }
                });
                if ($('#offer_noContactDiscount').is(':checked')) {
                    discountContact = 0;
                }
                else {
                    discountContact = discountContactData;
                }
                var afterDiscount = total - ((total * discountContact) / 100);
                $('.om-brutto').html(total.format(2, 3, '.', ',') + ' €');
                $('.om-netto').html(afterDiscount.format(2, 3, '.', ',') + ' €');
                //TODO MWST RICHTIG BERECHNEN

                {% if app.session.get('offer_internal')['offer']['netto'] is not defined %}
                $('.om-tax').html(((afterDiscount * 19) / 100).format(2, 3, '.', ',') + ' €');
                {% endif %}


                if (discountContactData) {
                    $('.om-list-discount').html(((total * discountContact) / 100).format(2, 3, '.', ',') + ' €');
                }
                totalBrutto = afterDiscount {% if app.session.get('offer_internal')['offer']['netto'] is not defined %}+ ((afterDiscount * 19) / 100) {% endif %};
                $('.offer-position-total').html(totalBrutto.format(2, 3, '.', ',') + " €");


            }
            $( document ).ready(function() {
                setprice();
            });
        </script>
    {% endblock %}



    {% form_theme form _self %}

    {% block _offer_services_entry_widget %}
        {% include '@ModulesOrderManagement/Form/add-service-form.html.twig' %}
    {% endblock %}