<div class="uk-panel uk-panel-box uk-margin-bottom search-item">
    <h2 class="uk-margin-bottom-remove">{# TODO: Category Bridge #}
        <small class="uk-text-muted"><i class="uk-icon-map-marker"></i> Projekt</small>
        <br>
        <a href="{{ path('modules_project_project_show', {'id': project.id}) }}">
            {{ project.name }}
        </a>
        <a href="{{ path('modules_project_project_edit', {'id': project.id}) }}"
           class="uk-button uk-button-small uk-button-primary uk-float-right"
           data-uk-tooltip title="Bearbeiten">
            <i class="uk-icon-pencil"></i>
        </a>
    </h2>

    {% if project.tickets|length %}
        <a href="{{ path('modules_project_project_show', {'id': project.id}) }}"
           class="uk-button uk-button-small uk-button-primary">
            <i class="uk-icon-check-circle-o"></i>
            {{ project.tickets|length }}
            Tickets
        </a>
    {% endif %}
    <a href="{{ path('modules_project_project_show', {'id': project.id}) }}"
       class="uk-button uk-button-small uk-button-primary">
        <i class="uk-icon-clock-o"></i>
        {{ project.start|date('d.m.Y H:i') }} {% if project.end %}bis {{ project.end|date('d.m.Y H:i') }}{% endif %}
    </a>
    {% if project.address %}
        <a href="http://maps.google.com/?q={{ project.address }}"
           class="uk-button uk-button-small uk-button-primary" target="_blank">
            <i class="uk-icon-map-marker"></i>
            {{ project.address }}
        </a>
    {% endif %}

</div>